[2020-04-30 16:52] keywordnew commented on #586
Suggested content for calendar event Description field:

[2020-04-30 17:46] MylesBorins opened #668 "Should we tell dependabot to chill out?"
## Summary

we currently have 10 PRs against the repo for dependabot updates... most of which I'm p sure we would get the proper updates for at install time aside from the package-lock.json...

For example I opened https://github.com/nodejs/nodejs.dev/pull/667 after testing out the repo with `npx david` All of the updates currently proposed by dependabot are all covered via our existing fuzzy vers

[2020-04-30 21:45] nschonni commented on #668
The documentation is pretty light, but I noticed there is an "automerge" option https://dependabot.com/docs/config-file/#automerged_updates

[2020-04-30 22:14] benhalverson commented on #668
I like the auto merge idea for minor and patches.

[2020-05-01 08:09] benhalverson commented on #659
The answer is it should be the same functionality as nodejs.org homepage
Download Node should download the installer based on the OS detected. It should get the latest LTS
Get current should do the same as the download Node but get the current version

[2020-05-01 13:42] giankotarola commented on #659
@benhalverson I can work on this and include it in #665 if it is ok or should be in a different PR?

[2020-05-01 15:37] designMoreWeb commented on #668
Auto merge is a good idea, I have dependabot installed on my repos and i do get a lot of PR's however after switching to auto-merge it became easier

[2020-05-01 18:53] benhalverson commented on #668
@designMoreWeb do you have a config.yml you can share for dependabot?

[2020-05-01 18:54] benhalverson commented on #659
it can be the same PR @giankotarola

[2020-05-01 19:35] nschonni commented on #668
Shouldn't actually need the config. I've enable the ability to opt-in to the Auto-merging for projects, but I haven't enabled it on the project
![image](https://user-images.githubusercontent.com/1297909/80835738-5f2daf80-8bc1-11ea-95d6-830df0dfb278.png)
Packages can also be whitelisted
![image](https://user-images.githubusercontent.com/1297909/80835770-71a7e900-8bc1-11ea-8cb2-5d24c6b7db4a.png)

[2020-05-01 19:59] designMoreWeb commented on #668
@benhalverson I do have it posted it down
`version: 1
update_configs:
  - package_manager: "javascript"
    directory: "/"
    update_schedule: "daily"
    automerged_updates:
      - match:
          dependency_type: "development"
          Supported dependency types:
           - update_type: "all"
#dependency types include Production, development, and all
          Supported updates to automerg

[2020-05-03 03:17] benhalverson commented on #659
Closed via #665

[2020-05-03 03:17] #659 closed

[2020-05-03 03:17] benhalverson commented on #660
Closed via #665

[2020-05-03 03:17] #660 closed

[2020-05-03 03:40] benhalverson commented on #637
Maybe we can do the top 3 benefits of Nodejs
- Speed
- One language for the frontend and backend
- Crossplatform

@bnb @Trott do you have any suggestions?

[2020-05-03 03:49] benhalverson commented on #436
I think the work done by @nschonn and @MylesBorins  brings our CI/CD to the same feature set and maybe more then if we went to a third party host like Netlify. Great job guys 👍

[2020-05-03 03:51] benhalverson commented on #419
Closed via #666

[2020-05-03 03:51] #419 closed

[2020-05-03 03:52] #375 closed

[2020-05-03 03:54] benhalverson commented on #319
Closed via #380

[2020-05-03 03:54] #319 closed

[2020-05-03 10:07] jakearchibald opened #674 "Fetch is not built on top of XHR"
## Description

https://nodejs.dev/understanding-javascript-promises#chaining-promises claims that fetch is built on top of XHR, but it's the opposite.

This seems to be confusing readers https://github.com/whatwg/fetch/issues/1025.

### Steps to reproduce

Visit https://nodejs.dev/understanding-javascript-promises#chaining-promises in your browser and read the content about fetch vs XHR.

### Exp

[2020-05-03 16:18] tstreamDOTh commented on #409
@benhalverson  Can I take this up?

[2020-05-03 16:44] tstreamDOTh commented on #392
Linking the page might help
Raised a PR -
https://github.com/nodejs/nodejs.dev/pull/676

[2020-05-03 21:42] benhalverson commented on #409
Yep 👍

[2020-05-03 21:48] benhalverson commented on #674
Can you provide more info on what you would like to see in a bug report template?
What specifically is unhelpful?
This is a common way to give bug reports at large and small companies.

[2020-05-04 08:19] jakearchibald commented on #674
The templates in this repo seem geared towards software rather than content, yet content is a key part of this project. I wanted to report a 'bug' in the content, so I chose the ['bug' template](https://github.com/nodejs/nodejs.dev/issues/new?labels=bug&template=bug_report.md). As you can see,

* Steps to reproduce
* Expected result
* Actual result
* OS version
* Browser version

…are not useful w

[2020-05-04 08:20] jakearchibald commented on #674
Fwiw, [here's the issue template for content issues on web.dev](https://github.com/GoogleChrome/web.dev/issues/new?assignees=kaycebasques&labels=content+update&template=update-existing-content.md&title=content%3A+TODO).

[2020-05-04 08:34] jakearchibald commented on #674
Here's [Rollup's documentation template](https://github.com/rollup/rollup/issues/new?template=DOCS.md).

[2020-05-04 12:19] mhdawson opened #681 "Node.js Website Redesign Strategic Initiative Meeting 2020-05-07"
## Time

**UTC Thu 07-May-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 07-May-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 07-May-2020 10:00 (10:00 AM) |
| US / Central  | Thu 07-May-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 07-May-2020 12:00 (12:00 PM) |
| London        | Thu 07-May-2020 17:00 (05:00 PM) |

[2020-05-04 16:24] bnb commented on #637
I would recommend not approaching benefits since there are dramatically different benefits for different use cases, and each use case has tradeoffs. For example:

- **Speed:** speed is entirely relative and dependent on _how_ you build things. There are also tools that in certain use cases are _faster_ than Node.js.
- **One language for front-end and back-end:** This is definitely a good point, bu

[2020-05-04 19:29] mhdawson commented on #586
Updated calendar entry, closing

[2020-05-05 07:39] anlexN commented on #674
@jakearchibald , my good teacher :smile:. what do you think of webpack vs rollup?

[2020-05-05 07:40] #674 closed

[2020-05-05 14:44] #586 closed

[2020-05-05 14:45] designMoreWeb commented on #586
Since we have this working i have gone ahead and closed this issue

[2020-05-05 15:43] MylesBorins commented on #668
I've updated the settings fairly significantly. I've set up dependabot to filter to only open PRs related to security fixes. I've also set it to auto land any security fixes that are at patch level.

This should significantly reduce the noise we receive. This will require us to keep dependencies up to date manually, but will make sure we are notified at a regular pace regarding security updates.

[2020-05-06 02:49] OPARA-PROSPER commented on #637
@benhalverson with @bnb feedback I'd be able to land a PR that replaces the dummy text and also work on vector images using figma (I share them here before using them) to also replace the dummy image placeholders

[2020-05-06 08:17] benhalverson commented on #252
I think this can be closed with the work done in #661

[2020-05-06 08:17] #252 closed

[2020-05-06 18:06] OPARA-PROSPER commented on #637
I worked on a mockup @benhalverson @bnb

![marketing-design](https://user-images.githubusercontent.com/30195980/81212310-9ee30580-8fcc-11ea-9256-bc25f45bb976.PNG)

https://www.figma.com/proto/RepQL7h21unQFvhbEtTwvI/Nodejs.dev-contribution-mocks?node-id=3%3A2&scaling=min-zoom

[2020-05-06 19:58] benhalverson commented on #538
Please take a look at #697 @nodejs/website-redesign

[2020-05-07 07:27] keywordnew commented on #681
Sorry folks, I'm not able host this meeting.

[2020-05-07 16:01] tstreamDOTh commented on #681
@benhalverson Is the meeting cancelled?

[2020-05-07 16:06] benhalverson commented on #681
https://meet.jit.si/nodejs.dev-redesign @tstreamDOTh

[2020-05-07 16:32] #436 closed

[2020-05-07 17:01] designMoreWeb opened #698 "Switching bi-weekly meetings for Website redesign to weekly"
## Summary
 During our web design redesign meeting(05/07/2020) we got a suggestion to make the meetings to weekly instead of biweekly.

Reasons for this suggestion are:
- Closing issues quicker
- Keep developers and contributors more engaged with the issues
- Tackle issues more effectively

While this is a good suggestion, we wanted to get more feedback from members on whether this is a good move

[2020-05-07 17:08] tstreamDOTh opened #699 "Landing Page Responsiveness (Staging)"
## Description

Landing Page (Staging) is not responsive, on mobile devices there is some layout bleeding
### Steps to reproduce

1. Goto https://staging.nodejs.dev/
2. Inspect Mode > Toggle Device Toolbar > Choose any mobile device

### Expected result

Page should be responsive & should not break on mobile devices

[2020-05-07 17:09] tstreamDOTh commented on #699
Issue discussed in #696

[2020-05-07 17:11] tstreamDOTh commented on #699
I will be taking this up

[2020-05-07 17:14] giankotarola opened #700 "CI: /preview command on second time fail"
## Description
When commenting with `/preview` on the second time in a PR, the `Upload to staging` action fails with an `AccessDeniedException: 403` error.

### Steps to reproduce
- Create a PR
- Comment with `/preview`
- Push a new change
- Comment again with `/preview`

### Expected result
Upload to staging without errors

### Actual result
https://github.com/nodejs/nodejs.dev/runs/640799129?che

[2020-05-07 17:28] giankotarola opened #701 "Page not found for links on table of contents"
## Description
Links from Table of contents on Learn Tab goes to an incorrect URL.

### Steps to reproduce
- Go to https://staging.nodejs.dev/learn/a-brief-history-of-nodejs
- Uncollapse Table of contents
- Click on a link

### Expected result
Go to a valid URL

### Actual result
Ended on page not found

![3DPUqniPDT](https://user-images.githubusercontent.com/5341334/81325543-832c3d80-9066-11ea-9a

[2020-05-07 17:28] giankotarola commented on #701
I'm looking into this issue

[2020-05-08 01:31] giankotarola commented on #701
Closed via #703

[2020-05-08 01:31] #701 closed

[2020-05-08 01:56] designMoreWeb commented on #668
I think that is a better option the way you have set it up @MylesBorins I like it thank you for making the change

[2020-05-09 03:12] bhumijgupta commented on #700
The `gsutil rsync` command used to push file to staging uses checksum of file to check if the file is updated or not. If it finds a file to be updated, it will try to delete the older file.
Looks like the current IAM role has permissions to create a file but not delete a file, hence resulting in `AccessDeniedException: 403` error.

[2020-05-09 06:10] bhumijgupta commented on #333
Can I work on improving the styling of the component with the dummy data present in #612 according to the Figma design?

[2020-05-09 11:26] benhalverson commented on #700
@MylesBorins would you mind taking a look at this error?

[2020-05-09 11:28] tstreamDOTh opened #707 "Learn Page Responsiveness (Staging)"
## Description

Learn Page (Staging) is not responsive, on mobile devices there is some layout bleeding
### Steps to reproduce

1. Goto https://staging.nodejs.dev/learn
2. Inspect Mode > Toggle Device Toolbar > Choose any mobile device

### Expected result

Page should be responsive & should not break on mobile devices

[2020-05-09 11:29] tstreamDOTh commented on #707
@benhalverson Can you assign the issue?

[2020-05-09 11:30] tstreamDOTh commented on #699
#705 Fixes this, its up on staging

[2020-05-09 11:30] #699 closed

[2020-05-10 00:45] MylesBorins commented on #700
This should be fixed now, I've extended the permissions. I'm not thrilled with how broad the IAM is and may play around with this during the week, but for now it might be good enough.

[2020-05-10 09:54] benhalverson commented on #333
Yes @bhumijgupta thanks for reaching out 👍

[2020-05-11 04:23] benhalverson opened #711 "Feedback wanted: Road to merging staging with master"
## Summary
I'd like to discuss and get feedback on what is needed to get the staging branch into master.
The current site is located here https://staging.nodejs.dev

I propose reducing the current scope of the site in the following ways.
- Keep the docs page at https://nodejs.org/en/docs/
- Keep the downloads at https://nodejs.org/en/download/
- No search bar right now

With the reduced scope node

[2020-05-11 05:19] bhumijgupta opened #712 "Fix `How-to-install` section responsiveness (Staging)"
## Description

Currently, the `How-to-install` section of homepage appears good till breakpoint of 834px. After that it breaks responsiveness and is cropped out of the view.

### Steps to reproduce
1. Run staging website
2. Enable Toggle Device Toolbar (in Chrome) / Responsive Design Mode (in Firefox)
3. Go to breakpoint 721px width

### Expected result
The component should be fully visible till

[2020-05-11 05:21] bhumijgupta commented on #712
I authored some changes in #709, but forgot to add styling for responsiveness. I would like to work on this minor bug fix.

[2020-05-11 05:25] #681 closed

[2020-05-11 05:36] #707 closed

[2020-05-11 05:47] #712 closed

[2020-05-11 05:50] benhalverson commented on #627
In the last website redesign meeting we spoke about this topic. https://docs.google.com/document/d/1ez1qddhChJN7gpVHEkWx6B-Bc4tFUH8eKwslKL2A7Fk/edit?usp=sharing

@designMoreWeb wants to keep and start using the wiki.
Everyone else in the meeting @alexandrtovmach @benhalverson @giankotarola @tstreamDOTh was for disabling the wiki. Also a +1 from @nschonni and @keywordnew in this issue.

[2020-05-11 05:58] MylesBorins commented on #668
Closing as no one seems to have an issue with new settings

[2020-05-11 05:58] #668 closed

[2020-05-12 17:23] tstreamDOTh commented on #711
@benhalverson Is the TODO mentioned in the description part of the reduced scope?

[2020-05-12 19:36] benhalverson commented on #711
No the TODO's are things outside of the reduced scope

[2020-05-14 14:53] tstreamDOTh opened #715 "Self-Nomination for Collaborator"
Hey based on my understanding of #243 & #127

I though to nominate myself as a collaborator / team member of this project. I would really like to contribute more & continue to involve with developments on the website.
Here are [my contributions](https://github.com/nodejs/nodejs.dev/commits/staging?author=tstreamDOTh) which are on staging now.

Thanks in advance! 😄

[2020-05-14 16:29] saulonunesdev commented on #698
Works for me, the only issue is the time on the same week of commcomm meetings

[2020-05-14 16:31] designMoreWeb commented on #715
Thanks for opening up this question, We will discuss it with the core team and make a decision in the mean time please keep on contributing and helping out thank you @tstreamDOTh

[2020-05-14 16:40] designMoreWeb commented on #637
Based on our discussion last week during the redesign meeting (05/7/2020), we had decided to get a bigger vote from the team in order to see what we really want to do with the mockups and colour scheme of them as well, as we did have a lot of back and forth and things seemed to reach a standstill

[2020-05-14 16:49] joesepi commented on #698
This has been brought up in the OpenJS Cross Project Council and the Node.js Community Committee. This decision is fully up to the @nodejs/website-redesign team.

It sounds like it would be a good idea if the work/activity warrants it.

Since the usual time conflicts with the bi-weekly comm comm meeting, I would suggest the team considers another time to alternate with your currently scheduled mee

[2020-05-14 22:18] giankotarola opened #716 "/docs page shows no page found"
## Description
When going to https://staging.nodejs.dev/docs, is only displayed the sidebar and a `No Page Found` text.

### Steps to reproduce
- Go to https://staging.nodejs.dev/docs

### Expected result
Show the correct information as the design in Figma

### Actual result
No page found text.

[2020-05-14 22:19] giankotarola commented on #716
I will be working on this view

[2020-05-15 16:19] tstreamDOTh opened #719 "Styling Enhancements for Install Tabs in staging"
## Description

There can be some improvements on the styling of install tabs, like -
1. Consistent font sizes
4. Match the pink colour with figma design spec
3. Better focus styling of tabs
4. Usage of comments instead of headers

<img width="970" alt="Screenshot 2020-05-15 at 9 15 00 PM" src="https://user-images.githubusercontent.com/11137394/82072801-e157c100-96f5-11ea-9206-4b21355d4ede.png">

[2020-05-16 04:40] saulonunesdev opened #721 "Improve SCSS Styling"
## Description

In `layout.scss`
-  `.nav`
   - Remove the unnecessary positions (left, position, right, top, z-index)
-  `body`
   - Remove Unnecessary Margin Top: margin-top

**Fix The Conflicts Position in Learn Page**

Make Sure that all pages render properly with this change

[2020-05-16 15:30] tstreamDOTh opened #722 "Refactor InstallTabs Component to adhere the updated folder structure"
As suggested in PR #720 the component should be updated to follow the new folder structure

[2020-05-16 21:27] saulonunesdev commented on #721
Also Active Tab on Header needs a green border bottom
![image](https://user-images.githubusercontent.com/26988193/82130576-f2aad700-97a2-11ea-85b4-c136a56519a2.png)

[2020-05-16 23:19] OPARA-PROSPER commented on #721
I will be taking this on for the weekend

[2020-05-16 23:19] OPARA-PROSPER commented on #721
I will be taking this on for the weekend

[2020-05-17 09:38] alexandrtovmach commented on #711
Done #718

[2020-05-17 09:38] #711 closed

[2020-05-17 09:39] alexandrtovmach commented on #587
Master is the main branch now, resolved here #718

[2020-05-17 09:39] #587 closed

[2020-05-17 09:42] alexandrtovmach commented on #538
`master` is the main branch now

[2020-05-17 09:42] #538 closed

[2020-05-17 10:12] #409 closed

[2020-05-17 10:12] #333 closed

[2020-05-18 02:41] giankotarola commented on #716
After reviewing the [design](https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?scaling=min-zoom&node-id=1338%3A12539) for `/docs` on Figma, I have the next questions @nodejs/website-redesign:

- `pre-built installer` link should be based on OS detect, right?
- Available `here` link should go to `/downloads`??
- About the installing section for differents OS, should we have the

[2020-05-18 03:59] saulonunesdev opened #725 "Fix Readme"
## Description

![image](https://user-images.githubusercontent.com/26988193/82173152-a8a91a80-98a2-11ea-8b01-63d548fddd9f.png)

- Remove **test 2**
- Fix Logo Url

[2020-05-18 06:07] bnb opened #726 "Homepage Install Instructions Design and Information are Confusing and Somewhat Incorrect"
## Description

Currently, the implementation of information in the homepage "terminal" view is confusing in a few ways:

1. There's body text that's "uncommented" suggesting you go download official installers but installer-specific methods that have body text "commented.
1. There's no spaces after the comment start (nitpick, for sure!)
1. We actively avoid recommending people use Homebrew for ma

[2020-05-18 07:46] benhalverson commented on #726
I think these are reasonable changes, but my terminal probably looks different from yours. ¯\_(ツ)_/¯
- The design was based on the mockups
- The content was based on the existing documentation here
https://nodejs.org/en/download/package-manager/#windows
https://nodejs.org/en/download/package-manager/#macos
https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions-

[2020-05-18 08:48] psjishnu commented on #725
@saulonunesdev  Issue Fixed

[2020-05-18 08:49] benhalverson commented on #725
/preview

[2020-05-18 09:30] #725 closed

[2020-05-18 09:44] benhalverson commented on #700
It works again thanks @MylesBorins

[2020-05-18 09:44] #700 closed

[2020-05-18 10:05] benhalverson opened #729 "Feature: new page /community"
## Summary
A new top level page /community should be created.
The content should be loaded from markdown like the docs pages.
I think the best practice with Gatsby sites is to have a content directory. See https://github.com/gatsbyjs/gatsby-starter-blog

The structure I'd like to see is /content/community/index.md

### Basic example

A similar page for the existing nodejs.org site is here
https://

[2020-05-18 10:15] benhalverson opened #730 "Refactor: homepage content to be in markdown"
## Summary
The content of the homepage should be in markdown
Similar to #729 and the /learn pages we should load content using graphql and markdown files.
I think this should be in a directory outside of src like the gatsby starter blog demostrates
https://github.com/gatsbyjs/gatsby-starter-blog

Something like `/content/homepage/index.md`

### Motivation
- Follow best practices of Gatsby
- It mak

[2020-05-18 12:19] mhdawson opened #731 "Node.js Website Redesign Strategic Initiative Meeting 2020-05-21"
## Time

**UTC Thu 21-May-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 21-May-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 21-May-2020 10:00 (10:00 AM) |
| US / Central  | Thu 21-May-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 21-May-2020 12:00 (12:00 PM) |
| London        | Thu 21-May-2020 17:00 (05:00 PM) |

[2020-05-18 15:38] MylesBorins opened #735 "Regressions after landing staging"
Seems like there might be a handful of regressions after landing staging, we should document them here.

First I noticed is that husky seems to be back. The commit itself is a bit large to review but we probably need to either do a full review of the commit again to check for regressions (such as in content) or revert and attempt to land again.

Second it seems like the hosting pages are back

htt

[2020-05-18 16:31] saulonunesdev opened #737 "Update CONTRIBUTING"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

In Order to prevent merge bugs and errors into master, we must update our process and align the @nodejs/nodejs-dev  and @nodejs/tsc  Teams.

## Your Proposal for Changes

Add the following instructions in **Landing Pull Requests** Section

- Ping @nodejs/tsc / @MylesBorins
- Wait

[2020-05-18 16:37] MylesBorins opened #738 "Incorrect space between `Documentation` and `Download` links in header"
Spacing feels off

<img width="418" alt="Screen Shot 2020-05-18 at 12 36 09 PM" src="https://user-images.githubusercontent.com/498775/82237906-631d3980-9904-11ea-9cb1-fed69562e8c5.png">

[2020-05-18 17:23] bnb commented on #726
I care less about how individuals terminals look and more that it looks like a terminal if it's designed like a terminal :)

Currently, what's in the staging site does not represent what's in the mockup:

Staging:
![image](https://user-images.githubusercontent.com/502396/82241778-bb573a00-990a-11ea-9f9e-838a9e14cf49.png)

Mockup:
![image](https://user-images.githubusercontent.com/502396/82241735-a

[2020-05-18 17:29] bnb commented on #726
Perhaps instead of macOS / Windows / Linux we could have `nvm (macOS)`, `nvm (Linux)`, and so on. This would both help address the inclusion of text pointing to official installers (we could remove this text) and allow us to focus on one tool/platform per pane.

[2020-05-18 18:00] MylesBorins commented on #737
We definitely don't need to get TSC or my own approval to move things forward.

Will come up with an alternative proposal when I'm back in office tomorrow

[2020-05-18 18:27] viveksharmaui commented on #738
I am working on this issue.

[2020-05-19 00:10] benhalverson commented on #731
I'll be able to attend in the 2nd half of the meeting.

[2020-05-19 00:23] benhalverson commented on #726
@bnb I'll work on this in the evening 👍
I went with the mac windows linux over the design because those are probably the most common uses. Would you say that is correct?

I didn't know nvm was available on windows. 👍

Do you want me to remove brew and macports? 🤔

Do you want the read documentation button to be a green filled button?

[2020-05-19 01:03] ghassanmas commented on #254
Recently I have been doing research for a personal project where I am using gatsby as well. I conclude the following:

- For building the routes per locale there are two main gatsby plugin [gatsby-plugin-i18n](https://github.com/angeloocana/gatsby-plugin-i18n) and [gatsby-plugin-intl](https://www.gatsbyjs.org/packages/gatsby-plugin-intl/?=i18n).
- For word formatting; to my understating, there is

[2020-05-19 09:09] tstreamDOTh commented on #722
This issue still persists in master

[2020-05-19 09:09] tstreamDOTh commented on #719
This issue still persists in master

[2020-05-19 15:03] MylesBorins commented on #735
Another regression was found with styling

https://github.com/nodejs/nodejs.dev/pull/742

[2020-05-19 16:25] viveksharmaui commented on #738
![Screenshot_20200519-212422](https://user-images.githubusercontent.com/28563357/82352289-33128b00-9a17-11ea-8d19-3fb304aba59e.png)

[2020-05-19 17:03] ahmadawais opened #743 "Button Text Has Bad Accessible Contrast"
The site buttons are probably going to be the most important part. We should make the colors accessible as per [WCAG 2.0 guidelines for contrast accessibility](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html). with at least AA contrast.

![image](https://user-images.githubusercontent.com/960133/82356019-76232d00-9a1c-11ea-972b-9d4478b2f99a.png)

Suggestions:

![image

[2020-05-19 17:06] ahmadawais commented on #743
![image](https://user-images.githubusercontent.com/960133/82356380-e7fb7680-9a1c-11ea-8a13-76ca7a10fb51.png)

This is with `background-color: var(--brand6);` where as `var(--brand5);` looks better but still fails AA test. So, `var(--brand6);` it is.

[2020-05-19 17:57] #719 closed

[2020-05-19 19:18] MylesBorins opened #744 "Learn Sidebar Not working when width between 801 - 1263 pixels"
## Description

When the width of the browser is between 801 - 1262 the side menu does not work at all. Cannot scroll or click. This is related to the media rule

@media (max-width: 1262px) and (min-width: 800px)

### Steps to reproduce

Set width of browser between 801 and 1262 pixels and attempt to click on side menu.

### Expected result

The side menu should work

### Actual result

The side m

[2020-05-19 19:31] designMoreWeb commented on #743
I can take care of this today

[2020-05-19 19:41] #722 closed

[2020-05-19 23:21] ahmadawais opened #745 "Two different versions of TypeScript"
## Description

warning package.json: "dependencies" has dependency "typescript" with range "^3.8.3" that collides with a dependency in "devDependencies" of the same name with version "3.9.2"
$ gatsby develop

 ERROR

### Steps to reproduce

Clone the repo and `yarn` in it and then `yarn start`

### Environment

- OS Version: macOS
- Browser Version: Chrome

[2020-05-19 23:49] ahmadawais commented on #743
This issue actually is bigger than just the color change. Because when we change the color to `--brand6` the inverse becomes way too dark.

That means we need a new way to have the inverse. I don't know maybe like this

![image](https://user-images.githubusercontent.com/960133/82389277-29a81380-9a55-11ea-90c8-95bbec187d83.png)

And then at the bottom the button is completely different in the look

[2020-05-19 23:52] ahmadawais commented on #743
Can someone point me to the design mockups of the site, I'd like to see how the buttons were designed there.

[2020-05-19 23:58] giankotarola commented on #743
@ahmadawais https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System

[2020-05-20 00:07] ahmadawais commented on #743
Thanks for sharing @giankotarola sadly buttons are inconsistent in the design prototype as well.

Another button with different styles that we may need to make consistent.

![image](https://user-images.githubusercontent.com/960133/82390240-a5a35b00-9a57-11ea-9794-3062b8edb346.png)

[2020-05-20 00:27] ahmadawais opened #746 ".prettierrc file JSON syntax is broken"
The `.prettierrc` file JSON syntax is broken. The keys should be in double-quotes.

[2020-05-20 00:35] designMoreWeb commented on #743
@ahmadawais @giankotarola i’ll use the new buttons and add them to the code should have a PR by tomorrow working on it now

[2020-05-20 00:45] ahmadawais commented on #743
@designMoreWeb I've been working on the PR this issue was meant to be a reference to keep track of it. You can review the PR for this at #747.

[2020-05-20 01:30] MylesBorins commented on #735
More regressions:

https://github.com/nodejs/nodejs.dev/issues/746

https://github.com/nodejs/nodejs.dev/issues/745

[2020-05-20 01:31] designMoreWeb opened #748 "Read documentation button alignment"
## Description

Read docs button is moved from left to right. ![image](https://user-images.githubusercontent.com/5986856/82394817-027f2100-9a18-11ea-84d7-ad44bcb1f463.png)

I am fixing it this issue is just for tracking purposes

[2020-05-20 01:32] designMoreWeb commented on #748
As discussed in #747

[2020-05-20 01:45] benhalverson commented on #743
@ahmadawais you may want to also take a look at https://github.com/nodejs/nodejs.dev/issues/726 about the install tabs and buttons.

[2020-05-20 01:58] benhalverson commented on #743
@designMoreWeb

Master has the latest and we should build against that now.

[2020-05-20 01:59] designMoreWeb commented on #743
Okay so are not pushing to staging any more ? Maybe we can talk about this tomorrow when we speak

[2020-05-20 02:01] benhalverson commented on #748
The design has the button in the bottom right
I think it looks better in the bottom left
¯\\_(ツ)_/¯

[2020-05-20 02:14] benhalverson commented on #744
This seems to have been broken before the merge
I'm seeing the same behavior in https://staging.nodejs.dev/learn

[2020-05-20 07:56] tstreamDOTh commented on #744
@benhalverson Can you assign this to me, I can pick this up

[2020-05-20 18:28] #745 closed

[2020-05-20 20:43] #743 closed

[2020-05-20 20:43] ahmadawais commented on #746
Fixed via #747

[2020-05-20 20:43] #746 closed

[2020-05-20 20:47] ahmadawais commented on #748
Fixed via #747.

[2020-05-20 20:47] #748 closed

[2020-05-20 22:43] benhalverson commented on #726
@bnb In my search for how to install nvm for Windows, I found that it's possible but it's not a command line install like MacOS or Linux. Here's the documentation https://github.com/coreybutler/nvm-windows/wiki

What would you like to see here?

[2020-05-21 01:34] designMoreWeb commented on #731
Also include #749 in agenda to be discussed as it involves design changes

[2020-05-21 02:44] designMoreWeb opened #752 "Refactor of code needed"
## Summary
I was going through the code came across this function and felt it needed to be redone

https://github.com/nodejs/nodejs.dev/blob/master/src/pages/docs.tsx#L18-L47

[2020-05-21 04:05] saulonunesdev commented on #752
Also, we should check the disabled eslint comments instead of fixing the warning.

[2020-05-21 09:49] tstreamDOTh commented on #752
Yes, it needs refactoring. I suggest to have a test case in place & then go for refactor to avoid any regressions

[2020-05-21 16:00] amiller-gh commented on #752
Yes it does! Also, please check out the api-docs branch – I did a lot of work to render API docs in that branch that never landed. Would love to see that get across the line.

[2020-05-21 16:05] amiller-gh commented on #752
Oh man, never mind, it was pulled it to staging (and master)! Forgot about that – no wonder the code looked familiar!

https://nodejs.dev/docs/#temporary_path_for_Buffer

Yes code needs a lot of refactoring. It was never "done" and needs a lot of polish, ex: permalinks, default pages, and many styling tweaks

[2020-05-21 16:05] tstreamDOTh commented on #731
Has it started?

[2020-05-21 16:07] ahmadawais commented on #731
^I just added wr-agenda tag to #749.

[2020-05-21 16:08] amiller-gh commented on #731
Who's starting the meetings nowadays?

[2020-05-21 16:09] giankotarola commented on #752
There is an open issue related to the `/docs` view #716

[2020-05-21 16:13] ahmadawais commented on #731
My guess is that it's generally @keywordnew. I sadly have a meeting clash with GDE today. But looking forward to joining for some part of it. :)

[2020-05-21 16:14] keywordnew commented on #731
Y'all have it started? I've a conflict, but I can kick it off.

[2020-05-21 16:15] amiller-gh commented on #731
We're good @keywordnew!

[2020-05-21 16:28] bnb commented on #726
I would avoid nvm-windows for now - chocolatey seems to be the most used solution for now. Didn't mean to assert that nvm was available on Windows, but was more suggesting the tabs - so `nvm (macOS)`, `nvm (Linux)`, `Chocolatey (Windows)`, `apt (Debian/Ubuntu)` (if we officially control those at this point - I'm not sure we do), etc.

Here's what I mean:
![tabs changed to display what I mean](http

[2020-05-21 17:21] amiller-gh commented on #637
Lets use this issue to keep iterating on marketing copy! We have something out right now, so no huge fire to get updated copy out the door, but please drop all ideas and suggestions below. Remember: there are no bad ideas! We brainstorming now – GO 🎉

[2020-05-21 17:22] amiller-gh commented on #412
I'll do this today 👍

[2020-05-21 17:37] amiller-gh commented on #698
I'm +1 👍

[2020-05-21 17:38] tstreamDOTh opened #756 "Storybook Setup ?"
## Summary

Setup Storybook

### Motivation

- We can play with components in isolations
- Unit test components
- Document use cases as stories

[2020-05-21 17:40] tstreamDOTh commented on #731
Thanks you all for welcoming to the team 🎉

[2020-05-21 17:52] benhalverson commented on #756
Which components do you think we need to have a storybook for?

[2020-05-21 17:54] giankotarola commented on #756
Storybook could be very useful for the `UI Elements`.

[2020-05-21 17:59] amiller-gh commented on #627
We're going to disable the wiki for now – its confusing when a newcomer arrives and nothing is there.

@designMoreWeb – if you''d like to help us draft content for the wiki, we'll re-enable it once we have content! It just not the ideal experience having it here with nothing in it for the mean time :)

[2020-05-21 17:59] #627 closed

[2020-05-21 18:06] amiller-gh commented on #412
Well, I spoke too soon without reading Myles' comment above!

@MylesBorins, what permissions concerns do we have with merging the two teams? If you have no significant ones, I'm happy to do the migration if you add me as a manager.

[2020-05-21 18:08] amiller-gh commented on #726
From meeting:

  1. Remove bold text to maintain console style consistency
  2. @saulonunesdev is testing NVM on windows
  3. Float button to the right

[2020-05-21 18:16] amiller-gh commented on #412
(Also, welcome @tstreamDOTh to the team! Once we get this teams issue figured out I'll be sure to add you to the correct list 👍)

[2020-05-21 18:19] benhalverson commented on #716
I think this is reasonable

Yes

Maybe. I'm not sure if the IntsallTabs component will look good with more then 5 tabs.

The current implementation of this page I think would be here https://nodejs.org/en/download/package-manager/
and maybe the second half of this page https://nodejs.org/en/download/
Specifically the additional platforms section

[2020-05-21 18:29] bhumijgupta commented on #726
@benhalverson are you working on this, or is the issue up for grabs?

[2020-05-21 18:35] benhalverson commented on #726
Yes I was, but if you want to I can reassign it to you. @bhumijgupta

[2020-05-21 18:38] bhumijgupta commented on #726
Yes, I'd like to take this up

[2020-05-21 19:13] bnb commented on #726
Wanted to bring up that the reason I recommended `nvm` was because it is a(n incubating) Foundation project. nvm-windows is not.

From what I can tell in the abstract, chocolatey is currently the preferred package manager on Windows.

Also, `winpkg` was just announced as an *official* package manager for Windows yesterday - it does already include Node.js, and I'm already working internally to ens

[2020-05-21 19:33] bnb opened #757 "Merging staging into master broke all existing links"
## Description

All links prior to merging staging into master are now completely broken since there was no redirect strategy in place. We've marketed nodejs.dev publicly as a way to learn more about Node.js and have now entirely broken all references, nuking the UX of the site for users who are trying to learn.

### Expected result

Old backlinks should work.

### Actual result

Old backlinks are

[2020-05-21 19:42] bnb commented on #756
Huge +1 for a storybook setup. It would be a very nice thing to have.

[2020-05-22 04:30] bhumijgupta commented on #726
Should I replace `Chocolatey (Windows)`Tab with just `Windows` and include methods for both `Chocolatey` and `winpkg`?

[2020-05-22 06:15] tstreamDOTh commented on #756
Great, I ll setup and raise a PR

[2020-05-22 06:30] tstreamDOTh commented on #757
I think we can setup redirects in gatsby, do we have some set of links which are not working?

[2020-05-22 17:22] MylesBorins commented on #412
@amiller-gh I think it shouldn't be an issue anymore

[2020-05-22 19:49] #744 closed

[2020-05-23 02:13] designMoreWeb commented on #757
@benhalverson and I are working on this collaboratively together currently on fixing this

[2020-05-23 09:13] tstreamDOTh commented on #757
@designMoreWeb Let me know if any help needed

[2020-05-23 14:47] viveksharmaui commented on #738
PR is merged please close this issue.

[2020-05-23 16:39] #738 closed

[2020-05-24 18:53] saulonunesdev commented on #698
Hi Everyone, I Took in Consideration Both [OpenJs Calendar](https://calendar.google.com/calendar/embed?src=linuxfoundation.org_fuop4ufv766f9avc517ujs4i0g%40group.calendar.google.com) and [Nodejs Calendar](https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com) and removed the slots that are already in use.

Link to Vote your Preferred Slod:

[2020-05-25 20:00] benhalverson commented on #726
I would do as @bnb and @amiller-gh suggested and remove the white text with the link to the downloader since this is redundant because we have the download button on the same page for the official package installer.

**MacOS**
`curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash`

`nvm install v12.16.3`

**Windows**
`choco install nodejs-lts`

**Linux**
`apk add -U curl

[2020-05-26 01:51] bhumijgupta commented on #726
Thank you, that answers a lot of my questions.

Here we are providing command to install a specific version of node. This may work fine for now, but when the new LTS version of node is released, the docs has to updated. My suggestion is to replace it with `nvm install --lts`, and leave the LTS version resolution to nvm.

[2020-05-26 01:53] benhalverson commented on #726
I agree.
I tried --lts it didn't seem to work

[2020-05-26 01:58] benhalverson commented on #726
I see the issue I had an outdated version of nvm 🤦

[2020-05-26 04:55] bhumijgupta opened #762 "Bug: Horizontal scroll for breakpoint width>800"
## Description
The content overflows in x direction at breakpoint width>800 resulting in a weird horizontal scroll

### Steps to reproduce

Navigate to [nodejs.dev](nodejs.dev)
Open firefox/ chrome responsive view and set width to 801

### Expected result

There should not be any horizontal scroll

### Actual result

Horizontal scroll for breakpoint > 800

### Environment

- OS Version:Ubuntu 18.0

[2020-05-28 16:48] saulonunesdev commented on #637
From CommComm Discussion Today:
* Add a Slack Join Input inside Home Page
* Get +1 permission from Babel, Webpack and other projects to use their logos and add in Home
* Add Where To Go From Here, add inside home page ?all possible? needs for users
* Add Node School and Other Community Projects

Also @bnb Will join our next meeting to help discuss those things. ❤️

[2020-06-01 04:59] akshaygulhane commented on #729
@benhalverson Can I pick this issue if nobody is already working on it?

[2020-06-01 05:57] benhalverson commented on #729
@designMoreWeb  is already working on this one.
You can work on #730 if you like.

[2020-06-01 12:19] mhdawson opened #764 "Node.js Website Redesign Strategic Initiative Meeting 2020-06-04"
## Time

**UTC Thu 04-Jun-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 04-Jun-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 04-Jun-2020 10:00 (10:00 AM) |
| US / Central  | Thu 04-Jun-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 04-Jun-2020 12:00 (12:00 PM) |
| London        | Thu 04-Jun-2020 17:00 (05:00 PM) |

[2020-06-04 16:16] saulonunesdev commented on #698
@nodejs/website-redesign @nodejs/nodejs-dev

Weekly Time, Voted by @saulonunesdev @designMoreWeb @benhalverson

- [ ] 18:00 UTC

UpVote and DownVote if this Time Works For you

[2020-06-04 16:28] saulonunesdev commented on #737
#764 Team Meeting Agreed to Add a Comment in the Contributing Landing PR Section, to not Merge on Weekends.

[2020-06-05 04:26] saulonunesdev commented on #715
This was already approved by consensus in the meeting #731 it will be added when the teams are merged #412

[2020-06-05 04:27] saulonunesdev commented on #437
Closing this issue, since we are not holding hackathons anymore.

[2020-06-05 04:27] #437 closed

[2020-06-06 15:35] tstreamDOTh commented on #730
@benhalverson Let me know if you need help on this

[2020-06-09 01:43] benhalverson commented on #403
This was fixed awhile ago 🎉

[2020-06-09 01:43] #403 closed

[2020-06-09 01:52] #764 closed

[2020-06-09 01:56] benhalverson commented on #716
closed via #761

[2020-06-09 01:56] #716 closed

[2020-06-09 01:57] MylesBorins commented on #737
@saulonunesdev and @nodejs/website-redesign

two thoughts.

1) Not landing on weekends does not fix the problem that we ran into and is likely to be more process than neccessary imho
2) Until this point governance for the management of the nodejs.dev repo had not been decided in meetings. It would imho be much better to open a PR with suggested changes and discuss them in the PR, only opting to go

[2020-06-09 02:02] MylesBorins commented on #698
I would like to encourage not relying on meetings for handling tasks that can be done async such as working on issues and PRs. Creating more meetings is in some ways non-inclusive to those who can't participate and makes it harder to get involved if all the work is happening in the meetings.

With that being said, I have not been super active in these meetings or the initiative beyond basic mainte

[2020-06-09 04:26] bhumijgupta commented on #762
@tstreamDOTh I could reproduce the error on home page for both Google Chrome and Firefox.

[2020-06-09 14:34] bnb commented on #737
+1 to what @MylesBorins said.

[2020-06-10 05:11] #731 closed

[2020-06-11 02:57] gokulkrishh opened #770 "Bug: Website scrolling is janky"
## Description

Website scrolling is janky due to css filter property has drop-shadow as value which is causing reflow and making it janky

### Steps to reproduce

1. `To see janky scroll`: Go to website and scroll it
1. `To see non-janky scroll`: Go to website, open devTools > Elements panel and find `leafs-front` and `leafs-middle` class and remove css filter property see the difference.

### Ex

[2020-06-11 05:19] benhalverson commented on #762
Closed via #767

[2020-06-11 05:19] #762 closed

[2020-06-11 16:53] saulonunesdev commented on #637
accordingly with today's commcomm meeting, the best aproach to resolve the pendent is to do async, so please post here your concerns here.

in my case:

- Get +1 permission from Babel, Webpack and other projects to use their logos and add in Home Who can pick this up?)
- Add Where To Go From Here, add inside home page ?all possible? needs for users (@bnb Can you clarify this please, which topics w

[2020-06-11 19:58] bnb commented on #726
@benhalverson I would recommend not using the NodeSource installers for the public site since they're external builds not run by Canonical (the maintainer of Ubuntu) or the project.

[2020-06-12 14:41] AARYAN-MAHENDRA commented on #721
Is this issue still open?

[2020-06-15 13:09] mhdawson opened #774 "Node.js Website Redesign Strategic Initiative Meeting 2020-06-18"
## Time

**UTC Thu 18-Jun-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 18-Jun-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 18-Jun-2020 10:00 (10:00 AM) |
| US / Central  | Thu 18-Jun-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 18-Jun-2020 12:00 (12:00 PM) |
| London        | Thu 18-Jun-2020 17:00 (05:00 PM) |

[2020-06-18 16:06] bnb commented on #774
Meeting happening or no? The Zoom link in the GitHub issue is not pointing to a meeting that's started.

[2020-06-18 16:11] designMoreWeb commented on #774
This is the link ** https://zoom.us/j/671293205**

[2020-06-18 16:31] saulonunesdev commented on #737
I would suggest in this case:
- There must be no objections after a 72 hour period

[2020-06-18 16:57] saulonunesdev commented on #412
teams were merged

thanks @bnb <3

[2020-06-18 16:57] #412 closed

[2020-06-18 16:57] saulonunesdev commented on #715
@bnb added @tstreamDOTh thanks <3

[2020-06-18 16:57] #715 closed

[2020-06-18 16:59] saulonunesdev commented on #698
@bnb can you add a calendar appointment weekly for Node.JS Dev Team at 11am LA Time Please

[2020-06-18 17:20] bnb commented on #698
updated. would like to reiterate @MylesBorins's feedback that async work should be done async if at all possible 👍

[2020-06-18 19:27] MylesBorins commented on #737
FWIW node.js core is in the process of trying to remove the waiting period altogether

https://github.com/nodejs/node/pull/33879

I'd review that thread to see reasoning why, but I am not convinced that extending the waiting period will actively help with this. The problem that we dealt with was objections not being respected... a time box is not going to avoid that situation.

[2020-06-18 21:18] saulonunesdev commented on #698
Closing this issue, since the calendar was already updated.

Thanks @bnb <3

[2020-06-18 21:18] #698 closed

[2020-06-18 23:35] mmarchini opened #775 "Diagnostics WG and Webiste Redesign WG collaboration on diagnostics guides"
(not sure if this is the right template and label to discuss

# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [x] Not Sure?

## Please Explain in Detail

The Node.js Diagnostics WG have been doing deep dives on several aspects of debugability and observability features on Node.js for the past year. We gathered content and knowledge which is intended to be published on th

[2020-06-19 13:21] codeekage opened #776 "Welcome Softcom OSS People"
Hello All -

From yesterday's meeting, I reached to some interested engineers at @softcomoss who are willing to make some contributions to the project.

Please, welcome @Tijesunimi Backend Engineer at Softcom, @chidimo Frontend Engineer at Softcom, and @jeremiahriz Product Designer at Softcom. 🎉 🥳

cc: @bnb

Best,

[2020-06-19 14:38] designMoreWeb opened #777 "Github Superlinter Action"
Github introduced a new action called the Superlinter.
[More information on the Linter](https://github.com/github/super-linter)

Is it a good idea to introduce this action to the existing workflow?

Since the end goal of the linter is to help with:
* Prevent broken code from being uploaded to the default branch (Usually master)
* Help establish coding best practices across multiple languages
* Bui

[2020-06-19 18:56] nschonni commented on #777
Interesting idea, but I think I'm 👎 since we already have a bunch of those linters running in CI, and this would decouple them from the versions people would be using locally. EX: if the package-lock.json version is different from the action, you'd get failures, or passes on CI that might not match your local development.

[2020-06-21 07:10] #127 closed

[2020-06-21 07:15] MylesBorins commented on #735
Seems like things are stable, closing

[2020-06-21 07:15] #735 closed

[2020-06-21 20:51] benhalverson commented on #775
I think think adding more content on how to debug a Node app in production is a great idea and would fit in the learn section of the site.
I also like the idea of having a new category for it. I'm 👍 on Diagnostics or Debugging.

[2020-06-22 08:40] chidimo commented on #776
Hello everyone. Nice to meet the team and happy to help.

[2020-06-22 08:52] Tijesunimi commented on #776
Hi everyone. Happy to be here, and help in anyway I can.

[2020-06-22 13:38] mhdawson opened #778 "Node.js Website Redesign Strategic Initiative Meeting 2020-06-25"
## Time

**UTC Thu 25-Jun-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 25-Jun-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 25-Jun-2020 12:00 (12:00 PM) |
| US / Central  | Thu 25-Jun-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 25-Jun-2020 14:00 (02:00 PM) |
| London        | Thu 25-Jun-2020 19:00 (07:00 PM) |

[2020-06-22 21:15] mmarchini commented on #778
If folks don't mind, I'd like to join as observer since the Diagnostics guides issue is on the agenda.

[2020-06-24 22:45] saulonunesdev commented on #778
Hey Everyone, i think we should postpone this meeting because it's openjs world week, and some of us will not be available

[2020-06-25 22:51] NilsIrl commented on #232
Also https://nodejs.dev/learn/how-to-read-environment-variables-from-nodejs, says that it is set by default, which it isn't.

[2020-06-26 17:12] nschonni commented on #778
@mhdawson Looks like @nodejs/nodejs-dev won in the merging with @nodejs/website-redesign, but i'm not seeing where this meeting template is to update it

[2020-06-26 18:16] mmarchini commented on #778
@nschonni afaik it's here: https://github.com/nodejs/create-node-meeting-artifacts/tree/master/templates

[2020-06-26 20:23] nschonni commented on #778
@mmarchini thanks, submitted https://github.com/nodejs/create-node-meeting-artifacts/pull/94

[2020-06-30 12:39] tstreamDOTh opened #780 "Navbar is breaking sometimes"
## Description

Navbar breaks going from large screen to smaller

### Steps to reproduce

1. Scroll down the navbar (/learn page)
2. Reduce the screen size

### Expected result

Should show hamburger icon

### Actual result

<img width="495" alt="Screenshot 2020-06-30 at 6 06 05 PM" src="https://user-images.githubusercontent.com/11137394/86126905-b934ed80-bafc-11ea-800a-d0f481036e4f.png">

### Env

[2020-07-01 14:29] MylesBorins commented on #776
Nice to meet y'all!

[2020-07-01 15:22] bnb commented on #776
Hello 👋

[2020-07-02 12:28] mhdawson opened #782 "Node.js Website Redesign Strategic Initiative Meeting 2020-07-02"
## Time

**UTC Thu 02-Jul-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 02-Jul-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 02-Jul-2020 12:00 (12:00 PM) |
| US / Central  | Thu 02-Jul-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 02-Jul-2020 14:00 (02:00 PM) |
| London        | Thu 02-Jul-2020 19:00 (07:00 PM) |

[2020-07-02 18:15] designMoreWeb opened #783 "Add blogging functionality to site"
## Summary

We have articles on medium and we wanted to see if we can have an active blog through

[2020-07-02 18:17] saulonunesdev commented on #782
sry, folks, i won't be able to make today. the download grid page is done, i'm going to fix some merge conflicts with master and open a new PR

[2020-07-02 18:39] joesepi commented on #783
Hi all. There has been some discussion around what to do with the Node.js Medium Collection.

My suggestion is to add a blog on the Nodejs.org website and have that be the canonical source for our blog content -- which also happens to be a dev friendly publishing flow -- and syndicate to other platforms such as Dev.to

Ideally, this blog would be a part of the Gatsby app and would inherit all the

[2020-07-06 00:24] bnb commented on #783
@joesepi the intent here is that this site will replace the codebase of nodejs.org eventually, so what you're asserting doesn't quite track with me given that what you're suggesting is what's effectively being proposed.

AFAIK the Medium Collection is cooling off temporarily or permanently. What would be nice would be to have a few different input mechanisms for the blog on this site - primarily,

[2020-07-06 00:36] Trott commented on #783
FWIW, I think it would be best to discourage using "blog" to describe what's on the current site and instead use "news". It's basically only used to announce releases, which is fine. We don't need to do more than that.

[2020-07-06 01:49] bnb commented on #783
@Trott I don't particularly think "News" is any better than "Blog". I would expect other things to fall in "News" - for example, announcements of work we're doing externally, or discussions of partnerships with other projects/companies like what the Build WG does with the sponsors or what i18n is doing with CrowdIn - that don't meaningfully exist.

I think that given the modern state of the web "B

[2020-07-06 12:19] mhdawson opened #784 "Node.js Website Redesign Strategic Initiative Meeting 2020-07-09"
## Time

**UTC Thu 09-Jul-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 09-Jul-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 09-Jul-2020 12:00 (12:00 PM) |
| US / Central  | Thu 09-Jul-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 09-Jul-2020 14:00 (02:00 PM) |
| London        | Thu 09-Jul-2020 19:00 (07:00 PM) |

[2020-07-06 19:16] tstreamDOTh commented on #784
Sorry, could not attend, had a meeting clash

[2020-07-09 00:18] rachelnicole commented on #784
I'll be there. :)

[2020-07-09 18:05] designMoreWeb commented on #784
the new zoom link is https://zoom.us/j/93822960534

[2020-07-09 18:12] tstreamDOTh commented on #784
Is it started?

[2020-07-09 18:13] designMoreWeb commented on #784
@tstreamDOTh yes please use this zoom link https://zoom.us/j/93822960534

[2020-07-09 18:28] benhalverson commented on #637
See https://github.com/babel/babel/discussions/11731#discussioncomment-28281 for permission on using Babel's logo

[2020-07-11 19:42] RAYDENFilipp opened #786 "Typo in the how-to-use-the-nodejs-repl chapter"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

in the https://nodejs.dev/learn/how-to-use-the-nodejs-repl chapter the blockquote states the following:

## Your Proposal for Changes
I suggest changing `an programming` part with `a programming`

[2020-07-13 12:18] mhdawson opened #789 "Node.js Website Redesign Strategic Initiative Meeting 2020-07-16"
## Time

**UTC Thu 16-Jul-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 16-Jul-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 16-Jul-2020 12:00 (12:00 PM) |
| US / Central  | Thu 16-Jul-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 16-Jul-2020 14:00 (02:00 PM) |
| London        | Thu 16-Jul-2020 19:00 (07:00 PM) |

[2020-07-13 17:43] #786 closed

[2020-07-15 03:50] benhalverson commented on #757
@tstreamDOTh if you want to work on this feel free.

[2020-07-15 20:20] bnb commented on #757
Honestly still this this is revert worthy and am sad that it's not been addressed in a meaningful way in 2 months.

[2020-07-16 18:18] #281 closed

[2020-07-16 18:18] #282 closed

[2020-07-16 18:19] #279 closed

[2020-07-16 18:19] benhalverson commented on #278
Duplicate of https://github.com/nodejs/nodejs.dev/issues/637

[2020-07-16 18:19] #278 closed

[2020-07-16 18:20] #276 closed

[2020-07-16 18:20] #283 closed

[2020-07-16 18:23] benhalverson commented on #275
@bnb what's the ask for these microsites. Are they expected to be updated with the new design?

[2020-07-16 18:24] #277 closed

[2020-07-16 18:27] benhalverson commented on #192
Closing because it references an old design

[2020-07-16 18:27] #192 closed

[2020-07-16 18:33] designMoreWeb opened #790 "Staging.nodejs.dev does not display anything"
I visited our [homepage](https://staging.nodejs.dev/) and i got the following error.
<img width="1336" alt="Screenshot 2020-07-16 at 2 28 55 PM" src="https://user-images.githubusercontent.com/5986856/87708774-3bfeaf00-c771-11ea-94fd-390c1569e670.png">

[2020-07-16 18:34] benhalverson commented on #196
is this still an issue?

[2020-07-16 18:34] #208 closed

[2020-07-16 18:35] #214 closed

[2020-07-16 18:35] #216 closed

[2020-07-16 18:37] benhalverson commented on #232
Closed via #238

[2020-07-16 18:37] #232 closed

[2020-07-16 18:38] #236 closed

[2020-07-16 18:44] benhalverson commented on #254
@ghassanmas any interest in working on this

[2020-07-16 18:46] #255 closed

[2020-07-16 18:50] benhalverson commented on #257
Duplicate of #413

[2020-07-16 18:50] #257 closed

[2020-07-16 18:51] #258 closed

[2020-07-16 18:52] benhalverson commented on #260
closing because it's based on the old design

[2020-07-16 18:52] #260 closed

[2020-07-16 18:54] #262 closed

[2020-07-16 18:56] ghassanmas commented on #254
@benhalverson yes, I am happy to work on it.
Any thoughts on which direction I should follow?

[2020-07-16 18:58] benhalverson commented on #273
👋 @jonchurch does this still need to be done?

[2020-07-16 18:59] #312 closed

[2020-07-16 18:59] #334 closed

[2020-07-16 18:59] #335 closed

[2020-07-16 19:01] #337 closed

[2020-07-16 19:10] benhalverson commented on #254
I would start with the gatsby plugins you mentioned and try to load the markdown files with the i18n lib that @zeke created here https://github.com/nodejs/i18n/pull/250
I think we should follow the way the current nodejs.org is setup if possible.
ie https://nodejs.org/en/ https://nodejs.org/de/ etc

[2020-07-16 19:18] #415 closed

[2020-07-16 19:18] #407 closed

[2020-07-16 19:19] bnb commented on #275
Ideally we'd be able to provide the utilities to microsoites to be able to build themselves within the website itself _and_ help some of the existing ones migrate into the website using those utilites.

[2020-07-16 19:20] bnb commented on #275
something like ci.nodejs.org will not be able to transfer, but something like nodejs.org/metrics could.

[2020-07-16 19:21] bnb commented on #275
I'd ideally like to see them on a consistent path - i.e. `nodejs.org/sites/<site>` or `nodejs.org/tools/<site>` or something.

[2020-07-16 19:25] benhalverson commented on #275
ok i think this is doable.
Under pages we could do something like `sites/metrics` and load a metrics.tsx page

[2020-07-16 19:30] benhalverson commented on #726
Closed via #779

[2020-07-16 19:30] #726 closed

[2020-07-16 19:31] #778 closed

[2020-07-16 19:31] #784 closed

[2020-07-16 19:31] #789 closed

[2020-07-16 20:31] NilsIrl commented on #232
Why close this issue, considering the PR wasn't merged.

[2020-07-17 03:36] #782 closed

[2020-07-17 03:37] #774 closed

[2020-07-17 10:58] bhautikbharadava commented on #196
@benhalverson  i think is fixed.

[2020-07-17 10:58] #196 closed

[2020-07-17 13:08] karlhorky commented on #312
@benhalverson why was this closed? Has this been completed?

[2020-07-19 17:19] tstreamDOTh commented on #757
@benhalverson Looking into this

[2020-07-20 12:19] mhdawson opened #793 "Node.js Website Redesign Strategic Initiative Meeting 2020-07-23"
## Time

**UTC Thu 23-Jul-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 23-Jul-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 23-Jul-2020 12:00 (12:00 PM) |
| US / Central  | Thu 23-Jul-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 23-Jul-2020 14:00 (02:00 PM) |
| London        | Thu 23-Jul-2020 19:00 (07:00 PM) |

[2020-07-21 00:14] rachelnicole commented on #757
It seems like this *should* be able to be resolved with something like on gatsby-node.js

[code]

I'm completely unfamiliar with gatsby though, so I don't know if its only something that works when it's hosted or if i need to build something.

[2020-07-22 14:23] ghassanmas commented on #254
@benhalverson chutney, when clicking on documentation, the site redirects to nodejs.org, it should stay on the same site on my edit given I will pulling the markdown from Zake's module. right ?

[2020-07-23 18:00] designMoreWeb commented on #793
https://zoom.us/j/92098672988 the link for the meeting

[2020-07-23 19:13] benhalverson commented on #254
Yes right now since the new docs are not ready so they redirect to the current docs.
When the new docs are ready it will stay on nodejs.dev/docs

[2020-07-24 06:55] tstreamDOTh commented on #752
This can be closed @benhalverson ?

[2020-07-24 17:46] benhalverson commented on #752
Yep
Closed via #792

[2020-07-24 17:46] #752 closed

[2020-07-27 12:18] mhdawson opened #795 "Node.js Website Redesign Strategic Initiative Meeting 2020-07-30"
## Time

**UTC Thu 30-Jul-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 30-Jul-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 30-Jul-2020 12:00 (12:00 PM) |
| US / Central  | Thu 30-Jul-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 30-Jul-2020 14:00 (02:00 PM) |
| London        | Thu 30-Jul-2020 19:00 (07:00 PM) |

[2020-07-27 16:22] bnb opened #796 "update "team" in README.md"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

seems that the "Team" section of the README.md is extremely outdated and slightly misleading.

https://github.com/nodejs/nodejs.dev#team

## Your Proposal for Changes

Update to reflect current/correct context.

[2020-07-30 17:59] benhalverson commented on #795
The updated  zoom https://zoom.us/j/98965291656

[2020-07-30 18:10] benhalverson opened #798 "Good first issue test"
## Description

### Steps to reproduce

### Expected result

### Actual result

### Environment

- OS Version:
- Browser Version:

[2020-07-30 18:24] designMoreWeb opened #799 "Add Slack logo with link to slack channel on homepage"
Add slack icon to the home page with the link to the Open JS slack channel

As mentioned in [issue 637 ](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-07-30 18:27] designMoreWeb opened #800 "Permission for usage of Logos and text for Open Source projects"
Get +1 permission from Babel, Webpack and other projects to use their logos and add in Home

As mentioned in [issue 637](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-07-30 19:07] #770 closed

[2020-07-30 19:23] iandrc commented on #799
@designMoreWeb

I'll love to take this one. Could you provide me with the correct like to the Open JS Slack channel? I just wanna make sure there would be a correct one.

[2020-07-30 20:03] benhalverson commented on #799
The inviter link is https://communityinviter.com/apps/js-foundation/join-openjs-foundation-on-slack
svg / pngs from slack is https://brandfolder.com/slack/logos

Not sure about the placement.

[2020-07-31 21:46] vincentiroleh commented on #799
Hello @designMoreWeb, you working on this already? If not, I will love to help.

[2020-08-01 11:57] grajsb commented on #798
If it helps for anyone picking up the issue, I see the same happening in other repository like vscode https://github.com/microsoft/vscode-docker/contribute. Sorry if this didn't make any sense. Fairly new to opensource.

[2020-08-01 12:57] grajsb commented on #798
Seems to be an issue across github. Just another example of electron repo https://github.com/electron/electron/contribute

![image](https://user-images.githubusercontent.com/13052578/89102196-64023980-d424-11ea-85d5-56c3cb39f691.png)

But it has issues with label good first issue

![image](https://user-images.githubusercontent.com/13052578/89102224-8ac07000-d424-11ea-912a-1069a4184b10.png)

[2020-08-01 17:10] grajsb commented on #798
Hello @benhalverson, looks like this issue is already reported and Github staff is aware of it and working on it. Here's a thread with the details.
https://github.community/t/good-first-issues-are-not-displayed-in-the-contribute-area-of-the-repository/120359/4

[2020-08-01 17:40] benhalverson commented on #798
Thanks for looking into this  @grajsb 👍

[2020-08-03 12:19] mhdawson opened #803 "Node.js Website Redesign Strategic Initiative Meeting 2020-08-06"
## Time

**UTC Thu 06-Aug-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 06-Aug-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 06-Aug-2020 12:00 (12:00 PM) |
| US / Central  | Thu 06-Aug-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 06-Aug-2020 14:00 (02:00 PM) |
| London        | Thu 06-Aug-2020 19:00 (07:00 PM) |

[2020-08-03 19:02] #799 closed

[2020-08-06 15:21] MylesBorins opened #804 "Change default branch name from master -> main"
We are looking at making changes to repos in the org before making this change in nodejs/node.

Anyone have concerns with rolling this out on nodejs.dev?

I will personally roll everything out and ensure all automations continue to work as expected.

[2020-08-06 18:14] designMoreWeb commented on #803
Just ended the meeting as no one showed up

[2020-08-07 03:16] ghassanmas commented on #254
@benhalverson, sorry for lag between inquiries. Been busy lately.
Should we renders all doc for all versions or only for the **supported versions** which are specified in the `package.json`
https://github.com/nodejs/i18n/blob/cb96a168c33729c54a5374cab2a55c528fbabe07/package.json#L5-L9

[2020-08-07 09:56] ghassanmas commented on #254
Also, another important question(s), considering the following:

The current structure layout of nodejs.dev/docs only supports the api docs, i.e. and it assume each api is categorized in specific category i.e. classes, misc..etc  (as shown in this snippet)
https://github.com/nodejs/nodejs.dev/blob/b1ab6d2a2d7ba81b551bc48243eb9a098d81b06f/src/hooks/useApiDocs.tsx#L86-L93

However the new documentat

[2020-08-10 12:19] mhdawson opened #807 "Node.js Website Redesign Strategic Initiative Meeting 2020-08-13"
## Time

**UTC Thu 13-Aug-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 13-Aug-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 13-Aug-2020 12:00 (12:00 PM) |
| US / Central  | Thu 13-Aug-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 13-Aug-2020 14:00 (02:00 PM) |
| London        | Thu 13-Aug-2020 19:00 (07:00 PM) |

[2020-08-10 22:15] ermik commented on #274
I propose we include a related goal of verifying the content is accessible to screen-readers and/or printable as I've heard this may offer secondary benefit of being easily ingested by a translation toolkit. On that note, any QA work on the adaptive layout should include a test of the content post-translation by Chrome's embedded Google Translate utility, as things post-GT can look very-very ugly

[2020-08-10 22:54] adrian-cg commented on #757
I'd love to help out if this hasn't been sorted out already. I'm struggling with the context for this issue, though. Was there a change in the URL structure so some old links that were published in other sites no longer work? What was the old structure?

[2020-08-10 22:57] corinty commented on #790
Hey!

Just starting to get my feet wet with contributing to this project.

How is the site being hosted? It seems to be a server configuration error.

[2020-08-10 22:59] corinty commented on #730
I can probably take a crack at this later this week. Still need to get set up locally.

Haven't done a ton of work in Gatsby yet but I've implemented similar stuff in Next.js

[2020-08-10 23:57] benhalverson commented on #757
Here's an example.
The old link was http://nodejs.dev/a-brief-history-of-nodejs
The new links have `/learn/thing` http://nodejs.dev/learn/a-brief-history-of-nodejs

I've tried fixing myself using the gatsby plugins but end up with links like http://nodejs.dev/learn/a-brief-history-of-nodejs/http://nodejs.dev/learn/a-brief-history-of-nodejs

[2020-08-11 00:19] rachelnicole commented on #757
I'm actually going to pair with someone on this sometime this week.

[2020-08-11 01:51] rmleg opened #810 "There is extra space between 'Documentation' and 'Download' in nav bar on desktop"
## Description

There is more space between 'Documentation' and 'Download' than between 'Learn' and 'Documentation'. Should they be evenly spaced?

<img width="494" alt="Screenshot of nav bar from staging branch." src="https://user-images.githubusercontent.com/7571219/89847627-75e58a00-db52-11ea-8d05-5a0341a89763.png">

### Steps to reproduce

Check out the 'staging' branch locally, run with `npm

[2020-08-11 02:07] rmleg commented on #730
@corinty Let me know if you want help with this! I haven't set this sort of thing up from scratch before, but I have a blog running on the Gatsby starter blog and I think I can figure it out. I should have time this week as well.

[2020-08-11 02:55] designMoreWeb commented on #730
Sure that sounds great please take a look at it

[2020-08-11 03:26] itsjzt commented on #810
I think this is only the case with desktops, I couldn't reproduce the issue on Laptop

![image](https://user-images.githubusercontent.com/22629916/89853958-44031080-dbb0-11ea-93bc-c597e7184416.png)

[2020-08-11 04:27] benhalverson commented on #810
The staging branch is no longer updated. Do you see this issue in the master branch or on nodejs.dev?

[2020-08-11 04:30] benhalverson commented on #804
Hey @MylesBorins I have no concerns, if you can make it a smooth transition 👍

[2020-08-11 04:54] harsh07bharvada commented on #796
Can you please layout what needs to be changed? I am new to this and want to contribute as well.

[2020-08-11 05:05] chrismullins commented on #261
Seems it's been a while since this was updated -- would it still be going in the right direction for this page to achieve feature parity with https://nodejs.org/en/download/ ?  Looks like we have most of the data needed to recreate this page, and we wouldn't need to have a separate page for the (Current -- Latest Features) offerings as it's implemented on nodejs.org since we could simply toggle th

[2020-08-11 05:09] micahgodbolt commented on #780
The nav is hidden via reducing it's height. When not scrolled, there's plenty padding at the top not to see it, but if you scroll, the contents have been moved up. One simple solution is to visibility: hidden the navigation unless the menu is opened. This will remove the navigation from screen readers though.

Assuming you want that navigation readable at all times, we can rather chop the height d

[2020-08-11 06:05] benhalverson commented on #261
Some of this was started by @saulonunesdev but he has moved on to other things. You can see the draft PR here. https://github.com/nodejs/nodejs.dev/pull/547#issuecomment-633783169

[2020-08-11 06:10] benhalverson commented on #261
Demo link: https://staging.nodejs.dev/547/download

[2020-08-11 06:42] micahgodbolt commented on #730
Challenge here will be that the homepage is pretty data/component driven. It'll be 100% yaml frontmatter or json/ts file.

[2020-08-11 07:19] marcustisater opened #817 "Add VSCode logo and link to homepage"
Suggestion to add [VSCode](https://code.visualstudio.com/) logo and link to the homepage.

Let me know if you think it's a good idea and I will ask for permission.

Based from [issue 637](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-08-11 07:20] marcustisater opened #818 "Add Express logo and link to homepage"
Suggestion to add [Express](https://expressjs.com/) logo and link to the homepage.

Let me know if you think it's a good idea and I will ask for permission.

Based from [issue 637](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-08-11 07:22] marcustisater opened #819 "Add Electron logo with link to homepage"
Suggestion to add [Electron](https://www.electronjs.org/) logo and link to the homepage.

Let me know if you think it's a good idea and I will ask for permission.

Based from [issue 637](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-08-11 07:24] marcustisater opened #820 "Add ESLint logo and link to homepage"
Suggestion to add [ESLint](https://eslint.org/) logo and link to the homepage.

Let me know if you think it's a good idea and I will ask for permission.

Based from [issue 637](https://github.com/nodejs/nodejs.dev/issues/637)

[2020-08-11 07:27] marcustisater commented on #637
Hello! I have left a couple of suggestions, hope you don't mind! 😄

[2020-08-11 07:34] osiux commented on #783
Are there any thoughts on how content should be published to this blog? I think the easiest one is using markdown files inside a folder, but there are several [CMS](https://headlesscms.org/) that could be used for this.

[2020-08-11 08:44] nisarhassan12 opened #821 "Tabbed panel tabs are in-accessible for keyboard only users."
While tabbing through the site I noticed that I can't tab or use the contents for the tab panels other then "nvm(Mac OS)"

![image](https://user-images.githubusercontent.com/46004116/89874661-999de400-dbd5-11ea-8ee4-eb1e4785e94c.png)

[2020-08-11 08:44] nisarhassan12 commented on #821
I will soon make a PR with a fix.

[2020-08-11 09:59] marcustisater commented on #810
Sorry! I can't reproduce the same issue of your screenshot.

However I did find some tiny other fixes in the header that you can find in my PR.

Maybe you can check again @rmleg? 😃

[2020-08-11 10:58] rmleg commented on #810
@benhalverson Ah, that would do it! In the [Contributing Guidelines](https://github.com/nodejs/nodejs.dev/blob/master/CONTRIBUTING.md), it still says to work from the staging branch. I only see the issue on staging.

@itsjzt @marcustisater If it's true that I should be looking at master and not staging, then I don't see the issue either. :)

[2020-08-11 11:20] marcustisater commented on #810
Great!

Then I think we can close this issue.

Thanks for checking again @rmleg

[2020-08-11 11:25] rmleg commented on #730
Yeah, I'm definitely seeing that. Which part(s) of the homepage do you envision being in markdown? I would normally expect something like:

[code]

Are you thinking something like this?

[code]

And then pull all that frontmatter data into the page with GraphQL and inject it into the correct components?

[2020-08-11 11:28] #810 closed

[2020-08-11 11:30] marcustisater opened #826 "Inconsistent ways of adding CSS to components"
## Summary

Sorry for stepping on any toes. My intensions is only to make it easier contributing to this project 😄

When looking through the project I noticed that there is an inconsistent way of adding css to components. Some components have global styling, e.x `src/components/Banner/Banner.scss` and a few components uses emotion, some have `.scss` files in the component folder.

My suggestion is

[2020-08-11 11:39] NYCJacob commented on #790
I believe the url is [nodejs.dev](https://nodejs.dev/)   not staging.nodejs.dev.  Still the server could be configured to redirect any subdomain.

[2020-08-11 12:08] marcustisater commented on #737
Sorry for jumping in! 😅

What do you think of splitting `CONTRIBUTING.md` into more detailed files like `get-started.md`, contributing-content.md`, `code-guidelines.md`, `design.md` into one `doc` folder?

This could also cleanup `README.md` making it shorter to read.

[2020-08-11 12:13] marcustisater commented on #800
Sorry, I didn't notice this issue.

I opened up #817, #818, #819, #806.

[2020-08-11 12:21] marcustisater commented on #796
@bnb what do you think about adding https://opencollective.com/ or maybe pull from GitHub https://api.github.com/repos/nodejs/nodejs.dev/contributors

Something to make it easier to keep updated.

[2020-08-11 15:14] MylesBorins commented on #737
@marcustisater I think it definitely could be good to split it up

Over in Node.js core we have

* [CONTRIBUTING.md](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) index of topics that are in the guides section
* [GOVERNANCE.md](https://github.com/nodejs/node/blob/master/GOVERNANCE.md) explicit rules about how the project is governed
* A bunch of guides for more specific information i

[2020-08-11 15:30] JohnPhamous commented on #821
@nisarhassan12 I don't think this is an actual bug? The keyboard behavior seems correct. Tabbing should land a user on the first option in the list, pressing tab again will take the user to the next interactable. If a user wants to navigate to another tab, they would use Left/Right arrow.

See the [ARIA docs](https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/tabs.html)

[2020-08-11 15:39] marcustisater commented on #737
@MylesBorins Sweet, thanks for the information. Do you mind if I try giving it a shot and we can go from there?

[2020-08-11 15:43] designMoreWeb commented on #737
@marcustisater You can give it a go

[2020-08-11 15:43] designMoreWeb commented on #821
This is not a bug

[2020-08-11 15:46] marcustisater commented on #737
Totally fine to scrap it if not needed. Just happy and eager to help out!

[2020-08-11 15:58] micahgodbolt commented on #730
Yeah, the homepage should be treated as a react component with a set of defined props (strings, arrays of objects etc). This way a translation can provide only the new strings/images/links etc without having to duplicate the components and other non content props.

[2020-08-11 16:12] rmleg commented on #730
Makes sense! I can get started on a markdown file with all the relevant images, alt text, etc in frontmatter and then we can work on pulling the data into the page from there.

[2020-08-11 16:24] designMoreWeb commented on #730
@micahgodbolt @rmleg This is great discussion and steps. If you need any help or have any questions please feel to reach out

[2020-08-11 17:35] wardpeet commented on #826
From a performance point of view, I would go for CSS modules as it's the fastest and cheapest way to do CSS.

If we want better DX, I will look at [glaze](https://glaze.js.org/) or [goober](https://github.com/cristianbote/goober). I do agree consistent is key here. Curios on what the rest thinks of which approach/library we'll be moving forward with.

[2020-08-11 18:03] benhalverson commented on #826
Yep lots have changed over time.
I think most of the components are using scss now.
I'm in favor of getting rid of emotion but I think thats the preference of the react ecosystem so 🤷

[2020-08-11 18:19] JasonEtco commented on #826
👋 I was about to open an issue entitled **Use TailwindCSS instead of custom CSS** but I saw this. I realize its a significant departure from what y'all have setup so far, but if there's interest I'd be open to spec-ing out that change.

The main benefit is that right now, we do have a lot of inconsistent styles in weird places, and a unifying behavior would be helpful. Tailwind is a well-used proj

[2020-08-11 18:30] marcustisater commented on #826
Thank you guys for the input! 👍

I agree with you @JasonEtco but I do think it's a shame to waste the current custom css we have been contributed with already. One idea as you said could be to use tailwind for the branding of global elements / typography / colors and keep the custom css for the components we already have. I think it makes easier to refactor this.

Yes @benhalverson, good point. Mo

[2020-08-11 18:35] JasonEtco commented on #826
I wouldn't recommend mixing Tailwind with so much existing custom CSS, we just wouldn't get the benefits in any meaningful way.

I think its worth recognizing that code changes over time, and that's fine - we wouldn't have anything to talk about if there wasn't already so much work done! But I'd hesitate to use that as a reason not to change what we have now.

There are about 28 components (`src/(

[2020-08-11 19:21] marcustisater opened #830 "Add more spacing to the get current installation link in mobile view"
## Description

The link to download the current version of nodejs is very close to the "learn node" link when browsing through mobile.

### Expected result

Add more spacing to the bottom of the current version link making it easier to click for the user.

![screenshot-mobile-view](https://user-images.githubusercontent.com/2952332/89939517-59ac2080-dc18-11ea-85b5-6d6f5557313d.png)

[2020-08-11 19:52] nisarhassan12 commented on #821
Thanks, @JohnPhamous and @designMoreWeb Sorry  I did not know about this. Thanks for the reference to the Aria docs. I'll close the issue then.

[2020-08-11 19:52] #821 closed

[2020-08-11 22:21] bnb commented on #796
This section is currently not correct: https://github.com/nodejs/nodejs.dev#team

@marcustisater I think pulling from the GitHub API is probably a good idea, though I'd prefer to also ensure we're listing the @nodejs/nodejs-dev team members as is the norm in the project - if there was a GitHub Action that would automatically list everyone in both of those (team and contributors), that'd be super a

[2020-08-11 22:22] bnb commented on #796
For reference, the current team (not visible to non-org-members, hence me posting it):
![image](https://user-images.githubusercontent.com/502396/89954744-a6373200-dbff-11ea-8ee6-42efda57cd10.png)

[2020-08-11 23:13] MylesBorins opened #834 "convert comment based action to be label based"
The amazing @mmarchini made an action for nodejs/node that using labels to kick off CI

https://github.com/nodejs/node/blob/master/.github/workflows/auto-start-ci.yml

I think we should convert the existing comment based trigger to trigger based on a label. I believe that the above yml and the [existing staging action](https://github.com/nodejs/nodejs.dev/blob/master/.github/workflows/upload-to-st

[2020-08-11 23:21] mmarchini commented on #834
In theory changing the event to `pull_request_target: [labeled]`, adding `if: github.event.label.name == 'start-ci'` to the job and changing every use of `github.event.issue.number` with `github.event.number` should be enough for this use case, *with the caveat that existing PRs need to be rebased for the action to trigger* (because of https://github.com/nodejs/node/pull/34707#issuecomment-6715162

[2020-08-11 23:35] nschonni commented on #834
Makes sense to me. I think that if the preview is successful, it could also remove the label.

The instructions in https://github.com/nodejs/nodejs.dev/blame/695b54d12f249028b6120a2e7734fa6729e1e6b9/.github/PULL_REQUEST_TEMPLATE.md#L18 will also need to update if this is switched

[2020-08-11 23:47] MylesBorins commented on #834
The job I referenced on core removes the label as soon as it is kicked off. I think there is an additional label added if it fails I would imagine that pattern would be worth following

[2020-08-11 23:49] benhalverson commented on #834
If we switch to labels does that mean only members can start the ci and create a preview link?

[2020-08-11 23:50] mmarchini commented on #834
Yes

[2020-08-12 01:57] MylesBorins commented on #834
but folks with a triage role could kick it off as well

[2020-08-12 02:01] #756 closed

[2020-08-12 02:11] benhalverson commented on #800
Thanks for the effort @marcustisater I think it's a good idea to have an issue for each company 👍

[2020-08-12 02:27] MylesBorins commented on #804
I'll likely take a pass at this on Friday, so if anyone has objections please raise them before then.

The process will include retargeting all open PRs against the new main branch, renaming the master -> main. Folks working on the repo will need to update their local repos.

[2020-08-12 02:38] benhalverson opened #840 "Feature: Downloads table"
## Summary
We need a downloads table to go along with #547
See https://staging.nodejs.dev/547/
Note that this was done when the staging branch was active still so we need to somehow get that code that @saulonunesdev started over to the master branch

https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A1652
Here's the figma section on one possible way of doing it.

[2020-08-12 03:38] #780 closed

[2020-08-12 03:54] jemjam commented on #800
Would there/should there be priority toward including logos specifically from other members of the OpenJSF first?

[2020-08-12 04:14] jemjam commented on #840
Ah, I see: so the context here is that pull request #547 builds a bunch of the download page, but we need a more elegant way to display the downloads than just [the list of links displayed](https://staging.nodejs.dev/547/download). Do I have that right? I would love to help (just getting oriented to the requirements here).

Little confused what you meant by this part?

[2020-08-12 04:26] jemjam commented on #826
Also important to consider community familiarity though. Tailwind is definitely an interesting approach (utility css), but it might not be friendly as our **primary approach* to styling.

I'm definitely in favour of something like css-modules with scss if only because of it's broad appeal and accessibility.

(Of course, I'm glad to write in whatever formats we want to support, including Tailwind.)

[2020-08-12 04:30] jemjam commented on #807
I'll be there! Happy to help take some notes if you need it. ✍️

[2020-08-12 04:33] jemjam commented on #793
I noticed some of these recent meetings haven't had their notes updated. Should we close these stale issues and/or import the relevant notes (if any are available)?

[2020-08-12 04:34] jemjam commented on #790
Looks like the `/preview` pages are hosted from subfolders. Nice!

What would you want the root path to display anyways?

[2020-08-12 04:56] MylesBorins commented on #790
@jemjam what timing

I finally got to just putting a placeholder that redirects to the repo

https://staging.nodejs.dev/

src -> https://github.com/MylesBorins/staging.nodejs.dev

The staging site for previews is just a GCS bucket fronted by cloudflare. We don't currently maintain a staging branch, so I don't think it makes a ton of sense to have anything too complicated there. We could vendor in

[2020-08-12 05:13] JasonEtco commented on #834
Could be worth updating the PR template with a checkbox like:

As a bonus, the action could also auto-add the label if that is checked - though it wouldn't trigger the next workflow (because Actions can't trigger Actions), but we could add it to the same `pull_request.opened` workflow.

[2020-08-12 05:29] mmarchini commented on #834
It works if you use a personal token (we can create one for @nodejs-github-bot and add it to the repo)

[2020-08-12 05:37] benhalverson commented on #790
@MylesBorins staging has the old content of the website note the logos near the bottom.

[2020-08-12 05:46] MylesBorins commented on #790
@benhalverson I'll rephrase 😅

the staging.nodejs.dev bucket doesn't have anything at the root. The staging deploy script has been off for a bit and afaict the branhch hasn't had a publish in months.

The data retention policy of staging.nodejs.dev automatically deletes resources after 60 days.

[2020-08-12 05:56] benhalverson commented on #840
Yes the first part is finished which is depending on your OS the box at the top is autoselected and the user can quickly download the installer. The finished page should look something like. https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1373%3A791&scaling=min-zoom

The bottom half is a table of data about Node that is completely unstyled.

What I mean about the stagin

[2020-08-12 08:03] Mhmdabed11 commented on #840
I can help with this !

[2020-08-12 08:33] marcustisater commented on #796
@bnb cool, I added this list as one section to the README.

We can get data from here [https://api.github.com/repos/nodejs/nodejs.dev/collaborators](https://api.github.com/repos/nodejs/nodejs.dev/collaborators) but it requires this list to be public.

I think one cool way we did this for [http://postcss.org/](http://postcss.org/) was to display contributors on the website. Maybe we can include it

[2020-08-12 09:06] WaleedAshraf commented on #783
@osiux If we using GitHub for review, then I think markdown will be the best option. We also talked about that users can submit using Google form, and a PR with markdown will be created in the repo.
Previously we also used Google Docs to do the review process, and then the author had to submit final content in "medium supported format". I didn't like that approach.

[2020-08-12 13:28] designMoreWeb commented on #793
The notes have not been updated as it was only I and @benhalverson attending so they would be working sessions. But I am hoping in that more attendance happens in the next two weeks so we can have more notes and close issues

[2020-08-12 14:24] jemjam commented on #793
Sounds great. Just thinking maybe it makes sense to close some of the issues for previous meetings that have come and gone?

[2020-08-12 18:26] MylesBorins commented on #796
we already have a tool that can update the team in the README

[code]

You can see it being used in https://raw.githubusercontent.com/nodejs/modules/master/README.md you wrap the list of users in a comment

[code]

[2020-08-12 18:29] jemjam commented on #840
Gravy. I'm definitely on board for this also.

I think I noticed a few visual inconsistencies with how the OS box displayed for me (firefox?), if I can reliably repro I'll post a fix (or at least update an issue).

[2020-08-12 18:30] marcustisater commented on #757
I also tested a few plugins and they don't work very well.

Here is another way you could do it for all of the existing blog posts in `gatsby-node.js` using [createRedirect](https://www.gatsbyjs.com/docs/actions/#createRedirect) 🤷‍♂️.

[code]

[2020-08-12 18:31] rmleg commented on #730
I have this working in my [markdown-homepage branch in my fork](https://github.com/rmleg/nodejs.dev/tree/markdown-homepage). I'm currently only pulling strings out of frontmatter--we need to decide how to handle the images.

Here's a summary of what I did:

- Added a `content` directory at the same level as `src`.
- Added a `homepage` directory inside `content`.
- Added an `images` directory insid

[2020-08-12 19:26] marcustisater commented on #796
@MylesBorins Ah, that's very cool. I didn't notice that! 😅

In my opinion I think you should just list the actual team members in the README and then link to [https://github.com/nodejs/nodejs.dev/graphs/contributors](https://github.com/nodejs/nodejs.dev/graphs/contributors) and [https://github.com/nodejs/website-redesign/graphs/contributors](https://github.com/nodejs/website-redesign/graphs/contri

[2020-08-12 19:28] MylesBorins commented on #796
@marcustisater to make my suggestion a bit more explicit, which is what we do in other groups.

We should update the readme to have the meta data to utilize ncu-sync, we should be more on top of running it.

Those links are not publicly visible to anyone outside the org.

If we need to do any sort of team cleanup that is kind of a separate issue.

[2020-08-12 19:30] #636 closed

[2020-08-12 19:35] marcustisater commented on #796
@MylesBorins Alright, gotcha! Thanks for explaining to me 👍

[2020-08-12 19:49] MylesBorins opened #844 "Call for collaborator nominations"
I've seen some new folks get really active lately. Those who have been actively reviewing lately... anyone come to mind?

[2020-08-12 23:26] MylesBorins opened #845 "Storybook not working as expected"
Currently it is not deploying as expected nor is it working locally when built to the `/storybook` directory

According to the docs it should work out of the box, but I think there might be something funky going on with webpack

https://storybook.js.org/docs/react/configure/images-and-assets#absolute-versus-relative-paths

In particular the src tags in index.html are not absolute, so they are not

[2020-08-12 23:26] MylesBorins opened #846 "Preview cleanup action not workin"
The action is not getting the credentials from secrets when it is run... need to do some research to figure out why

[2020-08-12 23:28] MylesBorins commented on #846
My guess here is that the actions triggered by closing a PR from a fork does not get the secrets... so we likely need to modify the action to run when a commit lands on master and determine the associated PR

[2020-08-12 23:29] nschonni commented on #846
It seems silly, but I think I remember something about the checkout being required for some actions to work. I removed it since it didn't seem needed for this, but it might be worth trying to add it back in.

[2020-08-12 23:39] nschonni commented on #846
There it is https://github.com/GoogleCloudPlatform/github-actions/blob/master/setup-gcloud/README.md

[2020-08-13 00:37] #846 closed

[2020-08-13 00:38] nschonni commented on #845
Think it's OK now https://nodejs.dev/storybook

[2020-08-13 00:39] #845 closed

[2020-08-13 01:14] nschonni commented on #834
Took a try with https://github.com/nodejs/nodejs.dev/pull/851

[2020-08-13 01:14] nschonni commented on #834
Potentially, the label could be added to PULL_REQUEST_TEMPLATE frontmatter if a preview is wanted on all PRs

[2020-08-13 05:14] aroduribe commented on #729
@benhalverson is this an issue I can still look at? I know May 31 has been a couple of months.

[2020-08-13 05:20] jemjam opened #853 "Proposal: Adopt LADR for architectural decisions"
Oh hello! I've only been tooling about in this repo for a day or two now (prompted in part by [a tweet from @bnb](https://twitter.com/bitandbang/status/1292922233552330758); though in honesty, I'm always looking to help where I can). If this is the wrong approach for some reason, I'm always open to feedback.

While exploring some of the issues and current pull requests, I've noticed a couple of ar

[2020-08-13 05:29] jemjam commented on #817
whereas [the rest of the potential logos you highlighted](https://github.com/nodejs/nodejs.dev/issues/800) are also members of the openjsf...

Not totally sure how or if vsc fits in here? (But maybe it's just me; this one in particular might not be right?)

[2020-08-13 16:44] designMoreWeb commented on #817
This would not be necessary since we are looking for applications (open source) that use node js for their applications hence we have electron and others. Adding vscode would not be adding any value

[2020-08-13 16:45] designMoreWeb commented on #729
I am working on this we just got some stuff approved that I needed to proceed I am on vacation this week will push it end of the next week

[2020-08-13 18:08] jemjam commented on #807
Weird, did I get the time wrong?

[2020-08-13 18:10] bnb opened #854 "Styled Scroll Bars"
## Summary

Currently scroll bars are not pretty, and default to system scroll. It kinda breaks the style of the site in dark mode. Perhaps implementing custom style for the default scroll bars would be a nice thing to do.

### Motivation

Better styling overall.

[2020-08-13 18:12] aroduribe commented on #854
This is something I can look into.

[2020-08-13 19:44] #817 closed

[2020-08-13 20:29] bnb opened #855 "Learn Menu takes up a lot of space on mobile"
## Description

sidebar menu on the learn page's mobile view is taking up a lot of space for no reason

### Steps to reproduce

open the learn page on a browser <800px wide

### Expected result

content should fill most of the screen

### Actual result

content fills part of the screen, with a menu taking up a lot of the rest

![image](https://user-images.githubusercontent.com/502396/90183825-2ab1

[2020-08-14 00:39] horsfallnathan commented on #855
Hi I would like to work on this.

[2020-08-14 01:08] aroduribe commented on #854
@bnb does Figma have a custom scroll bar I can look at?

[2020-08-14 06:06] saswatamcode opened #861 "Logo outline looks off in dark mode"
## Description
The logo outline in dark mode looks weird when clicked.

### Steps to reproduce
Click on main Node.js dark mode logo in Header.

### Expected result
A muted color during dark mode for the outline would be cool.
### Actual result
![image](https://user-images.githubusercontent.com/51132453/90218707-1de4a700-de22-11ea-8b16-8aa9912d6e4a.png)

### Environment
- OS Version: macOS Catalina

[2020-08-14 06:52] sidharthv96 opened #862 "Side nav is reset when selecting topics"
## Description
When I select a topic from the left sidebar in Learn section, the sidebar scroll position resets to the top.
So to navigate to next topic, I have to scroll down a lot.

### Steps to reproduce

Open Learn tab
Scroll down and select http module.
![image](https://user-images.githubusercontent.com/10703445/90221823-83d42d00-de28-11ea-8c37-f2063bced319.png)

### Expected result

The scro

[2020-08-14 06:54] sidharthv96 commented on #862
As the Item is being highlighted anyway, scrolling that into view won't be very tricky right?

[2020-08-14 08:55] marcustisater commented on #861
@saswatamcode good catch. I already have [PR](https://github.com/nodejs/nodejs.dev/pull/824) that fixes this. It caused by margin that was set on the logo to the left.

![correct-outline](https://user-images.githubusercontent.com/2952332/90232208-9a748700-de1c-11ea-9386-24aef93002a0.png)

[2020-08-14 08:59] saswatamcode commented on #861
Oh cool! Didn't notice the PR. Should I close this issue then?

[2020-08-14 09:17] marcustisater commented on #861
@saswatamcode no worries, it's my fault. I should have opened up a issue with all things that I resolved within that PR.

Yes, you can close.

Thanks again for reporting it in tho! 👍

[2020-08-14 09:19] #861 closed

[2020-08-14 09:32] saswatamcode commented on #862
All the learn items seem to route to a separate route. Maybe [scroll restoration](https://www.gatsbyjs.org/docs/scroll-restoration/) can be used?

[2020-08-14 15:47] #721 closed

[2020-08-14 17:47] jendowns opened #863 "Accessibility issue: anchor elements should not be nested inside buttons"
## Description

On the homepage, there is a "Read Documentation" link inside the `LinuxPanel`, `WindowsPanel`, and `MacOSPanel` components.

This link is currently nested inside of a `<button>`. Unfortunately that nesting is not valid, and when a user is tabbing through the page, their focus will hit the `<button>` and then the nested `<a>`. (So they must tab twice to get past this interactive ele

[2020-08-14 17:47] jendowns commented on #863
I created this issue for tracking, and I have a PR to open for this shortly 👍

[2020-08-14 17:58] JohnPhamous commented on #863
#809 fixes this

[2020-08-14 18:31] jendowns commented on #863
Thanks @JohnPhamous! I'll close #864 then 👍

[2020-08-14 22:49] #757 closed

[2020-08-14 22:50] MylesBorins commented on #757
All the old links should be working now

[2020-08-15 08:15] ghassanmas commented on #254
An update: regarding my previous [comment](https://github.com/nodejs/nodejs.dev/issues/254#issuecomment-630514317) :point_up:.
Gatsby's team recently released [i18n theme](https://www.gatsbyjs.com/plugins/gatsby-theme-i18n/) that we could use, or at least worth to check out.

Regarding my [last inquiry](https://github.com/nodejs/nodejs.dev/issues/254#issuecomment-670436581) can anyone help me or r

[2020-08-15 10:16] lopeselio opened #875 "In the AppBar 'Learn' is inaccessible on mobile phone."
## Description

**While navigating on the website on my phone, I noticed that the Learn NavBar Item is inaccessible.**

### Steps to reproduce

1 . Visit https://nodejs.dev/learn on phone
2 . Note that on tapping the Learn navbar item, nothing loads but the same screen. All other options working well.

### Expected result

Should navigate the user to the Learn Node.js page

### Actual result
Note

[2020-08-15 20:28] micahgodbolt opened #876 "Site broken on mobile breakpoint: mapping over unkown in Tablist"
## Description

Site does not load properly on mobile breakpoints

![image](https://user-images.githubusercontent.com/1434956/90321034-06c5b800-defb-11ea-987a-ef6865076515.png)

trying to map over an unknown

![image](https://user-images.githubusercontent.com/1434956/90321054-2d83ee80-defb-11ea-9595-5871a68aa075.png)

### Steps to reproduce

load site in mobile breakpoint

### Expected result

###

[2020-08-16 02:59] micahgodbolt commented on #855
I'd blame the grid layout on the parent. i'm guessing grid overrides the sticky position it's trying to use.

[2020-08-16 05:11] horsfallnathan commented on #855
@micahgodbolt I think it was a media query issue. The parent grid container had
[code]
even in mobile view. I solved it by adding the grid-template-column only in bigger screens. I have a PR for it and it's in staging here: https://staging.nodejs.dev/856/

[2020-08-16 05:40] rockmandash opened #879 "Mac download script isn't worked for me."
The website provides this script to download

`curl -o- | bash https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh`

However, it's not working for me, I have to use

`curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash`

to download.

[2020-08-17 00:12] benhalverson commented on #879
I also got an error using `curl -o- | bash https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh`
Any interest in submitting a PR?

[2020-08-17 00:48] #875 closed

[2020-08-17 00:48] #876 closed

[2020-08-17 06:11] psjishnu commented on #879
@benhalverson Do we just need to change `curl -o- | bash https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh` to  `curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash`  in nodejs.org website ?

[2020-08-17 09:16] marcustisater commented on #840
@jemjam @Mhmdabed11 would you guys want to pair up and work on this together?

I added some initial styling, here is the [PR](https://github.com/nodejs/nodejs.dev/pull/881)

If you look at the table design in figma there is a margin above each table row. I am having trouble adding it bc `border-collapse:separate` would remove borders and I can't find any other "hack".

**Styling:**
- [ ] Add spaci

[2020-08-17 12:20] mhdawson opened #882 "Node.js Website Redesign Strategic Initiative Meeting 2020-08-20"
## Time

**UTC Thu 20-Aug-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 20-Aug-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 20-Aug-2020 12:00 (12:00 PM) |
| US / Central  | Thu 20-Aug-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 20-Aug-2020 14:00 (02:00 PM) |
| London        | Thu 20-Aug-2020 19:00 (07:00 PM) |

[2020-08-17 14:56] #879 closed

[2020-08-17 20:16] benhalverson commented on #840
No
I think for a first PR we should focus on the styling and can add functionality in additional PR’s

[2020-08-17 20:19] benhalverson commented on #882
@mmarchini are you able to attend this week? We added the issue you created about diagnostics docs awhile ago. If not we can discuss in your issue.

[2020-08-17 20:21] mmarchini commented on #882
Unfortunately the meeting time usually conflicts with some work meeting :/

Let's continue chatting on the issue (I'm also on Slack, we can chat there too :) )

[2020-08-17 20:22] benhalverson commented on #737
@marcustisater what issues did you run into?

[2020-08-17 21:16] marcustisater commented on #737
@benhalverson it's difficult for me to define guidelines and write ones being new to the project. I think it goes along with #853

[2020-08-17 21:18] marcustisater commented on #882
I would love to join and help taking notes if needed.

Last time the Zoom called didn't start for me tho 🤔

[2020-08-18 00:59] aroduribe commented on #854
@designMoreWeb any word on this question ^^ ?

[2020-08-18 02:13] designMoreWeb commented on #854
There is none right now. What I can suggest is that you create/draw out a few of them (whatever style you have in mind) and we can then vote on it or choose one

Hope that helps

[2020-08-18 02:17] designMoreWeb commented on #882
@benhalverson Will you be joining I can start the meeting and make you host as I have a work meeting at the same time

[2020-08-18 05:44] jemjam commented on #882
I tried to join last time also and nothing happened. Zoom said the meeting organizer never ended up joining.

If @marcustisater is there next time they can def have scribe responsibilities: otherwise I'm always happy to help fill in too. 💪

I'm also wondering if there's anyone available who handles more of the project management portion of the project? I have a pretty good familiarity with the tec

[2020-08-18 10:41] marcustisater commented on #854
@aroduribe @designMoreWeb I found a scroll bar for tables in Figma, or maybe that's a default one for mockups? [https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A1652](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A1652)

[2020-08-18 11:53] designMoreWeb commented on #854
I believe those are the default ones

[2020-08-18 13:12] designMoreWeb commented on #882
@jemjam i am the host for the meetings and i was on vacation last week and i apologise for the meeting not getting started. I will be there this week. Also we do not have a project management portion for this project.

[2020-08-18 16:27] benhalverson opened #883 "microsite calendar"
## Summary
Create a new page that includes the nodejs calendar.
The url should be something like nodejs.dev/sites/calendar

Tracking issue #275
### Motivation
This page will replace https://nodejs.org/calendar

- [ ] Initial feature implementation https://github.com/nodejs/nodejs.dev/pull/1713
- [ ] Figure out why the calendar is displaying wrong time for an event. Only showing month view for now.

[2020-08-18 16:37] benhalverson opened #884 "Node.js Benchmarks microsite"
## Summary
Create a Node.js Benchmarks page with the new design.
The new url could be something like nodejs.dev/sites/benchmarks or /benchmarks
The existing page is https://benchmarking.nodejs.org/
The image files for the existing site is https://github.com/nodejs/benchmarking/tree/0d846add059a7fe1907591e43114cb4f870887fc/www/charts

tracking #275
### Motivation
This new page will replace https://

[2020-08-18 16:53] thierrysantos commented on #884
Hello @benhalverson,

We already have the layout for this page?

[2020-08-18 17:01] benhalverson opened #885 "Node.js metrics microsite"
## Summary
Create a Node.js metrics page with the new design.
The new url could be something like nodejs.dev/sites/metrics or /metrics
I started a PR but closed it because I didn't have the time to do the styling. Feel free to continue where I left off. #791
The markdown for the content is [here](https://raw.githubusercontent.com/nodejs/build/e3a4a86ab447084e17b740deceb7eab39faaadff/ansible/www-st

[2020-08-18 17:37] aroduribe commented on #854
I'll draw out some styles then.

[2020-08-18 18:45] benhalverson commented on #884
No I think we can use the same layout but with the new colors, header and footer.

[2020-08-18 19:03] sylvesteraswin commented on #884
@benhalverson, has anyone already taken this issue? If not I will take this and work on this page.

[2020-08-18 19:32] thierrysantos commented on #885
@benhalverson

Is anyone working on this? or can I work on?

[2020-08-18 19:40] benhalverson commented on #885
Nope it’s all yours.

[2020-08-18 20:35] designMoreWeb opened #887 "Active tabs extended even when the tab is not active"
## Description

When trying to use the site on mobile the active hover tabs get extended and the styling does not work properly ![image](https://user-images.githubusercontent.com/5986856/90562788-c5d6d900-e170-11ea-972b-c6be4a8f2526.png)

This is a bug even in prod version of the site.
We have had a discussion on what the problem is in issue #852. If further context is needed please look into it k

[2020-08-18 21:15] jendowns commented on #887
Thank you @designMoreWeb -- I've gone ahead and opened #888 to add a little spacing between these nav items on mobile, per the discussion in #852.

However, I also wanted to point out that I think it would be a much better user experience if the "active" nav item styles were different from the hover styles. Currently, since both styles are the same, there's no styling when you hover over an active

[2020-08-18 21:19] designMoreWeb commented on #887
@jendowns that's a great suggestion, I would suggest if you have better ideas for the styling it would be wonderful if you can make one I am sure it will be nice 😊

[2020-08-18 23:23] #793 closed

[2020-08-18 23:23] #795 closed

[2020-08-18 23:23] #803 closed

[2020-08-18 23:23] #807 closed

[2020-08-19 15:54] bnb commented on #783
We've previously discussed using Contentful, but for now we should probably go with GitHub Flavored Markdown checked into the repo. I would avoid trying to use a Google Form for now since this is the official blog managed through GitHub rather than an external platform.

[2020-08-19 16:05] #862 closed

[2020-08-19 16:29] Yogendra0Sharma commented on #883
@benhalverson Can i take this task ?

[2020-08-19 16:58] benhalverson commented on #883
Yep it’s all yours.

[2020-08-20 09:08] marcustisater commented on #882
unfortunately, I can't attend this time. @jemjam do you mind taking notes? Sorry! 🙏

I will catch up later.

[2020-08-20 18:06] jemjam commented on #882
Nope! Ben and I are in there!

[2020-08-20 18:06] rachelnicole commented on #882
it's not letting me in for some reason

[2020-08-20 18:06] rachelnicole commented on #882
it says 'waiting for the host to start this meeting' for me

[2020-08-20 18:17] jemjam commented on #737
Couple of notes from the meeting today:

• Just working through some confusion around the `/preview` and who and how can trigger it.
• Contributing could have a note at end of getting started.
• Storybook: how to see, what to use to run it. `(/storybook path)
• Folks should make pr's and we can chat over code.

[2020-08-20 18:23] jemjam commented on #637
I think we can move forward with each of the three subtasks and double check after that they all look good together.

[2020-08-20 18:44] benhalverson commented on #853
I think this is a great idea. I forgot to bring this back up at the end of todays meeting.

[2020-08-20 20:50] #855 closed

[2020-08-20 21:19] micahgodbolt commented on #855
sweet...good solution. either change template, or change display....works great either way. Thanks.

[2020-08-21 03:47] jemjam commented on #853
Nice, in that case I'll put together a little pull request that kicks off some initial documentation. We can comment / document / build from there.

[2020-08-21 03:57] jemjam commented on #882
@rachelnicole sorry we missed you today. I think we weren't expecting many folks and got distracted in discussion before the messages above. Once we saw your messages @benhalverson payed closer attention to the waiting room. It sounds like you might have given up by then though, as some others joined after (but you had left by then).

I'm making it a priority to show up to these regularly and will

[2020-08-24 12:18] mhdawson opened #892 "Node.js Website Redesign Strategic Initiative Meeting 2020-08-27"
## Time

**UTC Thu 27-Aug-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 27-Aug-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 27-Aug-2020 12:00 (12:00 PM) |
| US / Central  | Thu 27-Aug-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 27-Aug-2020 14:00 (02:00 PM) |
| London        | Thu 27-Aug-2020 19:00 (07:00 PM) |

[2020-08-24 16:57] benhalverson opened #893 "Update tree list in readme.md"
# Readme Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
The below tree should be updated. We no longer use yarn.lock or tslint.json. You can use a cli tool called [tree](https://www.geeksforgeeks.org/tree-command-unixlinux/) to generate the new tree.

[code]

Related  #737

[2020-08-24 17:03] benhalverson opened #894 "Add instructions on how to use storybook in contributing.md"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
I think we should add some documentation in contributing.md on how to use storybook and how to see it in production.

## Your Proposal for Changes
To see our current storybook the url is https://nodejs.dev/storybook
To generate the storybook locally run `npm run storybook` and brow

[2020-08-25 21:33] horsfallnathan commented on #893
I would like to take on this.

[2020-08-25 22:07] benhalverson commented on #893
@horsfallnathan it's all yours

[2020-08-27 00:25] designMoreWeb commented on #892
I would like first time contributors who have been so active to join as well if possible @jendowns @nschonni @MalachiCunliffe @marcustisater

[2020-08-27 05:06] #887 closed

[2020-08-27 07:01] marcustisater commented on #892
@designMoreWeb Thanks for the invite, I will show up!

[2020-08-27 14:09] designMoreWeb commented on #892
Also if you have not yet please do join the slack channel where we can have more concrete discussions

[2020-08-27 14:18] marcustisater commented on #892
@designMoreWeb what is the name of the slack channel? I can't find it.

[2020-08-27 14:21] designMoreWeb commented on #892
https://slack.openjsf.org/

[2020-08-27 18:08] designMoreWeb commented on #775
@mmarchini @benhalverson will have the discussion for this offline

[2020-08-27 18:35] jemjam commented on #853
Let's note #826 when we make the first decision record.

[2020-08-27 18:36] tstreamDOTh commented on #637
@designMoreWeb I can help in drafting base PR so that its easy to plug in logos

[2020-08-27 18:45] designMoreWeb commented on #637
@tstreamDOTh great

[2020-08-27 18:54] jemjam commented on #844
@jendowns  @marcustisater are also nominated!

[2020-08-27 19:01] designMoreWeb commented on #844
I will also add @micahgodbolt

[2020-08-27 19:02] jemjam opened #899 "Let's talk MVP"
## Summary

This issue is here to discuss any blockers to getting an MVP of the site ready to launch. The goal has always been to eventually launch this as the new nodejs website, so what sort of tasks do we have to clear to get things ready.

A new tag has been created, to be added to related issues ("MVP").

### Motivation

- Launch the site!

[2020-08-28 04:14] #892 closed

[2020-08-28 12:01] thierrysantos commented on #885
Hello @benhalverson, I  could not work in this issue, so if anyone can, its open..

[2020-08-28 16:19] benhalverson commented on #885
Thanks for the update 👍  @thierrysantos

[2020-08-28 23:43] #893 closed

[2020-08-29 13:53] horsfallnathan opened #902 "Routing: Links with hashed URLs should open correct page"
## Description
When a link from the docs page is copied and accessed directly, the initial page is rendered. I imagine this is due to the hash routing implemented.

### Steps to reproduce
Attempt to visit the [Buffer](https://nodejs.dev/docs/#temporary_path_for_Buffer) subpage of the docs.

### Expected result
Documentation for the buffer page is expected to open.

### Actual result

The initial p

[2020-08-29 14:00] horsfallnathan opened #903 "Broken internal links in docs page"
## Description

The internal links to modules or sub pages are broken when reading the docs.
### Steps to reproduce
An example can be gotten by visiting [this page](https://nodejs.dev/docs/#temporary_path_for_clearImmediate) and clicking on the `timers` link.
*You will have to click the `clearImmediate` option from the side navigation see issue #902*

### Expected result
It should open the [timers

[2020-08-30 19:59] benhalverson commented on #899
I've added the mvp to a few bugs related to the docs pages #902 and #903

[2020-08-31 12:19] mhdawson opened #905 "Node.js Website Redesign Strategic Initiative Meeting 2020-09-03"
## Time

**UTC Thu 03-Sep-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 03-Sep-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 03-Sep-2020 12:00 (12:00 PM) |
| US / Central  | Thu 03-Sep-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 03-Sep-2020 14:00 (02:00 PM) |
| London        | Thu 03-Sep-2020 19:00 (07:00 PM) |

[2020-08-31 16:05] #894 closed

[2020-09-01 17:02] rafaelrozon commented on #274
Hello, I would like to help with internationalization/localization. Do you guys already have the implementation to support the internationalization of the new website?

[2020-09-02 09:31] marcustisater commented on #854
@aroduribe hope things are well! Are you working on this, or is it ok for someone else to jump in and help? No stress, just check-in. 👍

[2020-09-03 17:27] aroduribe commented on #854
@marcustisater you can jump in and help :)

[2020-09-03 17:53] jemjam commented on #261
Hey, so a quick update from me: I mentioned at a previous working group meeting that I might take this on but then got busy and haven't managed to do it yet.

Thanks for the patience: if anyone wants to help or take over, that's also welcome (I don't want to get in the way), but barring volunteers I'm still very glad to take it on. Will try to get this submitted on/before this weekend.

[2020-09-03 18:27] alexandriaroberts commented on #840
Hey @marcustisater , I can work on this one. Would you like to do it together or shall I go ahead and start working on it? 🙂

[2020-09-03 18:53] horsfallnathan commented on #819
I would like to work on this alongside #820 #818 since I think they are all linked. I propose populating the space with placeholder images until permission is obtained.

[2020-09-03 19:03] marcustisater commented on #840
@alexandriaroberts go for it, unfortunately, I am busy with other stuff at the moment. Feel free to ask me if you have any questions. As you see there are some basic styling added already to the table so try to make it responsive and also as designed in [figma](https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1373%3A791&scaling=min-zoom). 👍

[2020-09-03 19:35] bnb commented on #844
Is there consensus to add @jemjam, @jendowns, @marcustisater, and @micahgodbolt?

[2020-09-03 19:39] designMoreWeb commented on #844
A +1 from me

[2020-09-03 19:59] #853 closed

[2020-09-03 20:02] marcustisater commented on #818
@ahtee Yes, please do. You can reference it here and tell them briefly about what we need it for 👍

[2020-09-03 20:03] marcustisater commented on #819
@horsfallnathan thanks, but skip express logo. We already have someone asking about that 👍

[2020-09-03 20:05] marcustisater commented on #854
@aroduribe No worries, same here. We got a few new contributors joining so I figured this could be a good first issue for someone to jump in and help with 👍

[2020-09-03 20:25] ahtee commented on #818
Great! I will go ahead and ask

[2020-09-03 22:44] ahtee commented on #885
Hi Ben I do not see anything in Figma for this page and I didn't want to make any assumptions on what `/metrics` being new to the project. Any additional info on what this page should look like with the new design?

[2020-09-04 02:12] ahtee commented on #903
Been thinking about this issue today. I believe a good portion of the docs are generated through gatsby-node, however I was thinking the issue may be that the url ends in `/docs` with `#placeholder-page-called-timer` is the only navigation from the end of docs, may try to fix this by adding the specific page - in this case Timer - to the url then maybe the pages will work properly `/docs/timer/#pl

[2020-09-04 03:38] benhalverson commented on #903
Both of you are correct.
Anything in /learn is generated from gatsby-node the *.md files are in [/documentation](https://github.com/nodejs/nodejs.dev/tree/master/src/documentation).

The API docs are loaded from `https://nodejs.org/dist/v14.9.0/docs/api/all.json` or the version you select.
For example the below object is from the Buffer section. We are using `desc` as the main content of the docs

[2020-09-04 03:43] benhalverson commented on #840
You can see what the table currently looks like here. https://nodejs.dev/download/

[2020-09-04 03:50] benhalverson opened #907 "Feature: downloads table filter"
## Summary
Add the ability to filter by version or date

### Motivation
Better user experience.
We have a huge list of downloadable versions. https://nodejs.org/dist/index.json

[2020-09-04 03:54] benhalverson opened #908 "Feature: downloads table sorting"
## Summary
Add the ability to sort in asc or desc by version and date

### Motivation
Better user experience.

[2020-09-04 03:57] benhalverson opened #909 "Feature: downloads table pagination"
## Summary
Add the ability to have multiple pages with a limited result.
For example
100 results total with a limit of 25 would be 4 pages.

### Motivation
Better user experience.

[2020-09-04 15:36] micahgodbolt commented on #903
The current docs sidebar links are changing internal state of the page and setting a hash to match that state.

https://github.com/nodejs/nodejs.dev/blob/6db04d586d6fbcf8924c2996cfcb91f6870b7044/src/pages/docs.tsx#L538-L544

To support page loading, we need to watch the URL for a hash and load the appropriate module into the docs article area.

That's the work I did in #910

I still wonder why you

[2020-09-04 17:15] micahgodbolt commented on #903
https://nodejs.dev/docs/#temporary_path_for_clearImmediate is broken because there is no current logic for handling page loads with hashes, it only handles click events on navigation to load page in

[2020-09-04 18:14] benhalverson commented on #903
I'm not sure why either. it was written before I started contributing.

[2020-09-05 22:12] #902 closed

[2020-09-05 23:30] ahtee commented on #903
Now that 902 is solved, it looks like the section headers on a page cannot be directly linked to.

** Current behavior **

On the Timers https://nodejs.dev/docs/#temporary_path_for_timers page, clicking on any of the sub-headers: [Timers](https://nodejs.dev/docs/#timers), [Scheduling Timers](https://nodejs.dev/docs/#scheduling_timers), or [Canceling Timers](https://nodejs.dev/docs/#cancelling_time

[2020-09-06 08:03] Djunnni commented on #908
can i take this?

[2020-09-06 09:05] Djunnni commented on #909
can i take this?

[2020-09-06 12:21] Djunnni commented on #907
can i take this?

[2020-09-07 22:53] #905 closed

[2020-09-08 12:43] mhdawson opened #915 "Node.js Website Redesign Strategic Initiative Meeting 2020-09-10"
## Time

**UTC Thu 10-Sep-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 10-Sep-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 10-Sep-2020 12:00 (12:00 PM) |
| US / Central  | Thu 10-Sep-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 10-Sep-2020 14:00 (02:00 PM) |
| EU / Western  | Thu 10-Sep-2020 19:00 (07:00 PM) |

[2020-09-08 20:11] benhalverson commented on #790
I think this can be closed now. I like the Lost? button @MylesBorins

[2020-09-08 20:11] #790 closed

[2020-09-09 15:17] rodion-arr opened #917 "Safari - SecurityError: Attempt to use history.replaceState() more than 100 times per 30 seconds"
## Description

Safari throws error on `/learn` page after several page scrolls up and down

### Steps to reproduce

- Open https://nodejs.dev/learn in Safari
- Scroll pages down and up several times
- Check console errors

### Expected result

No errors while scrolling

### Actual result

- Observe error `SecurityError: Attempt to use history.replaceState() more than 100 times per 30 seconds`
- I

[2020-09-09 15:20] ahtee commented on #819
yep, I requested permission in the #818  issue... still haven't heard back from express but they are looking into it

[2020-09-09 15:24] rodion-arr commented on #917
I can work on this and add some debounce time here if it worth it

[2020-09-09 21:58] #261 closed

[2020-09-10 02:52] benhalverson commented on #917
did you see this locally or in production?

[2020-09-10 07:11] rodion-arr commented on #917
In production I see errors in console, locally I see same error in popup from screenshot

[2020-09-10 14:00] singhshivanshu commented on #908
Any particular design to follow?

[2020-09-10 14:01] Djunnni commented on #908
well, which one is best?

[2020-09-10 14:04] singhshivanshu commented on #908
Are you currently working on this?

[2020-09-10 14:18] Djunnni commented on #907
@benhalverson which one is better? search or version selector and date picker

[2020-09-10 14:20] singhshivanshu commented on #908
If you are working on filter and pagination, can I take this up?

[2020-09-10 14:22] Djunnni commented on #909
it is free that style use library like reactstrap and so on?

[2020-09-10 14:23] Djunnni commented on #908
then how about filter ? i think sorting and pagination have relation.

[2020-09-10 14:25] singhshivanshu commented on #908
Looks cool to me.

[2020-09-10 14:26] Djunnni commented on #908
good. i will do sorting and pagination.
I want you to do it

[2020-09-10 14:28] singhshivanshu commented on #907
Are you following any particular design @Djunnni?

[2020-09-10 14:30] Djunnni commented on #907
i don't have. taste your choice

[2020-09-10 15:08] designMoreWeb commented on #909
I think using a styling library is acceptable as long as the style and design is consistent with the original designs on figma

[2020-09-10 15:09] designMoreWeb commented on #908
We need the designs to be consistent with the ones provided on figma

[2020-09-10 15:17] Djunnni commented on #908
thanks

[2020-09-10 18:25] jemjam commented on #820
Next action: go to electron and ask. Probably via an issue on their page. Link the issue back here and then add a comment with the :+1: or :-1: when received.

[2020-09-11 00:07] mikeesto commented on #917
I can replicate this issue in Safari. Although it doesn't seem to affect the user experience so I'm not sure if it's worth the additional complexity of adding debouncing?

[2020-09-13 09:02] benhalverson commented on #884
@sylvesteraswin Are you actively working on this?

[2020-09-14 12:19] mhdawson opened #920 "Node.js Website Redesign Strategic Initiative Meeting 2020-09-17"
## Time

**UTC Thu 17-Sep-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 17-Sep-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 17-Sep-2020 12:00 (12:00 PM) |
| US / Central  | Thu 17-Sep-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 17-Sep-2020 14:00 (02:00 PM) |
| EU / Western  | Thu 17-Sep-2020 19:00 (07:00 PM) |

[2020-09-14 15:25] Djunnni commented on #920
👍 i want to watch this agenda

[2020-09-15 00:32] jemjam opened #922 "Proposal: Update Meeting Timing"
## Summary

Currently the working group meets weekly at UTC 18:00 (06:00 PM). However, this time hasn't been working for everyone. There has been interest in exploring a different time.

### Motivation

As website redesign efforts ramp up, it's ideal to schedule meetings when key contributors can be available for discussion.

[2020-09-15 00:41] jemjam commented on #922
I put together a little [availability poll](https://lettucemeet.com/l/zA387).

Next week is coming up pretty quick, so the poll range covers the **following week.** This isn't official unless everyone is interested in participating, so I hope folks interested in joining will have an opportunity to place some sort of availability in the next couple of days.

Hopefully we can arrange to reschedule t

[2020-09-17 17:07] jemjam commented on #920
I have a work meeting this morning that I said I'd join this week, so I might not be able to attend.

Would you mind reviewing https://github.com/nodejs/nodejs.dev/issues/922 with anyone who is available to discuss potentially shifting the time? Or if it's too difficult, then maybe we can add a note to that issue that the schedule isn't changing yet (on such short notice anyways).

[2020-09-17 18:27] #917 closed

[2020-09-17 19:12] jemjam commented on #922
Looks like we have a majority who are available for Wednesday at 11am.

Proposal: next meeting is on [Wednesday the 23rd at 18:00 UTC](https://www.timeanddate.com/worldclock/converter.html?iso=20200923T180000&p1=1440) (and potentially we keep it there for a few weeks).

Yay or nay?

[2020-09-17 19:51] designMoreWeb commented on #922
We can try it out

[2020-09-19 17:26] soulshined opened #930 "sticky mobile menu offest"
## Description

`.side-nav` sticky postition doesn't account for the `.nav__container` size adjustment for the 800px media queries. This impacts `/learn`

![Screenshot 2020-09-19 112815](https://user-images.githubusercontent.com/11242654/93676578-0d9f9780-fa72-11ea-9269-5dd17f2dd3f5.png)

When the page is less than 800px, the navigation bar collapses leaving a gap between the navbar and the sticky

[2020-09-19 21:16] benhalverson opened #931 "Markdown linting warnings"
## Description
Currently the linting is not run when we do `npm run test`

### Steps to reproduce
run `npm run md-check` to see that we have almost 300 warnings

### Expected result

No warnings or errors
### Actual result

Lots of warnings
![Screen Shot 2020-09-19 at 2 05 34 PM](https://user-images.githubusercontent.com/7907232/93689225-3aa77680-fa81-11ea-8265-b5700f689707.png)

[2020-09-20 23:41] #931 closed

[2020-09-21 06:37] uzair004 opened #935 "Demo Examples aren't working"
## Description

Can't read or run the demos given on some pages of Node.js documentation. nearly all them are not working.

### Steps to reproduce

1. Visit https://nodejs.dev/learn
2. Navigate to [Output to command line using Node.js](https://nodejs.dev/learn)
 or
[A simple Event loop explanation](https://nodejs.dev/learn/the-nodejs-event-loop#a-simple-event-loop-explanation)
or
[A quick Example]

[2020-09-21 07:21] ErolPeel commented on #935
Please fix this error, since I'm trying to learn Node right now. 🙃

[2020-09-21 10:03] uzair004 commented on #935
One way to make things work is,
1. Click "Remix" when error pop up appear
2. Click "open in side window"

You may see at least result of code.
**This only works sometimes**

[2020-09-21 12:19] mhdawson opened #936 "Node.js Website Redesign Strategic Initiative Meeting 2020-09-24"
## Time

**UTC Thu 24-Sep-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 24-Sep-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 24-Sep-2020 12:00 (12:00 PM) |
| US / Central  | Thu 24-Sep-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 24-Sep-2020 14:00 (02:00 PM) |
| EU / Western  | Thu 24-Sep-2020 19:00 (07:00 PM) |

[2020-09-21 17:45] benhalverson commented on #935
Thanks for reporting the bug and suggesting a workaround.

[2020-09-22 06:25] marcustisater commented on #936
@jemjam @designMoreWeb @mhdawson @benhalverson - Are we having meetings on Wednesdays starting this week or next? #922

[2020-09-22 13:19] mhdawson commented on #936
@marcustisater the meeting issue is auto generated from what is in the calendar so all I know is that the calendar said the 24th when the issue was generated.

[2020-09-22 17:13] micahgodbolt commented on #903
Using hashes for page loads, and then expecting headers/subheaders to deep link isn't going to work too well.

We'd probably need to move away from docs being hashed and have separate URLs built for each. Then sub headings could work properly.

[2020-09-22 18:17] jemjam commented on #936
My question: who can move it in the calendar?

Let's plan for Wednesday like we discussed in #922 (I'll mention it in the slack channel also) and get the event updated moving forward.

[2020-09-22 18:49] sbielenica commented on #909
Hey @Djunnni 👋
Are you still working on that? Becuase if not, I'd gladly take care of this feature 😏

[2020-09-22 22:44] dongjoon-li commented on #909
Sorry i am waiting wr-meeting for this.
Maybe i will do again at Sep 25

[2020-09-22 22:46] Djunnni commented on #909
Sorry i am waiting wr-meeting for discuss this.
Maybe i will do again at Sep 25 (GMT 9)

[2020-09-23 01:25] designMoreWeb commented on #936
@jemjam I'll take care of the moving part for the meeting

[2020-09-23 02:28] benhalverson commented on #909
@Djunnni Do you have any specific questions right now?

[2020-09-23 02:30] benhalverson commented on #909
You can also ask in the openjs slack https://slack-invite.openjsf.org/

[2020-09-23 06:33] sbielenica commented on #909
Okay @Djunnni, I guess it's taken then. If you need any tips or ideas on how to implement this feature, let me know 😄

[2020-09-23 12:18] Djunnni commented on #909
thanks.

[2020-09-23 17:30] jemjam commented on #922
Quick discussion in slack this morning: we didn't actually move the meeting in the calendar, so for **this week the event will continue at it's regularly scheduled time (Thursday)**.

Sounds like we still plan to shift to Wednesdays shortly and will be updating the calendar in the near future. We can close this once we've got the event moved in the calendar.

[2020-09-24 06:06] marcustisater opened #940 "Accessibility CI check"
**Please do not start this issue yet**.

@bnb suggested adding an accessibility CI check.

Options:
https://github.com/microsoft/accessibility-insights-action
https://github.com/pa11y/pa11y
https://github.com/dequelabs/axe-core

Storybook
https://github.com/storybookjs/storybook/tree/master/addons/a11y

Gatsby suggests https://github.com/jsx-eslint/eslint-plugin-jsx-a11y

Let's do some research be

[2020-09-26 14:52] saswatamcode commented on #885
Hi @benhalverson! Will the content be exactly the same as the link mentioned? If so, just styling is required for the `sites/metrics.mdx` page (as per your closed PR), right?

[2020-09-26 20:01] benhalverson commented on #885
👋 yes the content is exactly the same as the current content right now. If it changes it would be a separate PR

[2020-09-27 04:57] benhalverson commented on #940
I think this is a good idea. We are already in the high 90's according to the lighthouse report for nodejs.dev /learn and /download but we have a ? on the /docs

[2020-09-27 05:01] benhalverson commented on #935
Maybe we should switch to another provider or just ditch the idea of running iframe'ed content from 3rd parties.
What do you think @nodejs/nodejs-dev

[2020-09-27 05:17] benhalverson commented on #935
I think this is the reason we are seeing the above error sometimes.
![Screen Shot 2020-09-26 at 10 12 35 PM](https://user-images.githubusercontent.com/7907232/94356628-8b9d0900-0045-11eb-8843-f58b253d9ff3.png)

[2020-09-27 07:16] uzair004 commented on #935
I agree with that, i think simple straight forward code running environment should be used instead of flashy iframes. Others open source projects also use simple code editors. such as MDN, javascript.info
one of advantage of those simple editor is that if one have slow internet connection or downloaded web pages to view later for some reason can still run those code snippets. :)

[2020-09-27 14:21] MylesBorins commented on #935
We should likely ping someone from glitch to see if they can get this fixed before removing it.

I think we likely want to keep code execution in an iframe for sandboxing purposes, no matter which vendor we use.

Pinging @jennschiffer

[2020-09-27 19:52] #830 closed

[2020-09-27 23:59] #884 closed

[2020-09-28 00:05] benhalverson commented on #935
FYI @MylesBorins
The Glitch team on twitter replied to me. https://twitter.com/glitch/status/1310304278276431873

[2020-09-28 12:19] mhdawson opened #943 "Node.js Website Redesign Strategic Initiative Meeting 2020-10-01"
## Time

**UTC Thu 01-Oct-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 01-Oct-2020 11:00 (11:00 AM) |
| US / Mountain | Thu 01-Oct-2020 12:00 (12:00 PM) |
| US / Central  | Thu 01-Oct-2020 13:00 (01:00 PM) |
| US / Eastern  | Thu 01-Oct-2020 14:00 (02:00 PM) |
| EU / Western  | Thu 01-Oct-2020 19:00 (07:00 PM) |

[2020-09-28 23:35] jemjam commented on #943
I cannot make this one, I have a cluster of meetings this Thursday afternoon.

[2020-09-29 02:42] designMoreWeb commented on #943
What day and time were we looking for this week ? @jemjam

[2020-09-29 05:48] marcustisater commented on #943
@designMoreWeb I can make it this thursday but make sure to change it to Wednesday at 18:00 UTC next week.

[2020-09-29 07:05] marcustisater commented on #826
Thanks for the input once again, I think #928 closes this one.

Would love to bring this discussion up again later if considering adding tailwind or css-in-js.

[2020-09-29 07:05] #826 closed

[2020-09-29 10:51] uzair004 commented on #935
@

Yeah, this seems to be working, i should close the issue now.
Thanks @benhalverson for contacting glitch team 👌

[2020-09-29 10:51] #935 closed

[2020-09-29 10:55] uzair004 commented on #943
@mhdawson #935 this issue is fixed now. The problem was on vendor side ( glitch) they had monthly limit for code views which they have exceeded now. I think #935 should be removed from list. In case someone want these codes in different style or vendor , a new issue should be opened which would make sense.

[2020-09-29 10:59] marcustisater commented on #943
@uzair004 Thanks for reporting on that issue! I have removed it from the wr-agenda.

[2020-09-29 16:11] Djunnni commented on #909
@benhalverson
it need pagination for realease version tab?
ex) when i click node.js 12
table only shows 12version.

[2020-09-29 20:22] rmleg commented on #730
Hey @benhalverson @designMoreWeb, are you still interested in this issue? Should I make a draft PR of what I have so far?

[2020-09-29 20:24] designMoreWeb commented on #730
Yes please

[2020-09-29 20:26] rmleg commented on #730
K I will try to do that this week!

[2020-09-30 04:02] #930 closed

[2020-09-30 06:58] Djunnni commented on #909
@benhalverson
i watched Figma. but there is not pagination in download page. how to make that?

[2020-09-30 07:00] Djunnni commented on #908
@benhalverson
please check Figma, i can't decide where to create UI.

[2020-09-30 07:33] marcustisater commented on #909
@Djunnni you can leave it unstyled and we can create a separate issue for that later 👍

[2020-09-30 07:36] marcustisater commented on #909
@Djunnni I found it here [https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A1652](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A1652) if you would like to add styling for it too.

[2020-09-30 07:45] marcustisater commented on #908
@Djunnni There is design at the same Figma view I sent you in #909. Let us know if there is anything you are confused about and we can look into it 👍

[2020-09-30 08:10] manishprivet opened #944 "Add Gatsby in Nodejs Frameworks worth learning"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please explain in detail

In the Introduction to Nodejs at `/learn`, I think Gatsby should be there in NodeJs Frameworks and Tools worth learning as a Static Site Generator, as this site is also made upon that.

## Your Proposal for Changes

Add Gatsby in the section **Nodejs Frameworks and tools**. We can

[2020-10-01 18:33] marcustisater commented on #908
@Djunnni We have changed plans from today's meeting with the download table. We are going to do it like here[https://nodejs.org/en/about/releases/](https://nodejs.org/en/about/releases/) so no need for table sorting or pagination. Hopefully, you haven't started too much on this. We are very sorry! 😔

[2020-10-01 18:33] #908 closed

[2020-10-01 18:34] marcustisater commented on #909
See comment [https://github.com/nodejs/nodejs.dev/issues/908#issuecomment-702321215](https://github.com/nodejs/nodejs.dev/issues/908#issuecomment-702321215)

[2020-10-01 18:34] marcustisater commented on #907
See comment [https://github.com/nodejs/nodejs.dev/issues/908#issuecomment-702321215](https://github.com/nodejs/nodejs.dev/issues/908#issuecomment-702321215)

[2020-10-01 18:34] #907 closed

[2020-10-02 21:48] dephraiim opened #947 "Add `Using Nodejs with TypeScript`"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

TypeScript is now part of the developer community and it will be good to have a *Getting Started with TypeScript in Nodejs* as part of the docs

## Your Proposal for Changes

Add new section under the learn `Advanced Nodejs` then add Post like Using TypeScript with Nodejs or if no

[2020-10-02 23:08] benhalverson commented on #944
Closed via #946

[2020-10-02 23:08] #944 closed

[2020-10-02 23:19] JohnPhamous commented on #840
@alexandriaroberts Have you started working on adding the styles? If not I can start.

[2020-10-03 08:13] marcustisater opened #949 "Add releases for downloads table"
Copy the table content from [https://nodejs.org/en/about/releases/](https://nodejs.org/en/about/releases/) to [https://nodejs.dev/download/](https://nodejs.dev/download/).

Today we fetch it from [https://nodejs.org/dist/index.json](https://nodejs.org/dist/index.json) but after a discussion about what we should show and deal with paginations/filters, we decided to leave that for later and go with

[2020-10-03 09:58] manishprivet commented on #949
I would like to work on it 😃

[2020-10-03 11:29] sbielenica commented on #947
That's a great idea, I'll work on that 👍

My idea of such documentation entry would be to introduce what TypeScript is, what are the benefits of using it and then show how to actually use it in a project and in the end talk about few notable examples of TypeScript in NodeJS world.
I think it should be a new article in _Getting started_ section in _Learn_ page.

[2020-10-03 11:41] sbielenica opened #950 "More sections in the Learn page"
## Summary

I think that we should introduce more sections to the Learn page. Currently we have only two categories: _Quick Start_ and _Getting Started_ and the latter category became a bag for everything. I'm not really sure if buffers or event loop are subjects that are part of just getting started, these are rather more intermediate or even advanced concepts.

### Basic example

Harder topics c

[2020-10-03 14:45] manishprivet opened #952 "Accessibility Issue: Table flickering issues in dark mode"
## Description

The table at `/downloads` in dark mode is causing a straining/flickering effect on eyes when scrolling in dark mode, primarily due to deep white borders along with very less padding between text. I do have a 120Hz laptop screen on which I'm noticing this more than that on my mobile, but it's there.

![image](https://user-images.githubusercontent.com/54291836/94994354-b393eb80-05b4-

[2020-10-03 15:02] manishprivet commented on #952
Suggestion:
Instead of borders, we can use background for even rows

![image](https://user-images.githubusercontent.com/54291836/94994748-58172d00-05b7-11eb-95c3-d973faa35d49.png)

[2020-10-03 15:53] nschonni commented on #952
I do see the flicker scrolling the screenshot, and I think the table striping makes sense

[2020-10-04 00:54] benhalverson commented on #950
Which topics do we have right now do you think belong in an Advanced section?

[2020-10-04 00:56] benhalverson commented on #952
I think https://github.com/nodejs/nodejs.dev/pull/948 will address the flickering. I haven't noticed it myself.

[2020-10-04 01:08] manishprivet commented on #952
Yeah, it will I think

Closing this then

[2020-10-04 01:08] #952 closed

[2020-10-04 01:20] benhalverson opened #953 "CSS issue on /learn page sidebar navigation"
## Description
In darkmode on a mobile device or mobile view on a desktop, when then width is between 801px - 1262px.

The left navbar for the /learn text has a white background.

See the screenshots.

### Steps to reproduce
Navigate to https://nodejs.dev/learn on a iPhone x or newer or resize the browser width to 801 - 1262 to observe the issue.

### Expected result
In dark mode the background sh

[2020-10-04 02:15] manishprivet commented on #949
The columns on https://nodejs.org/en/about/releases/ and https://nodejs.dev/download/ are completely different...
Which one should be kept?

[2020-10-04 02:21] manishprivet commented on #953
I can't reproduce this issue in any way

![image](https://user-images.githubusercontent.com/54291836/95005437-56308680-0616-11eb-8cbd-fdbfc7c1e867.png)

[2020-10-04 02:33] develper commented on #953
may I work on this issue, please?

[2020-10-04 04:01] benhalverson commented on #953
@manishprivet try going into a mobile view first opening the menu then resizing the screen to be larger.
For example in the iphone simulator start in portrait mode open the menu then switch to landscape mode.

@develper yes

[2020-10-04 04:03] benhalverson commented on #949
We should go with the data from https://nodejs.org/en/about/releases
Here's a data structure I came up with while experimenting with the react-table npm package.

[code]

[2020-10-04 04:38] benhalverson commented on #940
I installed eslint-plugin-jsx-a11y on a local branch and setup using this option
[code]

[2020-10-04 04:51] benhalverson commented on #940
The issue it found is for not using onChange https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-onchange.md

[docs.tsx](https://github.com/nodejs/nodejs.dev/blob/master/src/pages/docs.tsx#L640)

What do you think @marcustisate should this be allowed here?

[2020-10-04 05:20] benhalverson opened #956 "docs page: console warning: Encountered two children with the same key"
### Steps to reproduce

Navigate to /docs and select any topic then switch to another topic
For example select http then select http2

### Expected result

No errors or warnings

### Actual result
See screenshot

<img width="721" alt="Screen Shot 2020-10-03 at 10 18 21 PM" src="https://user-images.githubusercontent.com/7907232/95007636-8fd9a100-05c6-11eb-9c97-49220c659639.png">

- OS Version: macO

[2020-10-04 06:01] Bhavin789 commented on #956
Hi @benhalverson I think it's an issue where we might be assigning keys based on some dynamic value but for some reason, that value is same for a hierarchy. Is it ok if I look into this issue and update here? Let me know.

Thanks!

[2020-10-04 06:10] benhalverson commented on #956
Yep feel free to create a PR with a fix.

[2020-10-04 06:14] Bhavin789 commented on #956
Awesome, thanks!

[2020-10-04 07:08] #953 closed

[2020-10-04 07:20] #949 closed

[2020-10-04 07:49] sbielenica commented on #950
Advanced topics could be: _The Node.js Event Loop_, _Understanding process.nextTick()_, _Understanding setImmediate()_, _Node.js Buffers_, _Node.js, the difference between development and production_ and section about TypeScript if we had one ([I'll work on TS section in the near future](https://github.com/nodejs/nodejs.dev/issues/947)).

Besides _Advanced section_ we could move npm related stuff

[2020-10-04 07:51] pinkman7009 commented on #820
can i work on this?

[2020-10-04 07:53] Bhavin789 commented on #956
Hi @benhalverson

I was trying to make a commit following the commit guidelines and was trying to figure out the affected `subsystem`. I ran the command suggested but it provided me a list of some commit messages with multiple subsystems like `fix` and `refactor`. Can you please guide me on how can I create the commit message? Is there a way or provision to add multiple subsystems? PFA for the lis

[2020-10-04 07:56] sbielenica opened #959 "Article change animation in the Learn page always starts from the beginning"
## Description

When selecting new article from the left side of the /learn page animation always starts from the very beginning and this is quite annoying when clicking on one of the further articles.

### Steps to reproduce

1. Visit /learn page
2. Click on few articles from the left side
3. Observe animation behavior

### Expected result

Scroll moves from the current position.

### Actual resu

[2020-10-04 08:04] sbielenica commented on #956
Hey @Bhavin789, I'm not @benhalverson but I can help too 😄

In your case, when you're fixing a warning, most likely the perfect choice would be using `fix` subsystem.
For example, your commit message could like this:
`fix: Prevent warnings related to duplicate keys in the docs page`.

Additionally, take a look into our [contribution guidelines](https://github.com/nodejs/nodejs.dev/blob/master/CONT

[2020-10-04 08:04] benhalverson commented on #956
The commit messages in this repo are not super strict.
I would do something like `fix(docs.tsx) Thing I fixed`
Personally I use a global npm package called commitizen `npm install -g commitizen`
My workflow looks like this

git add filename
git cz
select the option from the cli
- The cli will ask you a few questions and will format the message for you
- https://www.npmjs.com/package/commitizen
git

[2020-10-04 08:12] Bhavin789 commented on #956
Thanks a lot for the info @sbielenica , had the same thought but just wanted to be sure before for committing :smile: This helped, thanks again!

[2020-10-04 08:13] Bhavin789 commented on #956
Thanks @benhalverson for sharing this :smiley: . This package looks super cool, heard for the first time :sweat_smile: . Will definitely try this out and update here.

[2020-10-04 08:58] manishprivet commented on #959
The problem seems to be that each link refers to a different HTML page, and due to that each time it starts from the very top. I can't find a way of knowing the previous link that was on the screen dynamically.

[2020-10-04 09:12] sbielenica commented on #959
Controlling the state above the pages should be possible in Gatsby, right? But that might introduce a lot of confusing code for really small thing. I didn't think about potential solutions, just noticed this problem and created an issue to not forget about it.

Maybe we are ok with this behavior then? Or, as a last resort solution, maybe it would be better to drop this animation altogether?

[2020-10-04 11:32] marcustisater commented on #863
This has been merged👌  Thanks for the detailed review!

[2020-10-04 11:32] #863 closed

[2020-10-04 14:49] manishprivet commented on #959
I don't think there's any above in this case to use as state management for side nav, as separate pages are being generated by Gatsby for each slug/doc page. Maybe ditching the animation would be good, replacing it with a simple scrollTop for each nav link.

[2020-10-04 17:51] manishprivet commented on #959
Did try something to fix this

[2020-10-04 21:26] benhalverson opened #964 "Node leafs on homepage add prefers-reduced-motion"
## Summary

@nschonni  pointed out we should probably be using `prefers-reduced-motion` media query for the subtle animation we have on the homepage.

https://github.com/nodejs/nodejs.dev/pull/962#issuecomment-703316167
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

[2020-10-05 00:22] anthonydevelops commented on #964
Hi @benhalverson , could I tackle this issue?

[2020-10-05 01:20] #956 closed

[2020-10-05 02:53] #964 closed

[2020-10-05 03:56] anthonydevelops commented on #950
@sbielenica @benhalverson could I take on this issue?

[2020-10-05 12:18] mhdawson opened #967 "Node.js Website Redesign Strategic Initiative Meeting 2020-10-07"
## Time

**UTC Wed 07-Oct-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Oct-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 07-Oct-2020 12:00 (12:00 PM) |
| US / Central  | Wed 07-Oct-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 07-Oct-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 07-Oct-2020 19:00 (07:00 PM) |

[2020-10-05 13:35] Bhavin789 opened #968 "Add more unit tests for Release components"
## Summary

Hi

In the components folder, we have unit tests for almost all the components except for these three:

1. Release Cards
2. Release Table
3. Release Toggle

Was wondering if we are planning to add unit tests for these in near future? If we haven't thought about it yet, can I try to look into the same and share some possible solutions on this thread or contribute? Would be happy to help

[2020-10-05 17:17] marcustisater commented on #968
@Bhavin789 Great catch! Yes, feel free to add unit tests for these components. I believe there have been recently added ones for ReleaseDownloads. Looking forward to seeing your changes 👍

[2020-10-05 17:41] marcustisater commented on #940
So, I don't think we can ignore the rule completely since it's a valid point of accessibility concerns.

Details [here](https://webaim.org/discussion/mail_thread?thread=8036)

In this case, we pass these guidelines. Maybe just ignore the one-liner with `// eslint-disable-line no-use-before-define`?

Btw I ran Axe/Pa11y, there are quite a few contrast color issues in light mode.

[2020-10-05 17:48] marcustisater commented on #922
Fixed #967

[2020-10-05 17:48] #922 closed

[2020-10-05 18:02] marcustisater opened #969 "Styling needed for 404 page"
The [404 page](https://nodejs.dev/404/) doesn't look too good. I would love for the content to be centered and the download section to be removed from this page since it's not relevant.

Also, there should be a blank space before`Homepage`.

![404-page](https://user-images.githubusercontent.com/2952332/95115028-20d68680-0745-11eb-876b-7ff257fd25f6.png)

[2020-10-05 18:04] ps686kg commented on #969
hello, can i work on this issue?

[2020-10-05 18:15] marcustisater commented on #969
And the text `PAGE NOT FOUND` should be capitalized with CSS.

[2020-10-06 00:43] manishprivet commented on #968
I'm pretty sure we've snapshot tests for atleast the Release table, and probably other two too, as I had to change it when the release table was changed

[2020-10-06 03:53] Bhavin789 commented on #968
Oh, but I can't see them in their respective folders :confused:

@manishprivet Can you please confirm if they are a part of any other folder? Can you please also confirm they were `Release` prefixed components? I can see some recent changes done in the `DownloadReleases` and `DownloadTable` components and their respective tests but none in any of the above I mentioned.

Thanks!

[2020-10-06 04:04] manishprivet commented on #968
@Bhavin789 I take back my comment 🤦🏻‍♂️ I mistakenly took Release Table as DownloadTable component

Yeah the tests are missing the components you mentioned

[2020-10-06 04:25] Bhavin789 commented on #968
No worries @manishprivet  :sweat_smile: . Thanks for highlighting though and confirming, it may have led to redundancy :sweat_smile:

[2020-10-06 05:06] #959 closed

[2020-10-06 07:15] marcustisater opened #970 "Download panel changes"
Go to [https://nodejs.dev/download](https://nodejs.dev/download) and install nodejs from one of the installers.

For me, it's difficult to understand that you have to click on the actual download icon. I think the entire download panel box should be clickable and trigger the download.

I think we should ask a few to test this behavior.

Goal: Make it easier for users to download nodejs from one of

[2020-10-06 07:21] marcustisater opened #971 "Change color of Downloads title"
Go to [https://nodejs.dev/download/](https://nodejs.dev/download/) and toggle dark mode (upper right corner).

The Downloads title is not very visible, it should be changed to `rgb(203, 212, 217)`.

Goal: Make it easier to read the Download title.

![color-contrast](https://user-images.githubusercontent.com/2952332/95170399-a9404000-07b4-11eb-9153-3b51448d5eb4.png)

[2020-10-06 07:26] marcustisater opened #972 "Make footer always stay on bottom of the page"
If you navigate to a page with less content, like [https://nodejs.dev/404/](https://nodejs.dev/404/) the footer will not be at the bottom of the page.

My suggestion is to make the footer on the bottom of the page.

Thoughts?

![floating-footer](https://user-images.githubusercontent.com/2952332/95171303-fec91c80-07b5-11eb-805f-c606984250f5.png)

[2020-10-06 07:34] logesr commented on #971
I can take this up

[2020-10-06 08:10] manishprivet commented on #970
Also, maybe for the focused button, we should add the theme green background instead of scaling it up, as it looks particularly odd...
And if the whole button is clickable, we can change the focus effect to hover?

[2020-10-06 08:20] manishprivet commented on #971
I think this here can be a part of this issue.
The color of the text of inactive tabs in the page should be of light color in light mode

![image](https://user-images.githubusercontent.com/54291836/95176648-c851c880-07da-11eb-8210-2152238307e2.png)

[2020-10-06 08:55] ugurozgen commented on #971
Can I do it also?

[2020-10-06 14:31] manishprivet opened #974 "Update stories according to latest changes"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

Recently the Release Table has changed to different columns and static data at #957, so we need to change the `releaseHistory` in `/stories/ReleaseTable.stories.tsx` and the `ReleaseTable` component that it's using.

Also, by #963, the `NavigationSection` component doesn't need th

[2020-10-06 15:38] saswatamcode commented on #972
This is a good idea. Having a sticky footer would make the layout more appropriate.

[2020-10-06 17:54] #971 closed

[2020-10-06 17:59] jadonwolffs commented on #435
Can I give this a go if it's still available?

[2020-10-06 18:58] Binurim commented on #969
hello! I like to work on this issue too. May I give it a try?

[2020-10-06 21:16] Filipeue commented on #969
may I tackle this one as well?

[2020-10-06 21:46] benhalverson commented on #970
I thought the icon we used was well known enough that it means download. I'm not sure what the original intent was during the UX and design phase. 🤷‍♂️
How about a slight wiggle animation or something similar to indicate that you should click on the icon to download the installer.

@nodejs/nodejs-dev Does anyone have the UX notes for the download view?

[2020-10-07 17:54] sbielenica commented on #950
I'd say the main problem with this issue is coming to an agreement on what the division should be.
But if you have an idea on how to divide it, then go ahead 😄 The worst thing that can happen is that there will be discussion in the pull request.

[2020-10-07 17:59] sbielenica commented on #968
Guys, not long ago I introduced @testing-library/react to the project so that'd be great if you used that in your new tests - you have example on how to use it here: https://github.com/nodejs/nodejs.dev/pull/951.

Another thing is that it's awesome when tests do more than just compare snapshot so I encourage you to test component interactions and logic when that's possible! 😄

[2020-10-07 18:19] Bhavin789 commented on #968
Absolutely @sbielenica, in PR #975 , all the tests now use  `@testing-library/react` (have gotten away with `react-test-renderer` ) along with an additional library [`@testing-library/jest-dom`](https://www.npmjs.com/package/@testing-library/jest-dom) which just provides some additional assertion helpers to write better assertion logic.

For the point on writing tests beyond snapshots, totally agr

[2020-10-07 18:25] marcustisater commented on #854
We are not implementing completely custom scrollbars.

Use css `color-scheme` to flip the color. This will flip the scrollbar to a dark mode scrollbar for modern browsers.

Read more here

https://web.dev/color-scheme/
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
https://drafts.csswg.org/css-color-adjust/#color-scheme-prop

[2020-10-07 18:27] sbielenica commented on #968
I left one suggestion in your PR 😄

And about new tests - remember that you can always create new pull requests. I think it'll be easier for maintainers to check and accept new tests when there's only a few files changed as opposed to many, many changes. Your pull request is already quite big (and that's of course understandable as you changed plenty of snapshots to new lib).

[2020-10-07 18:33] jemjam commented on #637
Joe (Sepi) confirmed with Brian Warner (Open JSF) that from a legal standpoint, using the logos are fine.

We should still reach out to their respective projects and let them know (and get approval).

Perhaps we can close this issue in favour of progress on the sub-tasks.

[2020-10-07 18:33] #637 closed

[2020-10-07 18:36] designMoreWeb commented on #969
sure

[2020-10-07 18:47] Bhavin789 commented on #968
Sure @sbielenica, will definitely look into the primer setup that you suggested and try to blend it. Thanks :smile:

About the **big PR** situation, I am myself struggling with the scroll on the page :sweat_smile: , can imagine how tough it would be for the maintainers :cry: . Maybe we can break down this whole thing into phases and create smaller PRs which can be reviewed well and with confidence

[2020-10-07 19:13] marcustisater opened #981 "Node.js Website Redesign Working Meeting 2020-10-11"
From [last meeting](https://github.com/nodejs/nodejs.dev/issues/967) we suggested organizing a separated working meeting to define MVP tasks.

## Time

UTC Sun 011-Oct-2020 18:00 (06:00 PM):

## Agenda

- Close old pull requests and issues that are not relevant anymore
- Add template for epic/master issue (particular for Homepage / Downloads / Documentation / Learn / Global Styling & Layout)
   -

[2020-10-08 12:18] lidoravitan commented on #974
Hi, can I help with it?

[2020-10-08 12:28] manishprivet commented on #974
@lidoravitan I would suggest waiting since a lot of changes have been done in the files mentioned in the issue at #975. So probably wait till that PR is resolved

[2020-10-09 07:41] #972 closed

[2020-10-09 08:57] Mithgarthsormr opened #982 "Tutorial not working on PC (smartphone is ok)"
## Description

On two notebooks and three different browsers I couldn't see the text of the tutorial at nodejs.dev/learn.
It only worked on my smartphone and in the developer tools of the browser in smartphone-size.

### Steps to reproduce

Just open the website on a PC or notebook. (large device)

### Environment

- OS Version: Ubuntu 20.04
- Browser Version: Firefox 81.0, Chromium Version 85.0.

[2020-10-09 08:58] mulekick opened #983 "the nodejs.dev/learn part of the site is broken"
## Description

When you open nodejs.dev/learn, the top links and left side navigation menu are visible and work, but the main content frame is empty.

### Steps to reproduce

Open nodejs.dev/learn in a web browser.

### Expected result

The main content frame should be displayed.

### Actual result

The main content frame is empty.

### Environment

- OS Version: Windows 10
- Browser Version: Chr

[2020-10-09 12:36] lidoravitan commented on #974
Yeah I agree. I'll wait until the pr is resolved. thanks @manishprivet

[2020-10-09 13:50] azadulkabir455 commented on #983
The layout is not fixed yet. The content is not visible. Please, fix it as soon as possible.

[2020-10-09 16:46] marcustisater commented on #982
@Mithgarthsormr thanks for reporting this in, #984 should have fixed this now.

Sorry for the inconvenience.

[2020-10-09 16:46] #982 closed

[2020-10-09 16:47] marcustisater commented on #983
@mulekick @azadulkabir455 thanks for reporting this in, #984 should have fixed this now.

Sorry for the inconvenience.

[2020-10-09 16:47] #983 closed

[2020-10-11 16:58] marcustisater commented on #981
Couldn't get Zoom for this meeting.

Please join [Slack](https://slack-invite.openjsf.org) and join #nodejs-website-redesign or PM me.

Sorry for the inconvenience 😅

[2020-10-11 18:11] marcustisater opened #985 "Get started section"
At [nodejs.dev](https://nodejs.dev) there is get started section on the bottom of the page.

Figma: [https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1338%3A13127](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1338%3A13127)

<img width="723" alt="screenshot-figma" src="https://user-images.githubusercontent.com/2952332/95686387-c8e4c780-0bfd-11

[2020-10-11 18:32] marcustisater commented on #273
Updates are welcome to [CONTRIBUTING.md](https://github.com/nodejs/nodejs.dev/blob/master/CONTRIBUTING.md)

[2020-10-11 18:32] #273 closed

[2020-10-11 18:48] #389 closed

[2020-10-11 19:13] #840 closed

[2020-10-11 19:14] marcustisater commented on #899
We also added [projects](https://github.com/nodejs/nodejs.dev/projects).

[2020-10-11 19:14] #899 closed

[2020-10-11 19:14] #915 closed

[2020-10-11 19:15] #882 closed

[2020-10-11 19:15] #920 closed

[2020-10-11 19:15] #936 closed

[2020-10-11 19:15] #943 closed

[2020-10-11 19:15] #967 closed

[2020-10-11 19:34] marcustisater commented on #392
[PR 918](https://github.com/nodejs/nodejs.dev/pull/918) fixes this.

[2020-10-11 19:34] #392 closed

[2020-10-11 19:45] #981 closed

[2020-10-11 20:34] #730 closed

[2020-10-11 20:37] marcustisater commented on #775
@mmarchini what are the next steps for this one?

[2020-10-11 20:46] #796 closed

[2020-10-11 20:47] marcustisater commented on #834
There is `create preview` that works now.

[2020-10-11 20:53] nschonni commented on #834
The label system is active, but the old workflow hasn't been retired

[2020-10-11 20:53] marcustisater commented on #950
We should look into #169 before this.

[2020-10-11 20:56] marcustisater commented on #970
@jeremiahriz what do you think about this one?

[2020-10-12 06:51] marcustisater opened #986 "Additional Downloads"
At [https://nodejs.dev/download](https://nodejs.dev/download) there should be additional downloads section on the bottom section according to Figma.

Figma: https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1499%3A0

<img width="821" alt="additional-downloads" src="https://user-images.githubusercontent.com/2952332/95714135-0aaa5800-0c68-11eb-8e89-c941d773615c.png">

[2020-10-12 07:03] marcustisater opened #987 "Styling adjustments for Upcoming releases section"
Go to [https://nodejs.dev/download](https://nodejs.dev/download) and scroll down to the upcoming release section.

The styling is not the same if you compare it with the [figma design](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=1983%3A0)

- Tabs should not have a background color and not be centered.
- Node logo/items should be centered.
- The information text shoul

[2020-10-12 07:12] marcustisater opened #988 "Edit pages link"
Every page should have edit links on the bottom of the page like [https://nodejs.dev/learn/differences-between-nodejs-and-the-browser](https://nodejs.dev/learn/differences-between-nodejs-and-the-browser)

<img width="854" alt="edit-links" src="https://user-images.githubusercontent.com/2952332/95715966-f87de900-0c6a-11eb-9119-9481464660d9.png">

[2020-10-12 07:17] marcustisater commented on #776
This is awesome, welcome everyone! I have mentioned a few of you guys in issues we need help on.

Also, #275 is a great issue to start looking into.

[2020-10-12 07:17] #776 closed

[2020-10-12 09:08] lidoravitan commented on #987
Can I help with it?

[2020-10-12 09:14] marcustisater commented on #987
@lidoravitan I need to doublecheck, I will let you know on Wednesday 👍

[2020-10-12 12:19] mhdawson opened #989 "Node.js Website Redesign Strategic Initiative Meeting 2020-10-14"
## Time

**UTC Wed 14-Oct-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Oct-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 14-Oct-2020 12:00 (12:00 PM) |
| US / Central  | Wed 14-Oct-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 14-Oct-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 14-Oct-2020 19:00 (07:00 PM) |

[2020-10-12 16:49] bnb commented on #940
Sounds like we should probably have Axe/Pa11y in addition to jsx-a11y.

[2020-10-13 07:25] manishprivet commented on #988
@marcustisater Can this be added to the footer itself?

[2020-10-14 18:07] jemjam commented on #985
@nodejs/community-committee or @bnb what sort of text to use in this page (for these two sections at the bottom of the homepage)

[2020-10-14 18:08] jemjam commented on #985
Also curious if this needs to be there, or if we can add this after. Page looks pretty good otherwise.

[2020-10-14 18:09] bnb commented on #985
I would recommend pointing to Learn and Docs. We could also eventually run A/B tests to see what does better 😅

[2020-10-14 18:11] jemjam commented on #413
What are we searching within? API docs or `/learn` docs? They'll have different methods to search within depending. API docs maybe need to be converted to markdown to make it easier to query everything?

Related: #958

[2020-10-14 18:19] jemjam commented on #274
We have some questions about how this is currently being done on the current website. Would be nice to have i18n parity but the learn docs in particular (on the new site) don't have translations.

[2020-10-14 19:14] benhalverson commented on #336
Lets close this issue and break these task up into individual issues.

[2020-10-15 18:02] marcustisater opened #993 "Insufficient color contrasts node demo homepage"
## Description
The read more documentation button has [insufficient color contrasts](https://snook.ca/technical/colour_contrast/colour.html#fg=6E7B83,bg=2C3437). It should at least be [WCAG 2 AA compliant](https://www.w3.org/TR/WCAG21/#contrast-minimum).

<img width="854" alt="screenshot-node-demo" src="https://user-images.githubusercontent.com/2952332/96167625-fb553400-0f1f-11eb-9d75-cc08514744a4

[2020-10-15 18:08] marcustisater opened #994 "Download page navigation text has insufficient color contrasts"
## Description

The title text for the navigation has insufficient color contrast. It should at least be [WCAG 2 AA compliant](https://www.w3.org/TR/WCAG21/#contrast-minimum). Or if we increase the font-size.

<img width="259" alt="screenshot-nav" src="https://user-images.githubusercontent.com/2952332/96169056-df529200-0f21-11eb-8e22-c573dcc6e7da.png">

Page: [https://nodejs.dev/download/](https:/

[2020-10-15 18:13] marcustisater opened #995 "Breadcrumbs has insufficient color contrasts"
## Description

There are breadcrumbs on [documentation](https://nodejs.dev/docs/) and [download](https://nodejs.dev/download) page. I think it's on the edge of not being [WCAG 2 AA compliant](https://www.w3.org/TR/WCAG21/#contrast-minimum) compliant. We should either increase the font-size or change color.

<img width="318" alt="breadcrumbs" src="https://user-images.githubusercontent.com/2952332/

[2020-10-15 18:33] marcustisater opened #996 "Download toggle buttons requires aria-pressed and onkeydown"
## Description

Go to [https://nodejs.dev/download](https://nodejs.dev/download)

<img width="836" alt="download-toggle-button" src="https://user-images.githubusercontent.com/2952332/96171343-0ced0a80-0f25-11eb-97aa-7d4b528e4376.png">

The LTS and current button toggles sare missing the `aria-pressed` state role attribute and I think also `onKeyDown` event is required. Read more [here](https://dev

[2020-10-15 19:08] marcustisater commented on #988
@manishprivet good question, I definitely think it could be.

[2020-10-15 19:21] manishprivet commented on #988
@marcustisater Can I try this? Or should this wait for any Figma changes?

[2020-10-16 05:47] #940 closed

[2020-10-17 06:27] mikeesto commented on #995
I'm by no means an expert on this, but I think the breadcrumbs should also provide a way to navigate back to pages (i.e. a set of links) with the last link having the attribute `aria-current`.

[2020-10-17 13:22] thomasmichaelwallace commented on #996
I can take a punt at this...

[2020-10-17 14:14] thomasmichaelwallace commented on #993
Seems fairly clear cut- I'll go colour hunting...

[2020-10-18 04:18] benhalverson opened #1003 "Bug: Error when starting server"
## Description

When you start the local server with `npm start` and the dev tools are closed. The website will continuously flash an error and reload.

### Steps to reproduce

npm i
npm start
browse to localhost:8000
don't open your dev tools

### Expected result
No errors or auto reloads for no reason

### Actual result

https://recordit.co/fKzurVJS4Z

The current workaround is open the dev tool

[2020-10-18 07:53] mikeesto commented on #1003
I removed my node_modules, reinstalled, and I'm not able to reproduce this behaviour. Have you tried deleting your `.cache` folder? The error in the recording seems to suggest it might be related to that

[2020-10-18 14:35] SimonFinney opened #1004 "Example `iframe`s do not have a `title` attribute"
## Description

A technique for meeting [Success Criterion 4.1.2 Name, Role, Value](https://www.w3.org/TR/WCAG21/#name-role-value), [H64](https://www.w3.org/WAI/WCAG21/Techniques/html/H64.html) demonstrates how an inline frame (`iframe`) can have a title attribute to provide a label for the frame that describes its content to the user. With this information, a user can determine which frame to ent

[2020-10-18 14:50] nschonni commented on #1004
I'd probably also drop the `allow` values, as I don't think this site asks for those permissions, so i don't think they should be left in. I know it's just boilerplate from their embed markup though

[2020-10-19 12:18] mhdawson opened #1005 "Node.js Website Redesign Strategic Initiative Meeting 2020-10-21"
## Time

**UTC Wed 21-Oct-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Oct-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 21-Oct-2020 12:00 (12:00 PM) |
| US / Central  | Wed 21-Oct-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 21-Oct-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 21-Oct-2020 19:00 (07:00 PM) |

[2020-10-19 15:05] irevenko opened #1007 "Installation Section doesn't work properly on Kubuntu Firefox"
### Expected result
It works on Chromium
<img src="https://i.imgur.com/4wUSN0I.png" width="500">

### Actual result
On Firefox the panel is blank
<img src="https://i.imgur.com/U6BKXxI.png" width="500">

### Environment

- OS Version: Kubuntu 20.04
- Browser Version: Firefox 81.0.2

[2020-10-19 22:09] jayantchaudhary002 commented on #969
I would like to work on this issue.

[2020-10-20 07:25] benhalverson commented on #1007
@irevenko thanks for reporting the bug. I've never used this distro. Any interest in creating a PR for this bug?

[2020-10-21 03:39] #993 closed

[2020-10-21 03:43] #996 closed

[2020-10-21 03:45] benhalverson commented on #1003
ya it seems deleting that .cache folder fixed the issue ¯\\_(ツ)_/¯ on why it was even showing.

[2020-10-21 03:45] #1003 closed

[2020-10-21 17:52] jemjam commented on #818
Oh shoot, my bad: I should have looked at the issue noted above (I blame being sick last night). Welp: I'm just going through these and making sure we have our bases covered. We have definitely asked express.

https://github.com/expressjs/express/issues/4397

Just awaiting confirmation in that thread...

[2020-10-21 17:55] jemjam commented on #820
I went to the eslint repo: their new issue template pointed me to their discord to ask about the logo, so I've posted a note there this morning.

![Screen Shot 2020-10-21 at 10 54 01 ](https://user-images.githubusercontent.com/8083892/96758614-d895a600-138b-11eb-9314-12ba8ec46ae6.png)

[2020-10-21 18:02] jemjam commented on #1005
I'm having some network difficulty and unable to connect, but I've updated a few threads this morning. Will be around on slack if you have questions for me.

[2020-10-21 18:10] marcustisater commented on #987
@lidoravitan you can work on this one. Sorry for the late reply!

[2020-10-21 18:22] marcustisater commented on #970
- Make the pointer default when hover of an active panel
- Make the download icon bigger or increase click area.

[2020-10-21 18:44] marcustisater opened #1008 "Increase the spacing for main navigation links on mobile"
Increase the spacing between the navigation links on mobile. They are very close to each other, makes it easy to misclick.

<img width="251" alt="mobile-main-nav-links" src="https://user-images.githubusercontent.com/2952332/96768329-0b688a00-13de-11eb-81cf-700aa5153546.png">

[2020-10-21 21:54] cardinalion commented on #1008
I'm working on this. Currently the padding is not effecting because the variable is undefined.

[2020-10-21 23:00] feross commented on #800
If you'd like to include [StandardJS](https://standardjs.com) or [WebTorrent](https://webtorrent.io), two popular Node.js ecosystem packages, let me know. You're free to use the logos :)

[2020-10-22 03:45] benhalverson commented on #800
@feross do you have .svg files posted that we can use?

[2020-10-22 04:54] benhalverson commented on #1008
/preview

[2020-10-22 08:59] #994 closed

[2020-10-22 08:59] #995 closed

[2020-10-22 09:04] benhalverson commented on #729
@designMoreWeb If you need some help with this look at how @rmleg setup the homepage with [markdown](https://github.com/nodejs/nodejs.dev/blob/master/content/homepage/index.md)

Here's the graphql query
[code]

[2020-10-22 09:42] #1008 closed

[2020-10-22 10:08] lidoravitan commented on #987
@marcustisater thanks i'll start with it today

[2020-10-22 10:24] Liadshiran commented on #986
Hi, can I help with this?

[2020-10-22 13:57] designMoreWeb commented on #729
This is fantastic thanks @benhalverson

[2020-10-22 16:11] #1004 closed

[2020-10-22 17:14] #968 closed

[2020-10-23 03:59] benhalverson commented on #885
Closed via #942

[2020-10-23 03:59] #885 closed

[2020-10-24 09:22] marcustisater commented on #986
@Liadshiran Sure! Let me know if you have any questions.

[2020-10-24 16:56] Liadshiran commented on #986
Great! I'll start right away 🙂

[2020-10-25 22:59] Liadshiran commented on #986
@marcustisater I cannot find the Figma mocks for the screens where the 2 last panels are expanded.
In the link you attached, I can see the `Windows Installer (.msi)` panel expanded while the other 2 are collapsed.
How should the other ones look expanded? I assume not with the same `32-bit`, `64-bit` buttons...

[2020-10-26 04:47] benhalverson commented on #986
Yes it's the same. If both a 32 bit and 64bit are available for the os. The idea behind this part of the screen is to remove the need to see an index like this. https://nodejs.org/dist/latest-v14.x/

[2020-10-26 15:51] ahtee commented on #818
@jemjam I @ you at the express issue where I asked. Looks like the maintainers don't mind us using the logo but also mentioned if there are additional approvals we need.

[2020-10-26 19:22] mhdawson opened #1024 "Node.js Website Redesign Strategic Initiative Meeting 2020-10-28"
## Time

**UTC Wed 28-Oct-2020 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Oct-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 28-Oct-2020 12:00 (12:00 PM) |
| US / Central  | Wed 28-Oct-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 28-Oct-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 28-Oct-2020 18:00 (06:00 PM) |

[2020-10-27 05:52] benhalverson commented on #974
Oops we still need to redo the story for NavigationSection @lidoravitan You can work on this if you like. 👍

[2020-10-27 22:00] irevenko commented on #1007
@benhalverson Noticed that it also doesn't work on ```Fedora OS``` in Firefox.
I'll probably start the research on it in several days. Might potentially be Firefox bug for all Linux Distros.

[2020-10-28 02:20] JohnPhamous opened #1029 "/download page's table messes up layout on smaller viewport widths"
## Description

When the viewport width's is small, the table on `/download` causes the content to overflow and make it impossible to read the content due to clipping.

### Steps to reproduce

1. Go to `/downloads`
1. Resize the viewport width so that it's smaller than the table's width

### Expected result

1. All content is visible

### Actual result

1. The table's width stays the same causing

[2020-10-28 10:26] lidoravitan opened #1031 "Utility for join classNames conditionally"
Recently I've worked on #987 and I had to join classNames conditionally. I've seen a common use of either or if/else or ternary operator which is definitely ok. However, I would like to suggest the use of classnames utility to make it more readable and easy to write.

there are many repetitions of this pattern during the project, for instance:
https://github.com/nodejs/nodejs.dev/blob/0918208dcfbd

[2020-10-28 14:00] marcustisater commented on #1029
@JohnPhamous Great catch! Btw I really appreciate that you created an issue before the pull request. Makes it easier to track and also so we don't waste time working on something that we don't think is needed 👍

[2020-10-28 15:49] benhalverson commented on #1031
If it makes the code more readable I'm all for it 👍

[2020-10-28 17:55] lidoravitan commented on #1031
I would like to open PR with an update to all the necessary places.
Moreover, we can pay more attention in the next PR to avoid this pattern :)

[2020-10-28 18:10] #1029 closed

[2020-10-28 18:11] #987 closed

[2020-10-28 18:15] designMoreWeb commented on #1031
Go for it +1

[2020-10-28 19:56] psikoi opened #1033 "Incorrect repository description (still includes Emotion)"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

This repository's description still includes Emotion in the tech stack list:

`A new Node.js resource built using Gatsby.js with React.js, TypeScript, Emotion, and Remark.`

## Your Proposal for Changes

It seems this package has been removed since https://github.com/nodejs/nodejs

[2020-10-28 20:52] Trott commented on #1033
Removed. Thanks.

[2020-10-28 20:52] #1033 closed

[2020-10-29 03:14] benhalverson opened #1034 "Bug: Homepage - Some text is not visible on the homepage"
## Description

At somepoint a change was made that made the colors on the homepage install section white.

### Expected result
<img width="1135" alt="Screen Shot 2020-10-28 at 8 12 03 PM" src="https://user-images.githubusercontent.com/7907232/97521062-f64da700-1959-11eb-9d57-67a6238f4090.png">

### Actual result

![Screen Shot 2020-10-28 at 8 12 11 PM](https://user-images.githubusercontent.com/79

[2020-10-29 09:37] talarviv commented on #1034
can I help with this issue? thanks

[2020-10-29 09:38] #989 closed

[2020-10-29 09:38] #1005 closed

[2020-10-29 13:44] marcosvega91 commented on #1034
I think that you can go on :)

[2020-10-29 14:38] talarviv commented on #1034
thanks i'll start today :)

[2020-10-30 01:54] benhalverson commented on #1007
I use Ubuntu on my work machine and found the same issue with Firefox. I know this used to work, but I'm not sure when this issue was introduced.

[2020-10-30 03:22] feross commented on #800
@benhalverson Yep, here you go:

StandardJS: https://raw.githubusercontent.com/standard/standard/master/sticker.svg
WebTorrent: https://webtorrent.io/img/WebTorrent.svg

[2020-10-30 07:11] benhalverson commented on #1007
@irevenko Can you verify that this link https://github.com/nodejs/nodejs.dev/pull/1036
I just tried it in a VM with kali linux and it works for me.

[2020-10-30 07:11] benhalverson commented on #1007
https://staging.nodejs.dev/1036/

[2020-10-30 07:23] irevenko commented on #1007
Now it works, i think we can close this issue

[2020-10-30 07:48] marcustisater commented on #1034
@talarviv yeah, definitely. Feel free to start on this issue 👍

[2020-10-30 20:01] #1007 closed

[2020-10-31 15:27] arjunkesava commented on #1034
- I took a new clone of this repo,
- Did `npm i` && `npm start`
- When I spin my localhost, I see this:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/16076136/97783104-79216c80-1bbb-11eb-9701-b403710dbc06.png">

Does this issues has been resolved?
or does the current master isn't deployed to production yet?

[2020-10-31 23:31] talarviv commented on #1034
@arjunkesava thanks for your comment i also tried to fix this issue. however, on my local env it looks like your screenshots.

[2020-11-01 22:45] mikeesto commented on #1034
@benhalverson Which browser?

[2020-11-02 08:50] arjunkesava commented on #1034
Google Chrome
Version 86.0.4240.111 (Official Build) (x86_64)

[2020-11-02 10:22] lidoravitan commented on #1034
@mikeesto Do you see it with a white background (as the bug describes) locally?

[2020-11-02 13:18] mhdawson opened #1037 "Node.js Website Redesign Strategic Initiative Meeting 2020-11-04"
## Time

**UTC Wed 04-Nov-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 04-Nov-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 04-Nov-2020 12:00 (12:00 PM) |
| US / Central  | Wed 04-Nov-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 04-Nov-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 04-Nov-2020 19:00 (07:00 PM) |

[2020-11-02 21:35] mmarchini commented on #775
Next step is for us (diag wg) to send a PR moving one of the guides to this repository.

[2020-11-03 04:04] benhalverson commented on #1034
@mikeesto The browsers and OS'es I have tried are below.
Ctrl / cmd + shift + r to make sure you have cleared your cache. I see this issue both locally and in production.
I've tried in
MacOS - Chrome, Firefox and Safari
Ubuntu - Chrome, Firefox

[2020-11-03 06:35] mikeesto commented on #1034
Thanks @benhalverson . I can only see the white background in production, not locally @lidoravitan - but stranger things have happened 🤷‍♂️ . It seems like an issue with overriding styles. I will create a PR with all the shell box styles moved to `ShellBox.scss`. Please let me know if that resolves it, it's hard for me to test locally.

[2020-11-03 13:10] talarviv opened #1040 "Add Gatsby SVG plugin (gatsby-plugin-react-svg)"
## Summary

I go through the code base and found some places that we put SVG elements directly into the code for example:
https://github.com/nodejs/nodejs.dev/blob/8ecb5e3781e17260f73480339304cef26b5e17cc/src/components/Footer/index.tsx#L117-L128

I would like to suggest adding [gatsby-plugin-react-svg](https://www.gatsbyjs.com/plugins/gatsby-plugin-react-svg/?=svg). Then we can reuse SVG (SVG wil

[2020-11-03 17:50] #1034 closed

[2020-11-03 18:22] benhalverson commented on #1031
Closed via #1038

[2020-11-03 18:22] #1031 closed

[2020-11-03 19:29] lidoravitan commented on #1040
IMO, it sounds great!
I think it could replace the usage of `img` elements to render SVG's. So we could avoid these disadvantages as well:

[2020-11-03 22:10] lidoravitan commented on #974
@benhalverson is it still relevant? i'd like to do it

[2020-11-04 07:46] #986 closed

[2020-11-04 08:33] benhalverson commented on #1040
What's the advantage over doing?
`import dotsIllustration from '../images/illustrations/dots.svg';`
We are only using this image on the homepage

[2020-11-04 08:35] benhalverson commented on #974
yep I agree.

[2020-11-04 10:17] talarviv commented on #1040
The point is not for places that we are using it once. Although, in the future those SVGs may appear more than once in different places. `img` element could not fit in this case when the requirements would be  for a different fills.
For example: `Github` icon that appears in both the Header and the Footer component, we couldn't use `img` there because we want to change the SVG's `fill`. So, we cou

[2020-11-07 13:24] Neilblaze commented on #988
@manishprivet is this still up for grabs?

[2020-11-07 13:24] Neilblaze commented on #988
@marcustisater is this still up for grabs?

[2020-11-09 16:42] mhdawson opened #1047 "Node.js Website Redesign Strategic Initiative Meeting 2020-11-11"
## Time

**UTC Wed 11-Nov-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 11-Nov-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 11-Nov-2020 12:00 (12:00 PM) |
| US / Central  | Wed 11-Nov-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 11-Nov-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 11-Nov-2020 19:00 (07:00 PM) |

[2020-11-11 19:12] joesepi opened #1048 "Create a best practices document"
It seems that some best practices are being identified as development continues and we should add them to a document (not unlike you'd add to an FAQ doc) for people to understand some of the repeatable approaches used in development of the site.

Discussed with @lidoravitan in a meeting.

[2020-11-12 09:45] lidoravitan commented on #1048
Should it be part of `CONTRIBUTING.md` or create a new file for it?

[2020-11-15 09:54] #1024 closed

[2020-11-15 09:54] #1037 closed

[2020-11-16 03:47] benhalverson opened #1052 "Remove dotted border from download cards and download icon"
## Description
We should remove the dashed border around the buttons LTS/Current, Download cards section and download icon

<img width="755" alt="Screen Shot 2020-11-15 at 7 45 38 PM" src="https://user-images.githubusercontent.com/7907232/99210669-42cb1c00-277b-11eb-8513-4a8d5cd1f110.png">
<img width="777" alt="Screen Shot 2020-11-15 at 7 45 46 PM" src="https://user-images.githubusercontent.com/79

[2020-11-16 03:50] #970 closed

[2020-11-16 09:51] talarviv commented on #1052
i'd like to work on it :)

[2020-11-16 11:09] marcustisater commented on #969
We still need help with this issue. Feel free to work on it 👍

[2020-11-16 12:27] talarviv commented on #1052
This css rule seems to be causing this to happen
https://github.com/nodejs/nodejs.dev/blob/ca46400b2b63180f447201f213f01923e5b146cd/src/styles/layout.scss#L247-L249

Do we want to specifically remove this dotted-border from the component mentioned above or remove it at all?

[2020-11-16 13:05] mhdawson opened #1053 "Node.js Website Redesign Strategic Initiative Meeting 2020-11-18"
## Time

**UTC Wed 18-Nov-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 18-Nov-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 18-Nov-2020 12:00 (12:00 PM) |
| US / Central  | Wed 18-Nov-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 18-Nov-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 18-Nov-2020 19:00 (07:00 PM) |

[2020-11-16 13:44] marcustisater commented on #1052
@talarviv the outline is there to improve accessibility but they are not correct for this component.

Screenshot 1: The outline should only show for a specific button when tabbed, not the entire group.

Screenshot 2: The first focus (the whole group) is wrong, that should be removed. The outline should only be kept for the individual download options.

Screenshot 3: The padding and outline are not

[2020-11-18 01:32] kalwabed opened #1054 "Next.js description"
## Detail
I found flaws in the description that briefly describes Next.js. It seems that now Next.js can do more than just server-side rendering.

## Changes
Based on [nextjs.org](https://nextjs.org/), I suggest changing the description in Next.js more or less like this: `Next.js gives you the best developer experience with all the features you need for production: hybrid static & server rendering

[2020-11-18 01:33] kalwabed commented on #1054
I apologize for misplacing this as a documentation issue

[2020-11-18 01:33] #1054 closed

[2020-11-18 01:35] kalwabed opened #1055 "Next.js description"
### Detail

I found flaws in the description that briefly describes Next.js. It seems that now Next.js can do more than just server-side rendering.

### Suggestion

Based on [nextjs.org](https://nextjs.org), I suggest changing the description in Next.js more or less like this: `Next.js gives you the best developer experience with all the features you need for production: hybrid static & server ren

[2020-11-18 09:53] lidoravitan commented on #1055
Sounds great! I'd suggest to drop `No config needed`, what do you think?

`Next.js gives you the best developer experience with all the features you need for production: hybrid static & server rendering, TypeScript support, smart bundling, route pre-fetching, and more.`

[2020-11-18 11:20] kalwabed commented on #1055
Looks great!

[2020-11-18 19:17] marcustisater commented on #1040
I am in favor of adding this. Feel free to work on this.

[2020-11-19 09:53] lidoravitan commented on #844
I'd like to help with reviews @bnb @marcustisater @benhalverson

[2020-11-20 21:42] benhalverson commented on #985
I read through some of the early meeting notes [here](https://github.com/nodejs/nodejs.dev/blob/master/meetings/2018-03-01.md) and https://github.com/nodejs/website-redesign/issues/9. and [here](https://github.com/nodejs/nodejs.dev/blob/master/meetings/2018-03-29.md) I believe the getting started button should either point to our /learn page or point to the existing [guides](https://nodejs.org/en/

[2020-11-22 09:57] lidoravitan commented on #1055
@kalwabed  would you like to open a pull request?

[2020-11-23 00:26] kalwabed commented on #1055
where I can find the `learn` page?

[2020-11-23 09:45] lidoravitan commented on #1055
The file is under: (Link to the [line](https://github.com/nodejs/nodejs.dev/blame/6c81d9adda2deb8bdb9fab0bef676af168fd7752/src/documentation/0001-node-introduction/index.md#L108))
`src/documentation/0001-node-introduction/index.md`

Feel free to ask any more questions :)

[2020-11-23 22:10] mhdawson opened #1057 "Node.js Website Redesign Strategic Initiative Meeting 2020-11-25"
## Time

**UTC Wed 25-Nov-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 25-Nov-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 25-Nov-2020 12:00 (12:00 PM) |
| US / Central  | Wed 25-Nov-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 25-Nov-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 25-Nov-2020 19:00 (07:00 PM) |

[2020-11-24 06:31] benhalverson commented on #1048
What should go in this doc? A lot of our practices are in the .eslintrc

[2020-11-26 07:15] noce2 opened #1061 "Add diagram in Event Loop Doc showing Execution Order for example with promise"
# Documentation on Event Loop needs a diagram showing the execution order in example with promise

- [X] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
Hi, thank you for [this](https://nodejs.dev/learn/the-nodejs-event-loop) incredibly helpful explanation on the Node.js Event Loop. I thought it would be nice to add an execution order diagram for the exa

[2020-11-26 11:30] kalwabed commented on #1055
Okay, now I must `fork` the repo and make a pr?

[2020-11-27 09:18] talarviv commented on #1052
I decided to split the change into two parts. so #1063 is about download cards.
I will open a new pull request for download button (LTS/Current screenshot 1).

[2020-11-27 22:57] lidoravitan commented on #1055
@kalwabed Actually yes. In case you want to take it:)
If yes, that could help: [CONTRIBUTING - Getting Started ](https://github.com/nodejs/nodejs.dev/blob/master/CONTRIBUTING.md#getting-started)

in any case feel free to ask for help

[2020-11-30 13:05] mhdawson opened #1066 "Node.js Website Redesign Strategic Initiative Meeting 2020-12-02"
## Time

**UTC Wed 02-Dec-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Dec-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 02-Dec-2020 12:00 (12:00 PM) |
| US / Central  | Wed 02-Dec-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 02-Dec-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 02-Dec-2020 19:00 (07:00 PM) |

[2020-12-01 04:43] DerekNonGeneric opened #1068 "There is no transition for the dark/light mode toggler"
## Description

There is no transition for the dark/light mode toggler.

### Steps to reproduce

Click the toggler.

### Expected result

There should be a slow transition.

### Actual result

Instant change, hurts eyes.

### Environment

- OS Version: n/a
- Browser Version: n/a

P.S. I think https://github.com/nodejs/node/pull/36306 wants to use these styles and might like the toggle. Who should

[2020-12-02 19:10] #1055 closed

[2020-12-04 05:11] benhalverson commented on #1061
Hi @noce2
We have a public storybook here is the link for the color's https://nodejs.dev/storybook/?path=/story/design--colors
Are you able to do a light and dark mode for something like this?

[2020-12-04 19:29] #1068 closed

[2020-12-05 05:00] DerekNonGeneric commented on #1068
@benhalverson, the issue is still unresolved.

[2020-12-06 06:31] benhalverson commented on #1068
Can you be more specific? I tested it on Windows 10, Ubuntu, and MacOS and all of them had a smooth animated transition. I used Chrome for all three

[2020-12-06 17:10] iranweld opened #1073 "How get a PID and KILL it by node.js"
I need  Node.js cod to get PID by port number and then kill this program in windows

netstat -ano | findstr :10515   // this code return PID a program listen to given port

taskkill /PID <PID Number> /F   // this code kill this program

[2020-12-06 21:22] DerekNonGeneric commented on #1068
Looks good now, thanks!

[2020-12-07 13:06] mhdawson opened #1074 "Node.js Website Redesign Strategic Initiative Meeting 2020-12-09"
## Time

**UTC Wed 09-Dec-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 09-Dec-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 09-Dec-2020 12:00 (12:00 PM) |
| US / Central  | Wed 09-Dec-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 09-Dec-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 09-Dec-2020 19:00 (07:00 PM) |

[2020-12-07 21:28] #1066 closed

[2020-12-07 21:28] #1053 closed

[2020-12-07 21:29] #1057 closed

[2020-12-07 21:29] #1047 closed

[2020-12-07 21:33] marcustisater commented on #1048
I think you could create new markdown pages like [https://github.com/nodejs/node/tree/master/doc/guides](https://github.com/nodejs/node/tree/master/doc/guides) and have them linked in the `CONTRIBUTING.md` so it's easy to find.

[2020-12-14 10:08] marcustisater opened #1081 "Dark mode toggle transition for font color swap is slow"
## Description

When toggling dark mode from the navigation the font color swap takes time. I can also confirm this when testning on my phone.

Details: https://twitter.com/ivansieder/status/1337034230652674048

### Steps to reproduce

Go to https://nodejs.dev/learn and toggle dark mode from mobile/tablet.

### Expected result

The font color should update instantly with a smooth transition.

[2020-12-14 13:05] mhdawson opened #1082 "Node.js Website Redesign Strategic Initiative Meeting 2020-12-16"
## Time

**UTC Wed 16-Dec-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Dec-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 16-Dec-2020 12:00 (12:00 PM) |
| US / Central  | Wed 16-Dec-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 16-Dec-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 16-Dec-2020 19:00 (07:00 PM) |

[2020-12-19 04:04] #1081 closed

[2020-12-21 09:21] rodion-arr opened #1089 "DownloadButton styling"
## Description

I'm facing broken styles on DownloadButton component on `/download` page.

### Steps to reproduce

1. Go to https://nodejs.dev/download/ on any device (tried laptop 15", iPhone 6/7/8 emulator)
1. Scroll down
1. Open additional downloads

### Expected result

Download buttons styled according to design:
https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=22%

[2020-12-21 13:05] mhdawson opened #1091 "Node.js Website Redesign Strategic Initiative Meeting 2020-12-23"
## Time

**UTC Wed 23-Dec-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 23-Dec-2020 11:00 (11:00 AM) |
| US / Mountain | Wed 23-Dec-2020 12:00 (12:00 PM) |
| US / Central  | Wed 23-Dec-2020 13:00 (01:00 PM) |
| US / Eastern  | Wed 23-Dec-2020 14:00 (02:00 PM) |
| EU / Western  | Wed 23-Dec-2020 19:00 (07:00 PM) |