[2018-02-01 16:52] fhemberger opened #281 "Content structure"
# Current website structure

[code]

[2018-02-16 20:26] amiller-gh opened #282 "Voice and Tone Guidelines"
The new website should include Voice and Tone guidelines that will help standardize our approach to content writing moving forward.

Some prior work in the Node org can be found in the [Evangelism Initiative Media Style Guide](https://github.com/nodejs/evangelism/blob/master/documents/socialMedia.styleGuide.md)

Some great resources from around the web include:
 - [Mail Chimp V&T Guide](http://voi

[2018-02-25 21:49] amiller-gh opened #279 "Website Wireframes"
Hey everyone!

In the [previous meeting](https://docs.google.com/document/d/1h3-YLjzeEZYKQQxscZUB44-jGmqFg4mwa0VO4VZb38Q/edit) we left with an action item to start iterating on site wireframes so we can have more detailed conversations about site structure and IA, especially now that https://github.com/nodejs/website-redesign/issues/4 has defined the site structure in broad strokes. I'm excited to

[2018-04-12 17:25] amiller-gh opened #278 "Update to Node.js Homepage Messaging"
As part of the Website Redesign committee's work, we will drive an update of the homepage's messaging: https://github.com/nodejs/community-committee/issues/242

---

For years, there has been some variation of the following tagline on the Node.js website:

While it's been modified and opened up a bit from the original tagline, it is not truly representative of what Node.js is... nor is it a very c

[2018-06-21 05:43] keywordnew opened #276 "List of Getting Started Content titles, grouped by stakeholder"
This is a starter list of Getting Started Content titles.

This list was generated from work done by wonderful contributors at this [website-redesign content creation workshop](https://github.com/nodejs/summit/issues/89).

## Next steps

Each title needs its own issue. Each title can then be discussed in comments, built out, and have context added.

When you see a title that has yet to get an issu

[2018-06-22 17:15] bnb opened #283 "User Feedback: Node.js Docs Survey"
I brought up a discussion around the Node.js docs and possibly sending out a survey via official means of communication in today's User Feedback session, specifically because of some of the discussions that we've had in this group.

I'd love to know if y'all feel this is a good idea. If you do, we can and should begin formulating questions around what we'd like to ask.

Some possible topics for qu

[2018-07-19 16:06] bnb opened #275 "Microsites Tracking"
Tracking the Microsites was originally discussed [here](https://github.com/nodejs/website-redesign/issues/4#issuecomment-365957539) but we just discussed in today's meeting and stated that a new issue to fully track microsites was a good idea.

Here's a list of the current microsites, to the best of my knowledge:

- ~https://store.nodejs.org/~
- ~https://nodejs.org/metrics/~
- https://nodejs.org/c

[2019-01-31 16:35] amiller-gh opened #277 "Migrate Foundation Website Content to New Site"
ref: https://github.com/nodejs/community-committee/issues/316

We walked through the Foundation website and made note of what content may need to be ported over to the new site – assuming the merger goes through. The full list of content identified and the current thinking around them are as follows:

 - Ensure home page content is covered by new home page.
 - Latest posts from Medium: Keep
 - Men

[2019-01-31 16:42] amiller-gh opened #1 "Integrate Glitch with Getting Started Content"
@potch is taking this one – will let him flesh out the ticket.

[2019-01-31 16:47] amiller-gh opened #2 "Functional "Learn Page" Sidebar"
We don't have a high fidelity mock for this yet, but this functionality is independent of design!
Per the [Learn page wireframe](https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens):

1) Every docs page adds a new item to the side bar.
2) Side bar titles are pulled from frontmatter metadata in the [docs markdown files](https://github.com/nodejs/website-redesign/tree/master/documentation).

[2019-01-31 17:21] amiller-gh opened #3 "Documentation Content Scrub"
Preview: http://nodejs-redesign.surge.sh/
Docs live here: https://github.com/nodejs/website-redesign/tree/master/documentation

Task: Review documentation and make sure voicing is appropriate for the format (ex: not 1st person, limit opinions, etc)

[2019-01-31 17:30] amiller-gh opened #4 "Create an i18n spin out meeting to talk shop."

[2019-01-31 17:37] amiller-gh commented on #4
@obensource I want to get a better idea of what i18n integration will look like :) Who should be in on this and what is the best venue?

[2019-02-01 05:51] potch commented on #1
The big question here is whether how best and where to code the glitch project embeds. The options that present themselves in order of increasing complexity are:

* Into the docs themselves, just replacing code blocks with the embed <iframe>
* Into a fork/branch of the docs used specifically for this project- preserves existing data
* Insert glitch references into the docs, turning them into embed

[2019-02-01 06:53] LaRuaNa commented on #1
I don’t know if we really want to replace code blocks with naked iframes. That would cost a lot of requests especially if they are not loading on demand. Not the best for UX.

If I understand you correctly that means we need to split the docs? I think splitting docs from code is generally not a good choice. Since you need to make changes at two different places maintenance gets more complicated. B

[2019-02-01 13:32] LaRuaNa commented on #2
I'm on it :]

[2019-02-01 17:17] argyleink commented on #2
css/html are ready for chip chop here! https://nodejs-static-site.firebaseapp.com/learn

[2019-02-06 19:09] potch commented on #1
@amiller-gh @MylesBorins @argyleink  are you okay with iframes in the short term? I know they're not ideal, but I'm sensitive to our fast-approaching deadline.

[2019-02-06 23:00] amiller-gh commented on #1
I'm personally fine with iframes in the short term to hit the deadline, but let's sync again on the long-term solution and track against it over the next month or so!

Let's use this issue to track short-term integration. Want to open up a new issue to hash out the long term implementation, RFC style?

[2019-02-06 23:09] potch commented on #1
@amiller-gh that's a good idea, will open a long-term integration issue.

[2019-02-07 10:15] #2 closed

[2019-02-07 22:55] potch commented on #1
Here's a screenshot of an embed in action:

![screen shot 2019-02-07 at 2 55 12 pm](https://user-images.githubusercontent.com/253470/52448333-711cc180-2ae8-11e9-9e95-c5872d87e886.png)

[2019-02-08 01:28] mcollina opened #10 "Readme instructions"
It does seems that `yarn develop` is not really working:

[code]

Can you update the README instructions?

(It would also be cool to have something published on netfly or similar, for quick, mobile reviews)

[2019-02-08 22:21] MylesBorins opened #13 "renaming repo"
Dealing with an internal bug in cloud build. renaming the repo to `website-prototype-static` to try and fix it

[2019-02-08 22:26] MylesBorins commented on #13
problem unrelated to repo name, reverted and closing

[2019-02-08 22:26] #13 closed

[2019-02-11 18:52] MylesBorins opened #18 "Make H1, H2, and H3s from markdown content anchor links"
Goto -> https://nodejs-infrastructure.firebaseapp.com/
Click and of the links to headers

Nothing happens

[2019-02-12 06:55] LaRuaNa commented on #18
Hm, there is also no link behind it just a cursor:pointer. What is even expected behaviour? Actually I don't see the point of having a link there. I see comes from [here](https://github.com/nodejs/website-prototype/blame/7cf1f81510569cd94665293f24cbb5afa77309d1/src/components/layout.css#L341). What was your intent @amiller-gh ?

[2019-02-12 22:05] amiller-gh commented on #18
From list of TODOs in https://github.com/nodejs/website-prototype/pull/9

Intent is for h1, h2 and h3 headers to be anchors, but you're right! They're not!

Let's consider this issue the feature ticket for implementing this. Now that I'm digging back out from my long weekend ski trip, I'm going to make all the other TODOs in that PR their own independent tickets.

I believe this will require a rem

[2019-02-12 23:09] amiller-gh opened #23 "V1 of Writer Attribution to each Learn Page from Markdown Frontmatter Metadata."
List of author Github IDs are present at the top of each markdown document. These should be displayed in a by-line on every page.

Bonus task: Load gravitar image or github profile image of same name?

V2 should pull from Github history, tracking ticket for those changes here: https://github.com/nodejs/website-prototype/issues/48

[2019-02-12 23:12] amiller-gh opened #24 "Pull `/learn` side menu content sections (ex: quick start, getting started) from markdown metadata"
Side menu sections are currently hard-coded. This will require the addition of a new metadata key in the markdown file frontmatter. We will need to figure out how to determine section sort order.

[2019-02-12 23:13] amiller-gh opened #25 "Add link to "edit this page on Github" on every `/learn` docs page"

[2019-02-12 23:14] amiller-gh opened #26 "Generate `/learn` page TOCs at build time."
Unsure of where to display them. Likely a desktop only feature in a new right rail if the browser window is wide enough.

[2019-02-12 23:14] amiller-gh opened #28 "Add links to the Github or and API docs in the top nav."

[2019-02-13 11:59] LaRuaNa commented on #25
I implemented the functionality so far. Do we have a design for that?

[2019-02-13 12:16] mbj36 opened #32 "Add 'Next' and 'Previous' in every learn page."
Adding Next and Previous arrow button to every learn page on end to navigate to next section or previous section

[2019-02-13 12:18] mbj36 opened #33 "Add Favicon to website"
Currently it's default gatsby logo. Need to change it to NodeJS logo

[2019-02-13 12:21] mbj36 opened #34 "Links to navigate to appropriate section"
<img width="534" alt="screenshot 2019-02-13 at 5 50 19 pm" src="https://user-images.githubusercontent.com/9936881/52711466-e3454880-2fb7-11e9-9c69-7dddf70c31c8.png">

Currently these links just prepends the # to route, it should scroll down to appropriate section in the website

[2019-02-13 12:27] LaRuaNa commented on #34
There is a similar topic here #18

[2019-02-13 12:28] mbj36 commented on #34
Thanks @LaRuaNa Closing this then

[2019-02-13 12:28] #34 closed

[2019-02-13 12:31] mbj36 opened #35 "Navigation only working when clicked on text"
<img width="347" alt="screenshot 2019-02-13 at 5 59 57 pm" src="https://user-images.githubusercontent.com/9936881/52711977-4aafc800-2fb9-11e9-9012-9250c29c691c.png">

Navigation works only when text is clicked, should we also allow to navigate if clicked on circle ? @amiller-gh

[2019-02-13 12:52] mbj36 opened #36 "Consider using styled-components ?"
As the site grows up, should be consider using styled-components or continue with external/inline css ?

cc - @MylesBorins @amiller-gh

[2019-02-13 12:57] mbj36 commented on #36
Sorry seems like we are already considered using 'react-emotion`

[2019-02-13 12:57] #36 closed

[2019-02-13 17:13] #33 closed

[2019-02-13 19:06] mbj36 commented on #28
#38 should fix this.

[2019-02-14 07:23] keywordnew commented on #10
I believe the instructions work after PR #19. Closing for now, feel free to reopen if this action was done in error :)

[2019-02-14 07:23] #10 closed

[2019-02-14 11:12] LaRuaNa opened #44 "Review the prettierrc and adapt "best practice""
We realised in a [PR](https://github.com/nodejs/website-prototype/pull/38#discussion_r256542186) that the [prettier config](https://github.com/nodejs/website-prototype/blob/master/.prettierrc) doesn't contain the "best practice". It needs to be reviewed and updated.

[2019-02-14 17:19] keywordnew commented on #18
Todo:

- [ ] Research Remark plugin that we can use in Gatsby

[2019-02-14 17:22] bnb commented on #18
Possible plugin: https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/

[2019-02-14 17:28] keywordnew commented on #23
Todo: The Frontmatter data at the top of each markdown document, such as [this](https://github.com/nodejs/website-prototype/blob/master/src/documentation/0001-node-introduction/index.md), needs to be used as attribution in every the page.

- [ ] Update field to 'authors'
- [ ] Parse Frontmatter data
- [ ] Extra: pull gravatar/avatar

[2019-02-14 17:29] mbj36 opened #46 "Add a contributor section to each docs page"
reference - https://webpack.js.org/concepts

@bnb suggested of automating through git history

[2019-02-14 17:29] amiller-gh commented on #23
Ex, see bottom of: https://webpack.js.org/concepts

[2019-02-14 17:30] mbj36 commented on #46
seems like it's already in #23

[2019-02-14 17:30] #46 closed

[2019-02-14 17:35] codeekage opened #47 "Create Social Meta-Data"

[2019-02-14 17:37] amiller-gh opened #48 "V2 of Writer Attribution – Pull From Github History"
tl;dr (added by @bnb):

Automation of credit for content is vital if we do want to be inclusive and give credit where credit is due.

[2019-02-14 17:38] keywordnew commented on #23
@LaRuaNa has taken this on. Thank you! 🙌🏽

[2019-02-14 17:41] amiller-gh commented on #35
Oops! That'd be a bug. Let's fix this.

[2019-02-14 17:43] keywordnew commented on #4
Todo

- [ ] Need to contact i18n champions for meeting in late Feb

[2019-02-14 18:02] bnb commented on #48
A couple of examples of this in the wild:

Example from Webpack:
![image](https://user-images.githubusercontent.com/502396/52806285-94022500-3056-11e9-892b-5edf9acd3d1c.png)

Example from docs.microsoft.com:
![image](https://user-images.githubusercontent.com/502396/52806425-feb36080-3056-11e9-9bb5-c8804c00bb3c.png)

Surprisingly, quite a few projects and platforms (I checked Babel, Vue, Angular, R

[2019-02-14 18:04] MylesBorins opened #49 "temporarily disabled build on pull requests"
Identified a potential security problem with the initial implementation. Am working on a solution and will report back soon.

Deploys are still happening for master branch

[2019-02-14 18:05] devamaz commented on #35
will be working on this.

[2019-02-14 18:12] keywordnew commented on #35
@devamaz super!

[2019-02-14 18:21] fhemberger commented on #18
FYI: As non-latin characters don't work for anchors, we added a workaround on the current website:

`## 这是非英语的标题` uses the comment as anchor instead of the headline text.

Ref: https://github.com/nodejs/nodejs.org/pull/2045

[2019-02-14 18:55] keywordnew commented on #4
Looks like we'll need to work with i18n on how their translations are exporting and make sure we can consume it.

The work seems feasible in the timeframe, mostly syncing, and checking the implementation is up-to-date.

We can help @nodejs/i18n get much needed translations in certain underserved languages by leveraging .dev TLD promotional push to show the world that the infrastructure is there an

[2019-02-14 19:10] zeke commented on #4
Hi! I'd be happy to meet in late February to help move things forward. Would love to dust off the i18n module we started on and get a working version into the hands of folks working on new website stuff.

[2019-02-15 02:24] Maledong commented on #18
For non-English or latin characters, or some very long title with a short anchor link, we've used the content in our comments as the anchor link.

So you can take this as the example (Make sure that your anchor link name MUST ONLY HAVE English characters or '-'):
https://github.com/nodejs/nodejs.org/blob/master/scripts/plugins/anchor-markdown-headings.js

[2019-02-16 04:23] amiller-gh opened #52 "Close side menu on article selection"
In both mobile and tables views, the side menu should automatically close when a new article is selected.

[2019-02-16 04:24] amiller-gh opened #53 "Scroll to active item on menu open"
In both mobile and tablet views, when the side menu is opened, the menu scroll position should be set to show the selected page.

[2019-02-16 04:25] amiller-gh opened #54 "Fix menu title color change on Safari"
There is a bug in the side menu title change on mobile safari. The text does not change from black to white at the correct point in the page scroll.

[2019-02-16 10:01] imbhargav5 commented on #52
Can I take this up?

[2019-02-16 10:02] LaRuaNa commented on #52
@imbhargav5 feel free :]

[2019-02-16 10:12] imbhargav5 opened #55 "Consider using hooks?"
Since hooks has become stable, should we increment react-dom version to 16.8 as well? React is already set to 16.8 in package.json.

https://github.com/nodejs/website-prototype/blob/b6aa6474f3b85c2043d9ed097473f2a42aa1dff2/package.json#L26-L27

[2019-02-16 10:27] mbj36 commented on #44
@MylesBorins @keywordnew @amiller-gh need to discuss this asap as this can lead to conflicts in PR. we have already pinged interested people and definitely don't want people to solve conflicts as they land a PR.

[2019-02-16 13:54] ollelauribostrom opened #59 "Testing framework"
I would like to suggest adding a testing framework. It's nice to have this early on so that we can add tests right away when creating new features. The [Gatsby documentation](https://www.gatsbyjs.org/docs/unit-testing/) suggests using jest which in my opinion is a great idea.

What are your thoughts on this? Should we also use something like react-test-renderer or enzyme to verify component output

[2019-02-19 15:07] MylesBorins commented on #32
Fixed in https://github.com/nodejs/website-prototype/pull/60

[2019-02-19 15:07] #32 closed

[2019-02-19 15:09] imbhargav5 commented on #52
This issue can now be closed.

[2019-02-19 15:10] #52 closed

[2019-02-19 15:10] imbhargav5 commented on #59
I have been using `react-testing-library` and I absolutely loved its api. I think it works amazingly well with jest.

[2019-02-19 15:11] MylesBorins commented on #1
Thanks for the work on this potch

[2019-02-19 15:11] #1 closed

[2019-02-19 19:27] #55 closed

[2019-02-19 20:40] devamaz commented on #35
for some reason am finding it difficult to run this on my system.

[2019-02-19 22:35] MylesBorins commented on #49
Cloud Build is now setup to require a maintainer to kick it off

a comment that says `/gcbrun` will trigger a build on our infrastructure. I will follow up with documentation on this.

[2019-02-19 22:35] #49 closed

[2019-02-19 23:56] ahmadawais commented on #18
Have you folks tried `ScrollableAnchor` by using `[react-scrollable-anchor](https://www.npmjs.com/package/react-scrollable-anchor)` That works super well for me in my Gatsby sites.

I'd love to give it a shot.

[2019-02-20 06:31] MylesBorins commented on #59
we landed a first pass in #62

[2019-02-20 06:31] #59 closed

[2019-02-20 07:06] keywordnew commented on #4
Super! 🎉 Dropped a couple of times at the very tail-end of February...March 1. If not, we'll try for a few more times the week after.

@amiller-gh what are the relevant deadlines? Also, please doodle :)

@obensource @zeke there's a doodle below to get us synced for time!

https://doodle.com/poll/srdz6eet8qwdxphs

[2019-02-20 07:20] keywordnew commented on #44
We can allocate time in the next Website Redesign sync to discuss and find early consensus.

Or at least enough consensus to have initial answers to the most common configs. Much of the Prettier config will be down to preference :)

[2019-02-20 10:37] LaRuaNa commented on #35
@devamaz What error you are getting?

[2019-02-20 13:00] LaRuaNa opened #79 "Add 404 Page"
Link the 404 page instead of showing "404" string on learn page if content cannot be found

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/2481234/53093400-9dd4ce00-3517-11e9-9c6e-e1ebf416590d.png">

[2019-02-20 14:38] imbhargav5 commented on #79
I am taking this up.

[2019-02-20 14:40] KirankumarAmbati opened #81 "Next of "Differences between Node.js and the Browser" lands on 404"
![screenshot 44](https://user-images.githubusercontent.com/9110567/53099200-4cdecd00-354b-11e9-98ce-4e676488f487.png)

**Reason:**

URL is rendered as **https://nodejs.dev/learn/the-v-javascript-engine** instead of **https://nodejs.dev/learn/the-v8-javascript-engine**

[2019-02-20 15:01] LaRuaNa commented on #81
We have the same here #78

[2019-02-20 15:01] #81 closed

[2019-02-20 15:10] LaRuaNa opened #84 "Refactor page creation"
As [this](https://github.com/nodejs/nodejs.dev/pull/78) bug showed the way we create slugs and pages is quite error-prone and gatsby unlike. We create 'slug' at 2 different places [here](https://github.com/nodejs/nodejs.dev/blob/master/src/util/createSlug.js) and [here](https://github.com/nodejs/nodejs.dev/blob/master/src/pages/learn.tsx#L118) totally differently. We should move the page creation

[2019-02-20 15:13] ollelauribostrom commented on #84
We can now query the slugs everywhere 🙂 There is no longer any need for any regular expressions in any pages/components. Whenever we want the slug for a page, just include
[code]
in the query 🎉

[2019-02-20 16:01] zeke commented on #4
✅ doodle

[2019-02-20 16:08] KirankumarAmbati commented on #53
HI @amiller-gh,

I'm trying to recreate the issue but I think it is working as expected. Please can you verify and let me know if it's fixed or I'm looking at something wrong.

If the issuue still exists, I'll be happy to take it up. :)

[2019-02-20 16:43] MylesBorins commented on #84
@ollelauribostrom would you like to open a PR to replace the regex?

[2019-02-20 16:49] ollelauribostrom commented on #84
@MylesBorins Yes, I'm on it!

[2019-02-20 16:51] LaRuaNa opened #86 "Side Navigation font colour inconsistent"
Can someone please crosscheck on my mobile "Getting Started" seems white.
![image](https://user-images.githubusercontent.com/2481234/53108222-f1a2df80-3536-11e9-8b1c-3e242f57f794.png)

But on my Macbook everything seems to be OK. o_O

<img width="501" alt="image" src="https://user-images.githubusercontent.com/2481234/53108778-e308f800-3537-11e9-8fcd-ce5e36e385e9.png">

[2019-02-20 16:59] ollelauribostrom commented on #86
I've noticed this as well but on my 13" Macbook. Looks like this:
<img width="500" alt="skarmavbild 2019-02-20 kl 17 57 50" src="https://user-images.githubusercontent.com/16004130/53109439-2b74e580-3539-11e9-9805-ddead08968f0.png">

[2019-02-20 17:08] #79 closed

[2019-02-20 18:02] amiller-gh commented on #18
Take it away @ahmadawais  🙂
We may till need to use [gatsby-remark-autolink-headers](https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/) since we're generating the content from markdown files – but I'll leave that research task to you!

[2019-02-20 19:37] KirankumarAmbati commented on #86
Seems like **layout.css** --> **.side-nav__title** --> **-webkit-text-fill-color: transparent;** property is not working in some of the mobiles ( includiing mine ) But I didnt find an alternate to solution to this. As a solution to this, I modified the fallback color to **color: #a0a097**

[2019-02-20 20:16] #84 closed

[2019-02-20 21:20] ollelauribostrom commented on #86
This seems related to the `background-position` property somehow 🤔

[2019-02-20 21:49] ahmadawais commented on #47
Fixed in #68

[2019-02-20 22:10] obensource commented on #4
Thanks y'all! So super stoked to sync on this and make rad things happen together! Just a bit of 'dusting off' (as @zeke put it) and wiring things up, and everything should be in place for a good PR push to get more translation help! 🎉🎉🎉

![incomputer1](https://user-images.githubusercontent.com/1910457/53128104-e9d44280-3518-11e9-8ddb-2b93b93e64bc.gif)

March 1 is a bit difficult for me, I could d

[2019-02-21 08:30] KirankumarAmbati commented on #35
I figured out the issue and submitted a PR for the same. #93  Thank you!

[2019-02-21 09:15] #35 closed

[2019-02-21 10:35] ahmadawais commented on #44
I have a PR down in #90 and would love to take part and collaborate on this one. Shouldn't be a big issue. Also would love to create auto formatting after commit so everyone stays consistent with the standard even with different preference inside their editor of choice.

Peace! 👌

[2019-02-21 10:49] LaRuaNa commented on #44
#97

[2019-02-21 19:00] mbj36 opened #101 "Better 404 page"
Currently it;s just the title and text which also has a typo, we need a better and interesting 404 page with link to home page.

[2019-02-21 19:02] mbj36 commented on #101
Should be worked after the refactor PR #61 has been merged.

[2019-02-21 19:06] mbj36 commented on #53
@KirankumarAmbati The content inside the menu should also be scrolled (when we go back to open menu again).

[2019-02-21 19:08] mbj36 commented on #47
This can be closed @MylesBorins

[2019-02-21 19:16] #47 closed

[2019-02-21 19:20] #25 closed

[2019-02-21 19:20] abraham opened #102 "Menu scrollbar overlaps content on "narrow" screens"
Size the browser window below `1262px` so that the sidebar nav collapses and the sidebar scrollbar is still visible and overlaying the main content.

![screenshot from 2019-02-21 13-12-12](https://user-images.githubusercontent.com/3341/53195122-9aeee180-35da-11e9-8767-2b78e053cd0c.png)

![screenshot from 2019-02-21 13-11-38](https://user-images.githubusercontent.com/3341/53195206-d093ca80-35da-11e

[2019-02-21 19:22] MylesBorins opened #103 "Turning off "merge" button"
Hey All,

I would very much like if we used either rebase or squash workflow rather than merge. Aside from removing lots of merge commits it will also keep the history of the repo linear, which has the wonderful affect of making it easier to use `git bisect` to find problems when they leak in.

Additionally I think we should aim to squash PRs into a single commit unless there are explicit reasons

[2019-02-21 19:24] mbj36 commented on #103
+1 for this.

[2019-02-21 19:26] LaRuaNa commented on #103
Let's take this in [CONTRIBUTING](https://github.com/nodejs/nodejs.dev/blob/master/CONTRIBUTING.md)

[2019-02-21 19:31] MylesBorins commented on #103
@LaRuaNa there is a setting in github for turning off the merge button. Although if we want to have policy around squashing commits that should be documented as well

[2019-02-21 19:34] MylesBorins commented on #102
We just pushed some style changes. Is this still happening?

On Thu, Feb 21, 2019, 2:20 PM Abraham Williams <notifications@github.com>
wrote:

[2019-02-21 19:45] abraham commented on #102
Yes. Still happening.

[2019-02-21 19:50] LaRuaNa commented on #103
@MylesBorins That sounds cool. I'm totally in favour of squashing commits. Adding this on wr-agenda

[2019-02-21 20:35] ollelauribostrom commented on #102
In Chrome 72.0.3626.109 on my Macbook everything looks fine.

[2019-02-21 20:40] abraham commented on #102
In Chrome I can "fix" it by enabling the experimental "Overlay Scrollbars" flag `chrome://flags/#overlay-scrollbars`.

[2019-02-22 10:26] LaRuaNa commented on #24
@amiller-gh do you see here anything else to do after PR #61 ?

[2019-02-22 10:52] LaRuaNa opened #106 "/learn path shows up briefly 404"
While loading /learn shows up briefly -depending on your connection speed- 404.
Steps to reproduce:
- throttle your connection in developer tools
- disable cache
- go / hard reload on any subpage of /learn

<img width="914" alt="image" src="https://user-images.githubusercontent.com/2481234/53236983-e3b7a080-3695-11e9-99b3-a356ddfa2514.png">

[2019-02-22 11:26] ahmadawais commented on #101
I'll take that. We definitely need to merge #61 ASAP. It's a good one.

[2019-02-22 11:36] mbj36 commented on #101
@ahmadawais It's merged now!

[2019-02-22 14:58] devsnek opened #109 "site triggers a popup asking me to add to my homescreen"
pretty annoying popup by itself, but i especially don't think it makes sense on this site.

[2019-02-22 16:32] ahmadawais commented on #101
Great. Started working on it.

[2019-02-22 16:33] ahmadawais commented on #103
+1 for the squashed commits. Let's do it.

[2019-02-22 16:34] MylesBorins commented on #103
Merge button is now officially disabled. I'll leave this open for the redesign group to discuss, we can iterate and change defaults as neccessary

[2019-02-22 17:14] ahmadawais commented on #109
@devsnek can you test the link in the build at #110

[2019-02-22 17:15] MylesBorins commented on #109
@devsnek this is a feature of the fact the site is a progressive web app. Are you seeing this on desktop? it should only be showing up on mobile. If installed the site will be able to work offline.

[2019-02-22 17:22] mbj36 commented on #28
#111

[2019-02-22 17:54] LaRuaNa commented on #109
@MylesBorins I think devsnek means mobile. It wouldn't pop up on desktop o_O. I agree at that point with @devsnek that's not really a feature we need. Since we have the gatsby-plugin-offline the page works offline without adding it to home screen from the worker.

[2019-02-22 18:06] pierreneter commented on #109
I think we can't turn off this popup, this popup is generated by mobile browsers automatically if the site is available offline (pass PWA), as here by `gatsby-plugin-offline`.

[2019-02-22 18:16] pierreneter opened #112 "UI - don't scroll by X"
![2019-02-23 4](https://user-images.githubusercontent.com/12815768/53262188-8c064d00-3708-11e9-9a04-a25e5d6fa32d.png)

Scroll by X is not a good experience.

Chrome 72 / Windows 10

[2019-02-22 18:19] devsnek commented on #109
@ahmadawais i opened that build and looked around it for a few min and didn't see any popups, but the original popup didn't show immediately so i'm not sure if i just haven't seen it yet or if its actually gone.

[2019-02-22 18:21] ahmadawais commented on #109
I think it's a standard feature for PWA's and we should just let it be. PWA's are fun and having site installed on someone's mobile won't make for a bad experience. I know many sites that do the same thing. Dev.to being a good example.

In any case, here are more details about the kind of options we have for this.

https://developers.google.com/web/fundamentals/web-app-manifest/#display

On my sit

[2019-02-22 18:22] ahmadawais commented on #112
Can you share the URL of this page?

[2019-02-22 18:25] pierreneter commented on #112
URL of this page is https://nodejs.dev

[2019-02-22 18:25] devsnek commented on #109
I guess its just sort of an opinion thing. `dev.to` makes sense since its a platform, but sites like `nodejs.dev` which are just informational asking to install themselves on my phone makes me not want to not go to those sites anymore.

[2019-02-22 18:28] ahmadawais commented on #112
Also, share your screen resolution? I can't seem to regenerate this issue.

[2019-02-22 18:32] MylesBorins commented on #109
@devsnek if you visit https://storage.googleapis.com/staging.nodejs.dev/7ca8359/index.html you should no longer see the prompt.

You will need to refresh your cache to get prompted again on main site (it will only prompt once).

[2019-02-22 18:36] devsnek commented on #109
@MylesBorins said above, i haven't seen it 👍

[2019-02-22 18:39] ahmadawais commented on #109
@devsnek It shouldn't show up now.

Right now it's set to `browser` for a standard browser experience.

I think this means we can close this now. 👍

[2019-02-22 18:43] #109 closed

[2019-02-22 18:50] pierreneter commented on #112
Zoom is 100%, and resolution is 1920 x 1080

[2019-02-22 18:55] pierreneter commented on #112
You can see it existed at pics of https://github.com/nodejs/nodejs.dev/pull/104

[2019-02-22 18:56] pierreneter commented on #112
end of pics

[2019-02-22 19:22] #102 closed

[2019-02-22 19:23] #112 closed

[2019-02-22 19:28] LaRuaNa commented on #54
Sorry if it's the same bug #86

[2019-02-22 19:39] pierreneter opened #114 "Mobile - need space between top and logo"
![screenshot_20190223-023800_chrome](https://user-images.githubusercontent.com/12815768/53266737-42236400-3714-11e9-97cd-9921b5d5f9fd.jpg)

noti bar touching a logo is not a good idea

Chrome 72 / Android 8.0.0

[2019-02-22 19:44] LaRuaNa commented on #114
Mh, interesting I cant reproduce wanna open a PR for that?

[2019-02-22 19:45] mbj36 commented on #114
@LaRuaNa Same, can't reproduce!

[2019-02-22 19:45] LaRuaNa commented on #114
@pierreneter What's your resolution?

[2019-02-22 19:47] pierreneter commented on #114
please scroll

[2019-02-22 22:55] aykutkardas opened #116 "side-nav scroll bar has only been changed to appear in the hover."
Scroll in Windows looks bad. We can hide like this.

![alt text](https://media.giphy.com/media/46zn78D8B7u82XZSdE/giphy.gif "Hover")

[2019-02-23 22:17] ahmadawais commented on #28
Fixed in #111 — close this one.

[2019-02-24 13:26] #28 closed

[2019-02-24 19:07] BeniCheni commented on #53
Hello, tried out a fix for this issue in #123. Looking forward to the review.

[2019-02-25 22:41] Ethan-Arrowood opened #126 "Add section on net module"
Hello! I'd like to write the section on the `net` module. I have been working with it heavily while taking my network programming university course and would love to contribute back to the Node.js community.

[2019-02-26 07:13] MylesBorins opened #127 "How do we want to add new members?"
We now have a nodejs.dev team for giving maintainers of this site a commit bit. I started us off with a team of 13 people, equal mix of current Node.js Members and new faces that have been fairly active in getting this first iteration of nodejs.dev out the door.

Since we will want to welcome + empower new faces that come along, how do we want to go about handing out more commit bits?

Number of c

[2019-02-26 08:09] #114 closed

[2019-02-26 17:12] MylesBorins opened #129 "Protecting master branch"
Hey All,

I've enabled branch protection on master to avoid folks accidentally breaking our current policy. It comes with the following restrictions

* Require Pull Request before merging
  - Requiring 1 reviewer
  - Dismiss stale pull request approvals when new commits are pushed
* Require status checks to pass before merging
  - Require branches to be up to date before merging
  - specifically t

[2019-02-26 18:33] keywordnew commented on #4
Monday to Friday the following week (week of March 3rd) will be difficult to coordinate, I'm temporarily out of my usual timezone.

@obensource if you'd like to give the week of March 3rd a go, please feel free to drop a new doodle.

Otherwise I'd suggest the week of March 10th.

[2019-02-26 23:55] ZYSzys opened #134 "force to add subsystem in commit message"
Should we force to add subsystem in commit message to make sure our commit history can be clean & clear ?

Things like #133 would make our commit history a bit inconsistent.

[2019-02-27 00:07] ollelauribostrom commented on #134
I think that sounds like a good idea 👍

[2019-02-27 07:18] LaRuaNa commented on #24
We have a quite OK approach right now to determine section and order but i see couple of problems we gonna face when we wanna add topics in between. So I researched a bit and saw lot of projects where people using YAML to define the structure and order of menus and link them via slug. I think it's a better way to deal with that issue.

[2019-02-27 07:48] LaRuaNa commented on #106
I dug into this problem for quite a while and it seems like it comes from dynamically generated pages. Working on fix.

[2019-02-27 10:49] sagirk commented on #127
To kick off the discussion, I'm thinking that existing team members nominate new collaborators based on the number of commits and code reviews.

Collaborators then vote and a consensus is reached.

If everything goes well, the new collaborator is onboarded — very similar to what is currently followed in `core`, but with relaxed requirements.

[2019-02-27 14:08] ahmadawais opened #139 "Repository Description Change"
This repo has a description written up top

![](https://on.ahmda.ws/31acc4/c)

[code]

Can someone with the right access change it to

[code]

cc: @amiller-gh @MylesBorins
Peace! ✌️

[2019-02-27 15:01] ahmadawais commented on #127
I agree with @sagirk there. We can have a limit of minimum 3 merged PR before starting the process of nomination from other team members and voting.

[2019-02-27 15:05] richardlau commented on #127
Just to clarify, in core there is no voting. Potential collaborators are nominated and accepted provided there are no objections.

[2019-02-27 15:25] MylesBorins commented on #139
updated with slight editorial change. FWIW I don't think we are using contentful anymore. So we may want to drop from description

[2019-02-27 15:25] #139 closed

[2019-02-27 15:47] ahmadawais commented on #139
@MylesBorins I thought we were going to use it next — but that's too far along.

I just filed a PR for that #141 kindly merge that and update the description of GitHub repo to the following:

[code]

Looking forward, peace! ✌️

[2019-02-27 17:01] #101 closed

[2019-02-28 04:28] ZYSzys commented on #129
A suggestion: can we cancel `This branch is out-of-date with the base branch` ?

![screen shot 2019-02-28 at 12 23 58 pm](https://user-images.githubusercontent.com/23313266/53541233-caaa6600-3b53-11e9-92da-3776452a9ba9.png)

I think it's ok to be squashed and merged if CI passed without updating branch.

But now we need to click `Update branch` almost every time when we are ready to merge PRs, it'

[2019-02-28 06:46] sagirk commented on #127
Ah, my bad! Let's follow the same nomination strategy here too.

+1 to this, with one change: change `voting` to `accept if no objections` per Richard's comment above.

[2019-02-28 07:10] #134 closed

[2019-02-28 07:11] sagirk commented on #134
Landed in https://github.com/nodejs/nodejs.dev/pull/135.

[2019-02-28 07:14] sagirk opened #150 "No periods at the end of commit messages"
Discussion continued from https://github.com/nodejs/nodejs.dev/pull/135.

@ahmadawais:

@sagirk:

[2019-02-28 07:59] #129 closed

[2019-02-28 08:34] sagirk commented on #127
Added `wr-agenda` label.

[2019-02-28 08:35] lidoravitan commented on #86
@LaRuaNa  Is this bug taken?

[2019-02-28 16:09] amiller-gh commented on #127
Hey all, re-surfacing finally 🙂 I like the above. We'll sync on it in today's meeting and codify it after. Thanks for ensuring this ticket made it on the agenda.

[2019-02-28 16:13] amiller-gh commented on #150
The linter follows Conventional Commits: https://www.conventionalcommits.org/en/v1.0.0-beta.3/

Just noticed that #135 didn't link to the CC spec as reference – we should probably do that for education.

Nothing in the spec requires a `.`, so I'm fine with dropping that restriction from the linter if it is easy to do 🙂

[2019-02-28 16:15] amiller-gh commented on #126
Hello! We would love the contribution! Please feel free to follow the process outlined here: https://github.com/nodejs/nodejs.dev/tree/master/src/documentation

Once a PR is up, we'll all take a look 🙂

[2019-02-28 16:17] Ethan-Arrowood commented on #126
Awesome! I’ll send something through soon.

[2019-02-28 16:25] amiller-gh commented on #54
@LaRuaNa Duplicate 🙂 Your has more activity though, we'll track on that one.

[2019-02-28 16:25] #54 closed

[2019-02-28 16:28] amiller-gh commented on #86
@lidoravitan doesn't look like it! Take it away.

I have a hunch its a bug in how we calculate the `--magic-hero-number` css variable on mobile screens:
https://github.com/nodejs/nodejs.dev/blob/5611bb6d1e6f09765efa18b84bcfc4c1d1d89fab/src/components/layout.tsx#L28

It positions a fixed background gradient that is clipped to the text path so the copy changes from black to white at the header break

[2019-02-28 16:40] amiller-gh commented on #24
Yup! It does look like #61 addresses this specific ticket :)

I do agree that we will have growing pains down the road. Care to write up an RFC for a section / slug metadata proposal?

[2019-02-28 16:41] amiller-gh commented on #24
It looks like #61 also defaults the section name to "Getting Started" if it is not defined (unless I'm reading incorrectly) there are certainly improvements to be made here 👍

[2019-02-28 16:51] LaRuaNa commented on #24
Thats true. I'm working on a PR in which sections are dynamically generated via section tag in MDs. We can land that one as v1 then I can take care of it.

[2019-02-28 17:11] jonchurch commented on #44
Here are prettierrc [options](https://prettier.io/docs/en/options.html) for reference.

[2019-02-28 17:24] LaRuaNa commented on #44
I'll open a PR in which I'll experiment with prettier based on tslint airbnb config

[2019-02-28 18:53] sagirk commented on #150
In https://github.com/nodejs/nodejs.dev/pull/152,

- Documented the decision to disallow periods at the end of commit messages
- Added a link to `Conventional Commits`
- Updated commitlint config to reflect the above decision

[2019-02-28 19:12] sagirk commented on #44
As agreed in [today's meeting](https://docs.google.com/document/d/1JizrFXDqS7T3RzwuGELUBytBD3fBHn-Pzc2XuY5SrS8/edit), it's recommended to include the default settings too in the prettier config to explicitly state the project's choices.

The existing config remains as is, with the exception of `jsxBracketSameLine` which is to be turned off. I'm opening a new PR for this.

@LaRuaNa will take care o

[2019-03-01 03:07] #44 closed

[2019-03-01 15:06] LaRuaNa opened #158 "Prepare RFC for a section / slug proposal"

[2019-03-01 15:07] LaRuaNa commented on #24
#158

[2019-03-02 02:10] #150 closed

[2019-03-02 02:12] ZYSzys opened #160 "cancel `update branch`"
Can we cancel `update branch` button which said `This branch is out-of-date with the base branch` ?

![screen shot 2019-02-28 at 12 23 58 pm](https://user-images.githubusercontent.com/23313266/53541233-caaa6600-3b53-11e9-92da-3776452a9ba9.png)

I think it's ok to be squashed and merged if CI passed without updating branch.

But now we need to click `Update branch` almost every time when we are rea

[2019-03-02 16:51] lidoravitan commented on #86
@amiller-gh cool! thanks.  I will check it out as soon as possible. 💚

[2019-03-02 19:30] MylesBorins commented on #160
@ZYSzys we definitely can cancel it easily. The reason it is happening is that "technically" a branch has no longer been tested if something has landed on master... meaning that the test suite that had been run previously was based n a state that no longer exists.

I've gone ahead and disabled it for now, but we may want to consider re-enabling

[2019-03-03 03:04] BeniCheni opened #163 "Migrating to Emotion 10?"
While trying the fix with `emotion` in #162 and looking at `emotion` doc, found out that v10 is the latest version for `emotion, and there's this [Migrating to Emotion 10](https://emotion.sh/docs/migrating-to-emotion-10) to support the effort.

Wondering your thoughts about any benefits to migrate to `emotion` 10 for this project?

[2019-03-03 03:15] BeniCheni opened #164 "Add prettier to husky hooks?"
While trying "format" script locally when working on #162, the script picked up some code format updates. That led my curiosity to audit the `husky` config in `package.json`:

[code]

Would you think that it'd be productive to add prettier to the `husky` pre-commit hooks to check code format?

[2019-03-03 04:22] ZYSzys commented on #164
Sounds like a good idea.

[2019-03-03 04:48] sagirk commented on #164
I feel adding prettier to pre-commit hooks will slow down developer velocity.

Adding it to a pre-push hook would be more acceptable. Most developers use `commit` far more frequently than `push`. This way, prettier runs only once when pushing rather than on every commit which can get annoying.

[2019-03-03 05:07] sagirk commented on #163
Other than your fix, I don't think we've leveraged `emotion` as of yet in the codebase (I could be wrong, though).

I see no harm in upgrading to the latest.

Thoughts @LaRuaNa @ollelauribostrom?

[2019-03-03 05:19] BeniCheni commented on #164
@sagirk, pre-push hook does sound more acceptable to gate-check code format. Ditto pre-push option.

[2019-03-03 06:36] KirankumarAmbati opened #165 "After hitting 404 page, UI stopped responding to any links."
**404 Page:**

 ![screenshot 51](https://user-images.githubusercontent.com/9110567/53691860-54ed0700-3dac-11e9-96b8-53b0369a4c08.png)

**Navigating to correct URL (by clicking any URL on Screen) still shows 404:**

![screenshot 52](https://user-images.githubusercontent.com/9110567/53691873-8b2a8680-3dac-11e9-8186-c4aceb8d00a8.png)

**Console Error:**

![screenshot 53](https://user-images.githubuse

[2019-03-03 08:02] LaRuaNa commented on #163
In the actual code there is no emotion used. So we can update to the latest version and migrate couple of lines CSS we have to emotion. Wanna open a PR @BeniCheni ? :]

[2019-03-03 08:21] LaRuaNa commented on #164
We can add a "--check" but automatically pre push or commit format is quite bad practice. You push code with changes which you don't see. I'm working on a PR to integrate linter + prettier. I think we'll need to change or rethink or rules anyways :]

So all in all: pre push --check ✔️

[2019-03-03 10:06] sagirk commented on #164
Yup. Sounds far more reasonable. 💯 👍

[2019-03-03 10:58] LaRuaNa commented on #158
Consider [that](https://github.com/nodejs/nodejs.dev/pull/157#issuecomment-469011267)

[2019-03-03 13:17] BeniCheni commented on #163
@LaRuaNa, #162 tries out emotion in its fix. I can look out for other CSS to emotion as I see fit in the migration. Happy to try a PR.

[2019-03-03 15:32] BeniCheni commented on #164
@LaRuaNa, +1 ☝️ reason not to commit format update in pre-push.

After reviewing #97, there are "format-check" and "tslint" scripts that pre-push hook can potentially use those scripts to just run check on code format but not commit anything. I can look out for the merge of #97, and then follow up with a simple PR for pre-push check.

[2019-03-03 15:40] LaRuaNa opened #169 "Navigation / Section Proposal"
Hi all,

as mentioned in the [meeting](https://github.com/nodejs/website-redesign/blob/master/meetings/2019-02-28.md) the structure of our navigation will cause some headache, as soon as we intend to add new articles, change order or section of an Article. If you didn't notice that yet, take a look how we deal with navigation currently.

### How do we do it now?
We make an [allMarkdownRemark](http

[2019-03-03 15:41] LaRuaNa commented on #158
#169

[2019-03-03 15:41] #158 closed

[2019-03-03 17:07] LaRuaNa opened #170 "Create Issue and PR templates"

[2019-03-03 18:01] BeniCheni commented on #53
Friendly note that I closed #123 as I was having side effects, and I wasn't satisfied my workaround. This issue is open for any volunteer.

[2019-03-05 08:21] ahmadawais commented on #169
Adding a YAML file would increase the bar of responsibility on each contributor. We all know how easy it is to mess up a YAML config file. I once managed a team of 40+ developers and anyone new with YAML files would mess up space or two at times to break things. Later we decided to move our config files to JSON for more strict and JS objects for less strict versions.

YAML file would have to be up

[2019-03-05 13:32] mbj36 commented on #165
#166

[2019-03-05 14:55] LaRuaNa opened #173 "Page breakes"
Just clicked on https://nodejs.dev/learn/update-all-the-nodejs-dependencies-to-their-latest-version and got the following error. After reload page loads correctly.

<img width="800" alt="image" src="https://user-images.githubusercontent.com/2481234/53813861-d2587900-3f5e-11e9-94b5-c20f5b4035d3.png">

[2019-03-05 19:46] mbj36 commented on #173
@LaRuaNa This doesn't happens now i guess.

I believe there was deployment in progress so you must have got this error.

[2019-03-05 19:57] LaRuaNa opened #174 "After refresh redirects to 404"
Steps to reproduce:
- open any article
- force reload (⌘ + Shift + r)

<img width="800" alt="image" src="https://user-images.githubusercontent.com/2481234/53833582-2a0bda00-3f89-11e9-8597-ada00b12c7bd.png">

[2019-03-06 05:01] KirankumarAmbati commented on #173
I'm seeing similar thing on hitting any URL directly.

![screenshot_2019-03-06-10-29-44-069_com android chrome](https://user-images.githubusercontent.com/9110567/53857079-e651b880-3ffa-11e9-9995-3599bd7cc5db.png)

[2019-03-06 05:06] KirankumarAmbati commented on #174
I'm able to reproduce this. I'll start looking into it

[2019-03-06 06:03] antsmartian opened #175 "gitbot to automate few stuffs."
Hello People,

I'm seeing people commenting `/gcburn` on the PR to trigger the build manually and push to staging environment (correct me if I'm wrong). It would be great if we can have a gitbot, which does these things on every PR and help ourselves in the process.

[2019-03-06 06:09] LaRuaNa commented on #175
We had security concerns about building automatically every PR. IDK in detail @MylesBorins takes care of that. Is there any update?

[2019-03-06 06:33] KirankumarAmbati commented on #174
That's strange! I'm able to reproduce it in nodejs.dev but not in Local.

[2019-03-06 06:35] LaRuaNa commented on #174
Did you try on production build? `yarn build; gatsby serve`

[2019-03-06 06:40] KirankumarAmbati commented on #174
Only thing I found is the link is returning 404 error but you might have found it already 😛

I'll try to do more research

[2019-03-06 08:09] MylesBorins commented on #175
So CI is set to run automatically. Staging needs to be kicked off by a
collaborator, specifically because the pipeline has a access to
infrastructure

If folks want to explore other pipielines that is definitely an option

On Wed, Mar 6, 2019, 1:09 AM Onur Laru <notifications@github.com> wrote:

[2019-03-06 08:45] lidoravitan commented on #86
@ollelauribostrom did you fix this issue?

[2019-03-06 09:45] KirankumarAmbati commented on #173
The above issue I reported is raised by @LaRuaNa as #174

[2019-03-06 10:04] ollelauribostrom commented on #86
@lidoravitan This issue might be fixed by #168. It will probably require some tweaking, but at least I'm not seeing this on my machine anymore 🙂

[2019-03-06 13:48] #116 closed

[2019-03-06 15:37] KirankumarAmbati commented on #174
I think I understood the problem.

On hard refreshing the page, for a split second, the current URL is returning 404 error, which in turn triggering rendering of the page **`<Page404 />`**

![screenshot 59](https://user-images.githubusercontent.com/9110567/53892523-7707b300-4052-11e9-9640-8f7e21418404.png)

But within a second, the call is getting successful and data is getting populated. The data

[2019-03-07 04:58] LaRuaNa commented on #174
@KirankumarAmbati Thanks for all the work :] Seems to be an issue which will be fixed in #84 I'll check 👍

[2019-03-07 05:11] KirankumarAmbati commented on #174
Okay @LaRuaNa. Thanks!

I noticed that #84 is already closed and code is merged. Is it not deployed to PROD yet ?

[2019-03-07 05:18] LaRuaNa commented on #174
@KirankumarAmbati  Sorry I meant #157 :]

[2019-03-07 13:53] LaRuaNa commented on #174
Seems to be solved. Can you reproduce ? @KirankumarAmbati

[2019-03-07 14:05] sagirk opened #176 "Navigation items in the previous section are no longer marked as done"
Continuing the discussion from #157:

@ollelauribostrom in https://github.com/nodejs/nodejs.dev/pull/157#issuecomment-468961773

@LaRuaNa in https://github.com/nodejs/nodejs.dev/pull/157#issuecomment-469002694

@ollelauribostrom in https://github.com/nodejs/nodejs.dev/pull/157#issuecomment-469011267

[2019-03-07 14:08] #106 closed

[2019-03-07 14:09] #23 closed

[2019-03-07 14:09] #24 closed

[2019-03-07 14:10] #103 closed

[2019-03-07 14:11] sagirk opened #177 "Navigation exists no more on the 404 page"
Continuing the discussion from #157:

@ollelauribostrom in https://github.com/nodejs/nodejs.dev/pull/157#discussion_r261841053

@LaRuaNa in https://github.com/nodejs/nodejs.dev/pull/157#discussion_r262380948

@ahmadawais in https://github.com/nodejs/nodejs.dev/pull/157#discussion_r262388081

@sagirk in https://github.com/nodejs/nodejs.dev/pull/157#discussion_r262807442

[2019-03-07 14:18] BeniCheni commented on #163
#172 was merged.

[2019-03-07 14:18] #163 closed

[2019-03-07 14:49] ahmadawais commented on #177
I think could keep the navigation on 404 page. It's a much better user experience then having a user go to the homepage and figure things out.

[2019-03-07 15:46] KirankumarAmbati commented on #165
I think this is not required anymore.

[2019-03-07 15:46] #165 closed

[2019-03-07 15:48] KirankumarAmbati commented on #174
@LaRuaNa No. This is no more reproducible.

[2019-03-07 15:48] #174 closed

[2019-03-07 15:51] KirankumarAmbati commented on #176
I just noticed this behavior and I'm about to raise an issue. Thankfully, I landed here. :)

Coming to the behavior, I feel that the previous section being marked as completed seems more user friendly.

[2019-03-07 16:01] KirankumarAmbati commented on #173
@LaRuaNa May be we are good with this.

[2019-03-07 16:05] LaRuaNa commented on #173
Yep it was a dynamic rendering issue can be closed.

[2019-03-07 16:05] #173 closed

[2019-03-07 17:28] sagirk commented on #177
I absolutely agree with @ahmadawais that having the navigation improves the UX on the learn page. ❤️

But I also had this thought cross my mind: when we start building out the other pages like home, docs, releases, community, etc., the content inside the navigation component might change from page to page. In fact, it might not even be present on some of these pages. 🤔

The question then would be

[2019-03-08 09:34] LaRuaNa commented on #177
Sorry, couldn’t get around to explain my thoughts. I don’t see a 404 page as an interactive page where user can click around menus and do things. 404 is per definition an error response in which user needs to be let known that server doesn’t know what to answer to their request and not an interactive playground to find their way. Second concern of mine is that I’d like to avoid people spending tim

[2019-03-08 09:39] LaRuaNa commented on #169
Ping! I'd like to raise that topic in the next meeting though some more opinions wouldn't be bad in advance :]

[2019-03-08 18:22] sagirk opened #180 "Refactoring the `Layout` component using refs"
Continuing the discussion from https://github.com/nodejs/nodejs.dev/pull/168:

@BeniCheni in https://github.com/nodejs/nodejs.dev/pull/168#pullrequestreview-212334650

[2019-03-09 07:06] LaRuaNa commented on #86
@lidoravitan @ollelauribostrom  I can still reproduce that if someone wanna look into feel free :]

[2019-03-09 14:25] KirankumarAmbati commented on #86
I'm also still seeing it in my 15.6" Laptop.

[2019-03-09 17:34] micheleriva opened #182 "Missing benchmark source on introduction page"
Hi,
in the index page, we can read the following statement:

"JavaScript code running on Node.js (**depending on the benchmark**) can be twice as fast than compiled languages like C or Java, and orders of magnitude faster than interpreted languages like Python or Ruby, because of its non-blocking paradigm."

Well, I'm pretty sure that Node.js is very very fast, but I think that a benchmark source/

[2019-03-09 20:58] ahmadawais commented on #175
I think we don't need to put extra effort in there. `/gcbrun` for collaborators is enought pull up a stagging site in a min or two.

[2019-03-10 07:23] LaRuaNa commented on #182
That's a good catch @micheleriva . Maybe @nodejs/benchmarking team can provide us some informations? :]

[2019-03-10 07:53] LaRuaNa commented on #180
I haven't made up my mind yet but I don't see FWIW to use refs. That won't be faster than pure JS plus couple of lines more code.

[2019-03-10 10:48] LaRuaNa opened #184 "Navigation Title Colour Bug on Firefox"
Title colour doesn't change on ff developer edition (66.0b13 (64-bit)). I guess it's since #168
![Kapture 2019-03-10 at 11 43 58](https://user-images.githubusercontent.com/2481234/54083896-12867580-432a-11e9-81af-99b6f22c5506.gif)

[2019-03-10 11:32] LaRuaNa commented on #170
#183

[2019-03-10 11:32] #170 closed

[2019-03-10 18:08] bnb commented on #3
@amiller-gh now that we've launched, should this still be open?

[2019-03-10 20:44] ahmadawais commented on #18
@amiller-gh was busy last week, just got some time and have contributed #186 which fixes and improves upon the Table of Contents, as well as the automated links for headers + relevant styles.

Peace! ✌️

[2019-03-10 21:01] ahmadawais commented on #26
I think I have got this covered in #186. Check it out.

Using the `details` HTML element as I use on the GitHub readme's.

![gif](https://on.ahmda.ws/1c854d/c)

[2019-03-10 22:15] BeniCheni commented on #180
Using “refl seems to ensure unique reference of the element, when comparing to query selector with class names. But the same can be achieved by using ID. So in this use case ref may not have significant benefits.

[2019-03-10 23:13] ollelauribostrom commented on #180
Not sure how this would work with refs, we actually want to select all titles because each of them needs to be observed 🙂Seems like there are other things related to this change that are in more urgent need of fixing (like #184)

[2019-03-10 23:49] Ethan-Arrowood commented on #126
Quick question, @amiller-gh that documentation references a different repository to this one. Should I write my doc and stuff against that one (website-redesign) or this one?

[2019-03-11 09:45] LaRuaNa opened #190 "Menu items are visible at the end of side nav title"
## Description

Side menu items are visible at the end of `side-nav__title`

### Steps to reproduce

- Open nodejs.dev
- Switch to mobile mode
- Open side nav
- Scroll

### Expected result

Item titles shouldn't be visible when they are on the same height as title

### Actual result

![Kapture 2019-03-11 at 10 37 30](https://user-images.githubusercontent.com/2481234/54114107-f34f1d00-43e9-11e9-854

[2019-03-11 09:46] LaRuaNa commented on #190
Probably can be fixed together with #184

[2019-03-11 10:54] sagirk commented on #126
@Ethan-Arrowood All docs and code are being maintained in this repo. In fact, the history for some of the md files in this repo has already moved forward as compared to `website-redesign`.

`website-redesign` serves as an admin-only repo. See https://github.com/nodejs/website-redesign/issues/147.

[2019-03-11 11:04] sagirk commented on #180
Makes sense. Closing for now. We can open a new issue later if this becomes a pressing need.

[2019-03-11 11:04] #180 closed

[2019-03-11 15:44] Ethan-Arrowood commented on #126
Okay sounds good. The documentation is a little misleading (I'll submit a PR later updating the links). 👍

[2019-03-11 15:50] #164 closed

[2019-03-11 19:12] sagirk commented on #184
Fix: https://github.com/nodejs/nodejs.dev/pull/191.

[2019-03-11 20:43] #18 closed

[2019-03-11 20:43] #26 closed

[2019-03-12 06:11] sagirk opened #192 "Display TOC in a right rail on wide-enough screens"
Continuing the discussion from https://github.com/nodejs/nodejs.dev/pull/186:

@sagirk in https://github.com/nodejs/nodejs.dev/pull/186#issuecomment-471450486

![image](https://user-images.githubusercontent.com/2608321/54110287-015f6680-4407-11e9-85be-d12cf3609911.png)

@ollelauribostrom in https://github.com/nodejs/nodejs.dev/pull/186#pullrequestreview-212717129

@ahmadawais in https://github.com

[2019-03-12 16:26] #176 closed

[2019-03-13 05:11] sagirk commented on #190
Fix: https://github.com/nodejs/nodejs.dev/pull/194.

[2019-03-13 05:45] sagirk commented on #86
Fix: https://github.com/nodejs/nodejs.dev/pull/195.

[2019-03-13 06:28] bhautikbharadava opened #196 "Horizontal Scrolling in side bar"
## Description

At home page  In left section where sidebar is available , Scrolling sidebar is causing horizontal scroll resulting all content going to the left and  out of view-port area.

### Steps to reproduce

Go to [Landing page](https://nodejs.dev/) > Scroll sidebar

### Expected result

Horizontal Scroll should not occur.
### Actual result

Scrolling Sidebar scrolls it horizontal also.

##

[2019-03-13 06:34] LaRuaNa commented on #196
Hey @bhautikbharadava since you can reproduce that, wanna open a PR? :] I'd need to install ubuntu first.

[2019-03-13 06:37] LaRuaNa commented on #196
Related: #113 #121

[2019-03-13 06:40] bhautikbharadava commented on #196
Sure I can do that will look at referenced issues and if their solution will not work i will open PR.

[2019-03-14 03:35] #184 closed

[2019-03-14 04:57] #175 closed

[2019-03-14 04:58] LaRuaNa commented on #160
Closing this one when we consider re-enabling feel free to re-open

[2019-03-14 04:58] #160 closed

[2019-03-14 09:16] #190 closed

[2019-03-14 12:08] sagirk commented on #177
Seems like, in the longer run, not having side navigation on 404 pages is the right way to go.

Closing this for now. Feel free to reopen if it becomes a pressing concern.

[2019-03-14 12:08] #177 closed

[2019-03-14 16:31] bnb commented on #127
This was discussed in last week's meeting! 👍

[2019-03-14 20:22] MylesBorins commented on #127
@bnb any notes from the discussion?

[2019-03-17 15:20] sagirk opened #201 "Discussion: Alternate solutions to provide credit"
Discussion continued from https://github.com/nodejs/nodejs.dev/pull/125:

@sagirk in https://github.com/nodejs/nodejs.dev/pull/125#discussion_r266193832

@Trott in https://github.com/nodejs/nodejs.dev/pull/125#discussion_r266200899

[2019-03-19 09:14] ollelauribostrom commented on #169
I wasn't able to attend the last meeting so not sure if this was discussed but I like the approach. With some extensive tests making sure that YAML and MD are synchronised I think we could mitigate some of the concerns raised by @ahmadawais 🙂

Would probably be a good idea to run these tests in the pre-push hook, to remind the user to update the YAML file if necessary.

[2019-03-19 10:25] LaRuaNa commented on #169
Hi @ollelauribostrom we decided to postpone the implementation until we gain more experience what we exactly need also for another pages. :]

[2019-03-20 18:50] MylesBorins commented on #127
ping @bnb

[2019-03-20 19:19] LaRuaNa commented on #127
@MylesBorins Since we talked about it earlier, not much additional has been said about it. Here from Minutes:
[code]
https://docs.google.com/document/d/1bYKtO1T5iB0q6P8yLYUtiHqxNgx-T0M6xnLu4mdoy7k/edit

[2019-03-21 05:11] kevjin commented on #53
I'm would be interested in working on this issue!

[2019-03-21 05:18] LaRuaNa commented on #53
It's yours @kevjin :]

[2019-03-24 13:05] kevjin commented on #53
Created a PR for a fix here: #203. Thanks!

[2019-03-25 17:32] #86 closed

[2019-03-27 11:04] sagirk commented on #53
Implemented in https://github.com/nodejs/nodejs.dev/pull/203.

[2019-03-27 11:04] #53 closed

[2019-03-27 19:29] ollelauribostrom opened #206 "Discussion: report code coverage during travis builds"
## Summary
I'm proposing that we should report code coverage during the Travis build process. In my opinion [Coveralls](https://coveralls.io) is a great option which integrates really well with Travis.

What are your thoughts on this?

### Motivation
- Even though the code base is currently a bit of a WIP (and some decrease in coverage will naturally occur), this will promote writing tests when ad

[2019-03-28 06:16] kevjin opened #207 "Navigation title color bug on iOS Safari (Phone Only, no Emulator)"
I wanted to re-open issue #86 since I noticed the color issue was still happening on my iPhone XR in Safari. I tested both [nodejs.dev](https://nodejs.dev/) and the [final build from #195](https://storage.googleapis.com/staging.nodejs.dev/5bc7671/) and it seems that while the fix worked for an iPhone screen in Firefox developer tools, it did not work on my actual iPhone in the Safari app.

How to

[2019-03-28 08:13] sagirk commented on #207
Ah yes, `IntersectionObserver` is [not supported](https://caniuse.com/#search=IntersectionObserver) on Safari.

This bug stems from the fallback CSS we have for `legacy` browsers, so that's where you want to look.

[2019-03-28 08:25] ollelauribostrom commented on #207
I'm able to reproduce this on my Iphone SE in both Safari and Chrome. Looks like this:

![bug](https://user-images.githubusercontent.com/16004130/55141708-51deff80-513b-11e9-943d-e7713290ad6f.gif)

[2019-03-28 08:47] sagirk commented on #207
Yup, that's accurate.

Chrome, and pretty much [any](https://stackoverflow.com/questions/48382150/do-all-browsers-on-ios-use-wkwebview-or-uiwebview) other browser on iOS, has [major](https://groups.google.com/a/chromium.org/forum/?fromgroups#!topic/chromium-dev/vYGxPx-tVKE) [technical](https://stackoverflow.com/questions/11259152/chrome-ios-is-it-just-a-uiwebview) [restrictions](https://daringfire

[2019-03-28 16:35] amiller-gh commented on #206
Hey Olle! After a very quick discussion in the meeting today we're all +1 on this! Want to tackle adding it? 🙂

Also, welcome to the Website Redesign repo!

[2019-03-28 17:10] sagirk commented on #207
IMO, it's fixing anyway, 'coz the fallback CSS will continue to be used by other legacy browsers that don't ship with `IntersectionObserver`.

Or we could just ship a polyfill instead 🙃.

[2019-03-28 17:27] ahmadawais commented on #201
We can probably use the `.png` after GitHub user profile links to generate a profile image (provided we have the consent, something we could automate via open source consent bot).

E.g.

Profile: https://github.com/AhmadAwais
Profile Image: https://github.com/AhmadAwais.png
Profile Image Resize: https://github.com/AhmadAwais.png?size=90

Tested the API calls via:

[code]
Doesn't seem to be rate li

[2019-03-28 17:29] amiller-gh opened #208 "Call For Good First Issues"
## Summary
We're going to have a Collab Summit session! (https://github.com/nodejs/website-redesign/issues/155)

One idea for how to use that time is to on-board other collaborators to Gatsby and React who may not be familiar.

To successfully do this, we'll need a backlog of good first issues for them to tackle. This is a spike ticket to come up with those.

Edit (LaRuaNa): link fixed

[2019-03-28 17:34] amiller-gh opened #209 "Github Profile Photos Next To `/learn` Docs Accreditation"
## Summary

Put github user images images next to user accreditation.

### Basic example

See other examples in the wild:
 - https://docs.microsoft.com/en-us/teamblog/graph-on-docs
 - https://webpack.js.org/concepts/
 - https://github.com/facebook/react/blob/master/README.md

Personally, I like the webpack site's page footer style – it places an emphasis on community.

### Motivation

People like

[2019-03-28 17:37] amiller-gh commented on #201
Closing in liu of https://github.com/nodejs/nodejs.dev/issues/209 🙏

From 03/28/2019 meeting conversation, we're going to keep manually tracking documentation contributors for now, it has scaled well enough for webpack. If the contributors list becomes too long in the future (we can only hope!) we'll jump that hurdle when we get there by adding "see more".

[2019-03-28 17:37] #201 closed

[2019-03-29 01:04] kevjin commented on #207
Sounds great, I will work on a PR for a fix then!

[2019-03-29 10:42] ollelauribostrom commented on #206
Thanks, @amiller-gh! Unfortunately, I wasn't able to listen in on the meeting (will try to join in next time) but thanks for discussing this. Will pick this up during the weekend 🙂

[2019-03-31 07:51] kevjin opened #212 "Page TOC not displaying functions as titles correctly"
## Description

For topics with functions as titles, such as `Promise.all()` or `setTimeout()`, the TOC displays the links to the topics as HTML.

Examples:
<img width="669" alt="Screen Shot 2019-03-31 at 12 44 08 AM" src="https://user-images.githubusercontent.com/15851351/55286301-d48bd880-534e-11e9-8ee4-019417bf5547.png">
<img width="576" alt="Screen Shot 2019-03-31 at 12 44 23 AM" src="https://

[2019-03-31 08:28] LaRuaNa commented on #208
Review TOC and fix the structure
<img width="343" alt="image" src="https://user-images.githubusercontent.com/2481234/55286705-9ec31000-539f-11e9-8aaa-d452a6eab1a1.png">

[2019-03-31 08:54] kevjin opened #214 "Let scroll position of nav bar mirror current page on desktop"
## Summary / Problem

Currently the scroll position of nav bar is always reset at 0 upon any "<- Prev" or "Next ->" link click as well as during page refresh for desktop mode.

As a user, the nav bar isn't very friendly for me to use, since if I am on a page in the middle or close to the end of the docs, I have to scroll all the way down in the nav bar, to my current page position, and then find w

[2019-03-31 09:07] LaRuaNa commented on #214
IMO a better UX would be if the navigation wouldn't move at all after clicking on a link.

[2019-03-31 09:34] kevjin commented on #214
@LaRuaNa sure, that is a good solution, it would be easy to implement too.

I just want to keep in mind though, that the nav bar is only partially (like 60%) visible when the page is initially scrolled to the top. If the user is using the nav bar when they are at the bottom of the page, they might have to scroll down first to access their position on the nav bar.

[2019-03-31 09:36] kevjin commented on #214
I think this might be a good first issue #208

[2019-03-31 09:40] ahmadawais commented on #209
🎉 Just pushed the new AuthorsList component. Looks pretty awesome.

![demo](https://on.ahmda.ws/e9f616/c)

[2019-03-31 11:01] #212 closed

[2019-04-02 16:22] #209 closed

[2019-04-02 20:54] amiller-gh opened #216 "Integrate Existing Knowledge Base Articles"
## Summary

We have some advanced educational content on the current `nodejs.org` that would be good to integrate with the new docs site! We should work to integrate these articles in a way that makes sense for the new format.

https://github.com/nodejs/nodejs.org/issues/1977#issuecomment-479013944

[2019-04-03 13:06] ahmadawais commented on #48
I suppose this was fixed in #215. Feel free to re open if not.

[2019-04-03 13:06] #48 closed

[2019-04-03 13:06] ahmadawais commented on #192
@imbhargav5 any progress on this one? 🤔

[2019-04-04 03:54] BeniCheni commented on #207
Tried out a polyfill for `IntersectionObserver` in #222. Looking forward to feedback. Cheers.

[2019-04-04 14:09] imbhargav5 commented on #192
Almost done. Will finish it tonight and submit for review 😄

[2019-04-06 06:15] elanandkumar opened #229 "Accessibility: Navigation using tab key issue in Safari (Mac OS)"
## Description

While using the tab key to navigate on the website, it is not working similar to the chrome browser. Most of the time, tab key is kind of stuck in browser's address bar.

### Steps to reproduce

- Open the safari browser in Mac OS
- Navigate to https://nodejs.dev website
- Use tab key from keyboard couple of times to see the issue.

### Expected result

When using the tab key, the

[2019-04-07 07:00] sagirk commented on #229
@elanandkumar This looks like a good first issue. Do you want to take a stab at a fix? ✨

[2019-04-07 07:13] elanandkumar commented on #229
Yes, I can pick this up @sagirk.

[2019-04-07 07:22] sagirk commented on #229
Awesome! 👏

It's all yours, @elanandkumar. 🎉

[2019-04-07 07:33] elanandkumar commented on #229
How can I assign this one to me. Seems, you need to do so @sagirk.

[2019-04-07 18:12] sagirk commented on #229
Done. 👍

[2019-04-07 23:15] Conduitry opened #232 "Dev vs prod page should make it clearer what NODE_ENV does and does not do"
https://nodejs.dev/nodejs-the-difference-between-development-and-production

There are a couple of phrases here that seem to at least imply that `NODE_ENV=production` has an effect on Node's behavior, and not just on that of libraries following that convention.

As far as I can tell, _Node.js_ (as in the language itself and the built-in libraries) does nothing of the kind.

As well as what? I woul

[2019-04-08 12:49] BeniCheni opened #235 "TOC shows HTML for titles as code"
## Description

If a title of TOC (TABLE OF CONTENTS) topic is quoted code, the expanded TOC topic would display the HTML.

### Steps to reproduce

1. Navigation to a page with TOC topics as quite code, e.g. the [The Node.js http module](https://nodejs.dev/the-nodejs-http-module) page
2. Expand the TOC. The expanded TOC would show HTML, as in the "Actual result" section below.

### Expected result

[2019-04-08 13:14] BeniCheni opened #236 "Edge Case: Open nav menu doesn't scroll to current topic, after selecting the current topic"
## Description

Open nav menu doesn't scroll to current topic, after selecting the current topic.

### Steps to reproduce

1. Open nav menu, scroll down and pick a topic
2. Re-open nav menu, and observe the topics scrolling to the current topic from step 1.
3. Select the same current topic again.
4. Re-open nav menu, and topics do not scroll to the current topic.

### Expected result

When re-sele

[2019-04-08 13:16] BeniCheni commented on #235
Oh indeed #234 will fix this observation. Tagging it along & will close this issue when merged.

[2019-04-08 19:51] kevjin commented on #235
Thanks @BeniCheni, I forgot to create the corresponding issue for this, but yea #234 will resolve this.

[2019-04-09 05:30] kevjin commented on #236
Hi @BeniCheni, nice find! I'm trying to understand what you mean by the better UX approach. Do you mean you for clicking on the same menu item, there should be no scroll animation with the position staying the same?

[2019-04-09 05:35] LaRuaNa commented on #236
I still feel that it would be better UX if we remove the animation and just sync the position of the side nav both for mobile and desktop. :]

[2019-04-09 05:39] kevjin commented on #236
Related: https://github.com/nodejs/nodejs.dev/issues/214

[2019-04-10 16:20] kevjin opened #239 "Restyle focus block with nodejs colors"
Created this issue to keep track of what was discussed in #224

Self-assigned to @kevjin

[2019-04-11 06:45] #235 closed

[2019-04-11 15:26] amiller-gh commented on #206
Closed #211 🎉

[2019-04-11 15:26] #206 closed

[2019-04-11 15:41] amiller-gh commented on #239
We can conditionally enable focus outline if keyboard navigation is being used. May be a good middle-ground. Something like:

[code]

With the CSS:
[code]

[2019-04-11 15:44] amiller-gh commented on #3
Closing in liu of individual tickets and PRs 🙏

[2019-04-11 15:44] #3 closed

[2019-04-13 03:53] elanandkumar commented on #229
After some investigation, I found that it is working similar to chrome and the issue is not in the app but Safari thinks that it should not enable keyboard navigation by default for all of the website. So, the setting is disabled by default hence it does not work.
Here are the steps on how to enable the same. This will help others if they face the same issue.

1. Open the safari preferences panel

[2019-04-13 03:53] #229 closed

[2019-04-14 17:19] anddj opened #241 ""escape sequences" dead link in docs"
In documentation section https://nodejs.dev/output-to-the-command-line-using-nodejs#color-the-output the link "escape sequences" is dead (404): https://gist.github.com/chrisopedia/8754917

[2019-04-14 18:53] anddj opened #242 "eventEmitter example does not work"
In https://nodejs.dev/the-nodejs-event-emitter example we see EventEmitter initialization:
[code]
followed by "on" method example:
[code]
It ends up with the error:
[code]
According to [official docs](https://nodejs.org/api/events.html#events_class_eventemitter): "The EventEmitter class is defined and exposed by the events module", so shouldn't we change initialization to:
[code]
which then could

[2019-04-15 10:57] #207 closed

[2019-04-15 11:41] BeniCheni opened #243 "Self-Nomination to add BeniCheni as Collaborator?"
## Summary

Been contributing to this fantastic project with [these commits](https://github.com/nodejs/nodejs.dev/commits?author=benicheni), participating in PR review and triaging issues. Have learned a lot. Thank you all!

Followed #127 and saw the quote about ["Self-nomination is more encouraging."](https://github.com/nodejs/nodejs.dev/issues/127#issuecomment-474990860).

Thought that I'd give

[2019-04-15 12:10] sagirk commented on #243
Can confirm — Ben's contributions are high-quality and awesome in general. ❤️

Would love to have them on-board as a collaborator! 🎉

Thanks for taking the initiative to self-nominate, @BeniCheni! 👍

(In fact, nominating Ben has been one of the top things on my mind since our last WG meeting — it's a shame that I didn't do it earlier).

[2019-04-15 12:13] sagirk commented on #242
Yup, sounds about right @anddj. Mind raising a PR with the changes you suggest?

[2019-04-15 12:18] sagirk commented on #229
Thanks for documenting it, @elanandkumar! Good work. ❤️

[2019-04-15 15:35] BeniCheni commented on #243
Thank you, @sagirk! Humble and appreciative for your kind comment. Looking forward to learning more from future collaborations in this project.

[2019-04-16 13:45] anddj commented on #242
@sagirk OK, I will come up with the PR.

[2019-04-21 04:06] #242 closed

[2019-04-25 16:47] keywordnew commented on #243
+1 from meeting. @BeniCheni needs to be added to the org first cc/ @amiller-gh

[2019-04-27 15:08] erichodges commented on #241
I made a PR for this. I hope the link that I found will be Ok.

[2019-04-27 15:23] erichodges commented on #241
I don't know what kind of document will be ok. I've looked through a bunch of links. How about this one:
https://misc.flogisoft.com/bash/tip_colors_and_formatting

If that's ok, I'll do a PR. :-)

[2019-04-28 19:09] amiller-gh commented on #243
Invite sent 🙂

[2019-04-30 01:45] BeniCheni commented on #243
Thank you! Confirming that I've received invite and accepted accordingly. Issue could be closed and re-opened if any further inquiries.

[2019-04-30 01:45] #243 closed

[2019-04-30 09:57] kevjin opened #250 "Does gcbrun still work?"
To preface, I'm not really sure how Google Cloud's Build Runner works.

On the last PR that gcbrun was run, which was #240, /gcbrun was tried multiple times but failed to build or add the link for the staging environment.

Can a collaborator or member, see https://github.com/nodejs/nodejs.dev/pull/222#pullrequestreview-226470015 about perms, try to run /gcbrun on any PR to double check if it is st

[2019-05-02 16:00] obensource commented on #4
https://github.com/nodejs/website-redesign/issues/76 is relevant to this issue, and given that it's result is intended to answer the question posed in this issue – I motion that we discuss this at our next Website Redesign / i18n breakout session.

[New doodle here](https://doodle.com/poll/y3zu3ame6n6r4n77)! Let me know if none of these times work. 😄

[2019-05-02 16:06] zeke commented on #4
✅ doodled

[2019-05-07 17:29] missmatsuko opened #274 "Internationalization Wishlist"
Living list of items to consider when designing and building out the new site for internationalization (i18n), localization (l11n), translation (t9n), etc.

- [ ] [Redirect to the closest available localized version of a page based on `Accept-Language` headers or user settings](https://github.com/nodejs/nodejs.org/issues/2183#issuecomment-490164452).
This should be done when there's no locale spec

[2019-05-08 18:53] pavelkeyzik opened #251 "Custom scroll for navigation bar"
On my Ubuntu a scroll in the navigation bar looks like this. Maybe we can change position of this scroll or something more?

![image](https://user-images.githubusercontent.com/17102399/57400189-a023fb80-71db-11e9-871c-a826a8d4e0a6.png)

[2019-05-14 17:18] anshumanv opened #252 "CI: Setup PR auto-deployments"
## Summary
I think it will make sense to setup auto-deployments for each PR, changes will then be more easily and quickly seen, no need to pull them over and run each time.

### Basic example
NA

### Motivation
It will be more convenient to review UI changes. Netlify is simple enough to setup and performs well. Any collaborator can just add the repo on Netlify and enable the PR comment hook. :)

[2019-05-15 10:56] ahmadawais commented on #252
This is already here with `/gcbrun` you can create a staging link for the PR.

[2019-05-16 05:55] anshumanv commented on #252
Works well, would be even better to fully automate it rather than requesting a build everytime.

Closing ✨

[2019-05-26 07:59] #239 closed

[2019-05-27 15:36] alexandrtovmach commented on #251
Have the same doubts.

![image](https://user-images.githubusercontent.com/28801003/58429321-241c2580-80ae-11e9-837e-e75679138161.png)

[2019-05-31 06:59] amiller-gh commented on #4
We have action items on the i18n wg side and had a great chat at the breakout session in Berlin 👍 We'll be tracking updates in @nodejs/i18n

[2019-05-31 06:59] #4 closed

[2019-05-31 07:26] amiller-gh opened #254 "Select and Integrate an i18n Library"
## Summary

The @nodejs/i18n team is working to publish website / API docs translations to a node module from CrowdIn for us to consume. We need a way to integrate with these JSON translation files with the Gatsby site.

### Basic example

https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/

### Motivation

i18n infra is a basic requirement for widespread adoption.

[2019-05-31 09:35] amiller-gh opened #255 "Integrate API JSON as an async data source"
## Historical API Documentation Integration

Nodejs.dev must display historical API documentation on the site: https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens/281335815

Node.js hosts API docs from all historical versions here at URLs like this: https://nodejs.org/dist/latest-v12.x/docs/api/buffer.json

You can find all version historically published here: https://nodejs.org/dist/

The

[2019-05-31 12:27] amiller-gh opened #256 "Build In LTS / Current docs to Gatsby Bundle"
## Summary

Historical documentation will be fetched async as requested: ref  https://github.com/nodejs/nodejs.dev/issues/255. This ticket must be done after historical docs land.

Current and LTS docs should be pulled in through node_modules via the (yet-to-be-published) @nodejs/i18n translated module and bundled with the Gatsby app to make best use of SSR and translation.

If the user selects th

[2019-05-31 12:47] amiller-gh opened #257 "Integrate Algolia Code Search"
## Summary

Ref: https://github.com/nodejs/website-redesign/issues/130

Algoria is automagic code search for documentation websites. They have a Gatsby plugin for easy integration: https://www.gatsbyjs.org/docs/adding-search-with-algolia/

Algoria requires an API key to process. We need to reach out to get access to this.

Algoria should be set to index just the [embedded Current documentation](ht

[2019-05-31 12:55] amiller-gh opened #258 "SPIKE: In Our Perfect World, In What Format Would the API Be Documented?"
## Summary
We're integrating around a very old way of documenting APIs. Markdown files are committed directly to Node.js Core in a separate `/docs` folder with limited associated metadata about what is actually documented.

What modern way of documenting code might we choose now, and can we come up with a sensible plan for incremental migration to provide as a recommendation to core?

[2019-05-31 13:10] amiller-gh opened #259 "Releases History Feed"
## Summary

At the bottom of the releases page, we should show all Node.js historical releases.

Ref: https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens/281371444

Data for releases lives here: https://nodejs.org/dist/index.json

The page should make an AJAX request for the historical data *after page load* to lazy render the releases list. Limit list to ~25 items and either infinite scro

[2019-05-31 13:17] amiller-gh opened #260 "Releases Header – Download Options"
## Summary

On the releases page, the header should show LTS, Current, and Nightly release line download options.

https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens/281371444

Releases data lives here and should be fetched to determine download links and supported platforms: https://nodejs.org/dist/index.json

Page should platform sniff to determine the binary to download when "Download"

[2019-05-31 13:20] amiller-gh opened #261 "Releases Page: Download Grid"
## Summary

If no platform can be determined for the download button, or a user clicks on "all download options", we should pop open the download grid.

https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens/281371443

Releases data lives here and should be fetched to determine download links and supported platforms: https://nodejs.org/dist/index.json

We should be able to call a service that

[2019-05-31 13:27] amiller-gh opened #262 "Releases Page: Release Process Documentation"
## Summary

Users of Node.js should understand our assorted release lines and their cycles.

https://projects.invisionapp.com/share/KFNHXTOC4J6#/screens/281371444

We need to document, in an approachable way, the  [Release Plan](https://github.com/nodejs/Release#release-plan) that our wonderful @nodejs/releasers team maintains

A great example of an approachable releases page for inspiration is ht

[2019-05-31 16:44] amiller-gh commented on #192
👋 @imbhargav5 thread bump! 😁

[2019-06-06 17:05] LaRuaNa commented on #254
ref: https://github.com/nodejs/website-redesign/issues/167

[2019-06-06 17:20] tstreamDOTh commented on #261
@amiller-gh I would to take this up

[2019-06-06 23:08] jonchurch opened #280 "Livestream / Pair programming to onboard folks to contributing"
This came up today in the WR meeting #169

@LaRuaNa had the idea of having some type of Mentoring/Pair programming sessions to help on board folks to contributing to the website redesign. The idea blossomed into at least showing folks, through video, the process from start to finish of **picking up an issue, working it, submitting, and getting feedback.**

I'm interested in helping create a better

[2019-06-06 23:27] jonchurch opened #273 "Onboarding Guide for contributors"
Edit: After reading through issues I've realized there is a decent amount of information in the nodejs.dev repo already that documents processes; the contributors doc, the documentation folder readme, and the main readme. I'm thinking currently how to create a doc to quickly orient someone to this useful information and get them comfortable.

Per convos at the Summit, I'd like to take on creating

[2019-06-09 06:58] #241 closed

[2019-06-12 13:53] lidoravitan commented on #259
Can I help with that? What process should I start with?

[2019-06-24 18:51] MylesBorins commented on #250
closing as gcb is working

[2019-06-24 18:51] #250 closed

[2019-06-27 16:22] keywordnew commented on #257
It was mentioned in a meeting that Elastic has site search that is similar to Algolia. Reach out to @bamieh if needed.

[2019-06-27 17:50] amiller-gh commented on #258
Notes for CommComm discussion:

 - Solution must be incremental and backwards compatible.
 - Approach with proof of concept PR that shows a module migrated.
 - In-code documentation (jsdoc, etc) could build out to the existing markdown files, maintaining back compat
 - General +1 to exploring further.

[2019-07-04 15:48] amiller-gh commented on #261
@tstreamDOTh thought I send this! By all means, take it away – need any help getting up to speed on it?

[2019-07-04 15:50] amiller-gh commented on #259
Hey @lidoravitan! Sorry for the delay – was on vacation for a while :)

Theres a few tasks to complete here, but first steps is getting a PR up with a page that shows the releases list. We'll work on the releases page in a branch along with issues #260, #261, and #262 until its ready for production.

[2019-07-04 15:50] amiller-gh commented on #259
By all means though – have at it! Just chime in here if you're going to claim it and we'll assign the ticket over to you.

[2019-07-04 16:59] richardlau commented on #275
http://unencrypted.nodejs.org ?

[2019-07-05 14:05] bnb commented on #275
@richardlau I would consider that less of a microsite and more of a utility / point of access, but it's probably good to include a gateway to that on the new site regardless 🤔

[2019-07-05 14:07] bnb commented on #278
I'm curious if we should tie our identity so closely to V8. There are other components, such as libuv, c-ares, OpenSSL. IMO we should begin trying to define Node.js as Node.js and not the components it is comprised of.

[2019-07-10 07:22] lidoravitan commented on #259
@amiller-gh sure I would be happy to help :)

[2019-07-15 12:06] mhdawson opened #287 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-07-18"
## Time

**UTC Thu 18-Jul-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 18-Jul-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 18-Jul-2019 10:00 (10:00 AM) |
| US / Central  | Thu 18-Jul-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 18-Jul-2019 12:00 (12:00 PM) |
| London        | Thu 18-Jul-2019 17:00 (05:00 PM) |

[2019-07-16 06:44] alexandrtovmach commented on #287
I think we need to discuss a bit about translation process:

1. Currently, we have issues with content translation of original website (nodejs.org) and I'm trying to investigate in it. Idea is to move from GitHub Pull Request process to CrowdIn (same as API documentation), but need to think and discuss future integration with a new website.

[https://github.com/nodejs/i18n/issues/72](https://githu

[2019-07-17 18:30] tstreamDOTh commented on #261
@amiller-gh Hey is this the modal which is required?

<img width="1157" alt="Screen Shot 2019-07-17 at 11 59 09 PM" src="https://user-images.githubusercontent.com/11137394/61400951-08374200-a8ef-11e9-89ea-31b25e61d964.png">

[2019-07-17 18:33] tstreamDOTh commented on #261
Where is the redesigned/new version of the modal?

[2019-07-17 18:34] amiller-gh commented on #261
Thats the one 👍  We don't have a high fidelity mock of this modal yet, but feature parity would be a huge first step.

[2019-07-17 18:36] tstreamDOTh commented on #261
Can I add storybook to the project, so that we can develop components in isolation & wire up later?

[2019-07-17 18:36] amiller-gh commented on #261
The wireframe can help guide layout, design guidance from Oscar on the next iteration will largely be a re-skin. My largest concern right now is getting data wired up and rendering.

[2019-07-17 18:37] amiller-gh commented on #261
I personally like that workflow idea – feel free to add to the PR and we can discuss there 🙂

[2019-07-18 16:06] keywordnew commented on #287
I'm not able to enter through the Zoom link. Has it changed somewhere?

[2019-07-18 16:07] jonchurch commented on #287
@keywordnew I'm sitting at the "Please wait for host to start webinar" screen. Were you unable to make it that far?

[2019-07-18 16:08] keywordnew commented on #287
@jonchurch that's exactly where I am. I'll need to get Zoom credentials just in case.

[2019-07-18 16:10] keywordnew commented on #287
https://invisionapp.zoom.us/j/784572045

[2019-07-18 16:14] keywordnew commented on #287
No streaming today folks :'(

[2019-07-18 17:04] jonchurch commented on #287
[Wirefame](https://projects.invisionapp.com/share/SJG12D028NX#/screens/281335816_Home)
[Design System](https://www.figma.com/file/brsBURZIKRBj7JAmMMCz2rlz/NJ---Design-System?node-id=0%3A116)

[2019-07-20 00:31] Trott commented on #182
The problematic line was removed in #125.

[2019-07-20 00:31] #182 closed

[2019-07-29 12:06] mhdawson opened #291 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-08-01"
## Time

**UTC Thu 01-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 01-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 01-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Thu 01-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 01-Aug-2019 12:00 (12:00 PM) |
| London        | Thu 01-Aug-2019 17:00 (05:00 PM) |

[2019-08-01 10:54] #287 closed

[2019-08-01 14:17] amiller-gh commented on #291
Hi all, turns out Thursdays are the days for workplace fires – I won't be able to make it today 🙏

We have three tickets that I'm aware of in flight for new pages / flows. Can we get status updates here on the meeting issue from owners?

@lidoravitan: https://github.com/nodejs/nodejs.dev/issues/259
@tstreamDOTh: https://github.com/nodejs/nodejs.dev/issues/261
@ahmadawais: https://github.com/nodejs

[2019-08-01 14:52] ogonzal87 commented on #291
Hey team 👋  - Thanks @amiller-gh! I got a little confused though. I thought the repo was archived indicating that we were no longer pursuing the initiative. But now I see that we just shifted repos from (https://github.com/nodejs/website-redesign) to this one.

I have a doctors appt this morning so I won't be able to make it. Now that I know we are still on, I am dedicating time this week and next

[2019-08-01 15:04] ahmadawais commented on #291
I'll read about the meeting in the docs later. A bit under the weather so sleeping it off. See y'all.

[2019-08-01 16:02] keywordnew commented on #291
The reactions on the issue indicate that we won't have several folks attending today. We'll skip this one and give everyone else an hour back :-)

See y'all at the next one!

[2019-08-02 06:32] tstreamDOTh commented on #291
@amiller-gh I was finding some issues setup storybook for the project, have to configure storybooks webpack for typescript, I will look at it this weekend.

[2019-08-06 15:57] #291 closed

[2019-08-07 11:11] lidoravitan commented on #261
@tstreamDOTh do you add storybook to the project? if yes, lemme know what status it is.
I do have to create "releases page" component(#259), which is kind of related. So, I wonder if it would be more reasonable to wait for your PR? what do you think?

[2019-08-08 16:44] tstreamDOTh commented on #261
@lidoravitan I think you can continue with yours, I might take time

[2019-08-12 12:05] mhdawson opened #293 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-08-15"
## Time

**UTC Thu 15-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 15-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 15-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Thu 15-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 15-Aug-2019 12:00 (12:00 PM) |
| London        | Thu 15-Aug-2019 17:00 (05:00 PM) |

[2019-08-15 14:11] ahmadawais commented on #293
@amiller-gh we have Eid holidays here. I'm visiting my home town won't be able to make it to this particular meeting. See you in the next one for outreach. 🙌

[2019-08-15 16:00] keywordnew commented on #293
Delayed by the immediately preceeding meeting. Will join shortly!

[2019-08-15 16:07] ogonzal87 commented on #293
Link to prototype in ![Figma](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ-Design-System?node-id=0%3A116)

[2019-08-19 11:35] tstreamDOTh commented on #261
If anyone wants to pick this up, please do. I am a bit occupied this month, really sorry 😕

[2019-08-26 12:05] mhdawson opened #300 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-08-29"
## Time

**UTC Thu 29-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 29-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 29-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Thu 29-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 29-Aug-2019 12:00 (12:00 PM) |
| London        | Thu 29-Aug-2019 17:00 (05:00 PM) |

[2019-09-05 20:43] jonchurch commented on #300
@amiller-gh @ogonzal87

I'm still down to hop in however I can during your saturday hackathon. Let me know how I can join in! I can be contacted here or through the email in my GH profile.

[2019-09-05 22:10] ogonzal87 commented on #300
Awesome. I just forwarded the invite.  I'll check to see if we can use zoom for you to join us 👍

[2019-09-06 05:41] LaRuaNa commented on #300
@ogonzal87 Zoom would be great. I'm also in :]

[2019-09-07 17:09] jonchurch commented on #300
@ogonzal87 @amiller-gh Is there a link to the zoom, or are we still getting set up?

[2019-09-07 18:05] jonchurch commented on #300
@LaRuaNa Here's the link to join if you're still down!

https://bluejeans.com/8002620190

[2019-09-07 18:26] LaRuaNa commented on #300
@jonchurch Ehm. You're online now? When you plan to start?

[2019-09-07 18:27] amiller-gh commented on #300
Online now and all day :) Join whenever you can!
On Sep 7, 2019, 11:26 AM -0700, Onur Laru <notifications@github.com>, wrote:

[2019-09-07 21:28] jonchurch commented on #259
I created a hook `useReleaseHistory` which pulls the release data.

Currently rendering a table with the first 25 releases. Not sure where to get the ABI data, so I left a placeholder in there for now.

[2019-09-07 21:32] amiller-gh commented on #259
Done #309  🎉

Les open another issue for "see more" and/or infinite scroll.

[2019-09-07 21:32] #259 closed

[2019-09-08 18:20] karlhorky opened #312 "Page Documenting Listing / Linking to All Built-in Modules"
## Summary

What I have been looking for while teaching beginners about Node.js is a list of built-in modules (such as that which can be listed within Node.js using [`require('module').builtinModules`](https://nodejs.org/api/modules.html#modules_module_builtinmodules)). This list could start out as:

- a quick overview of what "built-in" means
- a list of modules

But I would imagine that another

[2019-09-09 03:51] jonchurch commented on #312
I've had this exact same thought before. There is currently no single page that lists all the built in modules. They exist on the side nav of the current docs, but there's no actual content to link someone to that says "these are all built in modules".

[2019-09-09 04:21] LaRuaNa commented on #312
I remember, I saw a mock where all the build-in modules were listed. 🤔

[2019-09-09 12:06] mhdawson opened #313 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-09-12"
## Time

**UTC Thu 12-Sep-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 12-Sep-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 12-Sep-2019 10:00 (10:00 AM) |
| US / Central  | Thu 12-Sep-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 12-Sep-2019 12:00 (12:00 PM) |
| London        | Thu 12-Sep-2019 17:00 (05:00 PM) |

[2019-09-14 16:54] jonchurch commented on #313
@ogonzal87 @amiller-gh Lemme know when you have a link!

[2019-09-14 17:01] amiller-gh commented on #313
Delayed 😬ETA ~30!

[2019-09-14 17:42] ogonzal87 commented on #313
https://bluejeans.com/8002620190

[2019-09-14 17:50] jonchurch commented on #313
Having wifi troubles

[2019-09-14 17:53] amiller-gh commented on #313
😢

[2019-09-19 17:05] SMotaal commented on #313
Can I join the meetings (and efforts)?

[2019-09-20 05:51] ogonzal87 commented on #313
Hey Saleh - Sure! Would love your help. We are meeting next Thrusday at 9am PST. We can tell you where we are and what we need to do still.

[2019-09-22 15:28] Trott opened #319 "GitHub Actions need to be migrated from HCL syntax"
## Description

HCL Syntax GitHub Actions will stop working on September 30.

Someone needs to migrate it to YAML syntax.

### Steps to reproduce

n/a

### Expected result

n/a

### Actual result

n/a

### Environment

n/a

@nodejs/website-redesign

[2019-09-22 15:31] Trott commented on #319
AFAICT, the only HCL action is https://raw.githubusercontent.com/nodejs/nodejs.dev/master/.github/main.workflow which would seem to be pretty simple to migrate.

@MylesBorins

[2019-09-23 12:06] mhdawson opened #320 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-09-26"
## Time

**UTC Thu 26-Sep-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 26-Sep-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 26-Sep-2019 10:00 (10:00 AM) |
| US / Central  | Thu 26-Sep-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 26-Sep-2019 12:00 (12:00 PM) |
| London        | Thu 26-Sep-2019 17:00 (05:00 PM) |

[2019-09-23 20:49] bnb commented on #319
FWIW, I'm willing to take a stab at this. There's a tool to migrate automatically: https://github.com/actions/migrate

[2019-09-23 21:07] bnb opened #321 "Cannot push if `yarn` is not installed"
## Description

Currently, I can't push to a branch if `yarn` isn't installed on my machine.

I refuse to install yarn for a variety of reasons, and I don't know if it's reasonable to expect ecosystem members who want to contribute to an official Node.js website to have a package manager outside of what officially ships with Node.js itself.

### Steps to reproduce

[code]
### Expected result

The

[2019-09-23 21:10] bnb commented on #319
I have the updated YAML, but #321 is preventing me from pushing up a PR 😅

Here's the YAML, built with the aforementioned migration tool:

[code]

This can be committed along with removing the `main.workflow` file.

[2019-09-23 22:38] Trott commented on #321
You can probably bypass the yarn-required script with `git push --no-verify`. Not ideal, but probably better than not being able to push and hopefully more acceptable to you than installing `yarn`.

[2019-09-23 22:52] Trott commented on #319
You can (probably) bypass the issue in #321 by using `--no-verify` with `git`.

[2019-09-23 22:52] Trott commented on #319
Also: THANKS FOR DOING THIS! 🎉

[2019-09-26 15:32] SMotaal commented on #313
I am likely going to be mostly listening in while making my way through a longer queue than expected. Excited to hear how far things got since last year’s discussions
in Vancouver. Apologies for my tardiness.

[2019-09-26 15:37] SMotaal commented on #320
Sorry posted in the old thread...

I am likely going to be mostly listening in while making my way through a longer queue than expected. Excited to hear how far things got since last year’s discussions
in Vancouver and how I would be useful in ongoing efforts. Apologies for my tardiness.

[2019-09-26 16:20] amiller-gh commented on #313
Closing because our hackathon is over! 🎉
 - Oscar tackled the home page – PR up soon
 - Jon Pushed forward on the download page in #316
 - I continued to block out the API page, live in #12

[2019-09-26 16:20] #313 closed

[2019-09-26 16:29] amiller-gh commented on #320
Light attendance for today, so I ended the meeting early!

Summary:
 - Oscar and I chatted about some git issues, he'll be pushing the homepage PR tonight (looks amazing)
 - Saleh had to run, but popped in to say hey – we'll be scheduling a separate call for onboarding. later today.

Next steps:

We still have a bit to do to be 1:1 with the latest designs:
 - There are five updates for the API pag

[2019-09-26 16:32] amiller-gh opened #322 "Next Hackathon: October 19th 9:00PDT – Whenever We Stop!"
Those Saturday hackathons worked really well – I think one more and we'll be in a great place!

Problem: My next two weekends are booked with travel...

Question: Should we plan for Saturday, October 10th, or try to find a weekday that works well where some of us can spend ~4 hours on video chat together driving to complete some of these new features?

[2019-09-26 16:32] amiller-gh commented on #320
https://github.com/nodejs/nodejs.dev/issues/322

[2019-09-26 16:35] amiller-gh commented on #321
@bnb Its because we have `yarn` hardcoded in our `scripts` in `package.json`. If you change `yarn` to `npm` it should work fine 🙂

Feel free to throw up a PR with the `yarn` => `npm` change. Its more inclusive since `npm` comes along for the ride when you install Node.js.

[2019-09-28 11:01] SMotaal commented on #322
So I'll be honest, and put it delicately, I am a proactive custom-elements evangelist, so I do appreciate the 2 week gap here with all the docs and whatnot.

[2019-09-28 11:03] SMotaal commented on #322
@amiller-gh What times were you thinking for the hackathon? I normally have a hard cutoff for 4 pm ET on Saturdays?

[2019-09-28 11:03] SMotaal commented on #320
Thanks… sorry for not catching up on this thread earlier. (looking over #322)

[2019-09-28 11:21] SMotaal commented on #320
@amiller-gh Can we still schedule the onboarding?

[2019-10-01 23:17] MylesBorins opened #327 "Is that nodejs.dev on youtube?"
https://www.youtube.com/watch?v=BT5_yYC7b5A

got some coverage from the google developer channel 🎉

[2019-10-01 23:58] ogonzal87 commented on #322
Bump @amiller-gh

[2019-10-02 04:43] #327 closed

[2019-10-07 12:05] mhdawson opened #329 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-10-10"
## Time

**UTC Thu 10-Oct-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 10-Oct-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 10-Oct-2019 10:00 (10:00 AM) |
| US / Central  | Thu 10-Oct-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 10-Oct-2019 12:00 (12:00 PM) |
| London        | Thu 10-Oct-2019 17:00 (05:00 PM) |

[2019-10-10 15:58] jonchurch commented on #261
I've been working on the downloads page #316 , and I added a utility function [`detectOs`](https://github.com/nodejs/nodejs.dev/pull/316/files#diff-3c668db2ed589ff2e39b467599e25501) to get platform info from the global navigator object.

We aren't currently using it to display a specific platform for realeases, but the utility is ready to be used when we are.

[2019-10-10 16:01] amiller-gh commented on #329
Sorry, running a *hair* late! Will kick this off in 3 👍

[2019-10-10 17:31] SMotaal commented on #329
Missed the last 2 minutes — but thanks everyone, this was super 👍

[2019-10-10 17:32] SMotaal commented on #329
@jonchurch — just to follow up re onboarding… thoughts?

[2019-10-10 17:34] amiller-gh commented on #322
We're on for October 19th!

I'll drop a link in here day-of. Oscar and I will be starting around 9:00 PDT and going until around dinnertime Excited to see you all there :)

[2019-10-10 17:50] SMotaal commented on #255
@amiller-gh I'd love to graduate into this area in general… Let me know if there is something on your mind to get me started.

[2019-10-10 17:50] ogonzal87 opened #331 "Subscribe-to-newsletter Action."
![image](https://user-images.githubusercontent.com/10442715/66593575-1c848700-eb4c-11e9-97bc-e55d156e3ed5.png)

[2019-10-10 17:51] ogonzal87 opened #332 "Events Banner notification"
![image](https://user-images.githubusercontent.com/10442715/66593643-40e06380-eb4c-11e9-819a-1852868a0999.png)

[2019-10-10 17:51] ogonzal87 opened #333 "How-to-install or Node Demo Section"
![image](https://user-images.githubusercontent.com/10442715/66593685-56558d80-eb4c-11e9-85f5-c3ebc54e61bb.png)

[2019-10-10 18:02] SMotaal opened #334 "Performance: Content rendering directly to DOM"

[2019-10-10 18:06] SMotaal opened #335 "Feature: Keyed filtering for Downloads"

[2019-10-10 18:14] SMotaal opened #336 "Feature: Enhance Dark Mode to add `auto` and onload restore"
This issue tracks adding a new `auto` Dark Mode state to contrast with the reframing of the current `on`/`off` states, which also involves overall UX considerations, specifically toggling and restore onload (ie to mitigate flashes) behaviours.

---

**Tasks**

- [x] **Feature**: Enhanced Dark Mode prototype #352

- [x] **Refactor**: Enhanced Dark Mode as third-party dependency #366

- [ ] **Fix**:

[2019-10-10 20:07] SMotaal opened #337 "Knits: Blending/Cascading related to Light/Dark"
This issue is to track and follow up on various dark mode design concerns related to blending/cascading knits related to toggling across light/dark schemes.

---

- [ ] 2019-10-10 Blending knit for Brand-500 green not passing accessibility audits in light mode — `#ffffff` over `#5fa04e`

- [ ] 2019-10-10 Blending knit where white slabs in certain icons are visually overemphasized in dark mode

[2019-10-10 20:46] SMotaal commented on #335
@nodejs/website-redesign can I get access to set labels please?

[2019-10-11 21:47] jonchurch commented on #329
@SMotaal Are you free around noon on sunday, the 13th?

You can email me at the address on my github profile and we can coordinate.

[2019-10-14 15:41] #321 closed

[2019-10-14 22:05] adeelibr commented on #262
@amiller-gh Hi, I am new here. I would love to work on this PR for hacktoberfest. If it's okay. I would need some help with direction. But I would love to get a chance to work on it. 😄 😅

[2019-10-19 15:42] amiller-gh commented on #322
Hey y’all – Oscar and I are going to be online closer to 10:00 PDT. Will stop a link in here when we get going (or someone else feel free to kick off a google hangouts before then if you’re already hacking away!)

[2019-10-19 16:03] SMotaal commented on #322
We can use my zoom… if everyone is okay with that.

Do I set it up?

<!--
<details>

Saleh Abdel Motaal is inviting you to a scheduled Zoom meeting.

Join Zoom Meeting
https://zoom.us/j/793099356?pwd=TnNKajYwOUtKekNyTHo5Q1lQUmhTdz09

Meeting ID: 793 099 356
Password: 322

One tap mobile
+16475580588,,793099356# Canada

Dial by your location
        +1 647 558 0588 Canada
        +61 2 8015 6011 Au

[2019-10-19 16:12] SMotaal commented on #322
<details><summary>Details (only if Zoom is a good option for everyone)</summary>

Saleh Abdel Motaal is inviting you to a scheduled Zoom meeting:

[https://zoom.us/j/793099356](https://zoom.us/j/793099356?pwd=TnNKajYwOUtKekNyTHo5Q1lQUmhTdz09 "passowrd is issue digits")

Meeting ID: 793 099 356

One tap mobile
+16475580588,,793099356# Canada

Dial by your location
        +1 647 558 0588 Canada

[2019-10-19 21:43] amiller-gh commented on #333
Ref: https://nodejs.org/en/download/package-manager/

[2019-10-21 10:48] SMotaal opened #354 "Testing: Feature: Enhance Dark Mode to add `auto` and onload restore #336"
**This issue tracks adding tests for the following issue**:

- Feature: Enhance Dark Mode to add `auto` and onload restore #336

**It relates to the following implementation PR(s)**:

- feat: Enhanced Dark Mode prototype #352

**It tracks the following testing PR(s)**:

- [ ] TBD

---

**It tests the following aspects**:

- [ ] Tests for the Toggle state — see [comment](352#issuecomment-544371204)

[2019-10-21 12:06] mhdawson opened #355 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-10-24"
## Time

**UTC Thu 24-Oct-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 24-Oct-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 24-Oct-2019 10:00 (10:00 AM) |
| US / Central  | Thu 24-Oct-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 24-Oct-2019 12:00 (12:00 PM) |
| London        | Thu 24-Oct-2019 17:00 (05:00 PM) |

[2019-10-21 14:43] yogeshkotadiya commented on #354
I'll add tests once PR gets merged.

[2019-10-21 16:29] SMotaal commented on #354
@yogeshkotadiya sweet… thank you.

This is a great growing opportunity for me to pick up on things this time and hopefully be able to keep things in mind from the get go next time around.

Please feel free to use slack if you want immediate input on the code, I'm sure I could do better documenting things that may not be as straightforward as someone feels they are in the moment.

[2019-10-23 21:49] SMotaal opened #357 "Lint: `eslint` including extraneous artifacts (ie "/public") — might not be preferable."
# Problem

ESLint will sometimes fail on statically generated content that is not meant to be committed into the code base (ie .gitignore).

The issue came up when trying to resolving CI issues related to #352, and where a local public folder was created as a result of triggering one of the scripts (TBD). Once generated, scripts suffered enormous lags and hooks seemed to fail without reasonably cl

[2019-10-24 05:26] ogonzal87 commented on #355
Hey team - I am going to try to make it but I might not. Let me know if you need anything from me in Slack or here. I have a PR out for some spacing updates to Typography.

[2019-10-24 16:02] SMotaal commented on #355
Just checking sincere there is no host yet on my end!

/cc @amiller-gh

[2019-10-24 16:05] Bamieh commented on #355
Is the meeting still on? I'd like to join today if possible. I can host it if no one is available.

[2019-10-24 16:07] SMotaal commented on #355
Please do

[2019-10-24 16:10] Bamieh commented on #355
The website redesign webinar has a different link than the one in the issue
https://zoom.us/j/609685501

[2019-10-24 16:11] SMotaal commented on #355
Can you elaborate… which one should we connect to?

What do we do to correct this moving forward?

[2019-10-24 16:16] SMotaal commented on #355
https://github.com/nodejs/nodejs.dev/issues/333

[2019-10-24 16:17] Bamieh commented on #355
I'd like to discuss:  https://github.com/nodejs/nodejs.dev/issues/257

[2019-10-24 16:24] SMotaal commented on #333
I have updates coming after we are done with the meeting!

[2019-10-24 17:10] yogeshkotadiya commented on #355
Sorry, my webcam is broken I don't know what happened :sweat_smile:, Next time for sure :smile:.

[2019-10-24 17:17] yogeshkotadiya commented on #357
`public` directory is a production version of the site, so we don't need to check for linting/formatting in there.

Already added in #326

[2019-10-24 18:44] SMotaal commented on #355
Since we mentioned it today, here is the link for those looking to join [Node Slackers](http://www.nodeslackers.com/) as the (as of yet) unofficial place for slacking on Node.js things :)

[2019-10-24 18:45] SMotaal commented on #355
@yogeshkotadiya (and one who listened in) are you able to advise on [#333](https://github.com/nodejs/nodejs.dev/issues/333#issuecomment-545996328)

[2019-10-25 12:45] dmitriyaa opened #358 "Can we redesign the 'quick start/getting started' header?"
'Getting started' header looks cool and all, but it's very inconvenient to read the content.
Is it possible to either fully hide it or make it normal without transparency?

[2019-10-25 12:48] dmitriyaa commented on #358
I can try to do it myself if you give me a green light :bowtie:

[2019-10-27 19:38] #280 closed

[2019-10-28 18:51] amiller-gh commented on #355
Ahh, hi all, I'm so sorry for missing this meeting last week and going dark for a bit – it's ~9 days to the election here and I'm nearly 100% focused on that. I'm going to take an hour or so to dig out of my backlog in this repo here and try to un-block a few of you (personal apologies to @SMotaal – diving into your PRs first)

[2019-10-28 18:52] amiller-gh commented on #355
@Bamieh, how was the discussion on #257? Interested in implementing?

[2019-10-28 22:27] dmitriyaa commented on #358
@ogonzal87, sure, here is what I mean.
To change this:
![Screenshot 2019-10-28 at 23 15 08](https://user-images.githubusercontent.com/28235413/67722705-317d6900-f9da-11e9-8b3f-d264d8b53427.png)
Into something like this:
![Screenshot 2019-10-28 at 23 24 30](https://user-images.githubusercontent.com/28235413/67722713-33dfc300-f9da-11e9-878a-1d2b221eab9c.png)

I am not sure though if it's uncomfortab

[2019-10-31 13:44] ogonzal87 commented on #358
I think that is the old design. Check the `staging` branch. That has the latest.

[2019-11-03 13:06] dmitriyaa commented on #358
@ogonzal87, cool, you are right, new design looks much better 🙂
Do you have any idea when it will be deployed on production?

[2019-11-04 13:06] mhdawson opened #364 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-11-07"
## Time

**UTC Thu 07-Nov-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 07-Nov-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 07-Nov-2019 10:00 (10:00 AM) |
| US / Central  | Thu 07-Nov-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 07-Nov-2019 12:00 (12:00 PM) |
| London        | Thu 07-Nov-2019 17:00 (05:00 PM) |

[2019-11-07 09:48] vogsphar opened #365 "https://nodejs.dev/nodejs-streams example crashes"
## Description

The examples crash with a `Error [ERR_METHOD_NOT_IMPLEMENTED]: The _read() method is not implemented` message.

Please add a simple _read() function.

### Steps to reproduce

code from examples:
[code]

### Expected result

nothing

### Actual result

[code]
### Environment
- OS Version: WSL (Linux version 4.4.0-17763-Microsoft (Microsoft@Microsoft.com) (gcc version 5.4.0 (GCC) ) #

[2019-11-07 14:07] yogeshkotadiya commented on #365
You have to implement a `read` method on the `readableStream`.

[readable.push()](https://nodejs.org/api/stream.html#stream_readable_push_chunk_encoding)

[code]

I thinks docs should be more clear about this.

[2019-11-07 17:07] ogonzal87 commented on #364
Hey team - who is the host for the meetings? @amiller-gh Is that you?
I can only stay until 9:30am pst so I wanted to know what we need to know to get some of the PR reviewed. We have quite a lot.

[2019-11-07 17:08] amiller-gh commented on #364
Ahh, Oscar, sorry, calling in now.

[2019-11-11 22:13] eojthebrave opened #368 "Create templates for content pages"
## Summary

**tl;dr;** We can improve the consistency and quality of content by creating templates/guidelines for *concepts* and *tasks*, and then applying those to all existing docs pages.

I think that we could improve the quality and consistency of the content on the site by developing one or two templates, and then applying those templates to every page. Similar to the template that I was pres

[2019-11-11 23:39] SMotaal commented on #368
Can I suggest we group together content-related threads and maybe hold a dedicated meeting to align.

Unless I am mistaken, this along with discussions around #359, possibly others, all can be benefit a regroup on content things.

Thoughts?

[2019-11-11 23:44] SMotaal commented on #358
Just wanted to check quickly, did you run into HMR-related issues here? Assuming you are wiring event handlers and retaining state, I would be curious to know if HMR issues came up.

[2019-11-11 23:57] dmitriyaa commented on #358
@SMotaal, I think you confused an issue 😅. It's just about the design (readability) of the 'getting-started' pages.

[2019-11-12 04:06] eojthebrave commented on #368
Sure. I'm not very familiar with the current state of this project, or the process for proposing things like this so I'm happy to do what I can to help move the conversation forward.

[2019-11-12 22:08] SMotaal commented on #358
@dmitriyaa I guess I was considering the implementation side where there is likely `IntersectionObserver` in play… ie HMR could lead to redundancy which may lead to noise in development versus production.

[2019-11-13 23:11] SMotaal commented on #322
<div align=center>

---

# 👋

Looks like we need another one of those

---

</div>

[2019-11-13 23:22] SMotaal commented on #354
@yogeshkotadiya So opened a follow-up PR #366 which moves `dark-mode-controller` to a proper external dependency.

There's been a glitch in <code>/<span>gcbrun</span></code> affecting #359 onwards, where PRs against staging are served fine locally, and seem to also pass CI tests with the respective snapshots (please verify further) but live builds somehow are all "retro" (possibly `@master` but ha

[2019-11-13 23:33] SMotaal commented on #280
@jonchurch Actually, there is a good spin-off on this that @SauloNunes and myself
stumbled upon recently… cross-mentorship.

To contributors on their respective learning curves can benefit from a more casual work session together on one or more shared objectives. The can brainstorm, bounce thoughts and distribute the challenges of figuring out procedures... etc. And, this would likely lead to more

[2019-11-18 13:06] mhdawson opened #369 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-11-21"
## Time

**UTC Thu 21-Nov-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 21-Nov-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 21-Nov-2019 10:00 (10:00 AM) |
| US / Central  | Thu 21-Nov-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 21-Nov-2019 12:00 (12:00 PM) |
| London        | Thu 21-Nov-2019 17:00 (05:00 PM) |

[2019-11-19 00:20] richardlau opened #370 "npm-global-or-local-packages is misleading"
https://nodejs.dev/npm-global-or-local-packages states that a globally installed package (via `npm install -g`) can be `require()`'ed but that's not correct.

[2019-11-21 09:48] Usamaliaquat123 commented on #370
@richardlau  | @ahmadawais  Can i fix this  ?

[2019-11-21 10:13] ahmadawais commented on #370
Send in a PR you don't have ask for permission. You have to get 3 PR approvals. We generally try not to change the content a lot. So code fixes are more welcomed (generally).

[2019-11-21 16:02] amiller-gh commented on #369
Hi all – I have another client meeting at this time today and will *not* be able to make it... seems to be a newly recurring thing for me, I’m sorry

[2019-11-21 16:47] ogonzal87 commented on #369
I can't make this one either today. Could we reschedule or do an offline status on here?

On my end - I am going to review the changes that Alex submitted recently. Is anyone blocked by design in any way?

[2019-11-21 16:57] amiller-gh commented on #369
Yeah, let’s just do an offline status sync today. @ogonzal87 I don’t think anyone is – just blocked by other work! I’ll also take some time later today to sift through PRs.

[2019-11-21 17:10] SMotaal commented on #369
I've been idle and was hoping we could use today's meeting to maybe plan a hackathon… But we can do that here.

[2019-11-22 22:10] SMotaal commented on #369
@amiller-gh @ogonzal87… any thoughts on above?

[2019-11-29 06:49] lttr opened #375 "Scroll position on pages is not preserved"
## Description

When I am reading an article and click on a link and than go back (back button in browser) I would expect to land at the same reading position as I was before.

On plain HTML it works in browsers, this behaviour is probably caused by the site generator.

### Steps to reproduce

Go to https://nodejs.dev/ and scroll to heading `An Example Node.js Application`.
Click on link `standard

[2019-12-02 13:06] mhdawson opened #376 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-12-05"
## Time

**UTC Thu 05-Dec-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 05-Dec-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 05-Dec-2019 10:00 (10:00 AM) |
| US / Central  | Thu 05-Dec-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 05-Dec-2019 12:00 (12:00 PM) |
| London        | Thu 05-Dec-2019 17:00 (05:00 PM) |

[2019-12-03 05:06] OPARA-PROSPER commented on #375
Getting the **expected result** require that you use the hyperlink to the header (just beside the heading to the left).

Not clicking the hyperlink results to the unexpected result

- Browser version: Version 78.0.3904.87 (Official Build) (64-bit)

[2019-12-03 10:26] lttr commented on #375
Yes, but that is not the point. You would never click that link unless you want to share the position with someone or save it for yourself, but that is another topic.

[2019-12-04 12:15] OPARA-PROSPER commented on #375
I tried experimenting with another site (stackoverflow) and expected behavior (going back to exactly where you were on the page) was true.

I think this is a valid issue now.

[2019-12-04 16:49] ogonzal87 commented on #376
If there are enough people joining, I can join but only for 15min. I have an All Hands meeting at that time but wanted to know if people wanted to meet.

[2019-12-05 12:54] SMotaal commented on #376
<div align=center>

# 💭

Folks, I'm completely out of momentum due to the long disconnect!

[2019-12-05 16:55] jonchurch commented on #376
I'm unable to make it today. I don't have much of an update, things have been getting crazy as we close out the year.

I will be in Montreal next week for the Node.js Collaborator's summit, though.

[2019-12-05 17:13] SMotaal commented on #376
@ogonzal87 I'm not sure if you will join or not… I was hoping we get some traction  going, anyways I will try again in a couple of weeks.

[2019-12-05 17:19] SMotaal commented on #376
@jonchurch Have fun, and let us know when we can join in related discussion over Zoom (ahead of time would be appreciated).

[2019-12-14 16:11] bnb opened #382 "Add Dependabot preview to the Repo"
## Summary

Currently, we don't have automated dependency updates. The Dependabot Preview app has already been added to the Node.js GitHub org and is being used in nodejs.org. Perhaps we could add it to this repository so that we can get automated dependency updates for free rather than having to manually do this work?

### Motivation

Reduced burden on maintainers.

[2019-12-14 16:50] Trott commented on #382
It's already enabled. https://github.com/nodejs/nodejs.dev/pull/381

I'm not sure why it hasn't updated gatsby, though. Maybe it's configured just to do security updates? Or maybe there are limitations with yarn+dependabot?

[2019-12-14 19:19] bnb commented on #382
So I'm currently sitting at a table with 2 hubbers and 1 ex-hubber. It turns out that it's _not_ enabled in the org. The reason why that PR was submitted by "Dependabot" was because we have this checkbox:

![image](https://user-images.githubusercontent.com/502396/70853473-7ec77400-1e7c-11ea-8197-fc7d59e35b67.png)

Here are the repos it is enabled on in the organization:
![image](https://user-image

[2019-12-14 20:58] Trott commented on #382
Yes, please! And thanks!

[2019-12-16 13:05] mhdawson opened #383 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2019-12-19"
## Time

**UTC Thu 19-Dec-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 19-Dec-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 19-Dec-2019 10:00 (10:00 AM) |
| US / Central  | Thu 19-Dec-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 19-Dec-2019 12:00 (12:00 PM) |
| London        | Thu 19-Dec-2019 17:00 (05:00 PM) |

[2019-12-17 03:09] jonchurch commented on #382
Sounds good to me 👍

[2019-12-17 06:05] bnb commented on #382
Enabled - closing!

[2019-12-17 06:05] #382 closed

[2019-12-19 17:00] SMotaal commented on #383
Just me?!

[2019-12-19 17:02] jonchurch commented on #383
I don't have host privileges for Zoom, but I also don't think there's much to talk about right now since efforts have slowed down a lot. Likely we will pick things back up in the new year.

@SMotaal I apologize for being unresponsive, I haven't had the bandwidth to work on anything in this space for a while.

[2019-12-19 17:05] SMotaal commented on #383
Same here, I had some but ended up lagging due to not having meetings (ie staying coordinated, not anyone personally 💯)

[2019-12-19 17:06] SMotaal commented on #383
Do I just fire up a casual zoom on my end — let's have an informal holiday party :)

[2019-12-19 17:16] SMotaal commented on #383
<div align=center>

# ❌
### Sorry folks, no meeting!

</div>

[2019-12-20 17:04] #365 closed

[2019-12-21 00:26] #320 closed

[2019-12-21 00:26] #329 closed

[2019-12-21 00:26] #355 closed

[2019-12-21 00:26] #364 closed

[2019-12-21 00:26] #369 closed

[2019-12-30 13:05] mhdawson opened #386 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2020-01-02"
## Time

**UTC Thu 02-Jan-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 02-Jan-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 02-Jan-2020 10:00 (10:00 AM) |
| US / Central  | Thu 02-Jan-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 02-Jan-2020 12:00 (12:00 PM) |
| London        | Thu 02-Jan-2020 17:00 (05:00 PM) |

[2020-01-02 16:11] SMotaal commented on #386
<div align=center>

# 🎉
### Happy new year!

We are meeting, right?

</div>

[2020-01-02 16:15] amiller-gh commented on #386
Hi! I’m sorry all, I’m still traveling – and nearly out from being underwater with other work. I’d like to finally return to normalcy again next meeting (Thurs the 16th) and kick off 2020 website things in earnest then. Is that okay?
On Jan 2, 2020, 11:11 AM -0500, Saleh Abdel Motaal <notifications@github.com>, wrote:

[2020-01-02 19:18] #386 closed

[2020-01-13 13:19] mhdawson opened #388 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2020-01-16"
## Time

**UTC Thu 16-Jan-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 16-Jan-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 16-Jan-2020 10:00 (10:00 AM) |
| US / Central  | Thu 16-Jan-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 16-Jan-2020 12:00 (12:00 PM) |
| London        | Thu 16-Jan-2020 17:00 (05:00 PM) |

[2020-01-13 15:32] seirina-of-js commented on #375
Hello! I'll try taking this one.

[2020-01-16 17:00] jonchurch commented on #388
Meeting link has expired 🙍‍♂

[2020-01-16 17:10] SMotaal commented on #388
We can use this: https://zoom.us/j/793099356?pwd=TnNKajYwOUtKekNyTHo5Q1lQUmhTdz09

[2020-01-25 12:32] SMotaal opened #389 "Ensuring a sensory-friendly Dark Mode!"
## Overview

When done right, Dark Mode often helps overcome issues with sensory overload. So far, if I may speak on behalf of others, the structure and work this team had already done has made for exceptional results.

As we move forward, we will likely want to figure out a way to define some criteria to qualify if design aspects may need further optimizations, most likely those would need only b

[2020-01-27 13:19] mhdawson opened #390 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2020-01-30"
## Time

**UTC Thu 30-Jan-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 30-Jan-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 30-Jan-2020 10:00 (10:00 AM) |
| US / Central  | Thu 30-Jan-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 30-Jan-2020 12:00 (12:00 PM) |
| London        | Thu 30-Jan-2020 17:00 (05:00 PM) |

[2020-01-30 17:00] jonchurch commented on #390
Zoom link is expired

[2020-01-30 17:01] keywordnew commented on #390
I gotchu

https://zoom.us/j/425217510

[2020-01-31 18:55] #390 closed

[2020-02-01 21:23] keywordnew commented on #375
@seirina-of-js 👍🏽

[2020-02-02 01:34] benhalverson commented on #390
Was this recorded for YouTube?

[2020-02-05 20:40] lizparody opened #392 "Repeated information on Nodejs.dev"
These two pages:
- https://nodejs.dev/the-package-json-guide
- https://nodejs.dev/semantic-versioning-using-npm
Have the same information that could be consolidated in one place. I'm talking specifically about this:

[code]

[2020-02-08 21:57] benhalverson commented on #332
What would cause this banner to show up? is it just static html that we add or does it show up from some notification system hosted elsewhere?

[2020-02-10 13:19] mhdawson opened #395 "Node.js Foundation Website Redesign Strategic Initiative Meeting 2020-02-13"
## Time

**UTC Thu 13-Feb-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 13-Feb-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 13-Feb-2020 10:00 (10:00 AM) |
| US / Central  | Thu 13-Feb-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 13-Feb-2020 12:00 (12:00 PM) |
| London        | Thu 13-Feb-2020 17:00 (05:00 PM) |

[2020-02-10 23:30] keywordnew commented on #332
I would think of this as a feature that should start as well-documented static HTML, so that event organizers know how to trigger updating this when needed. It will likely happen twice per year.

[2020-02-10 23:36] keywordnew opened #396 "CONTRIBUTING.md needs update, to explain the branching conventions in this project"
Our CONTRIBUTING.md doesn't specify which branch to work off of. Thanks @benhalverson for drawing attention to this process gap 👍🏽

This should be fixed. We should continue to work off of staging for feature development. If PR'ing meeting notes and documentation changes to `master` are  confusing exceptions, then it shouldn't be an exception :-)

[2020-02-13 15:36] jonchurch commented on #395
We are going to need another Zoom link when this kicks off, the linked one is still expired

[2020-02-13 16:16] benhalverson commented on #395
Has this started?

[2020-02-13 16:50] ahtee opened #401 "Quick start, shouldn't include background info on what node.js is"
## Summary

Recategorize the quick-start section of the docs to focus on how to install node.js with different tools, and how to verify installation.  Possibly include other cli tools built in like `npx` and installing a node.js package with `npm` command. Also including other tools that may be helpful with switching versions of node, like `nvm`.

The rest of the quick-start articles that don't fo

[2020-02-13 16:51] keywordnew commented on #395
Meeting will start in 10 mins.

[2020-02-13 16:57] keywordnew commented on #395
Issue body updated with new link: https://zoom.us/j/230136002

[2020-02-13 17:17] jonchurch commented on #368
@eojthebrave We chatted about this in the meeting https://github.com/nodejs/nodejs.dev/issues/395 today and we gave it an enthusiastic 👍 for using templates for improving the content.

If you want to PR in some templates, they can be discussed and maybe have the submission guidelines updated to encourage people to use them.

Also, if you have time to PR in updates to existing content feel free, an

[2020-02-13 17:26] SauloNunes commented on #389
i can help o/

[2020-02-13 17:48] jonchurch commented on #395
https://github.com/nodejs/nodejs.dev/pull/361 Where I was working on styling

[2020-02-13 18:01] jonchurch commented on #395
Check out the OKR doc https://github.com/nodejs/nodejs.dev/pull/394

[2020-02-13 18:48] jonchurch opened #403 "Fix Zoom Link in Meeting Template"
The zoom link in the [Meeting template](https://github.com/nodejs/create-node-meeting-artifacts/blob/master/templates/meeting_base_wrsi) (in another repo) for this project is expired.

There is a PR open against the template https://github.com/nodejs/create-node-meeting-artifacts/pull/84 but I don't know what the proper link to use would be.

[2020-02-13 18:59] jonchurch opened #404 "Document Preview staging link generation"
## Summary

There should be documentation explaining the current state of preview link building for opened PRs. Myles explained part of the [process in a comment](https://github.com/nodejs/nodejs.dev/pull/324#issuecomment-540757244). And [another issue](https://github.com/nodejs/nodejs.dev/issues/49) mentioning only maintainers can kickoff a build.

### Motivation

It's confusing for new contribut

[2020-02-13 20:08] keywordnew commented on #376
Closing this issue as the meeting has now passed :-)

[2020-02-13 20:08] #376 closed

[2020-02-13 20:09] keywordnew commented on #383
Closing this issue.

[2020-02-13 20:09] #383 closed

[2020-02-13 20:10] keywordnew commented on #388
Closing this issue; the event has now passed.

[2020-02-13 20:10] #388 closed

[2020-02-14 00:54] jonchurch commented on #401
This is the “Learn” section currently, not the docs specifically. This content can certainly be reorganized, but for the first page of the “Learn” content, an intro about the language itself doesnt seem out of place.

The site youre seeing is whats built from master on this repo, and currently is only displaying the Learn content.

Does that context affect what you think about this content? The ho

[2020-02-14 04:35] benhalverson opened #405 "Footer component"
## Summary
This is a stateless functional component.
The dropdown for translations (i18n) might be called something like  LanguageSwitcher component.

See the screenshot or [Figma](https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=1338%3A13127&viewport=-232%2C-1378%2C0.21998274326324463&scaling=min-zoom)

![Screen Shot 2020-02-13 at 8 30 11 PM](https://user-images.githu

[2020-02-14 04:47] benhalverson commented on #405
Whooops duplicate of https://github.com/nodejs/nodejs.dev/pull/326

[2020-02-14 04:47] #405 closed

[2020-02-15 17:10] SMotaal opened #406 "Onboarding: @SauloNunes and @BenHalverson"
<div align=center>

# 👋 <br/> TODO

</div>

**Foremost**

- [x] Add @SauloNunes to @nodejs/website-redesign or @nodejs/nodejs-dev
- [x] Add @BenHalverson to @nodejs/website-redesign or @nodejs/nodejs-dev

**Then**

- [ ] Figure out why there are two separate teams and if consolidation would be reasonable

**Finally**

- [ ] Make sure all active members are on the same team

---

/cc @nodejs/websit

[2020-02-15 18:08] SMotaal commented on #396
@keywordnew so the PR #397 is current against staging… would that make it not an exception?

I think we're just looking for clarity to move forward with everything on `staging` or not — please clarify!

[2020-02-15 20:14] SMotaal opened #407 "Chores: More Cascading Styles"
**`TBD`**

[2020-02-16 06:31] benhalverson opened #408 "Linting warnings are annoying"
I noticed a few warnings that should be fixed before the list gets out of hand.
### To reproduce
run `npm run lint` or do a commit
### Expected result

No warnings or errors
### Actual result

[code]

[2020-02-16 07:44] benhalverson opened #409 "Current test coverage"
I think this would be a good first issue / help wanted @SMotaal

File                      |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
--------------------------|----------|----------|----------|----------|-------------------|
All files                 |    25.06 |    16.97 |     21.1 |    25.94 |                   |
 src                      |      100 |      100 |      100

[2020-02-18 00:32] jonchurch commented on #408
I setup the linting based on #179 and merged in with https://github.com/nodejs/nodejs.dev/pull/315

100% open to a PR to change the linting rules!

[2020-02-18 01:50] jonchurch commented on #406
Hmmm, I just realized, I'm not even a part of this team. I'm part of @nodejs/nodejs-dev...

[2020-02-18 01:51] benhalverson commented on #408
I fixed them in my PR 👍 see #410

[2020-02-19 20:34] SMotaal commented on #406
@keywordnew can we raise this in tomorrow's @nodejs/community-committee meeting please.

[2020-02-20 00:28] SMotaal commented on #404
So I think it is perfect to loop in @benhalverson while he still has #397 open, since it includes https://github.com/benhalverson/nodejs.dev/blob/docs/CONTRIBUTING.md

The gist of it from my own experience (ie specifically how it worked from my end) :
1. For PR against https://github.com/nodejs/nodejs.dev/tree/staging, a commit automatically triggers Travis — it is usually a good idea to let that

[2020-02-20 17:45] keywordnew opened #412 "Merge website redesign teams"
## Summary

There are two teams focused on this initiative. We should have just one.

a. https://github.com/orgs/nodejs/teams/website-redesign/members
b. https://github.com/orgs/nodejs/teams/nodejs-dev/members

AFAIK, it's a legacy of having the original https://github.com/nodejs/website-redesign/ repo and the newer https://github.com/nodejs/nodejs-dev/ repo. The older was used to kick off the ini

[2020-02-20 17:46] keywordnew commented on #412
@MylesBorins 👋🏽 Would you know of any permission impacts to gcbrun, if the teams were to be merged?

[2020-02-20 17:47] keywordnew commented on #406
Looks like this is resolved.

Sparked another issue about the purpose of two teams: #412

[2020-02-20 17:49] keywordnew commented on #406
Actually, I'll leave this open. The action decided in CommComm was to add to the newer team and to start merging the teams. In the meantime, if there are any issues from not being on the older team, we can resolve that here.

[2020-02-20 17:53] jonchurch commented on #412
FWIW Members of nodejs-dev are currently able to kick off gcbrun (that's the team I've been a member of).

[2020-02-21 00:21] MylesBorins commented on #412
The permissions model for gcb is based on who has access to the repo, not
specific teams. So as long as the merged team maintains the permissions it
will be fine.

I will point out that there are a number of folks, including myself,
helping to maintain .dev but are not active in the redesign initiative. As
such it might not entirely make sense to merge. But consider this a +/- 0

On Thu, Feb 20, 2

[2020-02-21 01:46] benhalverson commented on #332
I noticed the dark mode mock up doesn’t have a banner. What colors should it be? @keywordnew

[2020-02-21 08:06] benhalverson opened #413 "Feature: Search box"
## Summary
As a user I want to search the docs website to find the examples / methods and guides I need to develop using Node.js

### TODO
- [ ] UI
  - [ ] Search box with text in light and dark mode
  - [ ] Accessibility
  - [ ] i18n translation support
- [ ] Unit tests for UI
- [ ] Unit tests for graphql
- [ ] graphql queries

Related #257

[2020-02-21 09:07] benhalverson commented on #331
The UI appears to be ready.

### TODO
  - [ ] The thing that is missing is a link "see events near you"
  - [ ] functionality using a newsletter service?
     Which newsletter service are we using? @nodejs/website-redesign

[2020-02-22 15:18] SMotaal commented on #406
I think it is hard to know from my end if there are privileges missing in @nodejs/nodejs-dev compared to @nodejs/website-redesign… @jonchurch may be more insightful.

[2020-02-22 15:24] SMotaal commented on #252
@benhalverson I think we want to use this thread to discuss netlify and reopen as the team decides.

/cc @nodejs/nodejs-dev

[2020-02-22 15:47] SMotaal commented on #412
@MylesBorins I think what we are trying to do as we are mostly new to the team, we're trying to size the joint to make sure where we are stepping, documenting things (@benhalverson) in https://github.com/benhalverson/nodejs.dev/blob/docs/CONTRIBUTING.md — see #397.

We are basically not sure we know enough about how `gcbrun` and other workflow aspects are managed:

1. Who is involved on admin aspe

[2020-02-22 19:30] SMotaal opened #415 "Chores: Create a cheatsheet for things that can break funny on ci-side."
**`TBD`**

**Relates to** #362

[2020-02-22 21:22] MylesBorins commented on #412
I see the discussion about merging teams and operations as orthogonal tbh.

I spun up all the existing infrastructure and am the sole admin at the
moment. We can either extend access to others, or switch to another tool
such as netlify which might be easier to maintain.

We could also see about the build team taking ownership of the operations.

On Sat, Feb 22, 2020, 10:47 AM Saleh Abdel Motaal <n

[2020-02-22 23:39] bnb commented on #406
There should not be. The only difference is between the two teams is that @nodejs/website-redesign has access to the website-redesign repo in addition to this repo, which is now archived. We can add that relatively "useless" ownership to nodejs.dev, but it's a trivial difference.

[2020-02-23 15:55] SMotaal commented on #406
@bnb — I think I was maybe wondering more about CI aspects, have no clue if for instance Google Cloud permission to see the actual build logs… etc, would be different, obviously talking from the point of view of uncertainty since I only see "access denied" and not sure to what exactly  😉

[2020-02-23 16:22] bnb commented on #406
cc @mylesborins - do you have context on the above?

[2020-02-23 20:09] MylesBorins commented on #406
Automation is all based on the repo not the team. I had chimed in another
thread that it wasn't entirely clear why the two teams should be merged.
myself and others who are not involved in the broader redesign effort are
helping to maintain the nodejs.dev website but not participating in
meetings or the team. Seems like an over optimization to me.

On Sun, Feb 23, 2020, 11:22 AM Tierney Cyren <not

[2020-02-23 21:35] SMotaal commented on #368
@eojthebrave @jonchurch

So let me try to recall this right, we had discussion on issue templates I think… and we did talk a lot about content related aspects, but I think here the context is well-defined that I'm afraid we may want to do it more justice with more discussion… templates in this context are meant to be structural of content, and that is a very intriguing and detailed, I hesitate to

[2020-02-24 13:19] mhdawson opened #416 "Node.js Website Redesign Strategic Initiative Meeting 2020-02-27"
## Time

**UTC Thu 27-Feb-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 27-Feb-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 27-Feb-2020 10:00 (10:00 AM) |
| US / Central  | Thu 27-Feb-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 27-Feb-2020 12:00 (12:00 PM) |
| London        | Thu 27-Feb-2020 17:00 (05:00 PM) |

[2020-02-24 17:21] eojthebrave commented on #368
Hey @SMotaal, thanks for your feedback. And yes, I'm happy to discuss this further as needed. And agree it warrants further discussion and community input. I started a PR thinking it might help to have an example to point to as part of that discussion. Any and all feedback on how to improve it is welcome!

I should be able to join the meeting on Thursday if it's helpful. I'm also happy to continue

[2020-02-24 18:04] SMotaal commented on #368
@eojthebrave I think it helps to just go over the issue with everyone on Thursday, this way we get everyone on the same page and allow folks to give input or opt to helping with next steps.

Apologies, I too am fairly new to the project, and somewhat so on multiplayer GitHub :)

If you don’t mind, I’d like to think about your reply and address it in the meeting... I’m still trying to find good way

[2020-02-24 18:48] eojthebrave commented on #368
That works for me.

[2020-02-25 16:06] ahtee commented on #401
Fair enough, it was just my opinion on the content placement.

[2020-02-25 16:06] #401 closed

[2020-02-27 16:54] keywordnew commented on #408
Closing this issue as it was addressed with #410 👍🏽 Please feel to reopen if needed!

[2020-02-27 16:54] #408 closed

[2020-02-27 17:00] benhalverson commented on #416
Does a new zoom id exist?

[2020-02-27 17:01] keywordnew commented on #416
https://zoom.us/j/294252732

[2020-02-27 17:24] jonchurch commented on #416
Here's the PR where husky was removed https://github.com/nodejs/nodejs.dev/pull/323

[2020-02-27 17:52] jonchurch commented on #368
[Learn page mockup](https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=1338%3A12680&viewport=-232%2C-1378%2C0.21998274326324463&scaling=min-zoom)

[2020-02-28 12:35] SMotaal commented on #368
So thank you so much @eojthebrave for bringing this up along with your expertise across the various content-oriented open source efforts.

To make documentation semantic, it means it can be interpolated, even extrapolated, and we don't need to know why or how yet, just that it can be, logically… and your structural templating angle is absolutely spot on here, thank you!

[2020-02-28 23:36] SMotaal opened #417 "Next Hackathon: April 18th 10:00 am PT Live Broadcast"
<div align=center>

---

# 👾

### Bi-Weekly Hackathons

---

We're holding recurring bi-weekly Saturday Live Code hackathons to allow folks to fast-track on PRs, tasks, and get into the weeds of discussions threads from our regular meetings.

Follow the Live Stream at: https://www.twitch.tv/benhalverson

</div>

<!--

---

## Pending Actions

Add folks to @nodejs/website-redesign:

- [ ] @giankota

[2020-02-29 00:27] benhalverson commented on #417
8 am or pm?

[2020-02-29 10:06] SMotaal commented on #417
@benhalverson I had it 0800 PST, but recalled we do not follow the military time convention, thanks for catching this!

[2020-02-29 16:33] benhalverson commented on #406
We're onboarded now and this can be closed.

[2020-02-29 16:33] #406 closed

[2020-02-29 20:23] benhalverson commented on #396
Closed via #397

[2020-02-29 20:23] #396 closed

[2020-02-29 20:59] benhalverson commented on #332
Closed via #398

[2020-02-29 20:59] #332 closed

[2020-02-29 21:22] SMotaal opened #419 "Chore: Upgrade to Node 12"
## Tasks

- [ ] Update `.nvmrc` from Node `v8.12.0` to `v12.…`

  1. Which `v12.…` should we target?
  2. Do we PR against `staging` or `master`?

- [ ] Upgrade Travis and Google Cloud Build from Node [`v10.…`](https://github.com/nodejs/nodejs.dev/pull/366/files#r382942332) to `v12.…`

  1. Do we just update [cloudbuild-deploy.yaml](https://github.com/nodejs/nodejs.dev/blob/master/cloudbuild-deplo

[2020-03-01 21:59] SMotaal opened #421 "Chore: Move to OpenJS slack (TBD)"
Just wanted to open this thread to decide on how we want to set things up in the OpenJS slack, and fate of the current `#website-resign` channel.

- [x] Send invitations to missing members

- [x] Decide on proforma channel name (`#nodejs-website-redesign`)

- [x] ~~Update docs~~

---

Folks can use this link to join — https://join.slack.com/share/IVAMESU13/NhLdqWMOfeG9yc2W7keDUu86/enQtOTk2NzI4OTEy

[2020-03-01 22:12] benhalverson commented on #421
I’m already in the openJS slack.

[2020-03-03 08:03] benhalverson commented on #357
Bug fixed in #326

[2020-03-03 08:03] #357 closed

[2020-03-03 12:57] SMotaal opened #422 "Style: Inconsistent border for the banner's button element in Safari"
## Description

It is not entirely clear where the issue and its scope are, but once we landed #398 we noticed a styling difference for the `a > button` node in the [banner](https://github.com/nodejs/nodejs.dev/blob/staging/src/components/banner.tsx#L56) component.

This element is styled as follows:

[code]

## Screen Shots

![](https://user-images.githubusercontent.com/849613/75614942-e00df380-5

[2020-03-05 16:10] eojthebrave commented on #368
Hey @SMotaal thanks for sharing, I've read your post and the linked documents. And, I agree that accessibility is an important thing for us to consider when creating documentation. I took two things away from it:

1. We should ensure that our templates can be parsed by machines in order to extract the different pieces. e.g.) summary, in a meaningful way
2. Based on the "Inclusive Meetings" documen

[2020-03-05 17:36] bnb commented on #421
Removed since the FYI was provided 👍

[2020-03-05 17:37] bnb commented on #419
Removed since the FYI was provided 👍

[2020-03-05 17:41] SauloNunes commented on #417
For the next Hackaton we must coordinate with @rromoff to tweet this, that idea came from commcomm meeting today

[2020-03-05 19:14] giankotarola commented on #422
@SMotaal I was seeing this bug and noticed that the border of the button is receiving the style from each browser user agent stylesheet.

- Chrome:
![chrome_button](https://user-images.githubusercontent.com/5341334/76015985-d2d17a00-5efa-11ea-8c07-a768ddc2ddaf.png)
- Safari:
![safari_button](https://user-images.githubusercontent.com/5341334/76015990-d402a700-5efa-11ea-910c-9a083b3a8229.png)

But c

[2020-03-05 19:43] benhalverson commented on #422
Hi @giankotarola any interest in creating a PR for this issue?

[2020-03-05 19:51] giankotarola commented on #422
@benhalverson of course, I will create the PR.

[2020-03-05 21:24] benhalverson commented on #422
closed via #423

[2020-03-05 21:24] #422 closed

[2020-03-07 08:43] SMotaal commented on #422
@giankotarola Thank you so much, I realize my "screen shots" was a literally screen shot.

[2020-03-07 08:44] SMotaal commented on #422
@benhalverson Do we want to use a "PR # closes issue #" approach for moving forward?

[2020-03-07 08:51] SMotaal commented on #417
@SauloNunes, that's great… thanks, just updated to March 14…

[2020-03-07 09:15] SMotaal commented on #368
@eojthebrave I'm going to be giving this full 👀 today… but the gist of it looks amazing and very thorough, thank you.

[2020-03-07 09:20] SMotaal commented on #368
**MDX** — I think MDX has its crowd and merit for certain uses, but imho it is one step out in the opposite direction, it forces our pipeline to become non-conforming even before we start, ie editing, tooling… etc.

**Custom Elements** — At the off chance we want to go route of `<something>` then we can consider `<article-something>` or `<section-something>` which would be `HTMLElement` and presen

[2020-03-07 10:22] SMotaal commented on #368
**Headings** — This has long been a struggle to find good reason with, but with `<article>`, `<section>`, `<header>`… etc, we effectively see the cascade of things and run into the fundamental question of separation of concerns.

---

So if we see this:

[code]

We know `Section Title` is `<h2>` is `Article Title` is `<h1>` and we effectively have this:

[code]

---

Now we could say, if we see th

[2020-03-07 10:48] SMotaal commented on #368
<div align=center>

# 🎩
#### I hereby propose coining thee
### `frictionless-semantic-templates`
#### courtesy of @eojthebrave and the @nodejs/nodejs-dev folks

[2020-03-09 12:19] mhdawson opened #424 "Node.js Website Redesign Strategic Initiative Meeting 2020-03-12"
## Time

**UTC Thu 12-Mar-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 12-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 12-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Thu 12-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 12-Mar-2020 12:00 (12:00 PM) |
| London        | Thu 12-Mar-2020 16:00 (04:00 PM) |

[2020-03-09 15:37] eojthebrave commented on #368
Thanks for taking the time to go through all of this @SMotaal.

I've never used Custom Elements before so I'm not very familiar with them. But it seems like this could be a good approach. I do like that it's perhaps clearer to do `<section-goal></section-goal>` than `<section class="tutorial--goal"></section>`.

Honestly, as far as technical implementation goes I'm not personally tied to any appro

[2020-03-10 01:34] benhalverson commented on #375
Hi @seirina-of-js have you been able to work on this issue?

[2020-03-11 05:42] benhalverson commented on #192
👋 @imbhargav5 still working on this?

[2020-03-12 15:05] jonchurch commented on #424
I'm not able to attend today

[2020-03-12 16:00] keywordnew commented on #424
There are no agenda items for today. Is there anything folks would like to discuss?

[2020-03-12 16:02] benhalverson commented on #424
Whats the new zoom link?

[2020-03-12 16:06] keywordnew commented on #424
@benhalverson Will generate a new one if there are items to discuss today.

[2020-03-12 16:07] SMotaal commented on #424
I'm pretty sure I saw and marked a few `wr-agenda`

[2020-03-12 16:09] keywordnew commented on #424
Hm, hopping in then.

https://zoom.us/j/200280413

[2020-03-12 16:18] keywordnew opened #427 "Fix meeting generator is not pulling in issues"
The last meeting did not have any agenda items, even while items are marked.

https://github.com/nodejs/nodejs.dev/issues?q=sort%3Aupdated-desc+label%3Awr-agenda+

[2020-03-12 16:59] keywordnew commented on #331
This would be something we can get guidance on from Rachel Romoff.

[2020-03-12 17:26] #421 closed

[2020-03-12 19:30] #322 closed

[2020-03-13 14:17] giankotarola commented on #232
Also, is it not the express example only for version < 4?

Since [app.configure()](https://expressjs.com/en/guide/migrating-4.html#other-changes) was removed from version >= 4 and it needs to use `process.env.NODE_ENV` or `app.get('env')` to configure the app accordingly

[2020-03-14 22:35] designMoreWeb opened #431 "Website Redesign"
## Summary

- Interested in the website redesign

### Motivation

- Help the community out
- Get more involved with the openjs foundation initiatives
- Grow as a developer

[2020-03-15 22:28] benhalverson commented on #431
Hi @designMoreWeb
Yes there's lots to do. Take a look at the help wanted labeled tag.
https://github.com/nodejs/nodejs.dev/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

The `staging` branch has the latest changes.
https://github.com/nodejs/nodejs.dev/blob/staging/CONTRIBUTING.md

[2020-03-15 23:16] benhalverson commented on #331
From a chat message in slack Rachel wrote
`we are currently using marketing cloud by salesforce`

[2020-03-15 23:20] designMoreWeb commented on #389
Is this still open ? I can push something to get this working

[2020-03-15 23:28] designMoreWeb commented on #431
Thanks a lot

[2020-03-16 15:39] giankotarola commented on #375
Hi @benhalverson, I would like to take a look into this, but not sure how we want to track the scroll position. I was thinking of adding a header id as a hash in the URL as the user scroll or just keep/save the scroll position on local storage when a user scrolls.

[2020-03-16 16:19] giankotarola opened #433 "Contribute to the website redesign initiative"
## Summary

Hi all, I would like to help with the website redesign. I already looked into some issues and left some comments in others to see the best way/approach to could help.

Cheers!

[2020-03-16 19:10] designMoreWeb commented on #431
@benhalverson For darkmode for the website is anyone working on it or can i handle that issue? I believe it is #389 also if needed we can implement a toggle based one at first before jumping into the sensory one.

[2020-03-16 21:24] benhalverson commented on #389
@designMoreWeb Darkmode is already implemented.
The latest UI can be seen here. https://storage.googleapis.com/staging.nodejs.dev/0b662e0/index.html

[2020-03-16 21:35] benhalverson commented on #389
@SMotaal Is there anything else that needs to be done here?

[2020-03-17 19:22] SMotaal commented on #389
Can we make this a catch all thread to dark mode related discussions, I know there where a few open and I would like to consider if the overload would be helped by making sure there is only one thread.

Can we pin it?

I know this sounds bizarre, but the fact that a11y issues often get lost in the overwhelm of conventions is why I hope others would be willing to try the less conventional.

[2020-03-17 21:30] benhalverson commented on #389
What specific things still need to be completed?
Please create the issues so they can be tracked and implemented.

[2020-03-18 22:45] SMotaal commented on #406
@benhalverson sorry for not staying on top of my issues… I'm trying to find ways to avoid them creeping all other the project 😅

[2020-03-19 00:17] designMoreWeb commented on #406
Any way i can get involved with the website redesign as well.I know that i need to be on the look out for redesign issues but i have not spotted many. Please do let me know as I would like to be a part and help where needed

[2020-03-19 06:56] LaRuaNa commented on #433
Hey @giankotarola  great to have you! :]

[good first issues](https://github.com/nodejs/nodejs.dev/issues?q=is%3Aissue+is%3Aopen+label%3A"good+first+issue") are always great entry points. If you need further help / discussion  feel free.

[2020-03-19 06:56] #433 closed

[2020-03-19 06:58] #416 closed

[2020-03-19 07:00] LaRuaNa commented on #424
https://github.com/nodejs/nodejs.dev/issues/427 occurred in this meeting.

[2020-03-19 07:00] #424 closed

[2020-03-19 07:07] LaRuaNa commented on #417
Love the idea we should push this definitely ❤️

[2020-03-19 07:10] LaRuaNa commented on #413
https://github.com/nodejs/nodejs.dev/issues/257 there is a really old ticket, that has some information about how we imagined this feature almost year ago :]

[2020-03-19 07:12] #395 closed

[2020-03-19 07:13] LaRuaNa commented on #358
Feel free to reopen if further discussion is needed.

[2020-03-19 07:13] #358 closed

[2020-03-19 07:24] LaRuaNa commented on #273
Hey @jonchurch what's the status on that? Do we still want to follow up with this?

[2020-03-19 11:33] LaRuaNa commented on #375
Related: #236 #214

Hey @giankotarola it's lovely that you want to take a stab on that :] See here: [Intersection Observer API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) . It's also used in the project somewhere. If you have further  questions swing by the slack channel :]

[2020-03-19 13:07] designMoreWeb commented on #417
This sounds like a great idea I am all for it

[2020-03-19 14:27] SMotaal commented on #417
Just a quick recap… we are still planning to redo last our hackathon which mangled by the side-effects of time shift, so as far as I knew we are also having one this weekend too.

<div align=center>

---

# 👾

###

### Please `+1` if you are attending March 21th 8:00 am PST

---

/cc @nodejs/website-redesign

[2020-03-19 14:30] LaRuaNa commented on #417
Oh sorry didn't know that. Fixing the date then :]
Definitely  +1 for this weekend :]

[2020-03-19 14:52] SMotaal commented on #417
@LaRuaNa… No worries, I disconnect days at a time so I framed it in the for of a question in case I missed a discussion somewhere… that's just the nature of open source 😄

[2020-03-19 15:08] SMotaal commented on #417
@bnb Can we please add the following folks to @nodejs/website-redesign:

- [ ] @designMoreWeb

[2020-03-19 15:21] designMoreWeb commented on #417
@Smotaal got the invite thanks

[2020-03-19 15:36] SMotaal commented on #389
@designMoreWeb, so yes, the team had done an amazing job planning things out with CSS variables before I joined and added a tri-state toggle.

[2020-03-19 15:42] LaRuaNa opened #435 "Reorganise ts-interfaces"
Some types are in `src/types.ts`, some in dedicated components. We should move them all where they belong and export.`src/types.ts` is getting already confusing.

[2020-03-19 16:47] SMotaal commented on #331
@benhalverson from today's comm-comm, the newsletter is not currently running… we're not sure how we will repurpose this.

[2020-03-19 16:47] SauloNunes commented on #331
At this moment we need to hold this PR until the newsletter is defined

[2020-03-19 16:49] SMotaal commented on #331
@SauloNunes I think we want to clean up and land the PR but remove it from the layout.

[2020-03-19 17:02] LaRuaNa opened #436 "CI: Consider the Alternatives"
Seems like we are running into issues with our actual infrastructure. So clarify :
- What another CI options do we have?
- How we wanna document this process?
- Who takes care of the infrastructural work?

[2020-03-19 17:24] LaRuaNa commented on #417
Removing `cc-agenda` since invitation seems to worked out.

[2020-03-19 17:39] designMoreWeb commented on #417
I do need access to the repo for website-redesign though

[2020-03-19 17:40] designMoreWeb commented on #331
Can't we create this in the staging branch and get it reviewed by Rachel?

[2020-03-19 17:50] SMotaal commented on #435
At least for now, imho component specific interfaces (ie props, and maybe queries) are the only interfaces that should in components, whereas interfaces that will be referenced in one or more component-specific ones they belong in `src/types.ts`.

My reasoning for this is that it creates a lot more noise when making component changes to conflict with other PRs on `src/types.ts`, not to mention the

[2020-03-19 18:32] SMotaal commented on #331
@designMoreWeb This was discussed with @rromoff in today's @nodejs/community-committee meeting. As it stands, the newsletter has not been going out since December, and we have no immediate plans on that front. So until we figure out if or how we want to setup or repurpose this feature, we want to simply punt it.

I think imho, merging the PR it but removing it from the layout is fair to not waste

[2020-03-19 19:14] designMoreWeb commented on #331
@SMotaal Okay got it thanks so much for explaining this. I also apologise that was not able to attend the meeting today. i had it on my calendar but i got pulled into a work meeting.

[2020-03-19 20:53] SMotaal commented on #331
@designMoreWeb no worries… this is open source, everyone will be busy some of the time.

Also note that @nodejs/community-committee meetings alternate weeks for that same time slot with @nodejs/website-redesign, and those are where we really get into our ops and decision making.

[2020-03-19 20:54] designMoreWeb commented on #331
@Smotaal thanks and noted for both

[2020-03-20 07:39] LaRuaNa commented on #435
I see your point @SMotaal . I felt the need while fixing tests. For unit tests, we need to export the props of components. I love the way of accessing props in your example but introducing a namespace just for the sake of syntax seems a bit too much to me. I'm tempted but still, feel a bit ambivalent about that.

+1

About `src/types.ts`... I agree that generic interfaces should be centralised. We

[2020-03-20 09:48] SMotaal commented on #435
@LaRuaNa Sorry, I did miss a critical aspect here:

[code]

[code]

So `declare` means it is only ambient declarations (ie in `.d.ts`). This way it should not add the transpiled and absolutely pointless namespace in case TypeScript does not already drop empty namespace blocks in the transpiled `.js`.

[2020-03-20 12:22] LaRuaNa commented on #435
@SMotaal Just for my understanding... AFAIK ambient declarations works similar like forward declarations in cpp, right? I don't really get the point. I played around with the code you sent and it doesn't seem like TS-Compiler includes namespaces anyway.

Plus -just for the record- ambient declarations require referencing(?).

[2020-03-20 18:16] seirina-of-js opened #437 "Join Bi-Weekly Hackathons"
Hey folks! I'd love to join the hackathon meetings. :)

[2020-03-20 19:44] zeke opened #438 "Requesting access for @nodejs-crowdin GitHub user to integrate with Crowdin"
@nodejs-crowdin is the GitHub user we use to integrate Crowdin with the nodejs/i18n GitHub repository. We'd also like to be able to integrate Crowdin with this repo (nodejs/nodejs.dev).

Is someone on the @nodejs/website or @nodejs/website-redesign team able to grant @nodejs-crowdin admin access to this repo?

The scopes required by the Crowdin-GitHub integration are these:  https://github.com/set

[2020-03-20 20:02] LaRuaNa commented on #437
@SMotaal Can you send @seirina-of-js an invitation please. BTW we should automate / rethink this process for future hackathons.

[2020-03-21 11:55] SMotaal opened #440 "CI: Live previews in forks"
The current setup provides live previews only when merging against https://github.com/nodejs/nodejs.dev. This means that folks who will be collaborating on forks will either need to open nested PRs or will have to defer CI related fixes when merging a single PR.

If multiple PRs are preferred, this creates unnecessary noise in the project's repo which would be very confusing for someone not famili

[2020-03-21 11:59] LaRuaNa commented on #440
related: #436

[2020-03-21 12:01] SMotaal commented on #252
So I'll reopen this issue.

Here are a few loose threads:

- https://github.com/nodejs/nodejs.dev/issues/440
- https://github.com/nodejs/nodejs.dev/issues/412#issuecomment-589999517
- https://github.com/nodejs/nodejs.dev/pull/157#issuecomment-469538175
- https://github.com/nodejs/nodejs.dev/pull/397
- https://github.com/nodejs/nodejs.dev/pull/394

[2020-03-21 12:44] anshumanv commented on #252
Awesome @SMotaal, let me know if I can contribute in any way. Happy to help! 😄

[2020-03-21 13:05] LaRuaNa commented on #252
Great @anshumanv , maybe swing by the next meeting. We will discuss details :]

[2020-03-21 13:28] SMotaal opened #441 "Flow: Milestoning OKRs"
<details><summary align=center><code>Explainer</code></summary>

OKRs are proving very useful to many projects in the Node.js community and the ecosystem at large. Since we recently decided to jump on the waggon, some may have notice a disconnect between what we are putting in our OKRs and the efforts we are pushing forward.

Such disconnects imho are expected when making changes to any process, a

[2020-03-21 13:36] anshumanv commented on #252
Sounds good! Would appreciate if you can direct me to the meeting link when it happens. :)

[2020-03-21 13:49] LaRuaNa commented on #441
We should definitely get our OKRs in more measurable and trackable shapes. I think milestones are a good way to do that. So +1 for that.

It's for this issue a bit off-topic but on another hand, I don't really understand the rush towards Netlify. Update me please if I missed discussions about that. No doubts that Netlify has a good service. But I think a workflow, where we define the pain first, t

[2020-03-21 13:54] LaRuaNa commented on #252
We've a public calendar. You can check all the events here -> https://nodejs.org/calendar

There will be also a dedicated issue 3 days before the meeting. Looking forward... :]

[2020-03-21 14:18] LaRuaNa commented on #251
Closing this since we focus on staging branch

[2020-03-21 14:18] #251 closed

[2020-03-21 14:19] LaRuaNa commented on #254
Related: #438

[2020-03-21 14:49] LaRuaNa commented on #256
@nodejs/i18n I'd like to follow up with this issue. Can someone please update me about the status on the i18n-package? Do we have blockers?

[2020-03-21 15:45] SMotaal commented on #368
@alexandrtovmach So let's tie this into the crowdin threads

[2020-03-21 15:52] benhalverson commented on #417
where is the zoom link?

[2020-03-21 19:30] LaRuaNa commented on #435
We had that discussion in https://github.com/nodejs/nodejs.dev/issues/417 . Consensus is to follow up with the pattern like above. https://github.com/nodejs/nodejs.dev/issues/435#issuecomment-601613636 . There will be a dedicated 'guideline doc' to cover these sort of things in the future.

[2020-03-22 19:41] SMotaal commented on #437
Sorry, I missed this — yes, there is currently two parts to this:

- @bnb can we add @seirina-of-js to the @nodejs/website-redesign team?
- I've added your to the calendar invite on my end.

@LaRuaNa I'd love it if we come up with a way to make this a little more straightforward, I did not mind doing this at first, but I am really annoyed the fact that I can't avoid dropping the ball :)

[2020-03-23 05:01] nschonni commented on #382
Turned on the non-Security updates here https://app.dependabot.com/accounts/nodejs/repos/168201675 as it looks like it wasn't hooked up when I checked

[2020-03-23 12:19] mhdawson opened #458 "Node.js Website Redesign Strategic Initiative Meeting 2020-03-26"
## Time

**UTC Thu 26-Mar-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 26-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 26-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Thu 26-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 26-Mar-2020 12:00 (12:00 PM) |
| London        | Thu 26-Mar-2020 16:00 (04:00 PM) |

[2020-03-23 14:29] eojthebrave commented on #368
Thinking more about the idea of using known headings as a way to subdivide the document, instead of using something like `<section-goal>`; It would limit our ability to skip a heading/section on any given page. And at least for some of the proposed sections like "Additional resources", we probably want to allow someone to leave them off. And the template is really more of a suggestion, than a rule

[2020-03-24 17:16] zeke commented on #254
Related: https://github.com/nodejs/i18n/pull/250 -- feedback wanted!

[2020-03-24 17:17] zeke commented on #256
@LaRuaNa please take a look at https://github.com/nodejs/i18n/pull/250 -- feedback wanted!

[2020-03-26 15:58] LaRuaNa commented on #427
Seems like it's working see #458

[2020-03-26 15:58] #427 closed

[2020-03-26 16:02] keywordnew commented on #458
Zoom error.

Temp fix: https://zoom.us/j/136892106

[2020-03-26 16:11] keywordnew commented on #441
+1

[2020-03-26 16:37] keywordnew commented on #438
Meeting consensus: No objections.

The credentials for this user exists in the secrets org, with limited access.

@nodejs/community-committee would appreciate anyone an helping add this user @nodejs-crowdin as admin for this nodejs.dev repo

[2020-03-26 16:47] keywordnew commented on #419
This is dependent on outcomes from #436.

[2020-03-26 16:48] nschonni commented on #436
Missed this one, but I did put together https://github.com/nodejs/nodejs.dev/pull/460

[2020-03-26 17:23] SMotaal commented on #404
@benhalverson We already documented what I outlined above in our docs right?

I'm going to close this for now. Please feel free to repo if needed!

[2020-03-26 17:23] #404 closed

[2020-03-27 00:06] alexandrtovmach commented on #438
@keywordnew Thanks for amazing news, BTW could you send me the link to calendar event or issue for this metings, to I can join in next times?

@zeke Could you try to integrate https://github.com/nodejs/nodejs.dev with https://crowdin.com/project/nodejs-website-dev/settings#integration. Thanks as always :+1:

[2020-03-27 12:39] bilbma opened #469 "I am tryng install Node in Debian 10"
## Description

### Steps to reproduce

### Expected result

### Actual result

### Environment/usr/bin/ld: Por favor reporte este bicho.

collect2: error: ld returned 1 exit status
make[1]: *** [tools/v8_gypfiles/mksnapshot.target.mk:187: /home/bilb/Descargas/node-v12.16.1/out/Debug/mksnapshot] Error 1
rm 4c1893baa5addc1996d549f68c105fb0d762c2b1.intermediate e527d5f789bdb5d912b025a9558e4eca4da9f9

[2020-03-27 13:01] giankotarola commented on #417
I would like to join the hackathon tomorrow 28th.

[2020-03-27 13:42] LaRuaNa commented on #469
@bilbma  That looks like an error during the installation. Can you pls provide more information

[2020-03-27 20:31] zeke commented on #438
Sure, once the @nodejs-crowdin user has the required access.

[2020-03-27 20:36] alexandrtovmach commented on #438
@zeke Does it still haven't?

[2020-03-27 22:15] zeke commented on #438
Just tried again. Still only seeing nodejs/i18n on the list of available repos:

![Screen Shot 2020-03-27 at 3 13 14 PM](https://user-images.githubusercontent.com/2289/77804782-95659580-703d-11ea-8b25-c9c77b3325a8.png)

I think we're still awaiting a response here from someone on @nodejs/community-committee

[2020-03-28 19:46] SMotaal commented on #417
I think we've made good progress towards onboarding members and revamping the project through the past few hackathons, which was personally what motivated me to pick this up again last month.

To avoid overwhelming everyone I added a wr-agenda label and would like to close this issue in our next meeting. If others want to continue the effort moving forward, please feel free to comment here before

[2020-03-29 04:10] benhalverson opened #472 "404 pages for next & previous links on /learn/* links"
## Description
When you click on the next or previous link on any /learn page
For example https://staging-nodejsdev.netlify.com/a-brief-history-of-nodejs It returns a 404 error page.
The correct path is https://staging-nodejsdev.netlify.com/learn/a-brief-history-of-nodejs

### Steps to reproduce
In a staging dev link visit /learn
At the bottom of the page click on next
A 404 page is given

### Exp

[2020-03-29 04:54] nschonni commented on #472
Looks like it works on the actual site https://nodejs.dev/a-brief-history-of-nodejs/
Might be a netlify issue

[2020-03-29 10:44] benhalverson commented on #472
if you look at one of the staging preview urls like this one.
https://storage.googleapis.com/staging.nodejs.dev/0b662e0/a-brief-history-of-nodejs
It has the same issue. https://storage.googleapis.com/staging.nodejs.dev/0b662e0/learn/a-brief-history-of-nodejs works

[2020-03-30 16:41] eojthebrave commented on #368
@SMotaal do you feel like your questions have been answered, and/or do you have any remaining questions I can look into? I would love to be able to start spending some time on re-working existing content to fit a template, but that's blocked on us all agreeing on what the template should be.

What else can I do (question to you and anyone else!) to help move this forward?

[2020-03-31 10:38] SMotaal commented on #417
To avoid overwhelming everyone I added a wr-agenda label and will close this issue for now. If others want to continue the effort moving forward, please feel free to ping me on a new issue and I'd be happy to help as needed.

[2020-03-31 10:43] SMotaal commented on #368
@eojthebrave I feel we both expressed a lot of good details, and likely addressed our mutual concerns, yes… But just to make sure things are well articulated, I feel inclined to want to connect and discuss this on zoom. Let's connect through slack.

[2020-03-31 10:48] SMotaal commented on #368
@eojthebrave I think the whole point is to make sure everyone's effort is properly aligned to the collective goals… I hope you can appreciate my attempts to connect everyone here are trying to do that.

[2020-03-31 11:31] SMotaal commented on #472
@nschonni the problem we are running into a lot I think has to do with two things:

- frontend code rewrites urls to drop `index.html`
- buckets assume urls ending in `/` simple return the `xml` index

@benhalverson in your specific links however there is a different problem:

- frontend code seemed to drop `/learn/`

I guess if we are working on this it helps to close all those gaps.

[2020-03-31 18:49] eojthebrave commented on #368
Yes! I totally agree. I would rather we have these conversations now and hopefully save ourselves from having to re-do things to much in the future. Not trying to rush anything, rather I just have a bit of time and interest so trying to do whatever I can to make progress.

I'll try and connect with you on Slack sometime later this week. And/or maybe I can try and join one of the zoom meetings agai

[2020-03-31 19:04] benhalverson commented on #472
- Not a rewrite issue
- The same thing happens locally
- It wasn't dropped. /learn/ was not included in the pagination links

To compare see the gatsby-node file where the pages are generated
https://github.com/nodejs/nodejs.dev/blob/staging/gatsby-node.js#L116

The pagination links here
https://github.com/nodejs/nodejs.dev/blob/staging/src/components/pagination.tsx#L37-L44

[2020-04-02 21:34] #331 closed

[2020-04-06 12:19] mhdawson opened #519 "Node.js Website Redesign Strategic Initiative Meeting 2020-04-09"
## Time

**UTC Thu 09-Apr-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 09-Apr-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 09-Apr-2020 10:00 (10:00 AM) |
| US / Central  | Thu 09-Apr-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 09-Apr-2020 12:00 (12:00 PM) |
| London        | Thu 09-Apr-2020 17:00 (05:00 PM) |

[2020-04-07 08:29] alexandrtovmach commented on #519
Could someone invite me to calendar event:
alexandrtovmach@gmail.com
it will be helpful to manage my time, thanks

[2020-04-08 04:12] Trott commented on #519
Not sure there's a calendar invite, although I imagine one could be created. Might be good to get you added to the @nodejs/website-redesign team. I'm not sure what their nomination/onboarding procedure is, if any. It might be simply show up and say you want to join.

[2020-04-08 09:40] SMotaal commented on #472
@benhalverson for this case, absolutely:

- [x] Not a rewrite issue
- [x] The same thing happens locally
- [x] It wasn't dropped. /learn/ was not included in the pagination links

---

The general problem however, I am not sure if or where we want to capture that detail. We must assume that it will need to either be a buckets fix or something to keep in mind if we move forward with netlify.

Any s

[2020-04-08 18:24] keywordnew commented on #519
Done. @alexandrtovmach has been added to @nodejs/website-redesign team.

[2020-04-08 18:34] alexandrtovmach commented on #519
@Trott Thanks for idea
@keywordnew Thanks for realization

[2020-04-09 15:32] LaRuaNa commented on #519
Sorry folks I won't be able to make it today. :[

[2020-04-09 16:02] alexandrtovmach commented on #519
ping ping, anybody going to start the meeting?

[2020-04-09 16:19] keywordnew commented on #441
Consensus in meeting:
 * Difficult to visualize OKR in current form on project boards
 * Milestones will help connect Issues and PRs to OKRs, and help track progress of the O.

[2020-04-09 16:24] Trott commented on #438
I added the bot as Maintainer. If it needs more than that, please let me know!

[2020-04-09 16:52] SMotaal commented on #436
Consensus in meeting (#519):

- We're gonna slack to meet and plan next steps

/cc @nodejs/website-redesign @benhalverson

[2020-04-09 17:03] SMotaal commented on #333
Consensus in meeting (#519):

- Don't land related PRs #426 #359
- Create a PR to reactor around a more logically restructure https://github.com/nodejs/nodejs.dev/tree/staging/src/documentation
- Create a PR to reimplement using a subfolder with individual `md` files for each tab.

/cc @nodejs/website-redesign @benhalverson

[2020-04-09 17:13] SMotaal commented on #519
Some tail-end threads to note:
- Next steps for Demo Tabs ((comment in #333)[https://github.com/nodejs/nodejs.dev/issues/333#issuecomment-611639587])
- Next steps for Netlify ((comment in #436)[https://github.com/nodejs/nodejs.dev/issues/436#issuecomment-611634104])
- Next steps for using Milestones for OKRs ((comment in #441)[https://github.com/nodejs/nodejs.dev/issues/441#issuecomment-611618250]

[2020-04-09 18:22] SMotaal opened #538 "Flow: Community health documents should always point to master!"
This is still unclear, but it makes sense to want to ensure that community health documents should be single sourced from the default branch.

No clear path yet on what needs to be done.

## Related Files

- CONTRIBUTING.md

- OKR.md

## Questions

- Can we prevent landing changes to certain files on other branches?
- Can we auto-magically downstream community health files on all other branches?

[2020-04-09 21:23] Trott commented on #417
Pedantry note: The timezone indicator should be PDT and not PST.

[2020-04-10 03:32] Trott opened #541 "/gcbrun doesn't post review link anymore"
## Description

The "result-poster" GitHub action used to post the review link after a build was triggered with /gcbrun. It isn't doing it anymore.

### Steps to reproduce

Leave a /gcbrun comment on a PR

### Expected result

After build succeeds a link along the lines of https://storage.googleapis.com/staging.nodejs.dev/2f48925/index.html should be posted as a comment.

### Actual result

Build

[2020-04-10 03:32] Trott commented on #541
@MylesBorins @nschonni

[2020-04-10 03:33] Trott commented on #541
Refs: https://github.com/nodejs/nodejs.dev/pull/540#issuecomment-611860909

[2020-04-10 04:27] nschonni commented on #541
I'm thinking it might have to do with PRs coming from forks (or at least partially)

[2020-04-10 11:19] SMotaal commented on #441
- Switch the [OKRs project](https://github.com/nodejs/nodejs.dev/projects/6) to the more traditional one.
- Reflected next steps in issues, under the [Driving Collaboration milestone](https://github.com/nodejs/nodejs.dev/milestone/4).

[2020-04-10 17:48] MylesBorins commented on #541
Exactly. Unfortunately due to the way github actions works the event only triggers for PRs coming from a branch in the repo not a fork.

TBH the setup we have right now is definitely not ideal, and I've been meaning to take a stab at improving it but haven't had time. I'd heard folks requesting to move to netlify which is something I would support.

[2020-04-10 20:23] #541 closed

[2020-04-11 13:22] OPARA-PROSPER opened #546 "[Seeking Clearity] The NodeJS Event Loop"
## Summary

I checked out the explanation for the event loop on (https://nodejs.dev/the-nodejs-event-loop) and is based off heavily on the browsers event Loop. The NodeJS documentation (https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/) offers a totally different explanation of the event loop based off Libuv (Including the different event loop phases).

I'm having issues reconcilin

[2020-04-11 17:28] Trott commented on #546
Can you give an example of a case where the one document contradicts the other?

[2020-04-11 18:08] OPARA-PROSPER commented on #546
In the node guides, the docs explains the event as an entity having phases (timers, poll, pending call backs, etc) and this when the event loop is in this phase it executes all the callbacks associated with that phase.

In the nodejs.dev docs, there is a call stack which the event loop keeps looking at to discover if it's empty and updates with functions to excuse and it makes it look like the cal

[2020-04-11 18:14] OPARA-PROSPER commented on #546
Also the explanation touches no aspect of the phases outlined in the official docs.

In my understanding it seems both explains different event loop implementation

[2020-04-11 22:47] Trott commented on #546
It sounds like the Node.js guide describes the underlying implementation while the description here explains general event loop concepts. Can you give an example of a contradiction? Like, "Here's some code. I would expect it to behave this way based on the guide, but this different way based on the content at nodejs.dev. And when I run it, I see that the guide is right and this site is wrong." Or

[2020-04-12 03:47] zeke commented on #438
Thanks @Trott!

Unfortunately, I'm not seeing this repo in the list when creating a new integration. I think admin access may be required for the integration:

<img width="969" alt="Screen Shot 2020-04-11 at 8 45 10 PM" src="https://user-images.githubusercontent.com/2289/79060041-7407ca80-7c35-11ea-9df4-5b809f33953e.png">

cc @crowdin-support is that correct?

[2020-04-12 04:01] denisqua commented on #438
Hi @Trott @zeke!

Yea, you're right! To be able to connect repo you should have admin access to that repo

[2020-04-12 17:11] Trott commented on #438
OK, changed it! Closing again, but re-open if it's still not fixed.

[2020-04-12 17:39] OPARA-PROSPER commented on #546
I can't give any code contradictions. The code sample used on nodejs.dev works correctly (in node and on the browser) .

Hopefully the answer to this question gives the clarity I seek;
Is Libuv event loop implementation similar to the browser event loop implementation?

If that's the case, I think not acknowledging your first sentence is the cause of my misunderstanding.

[2020-04-12 17:58] alexandrtovmach commented on #438
@zeke Could you try again?

[2020-04-12 20:12] zeke commented on #438
Hmm. I tried again but I am still not seeing the github/nodejs.dev repo in the list.

Notes:

- Logged in to GitHub as @nodejs-crowdin
- Created a new PAT with these scopes: https://github.com/settings/tokens/new?scopes=repo,user,admin:repo_hook&description=Crowdin%20integration
- SSO'd into Crowdin with this GitHub user
- Created a new integration using the new token

This is what I see:

<img wi

[2020-04-12 20:59] denisqua commented on #438
@zeke are you sure that @nodejs-crowdin is participating in repo as Admin, not as Maintainer and have full admin access?

Seems like everything is fine with permissions

Also have idea to give some additional scopes, not sure whether it helps, but you may also add:

- Full control of organization hooks
- Full control of orgs and teams, read and write org projects

[2020-04-13 04:38] Trott commented on #546
As far as I know, yes, they are similar. I'm going to transfer this issue to the nodejs/help repository where someone else might have a better/more complete answer.

[2020-04-13 04:40] Trott commented on #438
The bot has been added to the repo as Admin, but the interface says it's "Pending invite" so maybe there's an email somewhere someone needs to click a link in or something like that?

[2020-04-13 05:04] crowdin-support commented on #438
Hi @Trott Let us double-check everything with developers. Be sure, we will get back to you with the updates asap

[2020-04-13 06:33] alexandrtovmach commented on #438
@Trott It seems like @zeke need to login as bot and accept invite, before it'll come to Admin and change the status `Pending -> Accepted`

[2020-04-13 15:03] crowdin-support commented on #438
@Trott yes, it's just necessary to follow the invitation link which was sent to the email address of your Bot account. Then just follow it being logged in as Bot account on Github.

@zeke would you please give it a try and let us know how everything goes?

[2020-04-13 19:28] zeke commented on #438
That was it! Thanks everyone for helping figure that out.

The integration is now set up!

![Screen Shot 2020-04-13 at 12 26 14 PM](https://user-images.githubusercontent.com/2289/79152991-02896280-7d82-11ea-978d-275ec7c809b3.png)

cc @alexandrtovmach -- looks like a `crowdin.yml` config will need to be added to the nodejs.dev repo.

[2020-04-13 19:28] #438 closed

[2020-04-13 19:30] alexandrtovmach commented on #438
@zeke Will do it in next couple of days

[2020-04-16 01:09] benhalverson commented on #472
/gcbrun

[2020-04-20 12:19] mhdawson opened #575 "Node.js Website Redesign Strategic Initiative Meeting 2020-04-23"
## Time

**UTC Thu 23-Apr-2020 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 23-Apr-2020 09:00 (09:00 AM) |
| US / Mountain | Thu 23-Apr-2020 10:00 (10:00 AM) |
| US / Central  | Thu 23-Apr-2020 11:00 (11:00 AM) |
| US / Eastern  | Thu 23-Apr-2020 12:00 (12:00 PM) |
| London        | Thu 23-Apr-2020 17:00 (05:00 PM) |

[2020-04-23 16:03] keywordnew commented on #519
Closing as meeting has past.

[2020-04-23 16:03] #519 closed

[2020-04-23 16:12] designMoreWeb opened #586 "Calendar invite not updating the zoom links"
So for the website redesign meetings, the calendar invites do not update the zoom links for the meetings. I have experienced this twice. We did have a discussion of it in the meeting (04/23/2020) for node website redesign.

Opened the issue so that we can get it fixed and track it

[2020-04-23 16:47] alexandrtovmach commented on #575
https://www.youtube.com/watch?v=rR4n-0KYeKQ

[2020-04-23 17:44] alexandrtovmach opened #587 "Default branch"
## Summary
We have strange situation with two active branches:
- `master`
- `staging`

Of course, it seems like a right way of development, but I can't find any environment separation. So we need to decide how we're moving forward:
1. Set up and support two environmets. Make `staging` as default branch, to get dependabot updates to it. Make `master` branch like production, to allow only merge from

[2020-04-23 17:45] alexandrtovmach commented on #587
@nodejs/website-redesign
@nodejs/nodejs-dev

[2020-04-23 21:56] benhalverson commented on #575
LGTM! 🤣

[2020-04-23 22:04] SauloNunes commented on #575
nice

[2020-04-25 10:14] alexandrtovmach commented on #458
Closing in favor #575

[2020-04-25 10:14] #458 closed

[2020-04-25 10:17] alexandrtovmach commented on #587
Any suggestions?

[2020-04-25 12:39] alexandrtovmach commented on #587
Today I found #318, with details about suggested approach. I'm fully okay with that, but let's just make `staging` as a default branch to prevent conflicts in a future

[2020-04-25 20:15] benhalverson commented on #587
I agree with making staging as the new default

[2020-04-26 00:34] #417 closed

[2020-04-26 00:36] #575 closed

[2020-04-26 07:38] aug2uag opened #608 "missing chapter on control flow"
## Summary

Control flow is a necessary topic to comprehend development with NodeJS.

### Basic example

A chapter on Control Flow would be appreciated.

### Motivation

It supports understanding for how to get started building more complex programs, and a deeper understanding of callbacks.

[2020-04-26 09:36] alexandrtovmach commented on #587
Do we have configured builds for:
- master -> https://nodejs.dev
- staging -> some link

I can't find any details about it and related code.

[2020-04-26 10:50] alexandrtovmach commented on #472
Closed with #491

[2020-04-26 10:50] #472 closed

[2020-04-26 14:02] styfle commented on #587
Hello Alexandr and team 👋

You might find it easier to host nodejs.dev on Vercel because you can configure different domains per branch. https://vercel.com/blog/branch-domains

I confirmed that Vercel can build and deploy this repo as-is by visiting the https://vercel.com/import page.

See the result here: https://nodejs-dev-1ui81t97n.now.sh

[2020-04-26 15:10] alexandrtovmach commented on #587
@styfle Thanks for the info and investigation, but as much as I know we're going to use netlify as hosting

[2020-04-26 19:48] benhalverson commented on #587
Currently the staging build is at whatever the latest sha is at.
For example
https://storage.googleapis.com/staging.nodejs.dev/224fb7c/index.html
I found that 224... number from this https://github.com/nodejs/nodejs.dev/pull/491/commits

[2020-04-26 20:31] alexandrtovmach commented on #587
@benhalverson But we haven't permanent link for staging, right? So it's sounds like not completed environment. Do you know who is the owner of nodejs.dev domain?

[2020-04-26 21:55] benhalverson commented on #587
That is correct. A permanent link like staging.nodejs.dev does not exist right now.
I think @bnb or @MylesBorins would know who the owner for nodejs.dev is.

[2020-04-27 03:02] MylesBorins commented on #587
So for right now I am -1 with making staging the default. Staging, to the best of my understanding, is the branch where work is being done on the broader re-design... work that has primarily been stalled for months. The majority of PRs that I'm aware of that come to this repo (and I confirmed this with the most recently 5 or so PRs) are targeting master and have nothing to do with the redesign.

I

[2020-04-27 04:59] MylesBorins commented on #436
I've opened https://github.com/nodejs/nodejs.dev/pull/613 which I think should fix everything. Uses a github action to upload to the gcs bucket we've been using up until now and I've thrown cloudflare in front of it so we can just use the staging.nodejs.dev domain (no gcs domain needed).  AFAIK it should work for forks... and it posts in the thread with the preview URL.

AFAICT this should account

[2020-04-27 05:00] MylesBorins commented on #440
FYI I've opened https://github.com/nodejs/nodejs.dev/pull/613 which should fix this

[2020-04-27 05:26] alexandrtovmach commented on #587
@MylesBorins As I said in prescription, my vote for the same approach to deprecate staging and keep only one environment. I just won't be "changing man" from initial point, that's why I'm open for discussion, instead of forcing new approach.

[2020-04-28 03:38] MylesBorins opened #627 "Disable Wiki?"
I think we should disable it... it isn't being used for anything

[2020-04-28 03:40] #440 closed

[2020-04-28 03:48] nschonni opened #636 "Create CI job to clenaup Staging sites"
## Summary

Now that PRs generate `https://staging.nodejs.dev/##` URLs, they should be cleaned up after a PR is merged or closed. I believe there is a 30 day cleanup schedule, but these can be cleaned out earlier for PRs that no longer are used.

### Basic example

The pull request closed event might cover both the merged and closed events https://help.github.com/en/actions/reference/events-that-t

[2020-04-28 03:58] benhalverson opened #637 "Marketing text for homepage"
## Summary
On the new homepage there are some sections with lorem text. Do we have actual text for this yet?
https://www.figma.com/proto/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=1338%3A13127&viewport=-232%2C-1378%2C0.21998274326324463&scaling=min-zoom

Right below the how to install tabs
<img width="1083" alt="Screen Shot 2020-04-27 at 8 55 43 PM" src="https://user-images.githubuserconten

[2020-04-28 04:18] Trott opened #640 "staging.nodejs.org needs a restrictive robots.txt"
Not sure where the robots.txt lives but the one for staging.nodejs.org should be restrictive so that the staging site doesn't end up being indexed by search engines.

[2020-04-28 04:19] MylesBorins commented on #640
can you link to a text you would like and I'll add it to the bucket

[2020-04-28 04:37] Trott commented on #640
[code]

[2020-04-28 05:03] MylesBorins commented on #640
fixed

https://staging.nodejs.dev/robots.txt

[2020-04-28 05:03] #640 closed

[2020-04-28 08:42] #370 closed

[2020-04-28 20:56] alexandrtovmach commented on #587
@MylesBorins Could you make `staging` as default branch for this repo?

[2020-04-28 22:13] MylesBorins commented on #587
@alexandrtovmach I mentioned a number or reasons why I don't think we should make staging the default and have not seen a response that justified the change.

Staging currently is behind master and has a bunch of website redesign content that is not relevant to most folks looking to do drive by contributions. I think it would be a step backwards to change the default.

Can you help me understand h

[2020-04-28 23:19] benhalverson commented on #587
I think we should merge staging into master and be done with it. If we do this right now we would have a bunch or lorem text on the homepage. I asked for what text we should use here. #637

Right now all the feature work is being done on staging and documentation work is done against master. I agree the project was stalled, but we have a few active contributors again.

I'm not sure why the staging

[2020-04-29 03:22] #126 closed

[2020-04-29 04:09] OPARA-PROSPER commented on #637
@benhalverson I can work on this if the contents are available

[2020-04-29 14:36] alexandrtovmach commented on #587
My points for making `staging` as default branch:
- docs updates coming to `master`
- dependabot updates coming to `master`
- random developers make contributions to `master` instead of `staging`, because they are not confident with the process
- everything above produce merge conflicts and duplicating work that did on both envs

My points for deprecating `staging` and keep development in `master`

[2020-04-29 14:53] MylesBorins commented on #587
@alexandrtovmach I think that we can set up some infrastructure to automate the process of keeping staging rebased against master. I'm currently -1 to landing it in it's current state as it is not ready for production yet. I've added some explicit review to https://github.com/nodejs/nodejs.dev/pull/654 with issues that I have found.

[2020-04-29 20:04] benhalverson opened #659 "Homepage download node button"
## Description
Currently the download node button on staging doesn't work
Where should it go?
Should it download the installer based on the detected OS?
Should it go to the downloads page so the user can select the version of their choice?

### Steps to reproduce

The code is in the staging branch and can be seen here.
https://staging.nodejs.dev/654

### Expected result

Downloads a file or direct

[2020-04-29 20:20] benhalverson opened #660 "Homepage: Change hardcoded data for version and whats new links"
## Description

The links below the download Node button should use the useReleaseHistory hook to get the latest LTS version and change log.

See the staging branch

[2020-04-30 06:41] dpkshrma opened #662 "Please add a search feature"
## Summary

Please add a search functionality to the site. [algolia](https://www.algolia.com/) can be used for the same

[2020-04-30 08:23] benhalverson commented on #662
it's being worked on here. #413

[2020-04-30 08:25] benhalverson commented on #637
The content doesn't exist right now. Any interest in helping with it @OPARA-PROSPER

[2020-04-30 08:39] alexandrtovmach commented on #587
Okay, so the final decision is:
- merge `master` to `staging` automatically with CI (#661) to keep development environment "up-to-date"
- continue redesign work in `staging`

I'm okay with that plan 👍

[2020-04-30 08:43] dpkshrma commented on #662
okay 👍

[2020-04-30 08:43] #662 closed

[2020-04-30 08:57] OPARA-PROSPER commented on #637
@benhalverson I'd be super excited to do that. I'm not exactly sure the type of content to craft, the image placeholders don't give me any ideas.

[2020-04-30 15:19] giankotarola commented on #660
@benhalverson I can take a look into this

[2020-04-30 16:33] designMoreWeb commented on #586
![image](https://user-images.githubusercontent.com/5986856/80735375-97a88d00-8ade-11ea-9e22-3d241ded84d1.jpeg)

Also a new issue i see is there are two zoom links being produced. This was for today’s Community Committee meeting.

We should be aware and see what way we can fix these to avoid confusion for members and people interested in the org and open source

[2020-04-30 16:42] mhdawson commented on #586
Templates for the meeting invites are in: https://github.com/nodejs/create-node-meeting-artifacts/tree/master/templates.

They need to be updated if the link changes. Most meetings use a webinar where the same link can be used for every meeting.

[2020-04-30 16:44] mhdawson commented on #586
If its the google calendar, same thing it either needs be updated each week or a recuring webinar needs to be used so the link stays the same.