[2020-12-21 20:34] benhalverson commented on #1091
Are we actually having a meeting this week? 🤔

[2020-12-22 03:40] designMoreWeb opened #1092 "Broken Story book components"
Story book has a few broken components:
Broken components are Navigation item, Navigationsection, Pagination, and release toggle
<img width="2033" alt="Screenshot 2020-12-21 at 10 37 24 PM" src="https://user-images.githubusercontent.com/5986856/102846204-62d6a680-43dd-11eb-931f-1f68fd1f2816.png">

<img width="2047" alt="Screenshot 2020-12-21 at 10 37 52 PM" src="https://user-images.githubuserconte

[2020-12-22 18:01] slimcoders commented on #1092
I wanna work on this issue, someone please assign it to me.

[2020-12-22 18:10] marcustisater commented on #1091
You are correct, previous meeting was the last one for 2020. Happy holidays team!

[2020-12-22 21:15] slimcoders commented on #1091
So this means that we don't have any meeting ?

[2020-12-22 22:36] alexandrtovmach commented on #1091
Wow, surprised

[2020-12-22 22:41] marcustisater commented on #1091
I believe so. Can you confirm this @designMoreWeb?

[2020-12-22 22:42] designMoreWeb commented on #1091
Yes last week was the last one for 2020 we will have our next one in the first week of Jan 2021 but if any work needs to be addressed or you have any questions we can always talk over slack :)

[2020-12-24 03:09] #1091 closed

[2020-12-28 09:57] rodion-arr commented on #1092
Hey @slimcoders any progress on this?

[2020-12-30 17:18] bnb commented on #985
Let's try linking to "Learn" and "Docs" 👍🏻

[2020-12-30 18:34] Bhavin789 commented on #1092
Hi @rodion-arr, may I have a look into this if @slimcoders has not found the solution already for the same? Let me know. Thanks!

[2020-12-31 19:00] slimcoders commented on #1092
Still looking into it.

[2020-12-31 21:29] #1089 closed

[2020-12-31 23:23] #1082 closed

[2020-12-31 23:23] #1074 closed

[2021-01-01 06:46] mikeesto commented on #1092
I just wanted to note here that there's a PR (https://github.com/nodejs/nodejs.dev/pull/1097) to update Storybook from v5 -> v6. I'm unsure if it will impact this issue but potentially worth looking into as well

[2021-01-02 08:33] Bhavin789 commented on #1092
@slimcoders @rodion-arr I feel just overriding the `BASE_PATH` variable while setting up the storybook in gatsby should solve this issue. It occurs when we run the storybook in prod mode. @slimcoders if not found any other solution, can you try to look into the above? Or can I take this up and raise a PR? Let me know. Thanks! cc// @mikeesto

[2021-01-04 17:46] mhdawson opened #1103 "Node.js Website Redesign Strategic Initiative Meeting 2021-01-06"
## Time

**UTC Wed 06-Jan-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 06-Jan-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 06-Jan-2021 12:00 (12:00 PM) |
| US / Central  | Wed 06-Jan-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 06-Jan-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 06-Jan-2021 19:00 (07:00 PM) |

[2021-01-09 06:36] benhalverson opened #1108 "Bug: Homepage has a few contrast issues"
### Steps to reproduce

Run a local dev server with `npm start`
In another terminal run `npm run a11y`
### Expected result

no errors or warnings

### Actual result

[code]
### Environment

- OS Version: any
- Browser Version: any

[2021-01-09 08:47] Bhavin789 commented on #1092
Any updates here? Can I give it a try? Thanks! cc// @slimcoders @rodion-arr

[2021-01-09 11:02] Bhavin789 commented on #1108
Hi @benhalverson, may I have a look at this? I am able to replicate this and can try if this can be an easy fix with the existing available colors. Let me know. Thanks!

[2021-01-09 12:23] Bhavin789 commented on #1108
Some results which I got **using existing colors** (majorly a different variant of pink and black) which solved the warnings above:
## Install Tabs (both black and pink changes required):

**Previous:**
![image](https://user-images.githubusercontent.com/15359575/104091341-c64c4980-52a2-11eb-9239-2c5955f6fa26.png)

**Now:**
![image](https://user-images.githubusercontent.com/15359575/104091255-4920d

[2021-01-09 13:09] rodion-arr commented on #1092
Hey @Bhavin789, this is up to @slimcoders, I was also interested in this issue but can't be involved now for some reasons :)

[2021-01-11 13:05] mhdawson opened #1111 "Node.js Website Redesign Strategic Initiative Meeting 2021-01-13"
## Time

**UTC Wed 13-Jan-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Jan-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 13-Jan-2021 12:00 (12:00 PM) |
| US / Central  | Wed 13-Jan-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 13-Jan-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 13-Jan-2021 19:00 (07:00 PM) |

[2021-01-13 06:23] benhalverson commented on #1108
I think the easiest fix is to follow what the error says and use `#515c62` as the background color for the panels. I also should have mentioned in my bug that I was in dark mode when I ran the `npm run a11y` command

[2021-01-17 07:48] benhalverson commented on #947
Closed by PR #1009

[2021-01-17 07:48] #947 closed

[2021-01-17 09:56] marcustisater commented on #1092
@benhalverson updated to the latest version but it dosen't seem to have fixed this issue.

[2021-01-18 13:06] mhdawson opened #1115 "Node.js Website Redesign Strategic Initiative Meeting 2021-01-20"
## Time

**UTC Wed 20-Jan-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 20-Jan-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 20-Jan-2021 12:00 (12:00 PM) |
| US / Central  | Wed 20-Jan-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 20-Jan-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 20-Jan-2021 19:00 (07:00 PM) |

[2021-01-18 15:43] Bhavin789 commented on #1108
Hi @benhalverson

I tried with the suggested color. One thing I was confused with the global scss variables that we are using for different color variables.
For example, `#515c62` falls somewhat between `--black7` and `--black8`. So, what would you suggest in this case?
Should I change variants to adjust this one or use the hexcode directly without using a variable? Thoughts? Thanks!

[2021-01-19 04:47] SamsonChoo commented on #232
Agree, can we reopen this? Or reopen #238 ?

[2021-01-20 09:21] Bhavin789 commented on #1092
Hi, @marcustisater This won't get fixed with a version bump.

We need to mock out the `BASE_PATH` value to `""` in the storybook configurations to make this work. If @slimcoders is not working here, may I raise a PR for the same? Let me know.

Thanks! cc// @benhalverson

[2021-01-20 12:00] benhalverson commented on #1092
I wonder why it works ok with some but not others without this change. Any ideas? @Bhavin789

[2021-01-20 15:31] Bhavin789 commented on #1092
@benhalverson When we worked on revamping React tests to RTL, we observed that in environments other than gatsby, few properties are not present on `window` and `global` objects, `__PATH_PREFIX__` was also one of them and that is why, I think, we have overwritten that as well in storybook configs.

I referred [this](https://stackoverflow.com/questions/60245845/gatsby-whats-the-difference-between-b

[2021-01-20 15:42] Bhavin789 commented on #1092
Also, when I logged the failing items in the storybook, it printed the `pathName` which are kinda [slugs](https://www.gatsbyjs.com/docs/tutorial/part-seven/) that I think are used by `gatsby-source-filesystem` plugin. This slug creation as per [this](https://stackoverflow.com/questions/60245845/gatsby-whats-the-difference-between-basepath-and-path-prefix) StackOverflow explanation uses `basePath`

[2021-01-20 19:27] #1092 closed

[2021-01-26 15:06] mhdawson opened #1118 "Node.js Website Redesign Strategic Initiative Meeting 2021-01-27"
## Time

**UTC Wed 27-Jan-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 27-Jan-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 27-Jan-2021 12:00 (12:00 PM) |
| US / Central  | Wed 27-Jan-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 27-Jan-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 27-Jan-2021 19:00 (07:00 PM) |

[2021-01-30 23:39] PatrickMcLennan commented on #232
I've also found this to misleading / confusing, and agree it should be reopened.  Happy to work on or contribute to a fix.

[2021-01-31 00:31] benhalverson commented on #232
PR’s are welcome

[2021-02-01 13:06] mhdawson opened #1121 "Node.js Website Redesign Strategic Initiative Meeting 2021-02-03"
## Time

**UTC Wed 03-Feb-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 03-Feb-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 03-Feb-2021 12:00 (12:00 PM) |
| US / Central  | Wed 03-Feb-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 03-Feb-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 03-Feb-2021 19:00 (07:00 PM) |

[2021-02-08 13:06] mhdawson opened #1124 "Node.js Website Redesign Strategic Initiative Meeting 2021-02-10"
## Time

**UTC Wed 10-Feb-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 10-Feb-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 10-Feb-2021 12:00 (12:00 PM) |
| US / Central  | Wed 10-Feb-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 10-Feb-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 10-Feb-2021 19:00 (07:00 PM) |

[2021-02-11 16:06] HalexV opened #1125 "Question about execution order"
## Summary

I read the section <b>ES6 Job Queue</b> (https://nodejs.dev/learn/the-nodejs-event-loop#es6-job-queue) and I resolved to do some tests to understand the execution order when the code have Message queue, Job queue and call stack callings.

## Test code
[code]
## Expected result

Based on this line in the doc <q>Promises that resolve before the current function ends will be executed righ

[2021-02-15 13:05] mhdawson opened #1126 "Node.js Website Redesign Strategic Initiative Meeting 2021-02-17"
## Time

**UTC Wed 17-Feb-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 17-Feb-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 17-Feb-2021 12:00 (12:00 PM) |
| US / Central  | Wed 17-Feb-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 17-Feb-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 17-Feb-2021 19:00 (07:00 PM) |

[2021-02-17 19:44] benhalverson opened #1127 "node request data documentation upate"
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [X] Not Sure?

## Please Explain in Detail

Update 0040a-node-request-data/index.md to use the example from @MylesBorins in https://github.com/nodejs/nodejs.dev/pull/328

## Your Proposal for Changes

[2021-02-17 19:59] Mpaulo95 commented on #1127
Hey! I would like to take a look into it. Can I?

[2021-02-17 20:36] #1111 closed

[2021-02-17 20:36] #1115 closed

[2021-02-17 20:36] #1118 closed

[2021-02-17 20:36] #1121 closed

[2021-02-17 20:36] #1124 closed

[2021-02-17 20:37] marcustisater commented on #1127
@Mpaulo95 Please do! 👍

[2021-02-22 04:27] benhalverson commented on #1125
I think a better place for this question is stackoverflow. https://stackoverflow.com/questions/36870467/what-is-the-order-of-execution-in-javascript-promises should help

[2021-02-22 04:27] #1125 closed

[2021-02-22 04:29] benhalverson commented on #1061
Are you still interested in working on this @noce2

[2021-02-22 06:52] noce2 commented on #1061
Hi @benhalverson , not sure how I missed your notification last year 😂  . Yes, still interested in working on this 👍🏾 . I had to jog my memory on this a bit 😂 but between light and dark modes, the diagram seems to be the same. Do you mean light and dark mode for the text? If so, yeah, I'd be happy to do that.

[2021-02-23 07:29] #974 closed

[2021-02-23 07:29] #1103 closed

[2021-02-23 16:35] designMoreWeb opened #1131 "Scroll bar is active on the terminal view on the homepage"
The scroll bar on the terminal on the homepage is active needs to be set to active on hover

![Screenshot 2021-02-23 at 11 31 23 AM](https://user-images.githubusercontent.com/5986856/108875424-2e44be00-75cb-11eb-8dbb-f3c6ac5a8b75.png)

[2021-02-23 17:06] mhdawson opened #1132 "Node.js Website Redesign Strategic Initiative Meeting 2021-02-24"
## Time

**UTC Wed 24-Feb-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-Feb-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 24-Feb-2021 12:00 (12:00 PM) |
| US / Central  | Wed 24-Feb-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 24-Feb-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 24-Feb-2021 19:00 (07:00 PM) |

[2021-02-25 07:10] noce2 commented on #1061
Hi @benhalverson , I've open a PR for this now.

[2021-02-25 07:20] benhalverson commented on #1061
Cool I'll take a look 👍🏻

[2021-02-27 20:37] rahendatri opened #1136 "missing `npm install minimist` on one of the pages"
# Documentation Is

- [X] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
In this page : https://nodejs.dev/learn/nodejs-accept-arguments-from-the-command-line
There is a snippet containing `require('minimist')` but there is not any step telling to install the required module (`npm install minimist`).

So the `node app.js --name=joe` leads to an error du

[2021-02-28 18:03] RamyasreeSiri commented on #1131
Hi, I have made changes for the above fix. please review. #1137

[2021-03-01 09:36] mikeesto commented on #1136
Fair point @rahendatri . It is a bit unfortunate that this is before the introduction to the package manager. Did you want to make a PR for this?

[2021-03-01 13:05] mhdawson opened #1138 "Node.js Website Redesign Strategic Initiative Meeting 2021-03-03"
## Time

**UTC Wed 03-Mar-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 03-Mar-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 03-Mar-2021 12:00 (12:00 PM) |
| US / Central  | Wed 03-Mar-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 03-Mar-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 03-Mar-2021 19:00 (07:00 PM) |

[2021-03-01 15:50] manishprivet commented on #1131
Hi, I was wondering if #854 could be incorporated into this

[2021-03-02 01:10] #1132 closed

[2021-03-02 01:10] #1126 closed

[2021-03-02 13:20] RamyasreeSiri commented on #1131
Hi @manishprivet, I tried to adding the color-scheme, but its not being reflected in the 'preview'(https://staging.nodejs.dev/1137/). So not able to make the requested change.

[2021-03-03 09:07] RamyasreeSiri commented on #1131
@manishprivet, getting the scrollbar in staging now,
![image](https://user-images.githubusercontent.com/39062317/109781425-ec9cbe80-7c2d-11eb-89e4-28721ee8a3ec.png)

[2021-03-03 19:09] designMoreWeb commented on #1131
/preview

[2021-03-04 05:48] #1127 closed

[2021-03-04 05:50] benhalverson commented on #1061
Closing via #1133

[2021-03-04 05:50] #1061 closed

[2021-03-04 07:43] shreyas44 opened #1139 "Call stack in Job Queue section is possibly incorrect"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

In the [ES6 Job Queue section](https://nodejs.dev/learn/the-nodejs-event-loop#es6-job-queue) in the Node.js Event Loop section under Learn, the call stack seems to be incorrect.

[code]

For the above code, the following call stack is given:
1. foo()
2. foo() | console.log('foo')

[2021-03-07 21:32] lancemccluskey commented on #1139
Can I take this one?

[2021-03-08 00:15] shreyas44 commented on #1139
I was wondering if I could?

[2021-03-08 00:38] lancemccluskey commented on #1139
Lol totally misread this

[2021-03-08 00:41] shreyas44 commented on #1139
I probably should've mentioned it in the issue lol, I didn't as I wanted the issue to be confirmed first

[2021-03-08 13:06] mhdawson opened #1143 "Node.js Website Redesign Strategic Initiative Meeting 2021-03-10"
## Time

**UTC Wed 10-Mar-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 10-Mar-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 10-Mar-2021 12:00 (12:00 PM) |
| US / Central  | Wed 10-Mar-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 10-Mar-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 10-Mar-2021 19:00 (07:00 PM) |

[2021-03-10 20:46] benhalverson opened #1145 "Feat: Sidebar component for /community page"
## Summary

Create a new sidebar component to be used in nodejs.dev/community
The design is located here https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=22%3A6086

[2021-03-10 22:36] lancemccluskey commented on #1145
Hey Ben are you gonna work on this or can I take it?

[2021-03-10 23:46] benhalverson commented on #1145
go for it 👍🏻

[2021-03-11 21:41] dziku86 opened #1147 "Dark mode toggle button does not work with keyboard events"
## Description

Dark mode toggle button does not work with keyboard events
[code]

### Steps to reproduce

Set focus on button, hit Enter or Space.

### Expected result

Button should react to keyboard events and should toggle the theme.

### Actual result

Nothing happens.

### Environment

- OS Version: win32(6.1.7601)
- Browser Version: Chrome 89.0.4389.82 (Official Build) (32-bit) (cohort: 89_

[2021-03-12 06:01] manishprivet commented on #1147
I would like to work on this

[2021-03-13 13:28] manishprivet commented on #1131
@RamyasreeSiri I was talking more about a custom scrollbar, something which shows on hover but above the span of code, not below it. Something like [this](https://malte-wessel.com/react-custom-scrollbars/). The `color-scheme`  property does change the color to dark in some browsers, but the width is an issue.

As of right now after #1137, on windows and Linux chrome, the height of the span gets in

[2021-03-14 06:53] benhalverson opened #1151 "Blog: create blog components"
## Summary

A basic blog has a listing and the blog page with the content for example
nodejs.dev/blog
nodejs.dev/blog/YYYY/MM/DD/blog-title

The components needed for this are:

- [x] setting up gatsby-node.js to query markdown files to dynamically generate the pages #1152
- [x] new blog page for /blog
- [x]  page for /blog/dynamic-link-here
- [x] sidebar component that shows recent posts

Related

[2021-03-14 07:02] benhalverson opened #1152 "Blog: gatsby-node setup for blog posts"
## Summary

Create a query that generates the blog posts and blog list using graphql and gatsby functionality
For examples see the gatsby blog tutorial in their docs

The schema should include the following

- blog title
- author
- date published
- draft status
- Maybe tags/ topics 🤔

[2021-03-14 07:08] benhalverson opened #1153 "Blog: Create /blog page"
## Summary

Create a new page that goes to /blog
It should do a query to display all published blogs in a list format

[2021-03-14 07:40] manishprivet commented on #1151
Can I take it?

[2021-03-14 08:14] benhalverson commented on #1151
Sure which one do you want to start on?

[2021-03-14 08:22] manishprivet commented on #1151
I can setup gatsby to query markdown files, by I think the rest require something from the design perspective. Do we have something on figma for it?

[2021-03-14 08:31] benhalverson commented on #1151
No design exists for this. Here is what I was thinking to start out with.
![blogUX](https://user-images.githubusercontent.com/7907232/111062237-83eae880-845c-11eb-807d-89b44f0a65ca.png)

[2021-03-14 08:53] manishprivet commented on #883
For dark mode and some good looks unlike the original google embed, can we use [this](https://www.npmjs.com/package/@ericz1803/react-google-calendar)? I wanted to test it but it requires an API key and I don't have any idea from where I can get that.

[2021-03-14 08:59] manishprivet commented on #1151
LGTM, I can work with this. In the `/blog` page, can we have a grid of two columns? 3 looks cramped here I think.

[2021-03-14 09:03] benhalverson commented on #1151
it's basically a copy of https://reactjs.org/blog/all.html

[2021-03-14 09:05] manishprivet commented on #1151
Got it! I can implement the same here for now

[2021-03-14 09:31] benhalverson commented on #883
For an API key for testing you would create an account on google cloud and under API's & services you would search for the calendar API and enable it, then you can generate an API key. https://developers.google.com/calendar/quickstart/js

We will also need to ask @MylesBorins about setting up a staging/production API key when we are ready.

[2021-03-14 15:26] MylesBorins commented on #883
Hey all. If we want to start using api keys we'll want to ask the foundation to set up a new account or take over the current one as it is currently setup on my own billing account

[2021-03-15 07:17] benhalverson commented on #883
Thanks Myles should we reach out to the build team or commcomm or admin? 🤔 🤷🏻‍♂️

[2021-03-15 08:42] manishprivet opened #1158 "feat: Update Gatsby and other dependencies to the latest version"
## Summary
Right now, the version of Gatsby in the project is `2.24.85`, but the latest version of Gatsby is Gatsby 3. Due to this, some plugins are not working in the project as they have a peer dependency of Gatsby `^3.0.0`.

### Basic example
Try installing `gatsby-transformer-yaml`, it's throwing an error regarding the current version of Gatsby.
![image](https://user-images.githubusercontent.c

[2021-03-15 08:51] manishprivet commented on #1158
I was able to get around the problem by installing an older version of the plugin, but I still think we should update to Gatsby 3 because of the performance improvements

[2021-03-15 12:05] mhdawson opened #1159 "Node.js Website Redesign Strategic Initiative Meeting 2021-03-17"
## Time

**UTC Wed 17-Mar-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 17-Mar-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 17-Mar-2021 12:00 (12:00 PM) |
| US / Central  | Wed 17-Mar-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 17-Mar-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 17-Mar-2021 18:00 (06:00 PM) |

[2021-03-15 14:51] MylesBorins commented on #883
@benhalverson I don't think build has an account with credits... but would likely be good to talk to them about what account we should use. I would be more than happy to add more folks to the existing org we've been using if we switch the billing account

@brianwarner or @joryburson from the foundation can likely help us figure out how to get a different billing account setup if they are able to..

[2021-03-15 16:37] ammi1378 commented on #274
Hello there, I really need some learning content in my classes. since this project content is amazing I want to use it, but there is no translation, there is any plan to add i18n to the project? I can help with a translation in persian.
Google translation is really bad with persian!

[2021-03-17 18:40] #1147 closed

[2021-03-17 18:55] benhalverson commented on #1152
hi @Sid-ah a PR already exists for the graphql / "backend" part. You can work on the UI portion of either pages if you like. See #1151 and the existing PR https://github.com/nodejs/nodejs.dev/pull/1154

[2021-03-18 10:13] khalilmansouri opened #1162 "SEO: shared links through social media are not working properly"
## Description

There's no _Title_ neither _Description_ in cards generated by shared links in social media (facebook, twiter, linkedin):

### Steps to reproduce

![image](https://user-images.githubusercontent.com/4508994/111609382-8477dc00-87da-11eb-8902-6a5ccc9f938d.png)

### Expected result

A card with article's _Title_ and _Description_

[2021-03-18 16:33] nschonni opened #1163 "[meta] Rename default branch to main"
## Summary

Issue tracking the renames across the org https://github.com/nodejs/node/issues/33864

I'll submit a PR shortly to change the few instances where it is hardcoded, but the only one that would actually need to be fixed is the instance in the test.yml GitHub Action, as the rest would automatically redirect.

[2021-03-18 16:42] nschonni commented on #1163
@MylesBorins is there any impact to the Google Cloud setup like the index page, or is it all driven off the uploads in CI

[2021-03-18 16:52] MylesBorins commented on #1163
@nschonni I just made a new cloud build rule to deploy whenever "main" is pushed to so the switch should now be seamless.

[2021-03-18 17:33] nschonni commented on #1163
Thanks @MylesBorins! I tagged with with the working group agenda as I guess it would probably need to be discussed there. Not sure who has the permission to do the branch rename if it's agreed on (but I don't)

[2021-03-18 17:36] MylesBorins commented on #1163
@nschonni right now it looks like the admins on this repo are myself, @amiller-gh, the crowdin bot, and any org admins (TSC / CommComm).

If anyone else should be added as admins lmk and we can do that. FWIW this is pretty similar to the existing permissions for nodejs.org

[2021-03-18 22:18] benhalverson commented on #1158
Are you using npm 7 or 6.x

[2021-03-19 06:00] benhalverson commented on #1162
Please provide a list of steps to reproduce this.

[2021-03-20 10:34] lancemccluskey commented on #1145
Hey Ben is the community sidebar supposed to have the exact options shown in the Figma, or is it supposed to use the table of contents for the community page?

[2021-03-20 12:28] rodion-arr commented on #1162
@benhalverson, I assume issue related to the fact that social media sites are retrieving meta tags from home page instead of deep link for some reason.

Can be checked in FB Open Graph debugger for example - https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fnodejs.dev%2Flearn%2Fthe-v8-javascript-engine

[2021-03-20 20:34] benhalverson commented on #1145
Yes it should match the Figma design. The table of contents isn't needed on the community pages in my opinion.

[2021-03-20 22:12] benhalverson commented on #1162
If I understand the code correctly, it uses a config file throughout the app.
See https://github.com/nodejs/nodejs.dev/blob/master/src/components/Seo/index.tsx and https://github.com/nodejs/nodejs.dev/blob/master/src/config.js

[2021-03-21 04:57] manishprivet commented on #1162
The reason due to which this is happening, is that the `og:url` tag is still the homepage one.
![image](https://user-images.githubusercontent.com/54291836/111894315-f1d07a80-8a2f-11eb-9321-f30bb6cee1d4.png)

[2021-03-22 12:54] mhdawson opened #1168 "Node.js Website Redesign Strategic Initiative Meeting 2021-03-24"
## Time

**UTC Wed 24-Mar-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-Mar-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 24-Mar-2021 12:00 (12:00 PM) |
| US / Central  | Wed 24-Mar-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 24-Mar-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 24-Mar-2021 18:00 (06:00 PM) |

[2021-03-23 16:43] #1162 closed

[2021-03-24 02:33] lancemccluskey commented on #1145
@benhalverson I attached a PR to this issue Ben. I appreciate some eyes on this when you get a chance!

[2021-03-24 02:36] lancemccluskey commented on #1151
Is there anything I can help with here? @manishprivet Are you implementing all of the components for this?

[2021-03-24 07:31] manishprivet commented on #1151
@lancemccluskey I've implemented 3 out of 4 checkboxes required in this issue. For the sidebar component, all the data is coming where it's needed, and the types are also there. We only need a component for it, something like the `TableOfContent` component to include in the `/templates/blog,tsx`. But I think for that #1154 needs to be finalized and merged first.

[2021-03-24 09:55] lancemccluskey commented on #1151
ok cool sounds good. Were you planning to do that one also?

[2021-03-24 18:45] designMoreWeb opened #1176 "Community page Graphql"
Creating similar to #1152

[2021-03-24 19:05] benhalverson opened #1177 "Darkmode package replacement"
## Description

When we eventually update to Gatsby 3.x the [current package](https://www.npmjs.com/package/@smotaal.io/dark-mode-controller) we are using for our darkmode toggle breaks the site.
The code is not published on github but it is on npm.

We should ask @SMotaal to fix his package or replace it with one that works with Gatsby 3.x

### Steps to reproduce

Update all gatsby packages to th

[2021-03-24 19:05] manishprivet commented on #1151
@lancemccluskey I was planning to do that after the PR was merged.

[2021-03-25 10:46] #1145 closed

[2021-03-25 20:27] lancemccluskey commented on #1177
I can take a stab at this if thats cool?

[2021-03-29 02:00] lancemccluskey commented on #1177
Work and schools been crazy, but I just upgraded gatsby and am seeing the error now. It looks like this after trying to run `npm start`

<img width="766" alt="Screen Shot 2021-03-28 at 9 00 14 PM" src="https://user-images.githubusercontent.com/40124399/112777751-993d4680-9008-11eb-8613-1ec982e39e62.png">

[2021-03-29 02:32] lancemccluskey commented on #1177
This one [here](https://www.gatsbyjs.com/plugins/gatsby-plugin-dark-mode/) looks promising. Is there a reason it wasnt considered before @benhalverson ? If not I think ill try implementing it and see how it goes.

[2021-03-29 19:03] benhalverson commented on #1177
I don't remember the exact reasons, but it was probably for setting up the ability to remember the last selection of light vs dark mode. It also has a feature where if you long press the button it has a third state called auto that detects your OS preferred settings. This is all done with local storage. The three states are `enabled`, `disabled` and `auto`

[2021-03-29 19:08] benhalverson commented on #1177
This is one of the issues that is blocking my draft PR to upgrade Gatsby to 3.x https://github.com/nodejs/nodejs.dev/pull/1166#issuecomment-805540044

[2021-03-29 19:38] mhdawson opened #1180 "Node.js Website Redesign Strategic Initiative Meeting 2021-03-31"
## Time

**UTC Wed 31-Mar-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 31-Mar-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 31-Mar-2021 12:00 (12:00 PM) |
| US / Central  | Wed 31-Mar-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 31-Mar-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 31-Mar-2021 19:00 (07:00 PM) |

[2021-03-29 22:47] lancemccluskey commented on #1177
Oh it looks like the Gatsvy plugin supports all of that then. If there's nothing else the dark-mode-controller does for us can I switch it out?

[2021-03-29 23:21] benhalverson commented on #1177
Yep go for it.

[2021-04-01 07:57] manishprivet opened #1181 "Tests not passing in master branch"
## Description
`npm run test` is failing in the master branch of the repo, in two files.

### Steps to reproduce
Run `npm test` on master branch

### Expected result
All Tests should pass

### Actual result
1. Formatting error in `/src/utils/konami.ts`
2. Remark lint error in `src/documentation/0056-node-with-typescript/index.md` and `content/community/index.md`
![image](https://user-images.github

[2021-04-01 10:26] lancemccluskey commented on #1181
Have you tried running the tests with the correct node version? Maybe that's it. I've seen stuff fail when using the wrong version before

[2021-04-01 12:52] rodion-arr commented on #1181
Hi, I could **not** reproduce it:
- macOS 11.2.3
- Node Version: 14.16.0
- NPM Version: 6.14.11

[2021-04-01 13:03] manishprivet commented on #1181
@rodion-arr @lancemccluskey Can you guys look at [this](https://github.com/nodejs/nodejs.dev/pull/1182#issuecomment-811732713)? The tests are failing even in the original `konami.ts`.

[2021-04-01 13:42] lancemccluskey opened #1184 "Add `commitlint` to the project"
## Summary

Adding `commitlint` to our project will help us enforce conventional commits. The repo is located [here](https://github.com/conventional-changelog/commitlint).

### Basic example

Theres examples in the link above, but I suggest we use the prompt way [here](https://commitlint.js.org/#/guides-use-prompt). Theres also a way of integrating with husky, but im not the biggest fan of husky.

[2021-04-01 17:24] lancemccluskey commented on #1181
Hey man I think its your local linter. If you are using vscode, maybe you have your default linter selected incorrectly? Its happened to me before especially when I have `formatOnSave` set to true in the vscode settings or I use the "Format Document" command when you do "ctrl + shift + p"

[2021-04-01 17:25] lancemccluskey commented on #1181
Because my linter doesnt change anything like @rodion-arr . Im on on the same version and hardware as him too

[2021-04-01 21:36] nschonni commented on #1181
I'd suggest installing with `npm ci` so you get the same version in the package-lock.json (if you didn't already try)

[2021-04-02 02:08] benhalverson commented on #1184
When I first joined this project we had this, but it was removed because of the friction it was causing. https://github.com/nodejs/nodejs.dev/pull/323

[2021-04-02 02:26] lancemccluskey commented on #1184
ohhh okay that makes sense. I'll close this issue then!

[2021-04-02 02:26] #1184 closed

[2021-04-02 02:42] lancemccluskey commented on #1177
@benhalverson Hey so when trying to revert the gatsby versions, I tried just copying the `package.json` from master, deleting node_modules and `package-lock.json` but now im seeing these errors:

<img width="798" alt="Screen Shot 2021-04-01 at 9 40 07 PM" src="https://user-images.githubusercontent.com/40124399/113374609-0f0c1f80-9333-11eb-91ec-3753bf846547.png">

Do you have any ideas why?

[2021-04-02 02:42] lancemccluskey commented on #1177
I already tried deleting everything I had locally and recloning the repo and checking out my branch. Idk what I did wrong

[2021-04-02 17:41] lancemccluskey opened #1185 "Why cant I run locally?"
## Summary
Hey I upgraded gatsby and all the associated plugins to 3.x to work on a PR, but when I reverted I cannot run the project locally. Im getting the below:

<img width="903" alt="Screen Shot 2021-04-02 at 12 39 58 PM" src="https://user-images.githubusercontent.com/40124399/113439701-b24f4a00-93b0-11eb-98b9-02151e984554.png">

Does anyone have any ideas why?

[2021-04-04 04:33] manishprivet commented on #1181
@nschonni @lancemccluskey I switched to node 10, deleted `node_modules`, and did a fresh install, and now all the tests are running fine on the master branch. But I still don't understand why the test is failing at #1154 with the same file that's in the master branch.

[2021-04-04 04:41] manishprivet commented on #1181
Never mind, they're passing now. Closing this issue.
But I still don't understand this: https://github.com/nodejs/nodejs.dev/pull/1154/checks?check_run_id=2237827496

[2021-04-04 04:41] #1181 closed

[2021-04-05 12:06] mhdawson opened #1192 "Node.js Website Redesign Strategic Initiative Meeting 2021-04-07"
## Time

**UTC Wed 07-Apr-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Apr-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 07-Apr-2021 12:00 (12:00 PM) |
| US / Central  | Wed 07-Apr-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 07-Apr-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 07-Apr-2021 19:00 (07:00 PM) |

[2021-04-06 13:02] AnupamaP commented on #1108
@Bhavin789 are you still working on this?

[2021-04-06 16:45] rodion-arr opened #1193 "Top menu strategy for mobile?"
Hi Team,

We have a horizontal scroll on mobile currently due to wide menu items:
![image](https://user-images.githubusercontent.com/5843270/113747548-2a4ea480-9710-11eb-8a92-8a0a5b0810a6.png)

I'd like to know do we have a design decision regarding top menu on mobile?
Maybe I just missed it in Figma? :)

[2021-04-06 20:35] manishprivet commented on #1193
How does a classical Hamburger menu sound like? The items in the menu are gonna increase over time actually, and we something that can contain them.

[2021-04-07 15:18] AnupamaP commented on #1108
@benhalverson Hello, I'm a first timer here. I created a PR for this issue, I'd appreciate your review. Thanks!

[2021-04-08 14:00] manishprivet commented on #1176
As of right now, the original node setup for markdown files was made only for learn pages by default. So any md file goes there, always. It needs to change as we've `blog` and `commuity` page coming too which will use markdown files. Can we create an issue for that, to specify `learn` in the slug of md files related to `learn` page? This way we'll be able to differentiate and query accordingly.

[2021-04-08 15:35] #1177 closed

[2021-04-08 15:39] #1185 closed

[2021-04-08 16:14] #1108 closed

[2021-04-09 03:53] Bhavin789 commented on #1108
Hi @AnupamaP, really sorry, I couldn't reply to your comment earlier. Glad that this issue is closed now :slightly_smiling_face:. Thank you!

[2021-04-10 01:23] #1152 closed

[2021-04-10 02:22] lancemccluskey commented on #1176
dibs

[2021-04-12 02:14] lancemccluskey commented on #1176
@manishprivet @benhalverson Im a little confused. It looks like a lot of this is done. Is this issue to do the same work that was done for `blog` pages?

[2021-04-12 02:24] benhalverson commented on #1176
Yes that is correct

[2021-04-12 12:06] mhdawson opened #1198 "Node.js Website Redesign Strategic Initiative Meeting 2021-04-14"
## Time

**UTC Wed 14-Apr-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Apr-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 14-Apr-2021 12:00 (12:00 PM) |
| US / Central  | Wed 14-Apr-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 14-Apr-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 14-Apr-2021 19:00 (07:00 PM) |

[2021-04-18 03:51] manishprivet opened #1207 "refactor: Update gatsby-node to categorize markdown queries on the basis of slug"
## Summary

As of right now, there's no way of identifying whether a `reMarkdown` node belongs to the `learn` page or not. Due to this, all of those markdown files are currently going to the `/learn` page. We need a `/learn/` part in every slug that belongs to the `/learn` page so that we can filter them out by regex through the graphql query in `/src/templates/learn.tsx`

### Basic example

Filte

[2021-04-19 12:07] mhdawson opened #1209 "Node.js Website Redesign Strategic Initiative Meeting 2021-04-21"
## Time

**UTC Wed 21-Apr-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Apr-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 21-Apr-2021 12:00 (12:00 PM) |
| US / Central  | Wed 21-Apr-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 21-Apr-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 21-Apr-2021 19:00 (07:00 PM) |

[2021-04-19 12:10] lancemccluskey commented on #1176
@benhalverson Ive been super busy with school since the end of the semester is coming up. Probably wont be able to devote much time to this till after May 5th. If someone else wants to grab this thats fine.

[2021-04-19 15:41] benhalverson commented on #1176
Ok no problem 👍

[2021-04-20 01:03] benhalverson commented on #1207
Do you think this refactor should be done before or after adding the /community graphql changes?

[2021-04-20 04:40] manishprivet commented on #1207
@benhalverson I think before, or else it'll just increase the technical debt.

[2021-04-20 05:10] benhalverson commented on #1207
so maybe we should have a category in the frontmatter
something like:

[code]
We also need something for the home page and downloads.
so maybe for that something like:
[code]

[2021-04-20 05:12] benhalverson commented on #729
https://github.com/nodejs/nodejs.dev/issues/1207 is a related issue.

[2021-04-22 04:16] #1158 closed

[2021-04-22 04:29] #1159 closed

[2021-04-22 04:29] #1168 closed

[2021-04-22 04:29] #1180 closed

[2021-04-22 04:29] #1192 closed

[2021-04-22 04:29] #1198 closed

[2021-04-22 04:30] #1138 closed

[2021-04-22 04:30] #1143 closed

[2021-04-24 10:17] manishprivet commented on #1207
Looks good, but for this, every existing MD file in the repo + any upcoming content needs to have this in frontmatter. If it's okay should I create a PR addressing this? @benhalverson

[2021-04-26 02:43] #1209 closed

[2021-04-26 12:05] mhdawson opened #1253 "Node.js Website Redesign Strategic Initiative Meeting 2021-04-28"
## Time

**UTC Wed 28-Apr-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Apr-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 28-Apr-2021 12:00 (12:00 PM) |
| US / Central  | Wed 28-Apr-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 28-Apr-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 28-Apr-2021 19:00 (07:00 PM) |

[2021-04-28 02:55] #1131 closed

[2021-04-29 21:53] j8ahmed opened #1269 "Semantic Versioning with npm conflict with package.json versioning docs for '^x.y.z'"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [x] Confusing
- [ ] Not Sure?

## Please Explain in Detail

The section of the docs related to using the [package-lock.json](https://nodejs.dev/learn/the-package-lock-json-file) file mentions:

However, in the section of the docs related to [Semantic Versioning using npm](https://nodejs.dev/learn/semantic-versioning-using-npm) there are st

[2021-05-02 21:35] Trott commented on #1269
The proposed change here is wrong. `^0.13.0` will *not* permit updating to 0.14.0.

The text that needs changing is this:

That's wrong and needs to be corrected.

Refs: https://docs.npmjs.com/cli/v7/using-npm/semver#tilde-ranges-123-12-1

[2021-05-03 12:53] mhdawson opened #1281 "Node.js Website Redesign Strategic Initiative Meeting 2021-05-05"
## Time

**UTC Wed 05-May-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 05-May-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 05-May-2021 12:00 (12:00 PM) |
| US / Central  | Wed 05-May-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 05-May-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 05-May-2021 19:00 (07:00 PM) |

[2021-05-03 18:16] benhalverson commented on #1207
If you want to work on it please do 👍🏻  @manishprivet

[2021-05-05 11:58] ronmerkin opened #1284 "Feat: Split header to sub components"
## Summary

I Have seen that  the header component is one big component. I have split it into sub components to make it reusable and expandable.
### Motivation

Coding Best practices encourage to split into sub expandable components.

link to the MR: #1283

[2021-05-05 13:50] lidoravitan opened #1285 "refactor: footer component to reusable components"
## Summary

It seems that Footer component has repeated code which could be hard to maintain.
First of all, we could just use simple reusable components, instead of repeat ul/li elements. Second, in case of edge cases (i.e left side or right side) we can use modifier class names.

https://github.com/nodejs/nodejs.dev/blob/3897abff70b2689d9276160ee1a39e63a05fa4d3/src/components/Footer/index.tsx#L14

[2021-05-05 16:55] #1207 closed

[2021-05-05 17:41] joesepi commented on #1193
I was just looking at the site using Chrome Dev Tools mobile previews and they didn't match up to an actual preview. Can we verify the issue using devices before making any changes?

Here is an image of the staging site (PR 1203) on my iPhone 12:
![IMG_1042](https://user-images.githubusercontent.com/143668/117185234-9e2fab80-ada7-11eb-9b33-fcb475527610.png)

[2021-05-05 17:51] manishprivet commented on #1193
Another possible solution can be to fix the Nodejs logo on the left, dark mode button, and GitHub icon on right, and making the links horizontally scrollable? I wanted to work on this, but unsure which one to follow. @benhalverson @designMoreWeb

[2021-05-06 03:57] manishprivet opened #1288 "bug: Getting webpack errors in development server"
## Description

Running `npm start` is crashing with multiple webpack errors. Just to ensure that it wasn't only on my system, I even tested the same on a fresh Ubuntu VM, but got the same errors.

### Steps to reproduce

1. Update your master branch.
2. Delete `node_modules` and do a fresh install.
3. Run `npm start`

### Expected result

The development server should start as expected.

### Actu

[2021-05-06 04:56] benhalverson commented on #1288
Updating to gatsby 3.4 fixes the webpack issue but breaks the tests / linting 😢

[2021-05-06 05:06] manishprivet commented on #1288
@benhalverson It seems like the reason for failing tests was in Gatsby itself. It was fixed [here](https://github.com/gatsbyjs/gatsby/pull/31182). Seems like we'll have to wait for the next patch now 😢

[2021-05-06 05:12] benhalverson commented on #1288
Ya I was just about to post this also.

[2021-05-06 05:23] benhalverson commented on #1288
Reverting back to gatsby 3.1.3 fixes this issue for now see #1289

[2021-05-06 05:29] manishprivet commented on #1288
Yeah, but as soon as this is merged, dependabot will most likely create a PR to revert it 😂

[2021-05-06 17:50] benhalverson opened #1291 "Create a random contributor component"
## Summary

This component should function the same way as the current random contributor feature works on nodejs.org. and should be located in the footer on all pages.

The code for that is [here](https://github.com/nodejs/nodejs.org/pull/2635/files)
### Basic example

![Screen Shot 2021-05-06 at 10 48 39 AM](https://user-images.githubusercontent.com/7907232/117342955-aac00c80-ae58-11eb-953c-f479

[2021-05-06 17:55] rodion-arr commented on #1291
I'd like to take this

[2021-05-06 17:55] benhalverson opened #1292 "Security page"
## Summary

Create a new page called /security it should have the same content as https://nodejs.org/en/security/

### Motivation
Feature parity with nodejs.org

[2021-05-06 18:02] benhalverson opened #1293 "Trademark policy page"
## Summary

Create a /trademark policy page with the same content as https://nodejs.org/en/about/trademark/

[2021-05-06 18:09] benhalverson opened #1294 "Privacy policy page"
## Summary

Create a privacy policy page with the same content as https://nodejs.org/en/about/privacy/

[2021-05-06 18:41] parthlaw commented on #1292
I want to do this one...

[2021-05-06 18:42] poorvi-vaish commented on #1294
I'd like to work on this issue.

[2021-05-06 19:10] benhalverson commented on #1292
go ahead 👍🏻

[2021-05-06 19:11] benhalverson commented on #1293
its also all yours 👍🏻

[2021-05-06 19:11] benhalverson commented on #1294
it's all yours 👍🏻

[2021-05-06 20:19] joesepi commented on #1163
Hey @MylesBorins - we discussed this in the last meeting and I'm happy to take this on but would need to be made admin. Thanks! 🙌

[2021-05-07 03:37] manishprivet opened #1295 "bug: opening navigation menu scrolls whole page"
## Description

When opening the navigation menu on mobile screens on `/learn` pages, the whole page gets scrolled due to animation, instead of just the navigation part.

### Steps to reproduce

Go to https://nodejs.dev/learn/where-does-npm-install-the-packages and then open and close the navigation menu,

### Expected result

Upon closing the navigation menu, you should be able to continue from w

[2021-05-07 17:40] #1288 closed

[2021-05-09 09:21] lidoravitan commented on #1285
@benhalverson thanks for your response i'd like to work on the new footer's links.
is there any open issue for that?

[2021-05-09 09:22] lidoravitan commented on #1285
@benhalverson thanks for your response i'd like to work on the new footer's links.
is there any open issue for that?

[2021-05-09 09:22] #1285 closed

[2021-05-10 12:05] mhdawson opened #1305 "Node.js Website Redesign Strategic Initiative Meeting 2021-05-12"
## Time

**UTC Wed 12-May-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 12-May-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 12-May-2021 12:00 (12:00 PM) |
| US / Central  | Wed 12-May-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 12-May-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 12-May-2021 19:00 (07:00 PM) |

[2021-05-10 20:05] joesepi commented on #1163
Hey friends. I have the power now. I will make this change soon -- perhaps at the next meeting on Wednesday. Thanks!

[2021-05-12 18:09] benhalverson commented on #1193
let's go with the hamburger menu.

[2021-05-12 18:40] #1291 closed

[2021-05-13 02:52] yuesong-feng opened #1321 "Chinese Localization"
## Summary

Provide Chinese version of node.dev, especially **_Learn_**.

### Motivation

Node.js is incredibly popular in China.
It's necessary to translate the tutorial in node.dev to help more people understand basics and usages of node.
If there is the plan, I'd like to contribute to the translation as a native Chinese speaker.

[2021-05-13 11:50] parthlaw commented on #1292
Added tests and removed linting issues..

[2021-05-15 11:27] lancemccluskey commented on #1193
@manishprivet Are you actively working on this? If not id like to work on it

[2021-05-15 11:30] lancemccluskey opened #1322 "Remove Download nav button from mobile"
## Summary
I want to get thoughts on removing the Download nav button for mobile. It doesn't really make sense for it to be there and is just taking up previous real estate.

As you can see, its making the nav bar too long, and if we removed it maybe we wouldnt even need a hamburger menu on mobile. See the below screenshot for what I mean.

<img width="354" alt="Screen Shot 2021-05-15 at 6 32 58 A

[2021-05-15 11:37] lancemccluskey opened #1323 "Node playground page"
## Summary

I was thinking itd be really cool to have a "Playground" item in the navbar that takes you to a Nodejs playground page.

### Basic example

I got the idea from [xstate](https://xstate.js.org/). There you can select "visualizer" and play around with their API. This would be similar to that. It could just be a terminal so devs could play around with Node in the browser instead of having

[2021-05-15 11:38] lancemccluskey commented on #1193
Linking #1322 for visibility.

[2021-05-15 12:01] manishprivet commented on #1193
@lancemccluskey I'm actually working this 😅

[2021-05-16 11:22] lancemccluskey opened #1327 "Add brew install method to MacOSPanel"
## Summary

Add `brew install nvm` to MacOS panel on the homepage in addition to the curl command. Or just remove the curl command altogether and only have brew.

### Basic example

<img width="897" alt="Screen Shot 2021-05-16 at 6 21 48 AM" src="https://user-images.githubusercontent.com/40124399/118395272-0041a980-b60f-11eb-8097-a7dfce86c47a.png">

### Motivation

Most devs I know use `brew` as t

[2021-05-17 14:57] mhdawson opened #1333 "Node.js Website Redesign Strategic Initiative Meeting 2021-05-19"
## Time

**UTC Wed 19-May-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 19-May-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 19-May-2021 12:00 (12:00 PM) |
| US / Central  | Wed 19-May-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 19-May-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 19-May-2021 19:00 (07:00 PM) |

[2021-05-17 17:54] benhalverson commented on #1322
I like this idea 👍🏻 since we are already hiding the install text on the homepage for mobile.

[2021-05-17 18:03] benhalverson commented on #1323
This already exists on a few pages in the learn section. https://nodejs.dev/learn the intro uses glitch as a learning playground with node's default hello world http server code.
Also
[command line using node ](https://nodejs.dev/learn/output-to-the-command-line-using-nodejs)
[Promises](https://nodejs.dev/learn/understanding-javascript-promises)

[2021-05-17 18:04] lancemccluskey commented on #1322
Sweet ill create a PR for it

[2021-05-17 18:20] #1323 closed

[2021-05-18 14:26] meehawk commented on #1176
@benhalverson I am new here looking to make my first contribution to node.js. This seems like a good start for me. Can you point me to the right direction. I'd love to work on this

[2021-05-19 02:16] #1322 closed

[2021-05-19 07:34] #1295 closed

[2021-05-19 19:21] benhalverson commented on #1193
We were talking about this issue today in the website redesign meeting. We agreed that a design that looks more like should be implemented.
https://excalidraw.com/#json=4916647710162944,cT5qOWo5Y5KeoM0V2bBAZQ
![MobileView](https://user-images.githubusercontent.com/7907232/118870463-6f333280-b89b-11eb-84b5-99c0e1cb755b.png)

Is this how you did the quick sketch @obensource

[2021-05-19 19:26] benhalverson opened #1338 "Downloads: Remove Node.js 13 from tabbed view"
## Summary
Node.js 13 is EOL so we should remove it from the upcoming release tabbed view.
http://nodejs.dev/download

![Downloads](https://user-images.githubusercontent.com/7907232/118872353-53309080-b89d-11eb-84f0-1bbf12f8e0f5.png)

[2021-05-19 19:50] benhalverson opened #1339 "Download: Update release table to source data from nodejs/releases"
## Summary
Currently we have a static array of objects that needs to be manually updated for when new releases happen.
https://github.com/nodejs/nodejs.dev/blob/2f4964fcd670a44baece6eb5a4b2c689c35f7e03/src/hooks/useReleaseHistory.tsx#L43-L91

We should instead use https://github.com/nodejs/Release/blob/main/schedule.json as the source of truth for this table. A similar but different array of JSON

[2021-05-19 20:20] obensource commented on #1193
@benhalverson you got it! 👍

The nav links should probably use a `space-between` with flexbox (so they create a 'nav border' at the top, if you will 😄), otherwise it might end up looking like a bunch of floating links if they're centered or whatever. Anyways, thanks a million for your work @benhalverson! 😎

[2021-05-19 23:14] benhalverson opened #1340 "Working Groups page"
## Summary
Create the working groups page using the same content [here](https://github.com/nodejs/nodejs.org/edit/master/locale/en/about/working-groups.md)

See https://github.com/nodejs/nodejs.dev/pull/1319 as an example

[2021-05-19 23:17] benhalverson opened #1341 "Resources page"
## Summary
Create a new /resources page with the same content as [here](https://github.com/nodejs/nodejs.org/edit/master/locale/en/about/resources.md)

See #1319 for an example.

[2021-05-20 00:09] benhalverson commented on #1327
any thoughts? @nodejs/nodejs-dev

[2021-05-20 01:45] manishprivet commented on #1339
I can try this

[2021-05-20 01:50] manishprivet commented on #1193
If we're sure that no more links will be added to navigation in near future, then I'll implement this instead of hamburger 😅

[2021-05-20 02:14] benhalverson opened #1343 "collaborator nomination for @manishprivet"
I'd like to nominate @manishprivet to join as a member of the nodejs.dev website redesign team.
He's been one of the more active contributors recently.
See https://github.com/nodejs/nodejs.dev/pulls?q=+author%3Amanishprivet+

cc:
@nodejs/nodejs-dev

[2021-05-20 02:20] lancemccluskey commented on #1341
Dibs!!!!!

[2021-05-20 04:36] sejaljain123 commented on #1341
I'd like to do this!

[2021-05-20 04:46] sejaljain123 commented on #1340
I'd like to do this !

[2021-05-20 09:07] RhnSharma commented on #1338
I would like to take this one.

[2021-05-20 11:40] rodion-arr commented on #1327
I don't like how it looks after the change. Now it looks like additional command required before doing the `curl`.

Maybe it should have a note that user needs to do option 1 or option 2.

[2021-05-20 11:42] lancemccluskey commented on #1327
yeah that was my suggestion. Thats just an example I made real fast. I was thinking it would be better to remove the curl altogether, or add an OR on the left or something.

[2021-05-20 19:48] lancemccluskey commented on #1341
@MrJithil Can you please comment earlier next time before grabbing a ticket? I had started working on this already before you commented. Had I known you were working on it I wouldn't have started.

[2021-05-20 19:59] #1293 closed

[2021-05-20 20:13] benhalverson commented on #1327
Installing brew first is just replacing one curl command with another.

So a developer would have to do the following

`/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"`
`brew install nvm`
`nvm install node --lts`

vs

`curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash`
`nvm install node --lts`

[2021-05-20 20:30] MylesBorins commented on #1327
/cc @ljharb the maintainer of nvm... I don't believe using homebrew to install nvm is the recommended way of installing it

[2021-05-20 20:32] ljharb commented on #1327
Absolutely it is not; nvm should never be installed via homebrew, and the formula is supposed to explicitly say that nvm is *not supported* when installed via homebrew.

This should be closed.

[2021-05-20 20:32] MrJithil commented on #1341
I'm really sorry. I commented on it but maybe late. Definitely, will speed up things next time.

[2021-05-20 20:40] lancemccluskey commented on #1341
No worries!

[2021-05-20 20:41] lancemccluskey commented on #1327
I had no idea nvm shouldn't be installed with brew. Why is that?

[2021-05-20 20:47] lancemccluskey commented on #1327
You're right it says it's not supported. Still over 50k downloads in the last 30 days. Maybe brew could add a disclaimer telling users not to use it

[2021-05-20 21:05] ljharb commented on #1327
That disclaimer should already be there. If there's a better place for it, please PR it in, and tag me.

Here's a couple reasons:
1. i don't distribute it there, and installing any software from an unofficial distribution channel is risky and increases a maintainer's support burden.
2. last i checked, when you upgrade nvm via brew, you lose your installed nodes, which is an unacceptably bad user e

[2021-05-20 21:10] lancemccluskey commented on #1327
Those are great points. Thanks for responding and explaining!

[2021-05-20 21:10] #1327 closed

[2021-05-21 15:32] joesepi opened #1348 "Remove v10 from downloads table"
v10 has past its EOL and should be removed from downloads table.

This table should be built and managed programmatically based on the dates from releases.json but perhaps that is a larger different issue?

[2021-05-21 16:56] benhalverson commented on #1348
I have another issue that talks about getting this data from the releases.json https://github.com/nodejs/nodejs.dev/issues/1339

[2021-05-21 21:31] benhalverson opened #1350 "Releases page"
## Summary
Create a /release page that has the same content as https://github.com/nodejs/nodejs.org/edit/master/locale/en/about/releases.md

The table data should load from https://github.com/nodejs/Release/blob/main/schedule.json

## Related issue
https://github.com/nodejs/nodejs.dev/issues/1339

[2021-05-21 21:33] #1338 closed

[2021-05-21 21:50] rodion-arr commented on #1350
I'd like to take this

[2021-05-23 13:17] rodion-arr commented on #1350
Hi @benhalverson, I assume this task not just related but it's _dependent_ on #1339 due to it needs same functionality of requesting `schedule.json` which does not exist yet.
@manishprivet would you like me to create new hook for returning release data in scope of current task or you've already started doing it from your side?

[2021-05-23 13:30] manishprivet commented on #1350
@rodion-arr Actually I was thinking to not use a hook for fetching data, but to fetch it in the `gatsby-node.js` itself, and then pass it into pages as a query data. This way we'll have a completely static page, and every time the JSON changes, we'll have to rebuild the site. As of now, I was looking into the most optimal way to implement this.

Is it possible to wait for at most 2 days for this?

[2021-05-23 13:37] rodion-arr commented on #1350
@manishprivet Sure, I'll submit WIP PR for current task and will continue after this will be available

[2021-05-23 18:49] MrJithil opened #1354 "SideNav for about page items"
## Summary
A summary needs to be created to navigate between the pages of about -> (https://nodejs.org/en/about)[https://nodejs.org/en/about]

Needs suggestion on the design.

### Basic example

![image](https://user-images.githubusercontent.com/26359740/119272846-b6b41880-bc25-11eb-8fe4-5b7e95075031.png)

### Motivation
(https://nodejs.org/en/about)[https://nodejs.org/en/about]

[2021-05-23 18:50] MrJithil commented on #1354
Working on it.

[2021-05-24 06:36] benhalverson commented on #1354
@MrJithil the sidebar should look like this sidebar nodejs.dev/community but with the titles from your screenshot.

[code]

[2021-05-24 06:38] MrJithil commented on #1354
Will work on this.

[2021-05-24 12:05] mhdawson opened #1362 "Node.js Website Redesign Strategic Initiative Meeting 2021-05-26"
## Time

**UTC Wed 26-May-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 26-May-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 26-May-2021 12:00 (12:00 PM) |
| US / Central  | Wed 26-May-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 26-May-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 26-May-2021 19:00 (07:00 PM) |

[2021-05-26 17:53] obensource commented on #1362
The majority of people who usually attend this meeting have conflicts today and won't be able to make it, therefore we decided to cancel today's meeting (via a convo in the `#nodejs-website-redesign` in the OpenJSF slack).

👉 We'll see you on the issues this week, and look forward to next week's meeting! 🚀

[2021-05-26 17:55] obensource commented on #1362
I don't have maintainer privileges for this repo yet, or else I'd close this issue. @joesepi would you mind granting me that moving forward? Thanks a million all. 🍻

[2021-05-26 17:58] #1362 closed

[2021-05-26 18:05] obensource commented on #1362
Thanks for closing this @benhalverson. @bnb is maintainer privileges for this repo something that you can grant for me? 😄

[2021-05-27 14:50] mhdawson opened #1365 "Rename primary branch to main"
We are going through all of the node.js repositories to rename the primary branch to main. Please see nodejs/node#33864 for more context.

There are references to master in githbub workflows and a few other places, so we'll need the team to update those. Is there somebody on the nodejs.dev team that can do the branch rename or co-ordinate to make those changes after the rename?

[2021-05-27 15:15] rodion-arr commented on #1365
Duplicate of #1163

[2021-05-30 17:34] #1339 closed

[2021-05-31 01:54] manishprivet opened #1369 "Bug: Release Tabs overflowing on smaller screens"
## Description

The release tabs on the `download` page are overflowing due to too many simultaneous releases.

![image](https://user-images.githubusercontent.com/54291836/120129101-03c55b00-c1e1-11eb-8680-e67765ab01a1.png)

We need to add horizontal scrolling just like the one in the Download Table section.

### Steps to reproduce

Go to https://nodejs.dev/download on mobile

### Environment

- O

[2021-05-31 02:01] manishprivet opened #1370 "Fetch Release data during build time instead of Run Time"
## Summary

As of right now, the release date for the `download` page is getting fetched in the browser itself. However, we should utilize the static site generation power of Gatsby, and fetch this data during build time itself.

https://github.com/nodejs/nodejs.dev/blob/66fa9db8b620a526ff189b6c4c8b75c2b88220f3/src/hooks/useReleaseHistory.tsx#L39-L45

https://github.com/nodejs/nodejs.dev/blob/66fa

[2021-05-31 03:30] Harshit-1999 commented on #1369
I'd like to work on this issue.

[2021-05-31 06:00] chanbecky commented on #988
All of the pages under the **Learn** Section have "Edit this page on Github".
Should it be included in the **Download** page as well?  https://nodejs.dev/download

[2021-05-31 06:13] chanbecky commented on #1348
This seems to be good for closing. I double-check the **Download** page and v10 is no longer there.
https://nodejs.dev/download

[2021-05-31 06:18] chanbecky commented on #969
I would like to give this a try!

[2021-05-31 12:05] mhdawson opened #1377 "Node.js Website Redesign Strategic Initiative Meeting 2021-06-02"
## Time

**UTC Wed 02-Jun-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Jun-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 02-Jun-2021 12:00 (12:00 PM) |
| US / Central  | Wed 02-Jun-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 02-Jun-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 02-Jun-2021 19:00 (07:00 PM) |

[2021-05-31 13:30] #1348 closed

[2021-05-31 15:22] mhdawson commented on #1365
@rodion-arr thanks for catching that, will close this one.

[2021-05-31 15:22] #1365 closed

[2021-06-02 20:48] weltonsanches opened #1384 "Include jobs page"
It's possible to include one job page to centralize nodeJS Jobs around the world? Does it make sense for you?

[2021-06-02 23:51] Trott commented on #1384
Seems like it would be an invitation for spam and abuse. And since it's a static site, we don't have a way for people to enter content efficiently. It would have to be a pull request or something. While that's a solvable problem, this doesn't pass the smell test for me. I'd be disappointed to see us wade into this territory and kind of wish we'd do a lot less with the website rather than more.

[2021-06-03 04:35] manishprivet opened #1385 "Add winget commands in install tabs"
## Summary

Microsoft recently launched version 1.0 of its official package manager Winget, and we can install node by simply running `winget install node`.

We can also install `nvs` through `winget install nvs` if that's what we're preferring.

Should this be added into the install tabs on the homepage alongside choco?

[2021-06-03 09:15] rodion-arr commented on #988
@chanbecky I think no, there is no static `.md` file for this page. I assume we don't want propose users to modify react components.

[2021-06-03 16:33] benhalverson commented on #1385
@bnb Should we add this? Is it still in a preview state?

[2021-06-03 16:52] bnb commented on #1385
AFAIK they're pulling Node.js - we're not pushing it. For this site *right now*, we can include it but before this is prod nodejs.org we'd want to be publishing it with their [manifest creator](https://devblogs.microsoft.com/commandline/?p=6715).

[2021-06-03 16:57] richardlau commented on #1385
See also https://github.com/nodejs/node/issues/38877/ https://github.com/nodejs/node/pull/34014 / https://github.com/nodejs/admin/issues/535

[2021-06-03 16:59] richardlau commented on #1385
Do we? We don't, for example, push Node.js packages to any of the Linux distributions nor any other package manager (e.g. brew).

[2021-06-03 17:01] manishprivet commented on #1385
I think there are already manifests for almost every version of Nodejs in there under the OpenJS organization.

[2021-06-04 00:14] #1369 closed

[2021-06-04 06:31] chanbecky commented on #1294
Is this still available?

[2021-06-04 09:59] rodion-arr commented on #1294
@chanbecky PR for this issue is in progress and looks like it is blocked by sidebar implementation from this issue #1354

[2021-06-06 15:46] #1384 closed

[2021-06-06 17:41] MrJithil commented on #1354
![image](https://user-images.githubusercontent.com/26359740/120934571-6a380500-c71c-11eb-8bb0-41492331d02c.png)

@benhalverson The mock UI will be as above. We can discuss further on the next WR

[2021-06-07 12:05] mhdawson opened #1396 "Node.js Website Redesign Strategic Initiative Meeting 2021-06-09"
## Time

**UTC Wed 09-Jun-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 09-Jun-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 09-Jun-2021 12:00 (12:00 PM) |
| US / Central  | Wed 09-Jun-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 09-Jun-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 09-Jun-2021 19:00 (07:00 PM) |

[2021-06-07 16:47] benhalverson commented on #1354
Can you open a PR

[2021-06-09 18:24] designMoreWeb opened #1405 "Update Contributing Guidelines"
As discussed in the website redesign meeting, we will be updating the guidelines for contributing and documenting the process for becoming a member

[2021-06-09 18:49] joesepi commented on #1163
`master` branch renamed to `main` complete! 🎉

Local folx do this:
[code]

See also:
![image](https://user-images.githubusercontent.com/143668/121411650-dc356780-c931-11eb-9013-3df57ae19b4e.png)

[2021-06-09 18:51] joesepi opened #1406 "Ensure there are no abandoned or broken links from nodejs.org => nodejs.dev"
This should be a guiding principle in all work being done here.

[2021-06-09 23:57] chanbecky commented on #1406
I'll give this a try!

[2021-06-10 16:07] joesepi commented on #1406
Great @chanbecky!! Thanks for looking at this.

[2021-06-10 16:22] chanbecky commented on #969
Does anything else need to be done for this or can it be closed? @marcustisater @benhalverson

[2021-06-10 16:26] benhalverson commented on #969
This can be closed 🎉

[2021-06-10 16:26] #969 closed

[2021-06-12 13:56] MrJithil opened #1423 "Add SideNav bar to all pages listed in About"
## Summary
The `SideNav` needed for the merged pages of `About`

### Pages Required SideNavBar
- ~~About~~#1447
- ~~Governance~~
- ~~Community~~
- ~~Working Groups~~
- ~~Releases~~
- ~~Resources~~ #1437~~
- ~~Trademark~~ #1399~~
- ~~Privacy Policy #1437~~

### Basic example
#1399
An example of the SideBar integration could be found in this PR. The code will be something similar as below:
`<AboutPa

[2021-06-14 15:03] mhdawson opened #1436 "Node.js Website Redesign Strategic Initiative Meeting 2021-06-16"
## Time

**UTC Wed 16-Jun-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Jun-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 16-Jun-2021 12:00 (12:00 PM) |
| US / Central  | Wed 16-Jun-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 16-Jun-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 16-Jun-2021 19:00 (07:00 PM) |

[2021-06-15 15:39] MrJithil commented on #1354
Code changes merged.

[2021-06-15 15:39] #1354 closed

[2021-06-15 21:18] #1350 closed

[2021-06-16 05:53] MrJithil opened #1439 "Community page really needs under about sidenav items?"
## Description
As we migrating the NodeJs About page to NodeJs.dev, we are taking all the pages of about. Below are the pages:

- About
- Governance
- Community
- Working Groups
- Releases
- Resources
- Trademark
- Privacy Policy

Here, the community page already in the top menu items, and so do we really need that to be part of `About` and side navigations?

The community page has its own navigat

[2021-06-16 05:54] MrJithil commented on #1436
Along withe above items I would like to discuss this issue https://github.com/nodejs/nodejs.dev/issues/1439

[2021-06-16 07:37] benhalverson commented on #1176
Hey @meehawk I'm sorry I just noticed this message.
I don't think this issue is relevant anymore because each internal page has it's own graphql query.
if you can think of a better way to do this
https://github.com/nodejs/nodejs.dev/blob/main/gatsby-node.js#L18-L32 I'm all for it

An example page query looks like this.
https://github.com/nodejs/nodejs.dev/blob/main/src/pages/privacy.tsx#L32-L46

[2021-06-16 09:30] benhalverson opened #1442 "AboutPageSideNavBar: Warning: Each child in a list should have a unique "key" prop."
## Description
This component is not including a unique key prop.

### Steps to reproduce

browse to localhost:8000/trademark

### Expected result
No errors or warnings in the dev console.

### Actual result
[code]

[2021-06-16 14:12] RhnSharma commented on #1442
I would like to take this one.

[2021-06-16 15:04] manishprivet commented on #1442
Another similar error is in the `BlogCard` component. You can reproduce it by running npm run test. Can this be a part of this issue? @benhalverson

[code]

[2021-06-16 15:27] benhalverson commented on #1442
Ya same issue but from the blog card component @manishprivet

[2021-06-16 18:19] #1405 closed

[2021-06-16 18:20] #1439 closed

[2021-06-16 21:12] joesepi commented on #1343
No objections. Next step is to PR @manishprivet into the README as a part of the team. Thanks!

[2021-06-16 21:12] #1343 closed

[2021-06-16 21:14] joesepi commented on #1321
Thanks so much for volunteering to help with this effort. We are starting to go down the path of making the site be able to support localisation, just like the current site.

[2021-06-17 00:25] #729 closed

[2021-06-17 00:34] benhalverson commented on #1341
closed via #1427

[2021-06-17 00:34] #1341 closed

[2021-06-17 00:35] benhalverson commented on #1294
closed via #1428

[2021-06-17 00:35] #1294 closed

[2021-06-17 15:23] #1442 closed

[2021-06-18 05:21] manishprivet opened #1446 "Bug: About page sidebar nav"
## Description

Right now there are some bugs/incomplete pages that need to be fixed in the about section.

- [ ] Clicking on `About` redirects to the homepage, while it should redirect to `/about`
- [ ] Sidebar nav has a variable width. To reproduce, switch between `Community` and `Project Governance` on https://nodejs.dev/governance.
- [ ] Height of the sidebar is currently limited to viewport h

[2021-06-18 07:15] kunaljain0212 commented on #1446
I would like to work on this issue @manishprivet could you please assign this to me.

[2021-06-18 07:46] #1340 closed

[2021-06-18 12:19] #1193 closed

[2021-06-19 08:54] MrJithil commented on #1423
All the pages has been complted

[2021-06-19 12:03] MrJithil opened #1449 "SideNav Width issues on mobile devices"
## Description
In mobile devices, the SideNav bar is not utilizing full width. The evidence could be found below:
![image](https://user-images.githubusercontent.com/26359740/122641647-4d400080-d124-11eb-8e9f-95d7cbdf7e18.png)

### Steps to reproduce
* visit https://nodejs.dev/about/ and click on Hamburger Menu

### Expected result
The width should be 100% (or the same as the https://nodejs.dev/lea

[2021-06-19 12:04] MrJithil commented on #1449
#1448

[2021-06-19 12:07] MrJithil opened #1450 "Top nav `Community` link change"
## Summary
Top nav `Community` link should rename to `About`, and has to navigate the user to https://nodejs.dev/about/

### Basic example

### Motivation
The nodejs.dev community page is ready, and it should okay to accept the requests.

[2021-06-19 12:54] lancemccluskey commented on #1423
Has this issue been completed or can I work on it?

[2021-06-19 12:58] lancemccluskey commented on #1370
@manishprivet @benhalverson Is someone already working on this? If not can you assign to me?

[2021-06-19 17:41] #1292 closed

[2021-06-19 18:31] MrJithil commented on #1423
It's completed.

[2021-06-19 18:32] MrJithil commented on #1423
Since the sidebar is added in all pages or the PR is already opened. Closing this issue.

[2021-06-19 18:32] #1423 closed

[2021-06-19 18:33] MrJithil commented on #1450
/wr-agenda

[2021-06-20 04:14] benhalverson commented on #1450
The about page already has a link in the footer. I dont think we should change community to about.
We can change the link for community to /community now . I do agree it's ready.

[2021-06-20 04:28] benhalverson opened #1451 "Homepage logos"
## Summary
Should we still add logos to the homepage?
We did get approval as far as I can tell from the issues and they area all part of the OpenJS Foundation.

https://github.com/nodejs/nodejs.dev/issues/818 Express.js
https://github.com/nodejs/nodejs.dev/issues/819 Electron
https://github.com/nodejs/nodejs.dev/issues/820 Eslint

[2021-06-20 05:47] dhwaj1902 opened #1452 "Making nodejs.dev team name bold in readme.md"
## Description
Currently, nodejs.dev core team names are not bold while other team's names are bold in the readme.md.

[2021-06-20 11:17] rodion-arr opened #1453 "Impossible to close menu in Learn section on mobile"
## Description

Close button is hidden by top menu

![image](https://user-images.githubusercontent.com/5843270/122671979-e37e3000-d1d1-11eb-9f62-537cc08c6c36.jpeg)

### Steps to reproduce

- Go to https://nodejs.dev/learn on mobile
- Open sidebar menu
- Observe menu close button

### Expected result

Close button is visible

### Actual result

Close button is hidden under top menu

### Environment

[2021-06-20 20:39] #1446 closed

[2021-06-21 12:05] mhdawson opened #1466 "Node.js Website Redesign Strategic Initiative Meeting 2021-06-23"
## Time

**UTC Wed 23-Jun-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 23-Jun-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 23-Jun-2021 12:00 (12:00 PM) |
| US / Central  | Wed 23-Jun-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 23-Jun-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 23-Jun-2021 19:00 (07:00 PM) |

[2021-06-22 03:20] #1453 closed

[2021-06-22 04:31] manishprivet opened #1468 "Feat: Move to SCSS modules in site"
## Summary

Right now we're using normal scss files and class names for styling across the page. But it's starting to show it's side-effects as unrelated/unimported class names/styles are affecting certain pages.

One example can be found here: https://github.com/nodejs/nodejs.dev/pull/1448#issuecomment-865507441

Should we move to use SCSS modules instead? According to Gatsby, it might even give

[2021-06-23 11:12] lancemccluskey commented on #1370
I should be done by eow on this. Posting update here for visibility.

[2021-06-23 18:23] MrJithil opened #1474 "About SideNav Panel should float."
## Summary
SideNav present of the about page should float. So that a user can switch the menu without always navigating to the top.

### Basic example

![image](https://user-images.githubusercontent.com/26359740/123152844-a55b6780-d482-11eb-8f99-46ea59ada2e3.png)

[2021-06-23 19:00] manishprivet opened #1475 "Feat: Make Mobile navigation bar sticky"
## Summary

Right now the hamburger menu on `/learn` and about pages disappears when scrolling down on mobile. We need to make it sticky so that it's accessible from anywhere on the page.

We basically need to mimic the behavior of this page on mobile: https://staging.nodejs.dev/1282/learn

[2021-06-23 19:09] MrJithil commented on #1475
Working on it.

[2021-06-24 08:08] #1452 closed

[2021-06-25 17:37] #1450 closed

[2021-06-25 17:37] #1176 closed

[2021-06-25 23:45] mikeesto commented on #1449
I think this can now be closed thanks to https://github.com/nodejs/nodejs.dev/pull/1448

[2021-06-26 01:27] #1449 closed

[2021-06-26 11:13] lancemccluskey commented on #1474
Can I work on this? @MrJithil

[2021-06-26 11:13] MrJithil commented on #1474
Sure. Please feel free to take this issue.

[2021-06-26 11:31] TanmayBanerjee-23rd opened #1480 "Ambiguous: Docs says fs.open() returns a file descriptor as well as requires a file descriptor at the end."
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [x] Confusing
- [ ] Not Sure?

## Please Explain in Detail
The content in the URL "https://nodejs.dev/learn/working-with-file-descriptors-in-nodejs" says fs.open() method is used to return  a file descriptor which is true. But at the end of the document a paragraph reads as :

"**Once you get the file descriptor, in whatever way you choose

[2021-06-27 03:50] manishprivet opened #1483 "Bug: Fix padding in mobile navigation on learn page"
## Description

Chrome Android contains an address bar on top which changes the viewport height when showed/hidden. This is resulting in the unexpected hiding of some navigation links on `/learn` page.

![4bdd1d326066707a27642d447d5e16da82a95179](https://user-images.githubusercontent.com/54291836/123532131-29824900-d728-11eb-92b2-1addb5968749.gif)

### Steps to reproduce

Go to https://nodejs.dev/

[2021-06-27 06:35] kunaljain0212 commented on #1483
@manishprivet can I work on this issue?

[2021-06-28 05:57] tewarig opened #1485 "Have a custom scroll bar in the website"
## Summary
it would be good to have a custom scrollbar of green color on the site. as it will make the UI more perfect and while using dark mode. it will be more relaxing for the eyes.
![Screenshot from 2021-06-28 11-13-18](https://user-images.githubusercontent.com/54894783/123586748-d16c4500-d802-11eb-9c10-6eaf9e968479.png)
![Screenshot from 2021-06-28 11-16-30](https://user-images.githubusercont

[2021-06-28 05:58] tewarig commented on #1485
can i work on this issue and make a pr?

[2021-06-28 08:02] #354 closed

[2021-06-28 08:02] #336 closed

[2021-06-28 08:59] manishprivet commented on #1485
@tewarig We decided that we're not going to implement a completely custom scrollbar, but going to just flip the color scheme.

Closing this as it's a copy of #854

If you want to put some more reasons as in why it should be implemented, you can put it there I think

[2021-06-28 08:59] #1485 closed

[2021-06-29 01:50] mhdawson opened #1497 "Node.js Website Redesign Strategic Initiative Meeting 2021-06-30"
## Time

**UTC Wed 30-Jun-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 30-Jun-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 30-Jun-2021 12:00 (12:00 PM) |
| US / Central  | Wed 30-Jun-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 30-Jun-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 30-Jun-2021 19:00 (07:00 PM) |

[2021-06-29 17:20] #1370 closed

[2021-06-29 19:06] rodion-arr commented on #1474
@benhalverson looks like this issue can be closed

[2021-06-29 22:01] #1474 closed

[2021-06-30 03:20] #1253 closed

[2021-06-30 03:20] #1281 closed

[2021-06-30 03:20] #1305 closed

[2021-06-30 03:20] #1333 closed

[2021-06-30 03:20] #1377 closed

[2021-06-30 03:20] #1396 closed

[2021-06-30 03:20] #1436 closed

[2021-06-30 03:20] #1466 closed

[2021-06-30 06:21] benhalverson opened #1502 "Automate banner display on homepage"
## Summary
Figure out a way to automagically show or hide banner announcements on nodejs.dev when ever theirs an announcement on nodejs.org

For example right now we have a security update coming in July.

### Basic example
Currently a `<Banner />` component exists and someone needs to create a PR to manually display or remove the banner.
See #1501
### Motivation

Automate all the things!

[2021-06-30 07:55] mikeesto commented on #1502
GitHub Action that runs daily? Currently the banner seems to be added manually on nodejs.org. So we're either looking for the banner on the homepage, or looking at the source code: https://github.com/nodejs/nodejs.org/blob/6cb6fa096ee29b1d38157611b9955fd5f3584058/build.js#L282-L285

[2021-06-30 13:29] rodion-arr commented on #1502
Without structured data for banner like we have for releases for example, solutions will be smelly, IMHO
Neither parsing site's HTML nor parsing build JS file will be a stable feature

[2021-07-01 02:14] lancemccluskey commented on #1502
Who could we talk to about having structured data about it? Looking at what @mikeesto shared, it seems like its just hardcoded, so if it was moved to an env variable or something? I dont think we should throw in the towel on automating it just yet

[2021-07-01 03:41] benhalverson commented on #1502
@Trott @nschonni Any thoughts on how we can get some structured data from nodejs.org anytime a new announcement happens?

[2021-07-01 06:59] manishprivet commented on #1502
+1

Maybe we can have a yml/json file, maintaining the records of each announcement, with its start and end date/time.

[code]

[2021-07-01 12:23] Trott commented on #1502
Basically pulling the idea from the comments above, but something like this?

1. Move the `source` object in `build.js` (in the nodejs.org repo) to an external `.json` file that is read at build time time by `build.js`.
2. Set up a scheduled GitHub Action in nodejs.dev repo that queries the URL for that JSON file and adds/removes banner information if appropriate. (At a minimum, it could always ju

[2021-07-04 02:13] lancemccluskey commented on #1139
I could be wrong, but I'm pretty sure ALL promises start in a pending state. Here's a link to the docs that explains it https://nodejs.dev/learn/understanding-javascript-promises#how-promises-work-in-brief. I'm thinking this issue could be closed

[2021-07-04 10:24] shreyas44 commented on #1139
They do, but the function passed to the resolver seems to be run when the promise is instantiated. Now two things could happen when the promise is instantiated:
1. Resolve is called, which results in the promise moving to a `resolved state` and adding the function passed to `.then` to the microtask queue
2. Resolve is not called and is stored elsewhere to be called later, which means the promise r

[2021-07-04 11:52] lancemccluskey commented on #1139
Thats a pretty neat find! Learn something new everyday. I ran that bit of code locally with a debugger, and it looks like the resolve function isnt invoked immediately though. It seems like once the `resolve` function is hit, the function immediately returns.

https://user-images.githubusercontent.com/40124399/124383878-5be5f600-dc94-11eb-922b-7cd9df4ca880.mp4

[2021-07-04 14:51] shreyas44 commented on #1139
Nope, it does run and the function doesn't return when `resolve` is called, you can test it out by adding another `console.log` right after the `resolve`:
[code]

[2021-07-04 18:16] lancemccluskey commented on #1139
Thanks for explaining!

[2021-07-05 09:07] gospodnetic opened #1515 "_Authenticated user is not a valid user or group_ error message during installation"
I am installing latest Node.js to a Windows10 with German language pack.

Since the `Users` directory is named `Benutzer` in the German version, Node.js fails to proceed with the following message
![image](https://user-images.githubusercontent.com/15703361/124446372-a775ce00-dd80-11eb-8f23-cf96cfa84be0.png)

The system information are as follows:
[code]

It is possible to see related problems in o

[2021-07-05 10:34] lancemccluskey commented on #1451
@benhalverson Was there a decision made on this? If so can I take it?

[2021-07-05 12:05] mhdawson opened #1516 "Node.js Website Redesign Strategic Initiative Meeting 2021-07-07"
## Time

**UTC Wed 07-Jul-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Jul-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 07-Jul-2021 12:00 (12:00 PM) |
| US / Central  | Wed 07-Jul-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 07-Jul-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 07-Jul-2021 19:00 (07:00 PM) |

[2021-07-05 17:44] benhalverson commented on #1451
Not yet.

[2021-07-07 06:41] ameyamjoshi opened #1518 "Theme Toggle button not working properly"
## Description
As we see there comes a dotted border around the icon for the theme toggle button. When we try to change the theme from light mode to dark mode, clicking anywhere inside that dotted border changes the theme to dark, but when we try to change the dark mode to light mode we have to click on the icon only, clicking anywhere inside the border does not work.

### Steps to reproduce
Go to

[2021-07-07 18:33] joesepi opened #1519 "Review links nodejs.org => nodejs.dev"
Make sure all links on current site, nodejs.org, do not break in new site, nodejs.dev.

[2021-07-07 18:46] joesepi commented on #1519
Dupe of #1406

[2021-07-07 18:46] #1519 closed

[2021-07-07 20:29] ameyamjoshi commented on #1518
Can I work on this? @benhalverson @manishprivet

[2021-07-07 23:00] lancemccluskey commented on #1502
Can I take this? @benhalverson

[2021-07-07 23:19] benhalverson commented on #1502
Sure @lancemccluskey which part did you want to work on?

[2021-07-08 01:36] lancemccluskey commented on #1502
I dont mind doing all of it. It seems like the github actions depend on that first item, and if I do one action might as well do the other. Is that cool? @benhalverson

[2021-07-08 10:06] rajatmaheshwari2512 commented on #1518
Hi, can I work on this issue?

[2021-07-09 00:30] benhalverson opened #1533 "Update /learn/how-to-install-nodejs"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
From twitter https://twitter.com/nicknisi/status/1410416396476026890?s=21
Update the https://nodejs.dev/learn/how-to-install-nodejs

[2021-07-09 01:05] mikeesto commented on #1533
This may be a dumb question but what is the recommended way to install node using homebrew? I thought perhaps using `nvm` but their README says that "Homebrew installation is not supported".

[2021-07-09 01:25] benhalverson commented on #1533
For macOS the most common way is using nvm without brew. You can install nvm with the curl script `curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash` I'm not sure if this is the recommendation over using the installer.
cc: @nodejs/documentation

[2021-07-10 18:45] lancemccluskey commented on #1502
Ok part 1 is merged, ill start working on the GitHub Action for nodejs.dev and nodejs.org now.

[2021-07-10 19:02] Trott commented on #1502
Doesn't have to be part of this work necessarily, but it certainly could so an additional suggestion: It would be good I think to add an entry to the banner for expiration date/time so nobody has to remember to put in a pull request to remove old banners. (If it encourages/forcues us to standardize how long we leave a banner up for security releases, all the better!)

[2021-07-12 01:45] #1533 closed

[2021-07-12 12:05] mhdawson opened #1550 "Node.js Website Redesign Strategic Initiative Meeting 2021-07-14"
## Time

**UTC Wed 14-Jul-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Jul-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 14-Jul-2021 12:00 (12:00 PM) |
| US / Central  | Wed 14-Jul-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 14-Jul-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 14-Jul-2021 19:00 (07:00 PM) |

[2021-07-14 05:03] benhalverson opened #1553 "Package manager page"
## Summary
Create a new page for guidance on package managers

### Basic example
Copy pasta the markdown from [here](https://raw.githubusercontent.com/nodejs/nodejs.org/master/locale/en/download/package-manager.md)
The new link should be https://nodejs.dev/download/package-manager

[2021-07-14 05:22] benhalverson opened #1554 "Update storybook component"
## Description

The <ReleaseToggle /> storybook doensn't have the styles needed to display properly.
Maybe this should be the <DownloadToggle /> component instead?

### Steps to reproduce
Visit https://nodejs.dev/download and notice the toggle that allows you to select between LTS and Current
Visit https://nodejs.dev/storybook/?path=/story/releasetoggle--root for a comparison

### Expected result

[2021-07-14 05:53] manishprivet commented on #1553
We should also add a hyperlink to this page here: https://nodejs.dev/learn/how-to-install-nodejs

[2021-07-14 06:05] benhalverson opened #1555 "feat: i18n lang selector component"
## Summary
Create a language selector component to allow the user to change the language text on nodejs.dev
see https://nodejs.org language for supported languages (top right corner)

### Motivation
Needed for i18n

[2021-07-14 06:29] richardlau commented on #1553
FWIW most of that content of that markdown is translated into HTML in
https://github.com/nodejs/nodejs.dev/blob/714c8b684c2ae459158caebf4b2a94dc37b159b8/src/pages/docs.tsx#L151-L582

[2021-07-14 10:39] smochan commented on #1555
I would like to work on it.

[2021-07-14 10:42] ameyamjoshi commented on #1554
The storybook link is not working

[2021-07-14 11:51] ameyamjoshi opened #1556 "StoryBook not working"
## Description

Storybook has stopped working

### Steps to reproduce
Go to https://nodejs.dev/storybook/ ,we get a blank page

### Expected result

We should be able to see the storybook components page

### Actual result

 We are getting a Blank page.

### Environment

- Browser: Chrome

[2021-07-14 11:52] ameyamjoshi commented on #1556
I have fixed this locally by upgrading the version of react-dom as well and it is working, Shall I make a pr?

[2021-07-14 12:44] lancemccluskey commented on #1553
Can I take this?

[2021-07-14 18:02] joesepi commented on #1556
A PR would be great, @ameyamjoshi !!

[2021-07-15 03:58] benhalverson commented on #1553
I totally forgot about this page. If we reuse it, we should replace the sidebar with the community sidebar. Also from a i18n translation standpoint I'm not sure which is easier to parse/ translate. markdown text or text in html.

[2021-07-15 04:03] benhalverson opened #1561 "Add @lancemccluskey to the team"
I'd like to nominate @lancemccluskey to join the website redesign team.
He's been very active in code review and contributions recently.

https://github.com/nodejs/nodejs.dev/pulls?q=is%3Apr+author%3A%22lancemccluskey%22

[2021-07-15 05:49] manishprivet commented on #1553
I think we should go for an all markdown approach here

[2021-07-15 14:55] #1518 closed

[2021-07-16 10:51] lancemccluskey commented on #1553
Nodejs.org also has a link to https://nodejs.org/en/download/package-manager at the bottom of https://nodejs.org/en/download/

See here:
<img width="609" alt="Screen Shot 2021-07-16 at 5 50 37 AM" src="https://user-images.githubusercontent.com/40124399/125936835-f3afc725-b46e-468d-8a27-58902b712782.png">

Should I add a link at the bottom of https://nodejs.dev/download ? @manishprivet @benhalverso

[2021-07-16 10:54] lancemccluskey commented on #1553
When you say community sidebar you mean the sidebar used on the community page? The `AboutPageSideNavBar` component? @benhalverson

[2021-07-16 11:02] manishprivet commented on #1553
I don't think that we need to worry about that for now. All those links in the screen shot belong together, and we need to find a place for them, in a separate issue/PR.

[2021-07-16 11:50] lancemccluskey commented on #1502
@benhalverson I this issue is completed now. Nodejs.org is now doing the same thing as nodejs.dev by using the start and end date so neither should need an automated gh action for now.

[2021-07-16 15:22] benhalverson commented on #1502
Closed via #1538

[2021-07-16 15:22] #1502 closed

[2021-07-16 21:37] benhalverson commented on #1553
If we go with this approach we make it harder to include the current feature of clicking the copy icon to copy the text to clipboard. The component is called <ShellBox />. We might want to switch to .mdx file for this page so it supports React components in markdown like we have on sites/benchmarks.

[2021-07-16 21:39] benhalverson commented on #1553
I'm not sure if we need to build all of these pages.

[2021-07-16 21:43] manishprivet commented on #1553
The copy button is for the code blocks, right?

If yes, then we could implement this in the article renderer itself. That'll add the copy button for every code snippet. I've seen it being implemented at many places.

[2021-07-17 11:28] lancemccluskey commented on #1553
Great idea @manishprivet ! That plugin works amazingly. Just need to fiddle with the styling and we should be good to go.

[2021-07-17 19:31] #1269 closed

[2021-07-17 19:34] manishprivet opened #1567 "Feat: Copy Button on code snippets in markdown render"
## Summary

We could add a copy button in code snippets in all the pages generated by markdown, either by using a plugin, or a custom component.

### Basic example

Live example can be seen on github.com itself. All code snippets in markdowns are present with a copy to clipboard button. Maybe it would be cool if we had that in our site too.

### Motivation

https://github.com/nodejs/nodejs.dev/iss

[2021-07-17 20:14] #1556 closed

[2021-07-18 04:41] manishprivet opened #1568 "CI: Cleanup Preview Builds workflow not working as expected"
## Description

Since Gatsby is a static site generator, we're not using any server to host the site or the preview builds. Instead, we're simply uploading the build output on a Google Cloud Bucket and are using its static site hosting feature to host the site.

Right now we have a Github Action that cleans up the staging/preview deploys on the Google Cloud Bucket after a PR is merged/closed.

###

[2021-07-18 04:53] manishprivet commented on #1568
The original action was apparently deprecated 8 months ago

https://github.com/google-github-actions/setup-gcloud/blob/master/setup-gcloud/README.md

![image](https://user-images.githubusercontent.com/54291836/126056166-d0cb8e03-4b77-46bf-ad8b-4490bf0016ba.png)

[2021-07-18 06:59] manishprivet opened #1571 "Bug: Keypress issues in theme button toggle"
## Description

The functionality to toggle theme by keypresses was added in #1150.

However, currently, this is only working when the site is in the `light` theme.

### Steps to reproduce

Go to https://nodejs.dev

Navigate to the Theme Toggle button by using the Tab key.

Press the spacebar/enter key two times.

### Expected result

The site should first change to dark theme, and then again chan

[2021-07-18 12:57] lancemccluskey commented on #1571
I can grab this @manishprivet I did the original theme impl so I think I know the issue

[2021-07-18 12:59] manishprivet commented on #1571
Sure, go ahead 👍🏼

[2021-07-18 19:27] lancemccluskey opened #1573 "Add `@testing-library/user-event`"
## Summary

From the man himself, [Kent C Dodds](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#not-using-testing-libraryuser-event). I vote we replace all of our uses of `fireEvent` with `userEvent`.

Thoughts?

I'll create an associated draft PR later

[2021-07-19 12:36] RomainLanz commented on #818
Hey! 👋

I am firmly against this change.

The Node.js team (& Cie) should stop promoting this library.
It causes more harm than goods in the current Node.js ecosystem.

This framework ** is not maintained** for several years and does not understand modern JavaScript. Therefore, using it today puts your application at risk of memory leaks and/or crashes.

I believe some people from the Node.js core

[2021-07-19 12:43] RomainLanz opened #1584 "Change the content of code examples"
Hey there! 👋

Before making any PR, I would like to have a roundtable of the proposed changes.

Most of the code examples present inside the documentation are using ExpressJS.

1. This framework should not be promoted nor presented [in my opinion](https://github.com/nodejs/nodejs.dev/issues/818#issuecomment-882512316) on the website.
2. The goal of this website is to teach how to do things in `Nod

[2021-07-19 12:53] lancemccluskey commented on #818
@RomainLanz I agree. Im more of a [`fastify`](https://www.fastify.io/) fan myself. Maybe we could put that logo?

[2021-07-19 13:58] MylesBorins commented on #1568
I'l dig into this later today to see what's going on

[2021-07-20 00:23] mhdawson opened #1588 "Node.js Website Redesign Strategic Initiative Meeting 2021-07-21"
## Time

**UTC Wed 21-Jul-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Jul-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 21-Jul-2021 12:00 (12:00 PM) |
| US / Central  | Wed 21-Jul-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 21-Jul-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 21-Jul-2021 19:00 (07:00 PM) |

[2021-07-20 06:50] #1571 closed

[2021-07-20 10:31] VAggrippino opened #1592 "Error in npx Learn page"
## Description
The _Learn_ page entitled "The npx Node.js Package Runner" states the following:

I _think_ this is found in this document: https://github.com/nodejs/nodejs.dev/blob/main/src/documentation/0028-npx/index.md

As far as I can tell, this isn't accurate. The [documentation](https://www.npmjs.com/package/npx) says that it installs the command prior to execution:

While experimenting on m

[2021-07-20 10:48] VAggrippino commented on #1592
Also relevant, farther down in the page it says:

This is also inaccurate. Although it's apparently due to a bug, the downloaded code stays in the cache indefinitely.

That's a bit out of context, but I don't think the context changes the meaning at all. Here's the source: https://www.npmjs.com/package/clear-npx-cache

[2021-07-20 12:52] lancemccluskey commented on #1553
@benhalverson @manishprivet Any thoughts on the associated PR?

[2021-07-20 21:17] lancemccluskey commented on #1592
I might be doing it wrong, but shouldnt the `find` command find `cowsay` if it was still installed in the `.npm/_npx` folder?

<img width="327" alt="Screen Shot 2021-07-20 at 4 16 46 PM" src="https://user-images.githubusercontent.com/40124399/126396546-28c90e62-d270-4a4f-b464-d04bc0d0949a.png">

[2021-07-21 00:05] VAggrippino commented on #1592
@lancemccluskey I can't explain your experience unless you had cowsay installed locally in `~/Projects` in a `node_modules` directory. That wouldn't show up with the `which` command because it wouldn't be in your path.

It said "installed 41 in 13.813s", so it seems to have installed it, but I'm sure it didn't take over 13 seconds to get your cow. That line confuses me, too.

I can tell you that t

[2021-07-21 02:19] lancemccluskey commented on #1592
I must have it installed somewhere else then lol. What you're saying makes sense. Why don't you create a PR rewording it and we can look it over

[2021-07-21 06:48] VAggrippino commented on #1592
That's my first attempt at contributing to an open source project. I'm not delicate, though. Don't hesitate to be brutal in pointing out anything I did wrong 😅

[2021-07-21 10:59] lancemccluskey opened #1610 "Node.js with WebAssembly"
## Summary

I noticed we dont have any sections for using WebAssembly with Node.js. I was thinking of adding a page to the `/learn/` section on it. It would include sections on running "vanilla" `WebAssembly` and WA using WASI and wasmtime.  Thoughts?

### Motivation

`WebAssembly` has been enabled in V8 since v5.7 and usable in Node since LTS 8. I think this is the perfect time to include it in t

[2021-07-21 18:04] mhdawson commented on #1588
Is this on today?

[2021-07-21 18:23] rodion-arr commented on #1584
I found only 2 mentions of express in entire Learn section:
- https://nodejs.dev/learn/how-to-exit-from-a-nodejs-program
- https://nodejs.dev/learn/get-http-request-body-data-using-nodejs

Not sure that those 2 pages are contributing much in Express popularity and

From my side - the end user is much more likely familiar with Express than other Node.js frameworks.
What will be the benefit of updat

[2021-07-21 18:48] lancemccluskey commented on #1584
Instead of promoting any Node.js frameworks, we should show examples using the core libs. Like replacing examples using `express` to examples using `http`. What do yall think

[2021-07-21 21:30] rodion-arr commented on #1584
+1 from my side to replace with core libs

[2021-07-21 23:52] mikeesto commented on #1592
Grats on your first PR :) If the requested package is not present locally then it's definitely installed to the npm cache. I have no idea either when/whether the cache is cleaned. The latest docs for npx seem to be here: https://docs.npmjs.com/cli/v7/commands/npx

[2021-07-22 00:28] VAggrippino commented on #1592
Thank you!

`npx` puts its cache in a subdirectory of the npm cache named `_npx`. I think I found where that's defined [here](https://github.com/nodejs/node/blob/65234bbce024dec9d5490b17137abe381a979a28/deps/npm/lib/utils/config/definitions.js#L325).

This distinction is significant because that subdirectory is not cleared when I run `npx cache clean --force`. I mentioned this in the PR descriptio

[2021-07-22 02:10] #1553 closed

[2021-07-22 12:54] lancemccluskey commented on #1610
Ok cool ill go ahead and get started on this then

[2021-07-22 12:55] lancemccluskey commented on #1584
Did you want to work on this? @RomainLanz If not I can pick it up

[2021-07-22 14:18] RomainLanz commented on #1584
Yes! I would be more than happy to provide few PRs to improve the current documentation.

[2021-07-23 04:07] #1573 closed

[2021-07-23 16:26] #1568 closed

[2021-07-23 16:44] MylesBorins commented on #1568
first PR didn't fix this, but the second one should :D

https://github.com/nodejs/nodejs.dev/pull/1630

[2021-07-23 16:45] lancemccluskey commented on #1592
@MylesBorins Can this be closed now?

[2021-07-23 16:48] MylesBorins commented on #1568
Fixed 🎉

<img width="621" alt="Screen Shot 2021-07-23 at 12 47 54 PM" src="https://user-images.githubusercontent.com/498775/126815045-5bfc3ca3-5f4c-471a-8155-1ed62d83ec26.png">

https://github.com/nodejs/nodejs.dev/runs/3145568788?check_suite_focus=true

[2021-07-23 17:05] #1592 closed

[2021-07-24 18:04] lancemccluskey commented on #1610
@benhalverson @manishprivet I tried to keep the examples and overall point of the page specific to Node.js. I cant think of anything else to add but I welcome any changes yall can think of.

If anything, we can change it later on as the community thinks of things.

[2021-07-24 18:08] benhalverson commented on #1610
I think it looks good I’ve never used this feature so I don’t know of any additional examples.

[2021-07-25 12:04] lancemccluskey commented on #1610
@benhalverson I think this can be closed now. Thanks!

[2021-07-25 12:08] lancemccluskey commented on #1048
@benhalverson can I work on this? I like @marcustisater  idea to create a `/guides` directory to hold markdown files containing best practices. Maybe it could even be hosted on the site at some point

[2021-07-25 12:20] #1610 closed

[2021-07-26 02:28] benhalverson opened #1649 "Refactor / Rewrite gatsby-node.js"
## Description

This file is starting to get big... Maybe we should break it up into smaller modules so it's more easily expandable.

[2021-07-26 10:04] lancemccluskey commented on #1649
Working on it!

[2021-07-26 12:06] mhdawson opened #1660 "Node.js Website Redesign Strategic Initiative Meeting 2021-07-28"
## Time

**UTC Wed 28-Jul-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Jul-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 28-Jul-2021 12:00 (12:00 PM) |
| US / Central  | Wed 28-Jul-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 28-Jul-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 28-Jul-2021 19:00 (07:00 PM) |

[2021-07-28 10:05] lancemccluskey commented on #1649
Waiting on #1650 to be merged before completing

[2021-07-28 10:41] lancemccluskey opened #1663 "Working Groups TOC"
## Description

The TOC is generated automagically for our md pages, but `working-groups` has it hard coded at the top.

### Steps to reproduce

Navigate to https://nodejs.dev/working-groups

### Expected result

A table of contents dropdown should be at the top of the page

### Actual result

We have the TOC as a bulleted list right below the title.

[2021-07-28 10:42] lancemccluskey commented on #1663
Its a quick fix so ill do it myself right now

[2021-07-28 14:30] lancemccluskey opened #1665 "TOC Links bug"
## Description

When clicking a table of contents link on desktop you are taken below the clicked title. See video below.

### Steps to reproduce

https://user-images.githubusercontent.com/40124399/127340405-a8f857c4-1977-4185-bf7b-47a67bc01ab5.mp4

## TODO

Im thinking its because of our sticky header nav. Im not sure what we can do to fix it.

[2021-07-29 05:12] benhalverson commented on #1663
closed via #1664

[2021-07-29 05:12] #1663 closed

[2021-07-29 06:35] #1561 closed

[2021-07-29 07:18] manishprivet opened #1670 "Feat: Move from cloud storage hosting to a hosting provider"
## Summary

Currently, nodejs.dev and staging.nodejs.dev are deployed on a google cloud storage bucket, where they're served in a static manner. However, as we progress more and more towards replacing the original nodejs.org website, one important requirement is that old links on nodejs.org shouldn't break.

(See #1406)

In Gatsby, this can be achieved by using the `createRedirect` function in the

[2021-07-29 07:46] MRslimcoder commented on #1561
@benhalverson can you please invite me also.

[2021-07-29 10:29] lancemccluskey commented on #1670
It kinds seems like netlify is our only option.

I looked at the vercel link you shared, and one of the requirements is "The project should be static rather than server-rendered.". From what I understand, we would have the same issue as we have now.

I spent some time searching for info on Gatsby cloud, but I couldnt find anything indicating support for open source projects other than their free p

[2021-07-29 14:39] joesepi commented on #1670
I'm curious if there are any other things we should be aware of in considering this sort of move. /cc @MylesBorins

[2021-07-29 15:00] sulco opened #1672 "Add interactive StackBlitz examples to the Learn section"
## Summary

This is a proposition of improvement to the "Learn" pages by using more interactive examples, running in StackBlitz.

### Motivation

Quick background: I'm an engineer at StackBlitz and we've recently made it possible to run Node.js directly in the browser.

TL;DR for what that means specifically for this use-case:
- familiar editor UI a lot of people already know from Visual Studio Co

[2021-07-29 15:22] nschonni commented on #1670
1. Is the goal actually to move all traffic from `.org` to `.dev` or just the learn/developer content?
2. There should be a no robot for the staging subdomain, as nothing should be indexing that content
3. `.org` already has config to do redirects for older/other domains in https://github.com/nodejs/build/tree/master/ansible/www-standalone

[2021-07-29 15:36] manishprivet commented on #1670
@lancemccluskey In Vercel, redirects are configured through the vercel.json file (see [here](https://vercel.com/docs/configuration#project/redirects)), which most probably is not related to server less functions/ssr pages.

[2021-07-29 22:09] MylesBorins commented on #1670
One thing worth mentioning, the production site is currently on firebase hosting not static on GCS. It is configured via https://github.com/nodejs/nodejs.dev/blob/main/.firebaserc and deployed via [cloud build](https://github.com/nodejs/nodejs.dev/blob/main/cloudbuild-deploy.yaml). I have also configured Cloudflare as a CDN in front of both (for production and staging)... so cloudflare edge worker

[2021-07-29 23:54] benhalverson commented on #1672
You had me at a dark mode option. <3

[2021-07-30 00:46] lancemccluskey commented on #1672
I love stackblitz! Use it all the time at work

[2021-07-30 00:51] lancemccluskey commented on #1670
@MylesBorins That sounds similar to how we do it at my work and its a doozy. We have a few repos using Vercel, and its crazy easy to setup. Previews are automatic on PRs and the whole integration is pretty seamless. If Netlify is anything like Vercel I think the ease of maintenance makes it a defacto winner

[2021-07-30 05:39] manishprivet commented on #1670
@MylesBorins I don't know how I missed that. We already have firebase.json in the repo

We can simply use that to configure redirects.

https://firebase.google.com/docs/hosting/full-config#firebase-json_example

Again, it will work for production only, but no changes or overhead should be needed now

[2021-07-30 05:43] manishprivet commented on #1670
We can simply write a script during build time to take the redirects from `util-node/redirects.js` and write it into `firebase.json`

However, I think this `firebase.json` from ignore array will be removed

https://github.com/nodejs/nodejs.dev/blob/f5d0b31a8b9f7819f21468fd2e6c33b9e7c36367/firebase.json#L5-L8

[2021-07-30 05:50] manishprivet commented on #1672
This seems cool 🤩

I think a more advanced use case of this could be adding a playground in the site using stackblitz.

Sort of like https://www.typescriptlang.org/play

[2021-07-30 05:53] manishprivet commented on #1672
However, it seems like this tech is still in its beta

![image](https://user-images.githubusercontent.com/54291836/127607156-5843bbbc-cf46-4c20-a76e-1b91d93d5b3c.png)

@sulco

[2021-07-30 15:42] sulco commented on #1672
Wow, thanks for all the kind words, everyone!

The playground is a great idea, @manishprivet! We could also use it to link to specific examples from within the rest of the page so people can play with them in a comfortable almost-full-page UI :)

Regarding the costs concern: since it runs in the browser, we have almost no compute costs to cover, so in that sense it's the same as our previous front

[2021-07-30 18:27] manishprivet commented on #1672
Thanks for the clarification @sulco

It would be great if you could create a PR with the implementation that you showed in the screenrecord. I think we can keep the playground as a backlog for now.

[2021-07-30 20:21] sulco commented on #1672
Definitely, on it!

[2021-07-30 21:03] #1554 closed

[2021-07-31 03:42] #1497 closed

[2021-07-31 03:42] #1516 closed

[2021-07-31 03:42] #1550 closed

[2021-07-31 03:42] #1588 closed

[2021-07-31 03:42] #1660 closed

[2021-07-31 18:47] lancemccluskey commented on #1048
So I created the `guides` directory, and im thinking it could be hosted on the site kinda like `learn` pages. What do yall think?

[2021-08-01 10:13] MRslimcoder commented on #1048
@joesepi I want to jointhis organization can you please guide me.

[2021-08-01 11:52] rodion-arr commented on #1048
Hi @MRslimcoder, you can find the policy by this link - https://github.com/nodejs/nodejs.dev/blob/main/CONTRIBUTING.md#collaboration-policy

[2021-08-02 12:03] rodion-arr commented on #1475
Hi all, this issue is available for dev, you can check previous attempt by this link - https://github.com/nodejs/nodejs.dev/pull/1476

[2021-08-02 12:10] mhdawson opened #1685 "Node.js Website Redesign Strategic Initiative Meeting 2021-08-04"
## Time

**UTC Wed 04-Aug-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 04-Aug-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 04-Aug-2021 12:00 (12:00 PM) |
| US / Central  | Wed 04-Aug-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 04-Aug-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 04-Aug-2021 19:00 (07:00 PM) |

[2021-08-04 01:54] lancemccluskey commented on #1567
@manishprivet Can this be closed now?

[2021-08-04 01:55] lancemccluskey commented on #1139
@shreyas44 Are you planning on creating a PR for this?

[2021-08-04 01:57] #1567 closed

[2021-08-04 02:09] lancemccluskey commented on #1483
@kunaljain0212 hows it going on this?

[2021-08-04 02:14] lancemccluskey commented on #844
@benhalverson Can this be closed now?

[2021-08-04 02:16] lancemccluskey commented on #777
@nschonni Could we close this now? Seems like were not gonna move forward with it

[2021-08-04 02:52] #777 closed

[2021-08-04 17:07] #844 closed

[2021-08-04 19:01] MrJithil commented on #1555
@smochan Can I take this task if you are busy?

[2021-08-05 01:25] #1649 closed

[2021-08-05 01:45] lancemccluskey commented on #1284
@joesepi Given that the associated PR was closed, and after reading the comments it feels like this issue could be closed?

[2021-08-05 01:50] lancemccluskey commented on #804
@MylesBorins Can this be closed now? I think were using `main` now

[2021-08-05 01:50] #804 closed

[2021-08-05 05:23] #1284 closed

[2021-08-05 09:43] manishprivet opened #1689 "feat: postbuild script to add redirects in firebase.json"
## Summary

As discussed in #1670, we need to add firebase server-level redirects to the nodejs.dev website.

For that, we need to add a post-build script that takes values from `util-node/redirects.js` and adds it to the `firebase.json` file in the build folder.

See https://github.com/nodejs/nodejs.dev/issues/1670#issuecomment-889642484
https://firebase.google.com/docs/hosting/full-config#fireba

[2021-08-05 09:50] palakjain21 commented on #1689
If it's okay with you, I would like to work on this.

[2021-08-05 10:14] lancemccluskey commented on #985
@benhalverson Is this still something we want done? If so I can work on it.

[2021-08-05 10:24] lancemccluskey commented on #883
@benhalverson Is this still something we need to do? If so Id like to try it out.

[2021-08-05 15:14] smochan commented on #1555
No, I have already completed it. I just have to change its css a bit and I will make a PR till tomorrow.

[2021-08-05 19:49] MrJithil commented on #1555
Okay. Thanks for the update.

CC: @benhalverson

[2021-08-05 20:11] richardlau opened #1691 "Hexagons on the download page are confusing"
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [x] Confusing
- [ ] Not Sure?

## Please Explain in Detail

On https://nodejs.dev/download/ there is an "Upcoming Releases" section that contains four hexagons, e.g. for 16.x:
![image](https://user-images.githubusercontent.com/5445507/128412999-25b28b1b-ea36-4857-bc22-ed7fbd1de0c6.png)

I feel that these are confusing. "Current", "LTS", "M

[2021-08-06 01:12] lancemccluskey commented on #1139
@benhalverson @manishprivet What do yall think of this? I get that the docs might currently be "incorrect", but the change seems a little overly pedantic. Im not opposed to changing it though

[2021-08-06 02:43] benhalverson commented on #1139
I think it should be fixed. Thanks for reporting this @shreyas44

[2021-08-06 05:19] benhalverson commented on #883
Ya if you want to work on this go for it. For the API key in production we should ask @joesepi or @brianwarner on how to get one from the OpenJS foundation.
For local development I would use your own API key and lock it down in GCP
You can see how I did it here. https://github.com/nodejs/nodejs.dev/pull/1165

[2021-08-06 05:43] benhalverson commented on #985
I think it needs to be implemented. We should figure out what the text should be. The design is in the readme.
<img width="551" alt="Screen Shot 2021-08-05 at 10 38 30 PM" src="https://user-images.githubusercontent.com/7907232/128461657-949f0f54-b0e5-4987-b3af-133b49df3a59.png">

<img width="1233" alt="Screen Shot 2021-08-05 at 10 41 27 PM" src="https://user-images.githubusercontent.com/7907232/12

[2021-08-06 05:48] benhalverson commented on #985
@obensource @joesepi any thoughts on what should be included here?
This is the figma for the homepage. https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=22%3A6086

[2021-08-06 08:15] shreyas44 commented on #1139
@lancemccluskey sorry for the 5 month delay, but finally created the PR

[2021-08-06 14:32] brianwarner commented on #883
Sounds good, I've found it in the GCP account. Let me know when you need the API key.

[2021-08-08 16:00] lancemccluskey commented on #1691
Thats fair, ill upload a PR later today or tomorrow morning. Thanks for pointing it out!

[2021-08-09 04:05] #1139 closed

[2021-08-09 12:06] mhdawson opened #1712 "Node.js Website Redesign Strategic Initiative Meeting 2021-08-11"
## Time

**UTC Wed 11-Aug-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 11-Aug-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 11-Aug-2021 12:00 (12:00 PM) |
| US / Central  | Wed 11-Aug-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 11-Aug-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 11-Aug-2021 19:00 (07:00 PM) |

[2021-08-10 15:07] #1665 closed

[2021-08-10 19:52] benhalverson commented on #1712
Since we don't have anything on the agenda, should we do a working session?
If so what should we focus on? 🤔
I think it would be cool / fun to do a vscode live share session assuming everyone is using vscode as their editor.

[2021-08-11 08:12] #1691 closed

[2021-08-11 11:30] lancemccluskey commented on #1712
Anyone else using GitHub copilot? I just got the invite last night and have been playing around with it this morning. I could show that off? Its pretty neato

[2021-08-13 07:00] benhalverson opened #1715 "Broken download links for latest node v16.6.2"
## Description
Reported on twitter here.
https://twitter.com/utopiah/status/1425850836329041927
It appears that we haven't deployed in a few days but a new release exists for Node.js v16.6.2 is the latest and that is what is in the latest directory here. https://nodejs.org/download/release/latest-v16.x/

A quick fix would be a manual deployment to update the links without any code changes.

### St

[2021-08-14 16:16] MylesBorins commented on #1715
@benhalverson I think the best possible thing to do here might be to make this make dynamic rather than static. As it is right now we would need a cron job to kick off a new build at some cadence or something to push when a new release comes out to kick off a build... in either case this seems pretty wasteful tbh.

We could either dynamically look at https://nodejs.org/download/release/index.tab /

[2021-08-16 12:05] mhdawson opened #1740 "Node.js Website Redesign Strategic Initiative Meeting 2021-08-18"
## Time

**UTC Wed 18-Aug-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 18-Aug-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 18-Aug-2021 12:00 (12:00 PM) |
| US / Central  | Wed 18-Aug-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 18-Aug-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 18-Aug-2021 19:00 (07:00 PM) |

[2021-08-18 12:59] lucasavila00 opened #1742 "Readable Stream docs are confusing"
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [x] Confusing
- [ ] Not Sure?

## Please Explain in Detail

On the docs of Streams, specifically the Readable stream:

https://nodejs.dev/learn/nodejs-streams#different-types-of-streams

https://github.com/nodejs/nodejs.dev/blob/main/src/documentation/0052-nodejs-streams/index.md#different-types-of-streams

There is this snippet:

[code]

[2021-08-18 23:39] benhalverson commented on #1742
Thanks for the feedback @lucasavila00. You might find this Node school workshopper helpful.
 https://github.com/workshopper/stream-adventure

[2021-08-21 06:54] deadcoder0904 opened #1744 "Make `Copy` button `black` on dark mode as `white` is unreadable"
## Summary

`Copy` button on code-blocks has a **white** color on dark mode when it should be black to make it readable. Or change the background color on `Copy` button.

### Basic example

![copy-button](https://user-images.githubusercontent.com/16436270/130313438-a30298cc-fb6c-45d2-a8c9-6a651d66e78f.png)

### Motivation

Good on eyes 👀 🤣

[2021-08-21 06:58] deadcoder0904 commented on #1744
Need to add `color: var(--black9);` just above `background-color`:

https://github.com/nodejs/nodejs.dev/blob/1dc2a016c282ed1742ce20d3a2d1300567361b07/src/components/Codebox/Codebox.scss#L28

[2021-08-22 09:01] mikeesto commented on #1744
I find them hard to read as well, thank you for addressing. They are also used on the home page: https://nodejs.dev/

[2021-08-22 09:17] deadcoder0904 commented on #1744
I just saw it yesterday so opened up an issue. It's ready to merge #1745 :)

[2021-08-22 12:07] manishprivet commented on #1744
@deadcoder0904 @mikeesto It isn't showing white on my browser though, and looks completely fine here. I am on Chrome 92 on Ubuntu 20.04

![image](https://user-images.githubusercontent.com/54291836/130354446-65519de8-90b6-4241-a35c-390c0f6fad38.png)

[2021-08-22 13:13] deadcoder0904 commented on #1744
@manishprivet It doesn't work on mine though so I made the `background` a little darker using CSS variable `--brand9`.

I'm on Windows bdw.

But as you can see in the code, it doesn't have text `color` property so it might be using default settings in Chrome for Linux for you to see it black.

[2021-08-23 08:37] manishprivet opened #1750 "Bug: Footer Styles"
## Description

Styles of footer seem to be broken on the site
![image](https://user-images.githubusercontent.com/54291836/130416810-a1b80416-b95f-4496-b386-b09ed87074aa.png)

### Steps to reproduce

Go to nodejs.dev and scroll to bottom

### Expected result

Footer should look good with styles

### Actual result

It seems like no styling is being applied to the footer

### Environment

- OS Versi

[2021-08-23 09:50] MukulKolpe commented on #1750
Hey @manishprivet, can I work on this issue?

[2021-08-23 10:21] manishprivet commented on #1750
Sure @MukulKolpe 👍

[2021-08-23 11:38] rodion-arr commented on #1750
I've tracked this till this PR https://github.com/nodejs/nodejs.dev/pull/1716

[2021-08-23 12:06] mhdawson opened #1751 "Node.js Website Redesign Strategic Initiative Meeting 2021-08-25"
## Time

**UTC Wed 25-Aug-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 25-Aug-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 25-Aug-2021 12:00 (12:00 PM) |
| US / Central  | Wed 25-Aug-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 25-Aug-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 25-Aug-2021 19:00 (07:00 PM) |

[2021-08-24 06:13] benhalverson commented on #1750
🤦🏻‍♂️

[2021-08-24 08:28] MukulKolpe opened #1752 "Typo in the README"
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

In the [The Website Redesign Teams](https://github.com/MukulKolpe/nodejs.dev?organization=MukulKolpe&organization=MukulKolpe#the-website-redesign-teams) section in the readme file, 'Community' word is written twice and In the [Links](https://github.com/MukulKolpe/nodejs.dev?organi

[2021-08-24 10:03] lancemccluskey commented on #1672
@sulco Hows this coming along?

[2021-08-24 13:09] #1752 closed

[2021-08-24 18:53] #1744 closed

[2021-08-25 15:09] rodion-arr commented on #1740
@nodejs/nodejs-dev Can be closed?

[2021-08-25 15:19] rodion-arr commented on #1750
Maybe because of some browser cache was purged - I see now more styling issues on Prod:
![image](https://user-images.githubusercontent.com/5843270/130817804-45b5cd8e-c09c-46a0-9e82-f2f038b35d3b.png)

@MukulKolpe, are you working on footer now? Maybe you can check that place as well?

[2021-08-28 09:16] #1750 closed

[2021-08-29 18:37] #1672 closed

[2021-08-29 18:51] vishal-codes commented on #1475
Hello @rodion-arr, I can solve this issue. Please assign this issue to me, I'll start working on it immediately

[2021-08-29 20:15] vishal-codes commented on #1475
hey @rodion-arr  I am facing issues in running the website locally.  I have attached the screenshot of the same at the bottom.
I don't have any experience of working with Graph QL , can u please help me with moving forward

![Screenshot 2021-08-30 012921](https://user-images.githubusercontent.com/79784161/131263864-34c31fbe-d18d-40b5-b13e-3fbb15976674.jpg)

![1jpg](https://user-images.githubuserco

[2021-08-29 23:06] rodion-arr commented on #1475
@vishal-codes the website is running at http://localhost:3000

[2021-08-30 04:30] vishal-codes commented on #1475
but @rodion-arr according to readme.md the website will run on localhost:8000 , also checkout the message which I have received in my terminal.
![2](https://user-images.githubusercontent.com/79784161/131285365-ef52245f-e228-47dc-a6f6-0db46e09dd8d.jpg)

[2021-08-30 04:43] vishal-codes commented on #1475
This is error which I am facing when i try to run the site locally -

ERROR #85910

Open in Editor
C:/Users/visha/Desktop/nodejs.dev/src/templates/blog.tsx
Multiple "root" queries found: "BlogBySlug" and "BlogBySlug".
Only the first ("BlogBySlug") will be registered.

Instead of:

1 | query BlogBySlug {
2 |   mdx {
3 |     #...
4 |   }
5 | }
6 |
7 | query BlogBySlug {
8 |   mdx {
9 |     #...
10 |

[2021-08-30 07:45] rodion-arr commented on #1475
Sorry, my bad - site indeed is running on 8000 port locally 😬
But I could not reproduce the issue, did you do any changes to files already? Could you please check that you have only one `templates/blog.tsx` file?

[2021-08-30 12:06] mhdawson opened #1772 "Node.js Website Redesign Strategic Initiative Meeting 2021-09-01"
## Time

**UTC Wed 01-Sep-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 01-Sep-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 01-Sep-2021 12:00 (12:00 PM) |
| US / Central  | Wed 01-Sep-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 01-Sep-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 01-Sep-2021 19:00 (07:00 PM) |

[2021-08-30 13:09] #1751 closed

[2021-08-30 13:49] vishal-codes commented on #1475
No problem @rodion-arr happens :)
I checked, I only have one `templates/blog.tsx` file. I am facing 4 Unhandled GraphQL Errors for
`src/templates/learn.tsx`
`src/templates/blog.tsx`
`src/pages/blog.tsx`
`src/pages/index.tsx`

[2021-08-31 19:06] vishal-codes commented on #1475
@rodion-arr  and  @manishprivet  I have just created a <a href="https://github.com/nodejs/nodejs.dev/pull/1773"> pull request</a> which will fixi this issue :)

[2021-09-04 17:06] #1475 closed

[2021-09-06 10:54] Nils85 opened #1793 "Blank page everywhere with Safari 13"
## Description

The entire website is not visible with Safari version 13 (I don't know about Safari 14 though...).
All pages on https://nodejs.dev disappear almost instantly after loading, even the homepage:

<img width="1253" alt="Screen Shot 2021-09-06 at 12 38 46 PM" src="https://user-images.githubusercontent.com/11949055/132205947-05011161-b1d5-4851-955d-d6678e006a3d.png">

But it works fine w

[2021-09-06 11:46] rodion-arr commented on #1793
I could reproduce this issue via Browserstack. It is failing [here](https://github.com/nodejs/nodejs.dev/blob/main/src/hooks/useMediaQuery.tsx#L12).

It does not look like we've used unsupported in Safari 13 objects, will require investigation.

[2021-09-06 12:40] Nils85 commented on #1793
What about Safari 14? Is the website works as expected with this version?

[2021-09-06 16:08] rodion-arr commented on #1793
Yes, v14 is good

[2021-09-07 17:28] mhdawson opened #1794 "Node.js Website Redesign Strategic Initiative Meeting 2021-09-08"
## Time

**UTC Wed 08-Sep-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 08-Sep-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 08-Sep-2021 12:00 (12:00 PM) |
| US / Central  | Wed 08-Sep-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 08-Sep-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 08-Sep-2021 19:00 (07:00 PM) |

[2021-09-09 08:34] #1794 closed

[2021-09-09 23:02] jcollum opened #1849 "doc: nodejs.dev site says npx "allows you to run that npm command without installing it first" -- but that appears to no longer be true"
copy paste from https://stackoverflow.com/questions/69006097/does-npx-no-longer-do-install-less-run

From the [nodejs.dev site][1]:

They use this as an example:

    npx cowsay "Hello"

But when I run that:

    $ npx cowsay "Hello"

    Need to install the following packages:
      cowsay
    Ok to proceed? (y)

Huh? Is there some preference that I need to set now? **I'm used to `npx` running th

[2021-09-13 01:51] arun-kushwaha04 commented on #1483
@manishprivet I have fixed the issue and generated a PR .
![fix](https://user-images.githubusercontent.com/73020364/133012389-5bc0dbcd-ad5c-4910-9074-20f3847f6041.gif)

[2021-09-13 12:06] mhdawson opened #1820 "Node.js Website Redesign Strategic Initiative Meeting 2021-09-15"
## Time

**UTC Wed 15-Sep-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 15-Sep-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 15-Sep-2021 12:00 (12:00 PM) |
| US / Central  | Wed 15-Sep-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 15-Sep-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 15-Sep-2021 19:00 (07:00 PM) |

[2021-09-14 15:47] arun-kushwaha04 commented on #1052
@benhalverson I can work on issue.

[2021-09-14 15:49] arun-kushwaha04 commented on #1052
@benhalverson can I work on this issue.
I will try to find a fix for Screenshot2 and Screenshot3

[2021-09-15 03:47] ONLY-yours opened #1828 "http service code block should add some code"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

when i learn node http services in the website, it may missing some words

in this block :

https://nodejs.dev/learn/build-an-http-server

the code block:

[code]

but when i copy this in my environment, its give me the next log:
[code]

thats wrong, although this is may a small p

[2021-09-15 03:58] willin commented on #1828
[code]

just works. and i've make a pr.

thx

[2021-09-15 06:03] ONLY-yours commented on #1828
thats better!!

[2021-09-15 08:26] lmroil opened #1830 ""A brief history of Node.js" is outdated"
## Description

https://nodejs.dev/learn/a-brief-history-of-nodejs says:

I don't believe that since already 12 years have passed since [the creation of Node.js](https://en.wikipedia.org/wiki/Node.js).

### Expected result

The documentation [does not use relative time references](https://en.wikipedia.org/wiki/Wikipedia:Manual_of_Style/Words_to_watch#Relative_time_references), to avoid having to u

[2021-09-15 09:15] lmroil opened #1832 "Wrong version range for package-lock.json"
# Documentation Is

- [x] Incorrect

## Please Explain in Detail

https://nodejs.dev/learn/the-package-lock-json-file says:

The "up to" is misleading since it contradicts "get patch and minor releases".

## Your Proposal for Changes

[2021-09-15 09:23] #1483 closed

[2021-09-20 12:06] mhdawson opened #1848 "Node.js Website Redesign Strategic Initiative Meeting 2021-09-22"
## Time

**UTC Wed 22-Sep-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 22-Sep-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 22-Sep-2021 12:00 (12:00 PM) |
| US / Central  | Wed 22-Sep-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 22-Sep-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 22-Sep-2021 19:00 (07:00 PM) |

[2021-09-20 17:33] #1832 closed

[2021-09-21 01:24] #1052 closed

[2021-09-21 08:00] rodion-arr commented on #1849
Hi @jcollum, `npx` will download and save executables of package in its cache but this package will not be available as global command.

[code]

[code]

[2021-09-24 04:55] Rashad-j opened #1851 "NEXT button leads to page not found"
## Description
In the learning section -> Node.js with WebAssembly:  the 'NEXT' button at the end does not lead to anything. It is supposed to take you to the benchmarking, but the link land in a NOT FOUND PAGE

### Steps to reproduce

Either remove the 'NEXT' button or add a valid link to benchmarking documentation
### Expected result

Landing in benchmarking documentation
### Actual result

Land

[2021-09-24 22:37] mikeesto commented on #1851
Relevant page: https://nodejs.dev/learn/nodejs-with-webassembly

[2021-09-25 05:01] manishprivet commented on #1851
Thanks @Rashad-j for pointing it out.

Working on it

[2021-09-27 12:00] #1793 closed

[2021-09-27 12:05] mhdawson opened #1875 "Node.js Website Redesign Strategic Initiative Meeting 2021-09-29"
## Time

**UTC Wed 29-Sep-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 29-Sep-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 29-Sep-2021 12:00 (12:00 PM) |
| US / Central  | Wed 29-Sep-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 29-Sep-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 29-Sep-2021 19:00 (07:00 PM) |

[2021-09-30 10:53] rodion-arr commented on #1830
Closed by #1850

[2021-09-30 10:53] #1830 closed

[2021-10-03 20:35] manishprivet commented on #1715
I think this issue could be closed considering we're now fetching release data dynamically during build time.

See #1367

@benhalverson

[2021-10-03 20:37] manishprivet commented on #1689
@palakjain21 Are you working on this?

[2021-10-03 21:19] #1715 closed

[2021-10-04 12:06] mhdawson opened #1898 "Node.js Website Redesign Strategic Initiative Meeting 2021-10-06"
## Time

**UTC Wed 06-Oct-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 06-Oct-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 06-Oct-2021 12:00 (12:00 PM) |
| US / Central  | Wed 06-Oct-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 06-Oct-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 06-Oct-2021 19:00 (07:00 PM) |

[2021-10-05 18:34] TheNinza commented on #1689
Hey @manishprivet , I would like to work on this. Can you assign me this?

[2021-10-10 13:52] dephraiim commented on #1584
@lancemccluskey Any progress?

[2021-10-11 12:05] mhdawson opened #1922 "Node.js Website Redesign Strategic Initiative Meeting 2021-10-13"
## Time

**UTC Wed 13-Oct-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Oct-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 13-Oct-2021 12:00 (12:00 PM) |
| US / Central  | Wed 13-Oct-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 13-Oct-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 13-Oct-2021 19:00 (07:00 PM) |

[2021-10-11 17:27] benhalverson commented on #1151
Is this work done @manishprivet

[2021-10-11 17:32] #1451 closed

[2021-10-11 17:33] #819 closed

[2021-10-11 17:33] #820 closed

[2021-10-18 12:06] mhdawson opened #1942 "Node.js Website Redesign Strategic Initiative Meeting 2021-10-20"
## Time

**UTC Wed 20-Oct-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 20-Oct-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 20-Oct-2021 12:00 (12:00 PM) |
| US / Central  | Wed 20-Oct-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 20-Oct-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 20-Oct-2021 19:00 (07:00 PM) |

[2021-10-18 22:53] joshkel opened #1952 ""Learn" docs on setTimeout(foo, 0) vs. API's minimum delay 1"
# Documentation Is

- [ ] Missing/Needed
- [X] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

The Node.js Learn pages have several discussions about `setTimeout(foo, 0)`:

* https://nodejs.dev/learn/the-nodejs-event-loop
* https://nodejs.dev/learn/understanding-process-nexttick
* https://nodejs.dev/learn/understanding-setimmediate
* https://nodejs.dev/learn/discover-javasc

[2021-10-25 12:05] mhdawson opened #1972 "Node.js Website Redesign Strategic Initiative Meeting 2021-10-27"
## Time

**UTC Wed 27-Oct-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 27-Oct-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 27-Oct-2021 12:00 (12:00 PM) |
| US / Central  | Wed 27-Oct-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 27-Oct-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 27-Oct-2021 19:00 (07:00 PM) |

[2021-10-29 12:26] Jassi10000 opened #1975 "Request to add a github action"
## Summary

### Basic example

This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome contributors on their each issue and PR so as to make repository more interactive

If you love the id

[2021-10-29 15:43] ThePlenkov opened #1976 "NVS install doesn't work behind a corporate proxy"
Hi! I have noticed that you propose now to install node via nvs on the landing page.

Unfortunatelly this way doesn't for me in the corporate environment:

[code]

I'm sure all variables are properly maintained ( HTTP_PROXY, HTTPS_PROXY, NO_PROXY ) and not touched for years..

Of course there are plenty of ways to install node, but it's mostly about this page:
![image](https://user-images.githubus

[2021-10-29 23:50] benhalverson commented on #1975
🤔 Do you have an example of a repo that is already doing this?

I added hacktoberfest to a few issues already and nobody has asked about them or submitted any PR's 🤷🏻‍♂️
If you have done something like this before, you are welcome to submit a PR and I'll provide feedback. We don't assign issues.

[2021-10-30 00:01] benhalverson commented on #1976
It sounds like a config issue for the corporation.
Over on the nvs repo I found a similar issue. https://github.com/jasongin/nvs/issues/87

[2021-10-30 00:03] benhalverson commented on #1153
Yes but without /all.html at the end. The page already exists the design could be improved.

[2021-10-30 04:50] Jassi10000 commented on #1975
Sure !!
![pic](https://user-images.githubusercontent.com/64856348/139520609-7e63b185-3b1d-447f-8346-f85321b755de.png)

After anyone opens an issue or PR , the gh action will be shown like this

[2021-10-31 01:13] oshihirii opened #1978 "Are instructions on this page still correct? "Update all the Node.js dependencies to their latest version""
After a year long hiatus from a project, I am looking at updating my npm packages in a project.

To be honest, I've forgotten the work processes I used with this particular project and am going back to basics by searching "how to update all node packages"?

This search led me to this article:

https://nodejs.dev/learn/update-all-the-nodejs-dependencies-to-their-latest-version

I've run the suggest

[2021-10-31 08:16] Jassi10000 commented on #1975
@benhalverson Should I move forward with adding this  ?

[2021-11-01 12:06] mhdawson opened #1988 "Node.js Website Redesign Strategic Initiative Meeting 2021-11-03"
## Time

**UTC Wed 03-Nov-2021 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 03-Nov-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 03-Nov-2021 12:00 (12:00 PM) |
| US / Central  | Wed 03-Nov-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 03-Nov-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 03-Nov-2021 18:00 (06:00 PM) |

[2021-11-01 12:53] #1922 closed

[2021-11-01 12:53] #1942 closed

[2021-11-01 12:53] #1972 closed

[2021-11-03 14:37] mihaiolteanu opened #1994 "stackblitz examples show only blank image"
## Description

The stackblitz examples do not show any code.
There is only a blank image.

Here are two examples:

1. https://nodejs.dev/learn/output-to-the-command-line-using-nodejs,

![Screenshot from 2021-11-03 16-27-59](https://user-images.githubusercontent.com/8273519/140079485-02d19c6a-6959-403c-800f-82f844cc2ea9.png)

2. https://nodejs.dev/learn/introduction-to-nodejs
![Screenshot from 202

[2021-11-03 16:43] benhalverson commented on #1994
@sulco Can you help with this?

[2021-11-05 00:06] benhalverson commented on #1994
Do you have an console errors in chrome? @mihaiolteanu

[2021-11-05 00:18] benhalverson opened #1996 "Build is failing on the main branch"
## Description
I think something broke in my last PR merge. The build was green but the merge seemed to fail. I don't see the updated UI in the /learn page. It should have a text input now to allow searching.
https://github.com/nodejs/nodejs.dev/pull/1677

https://github.com/nodejs/nodejs.dev/runs/4100835449?check_suite_focus=true
[code]

When I tried locally on main both `npm ci` and `npm test` a

[2021-11-05 00:19] nschonni commented on #1994
Firefox on Windows loads, but there is a message around incompatible browsers, that I wonder if it's related to your issues
![image](https://user-images.githubusercontent.com/1297909/140437920-c2385682-3ac0-4d20-a30a-7fdf33925944.png)

[2021-11-05 01:39] nschonni commented on #1996
I think (one) of the issues is with `gatsby-plugin-local-search`, which requires a peer dependency of Gatsby 2, but the repo is now on Gatsby 3

[2021-11-05 03:06] benhalverson commented on #1996
I see that now. Is it possible to add `npm i --force` or `npm i --legacy-peer-deps` during the install step? When using either of those arguments it works ok for me. https://stackoverflow.com/questions/66239691/what-does-npm-install-legacy-peer-deps-do-exactly-when-is-it-recommended-wh

[2021-11-05 05:06] nschonni commented on #1996
`gatsby-plugin-dark-mode` also only supports React 16, so the upgrade of that is causing another "issue". Not really a functional thing, but all these appear to be making NPM unhappy

[2021-11-05 06:14] benhalverson commented on #1996
I started forking these deps updating them and linking locally.
After updating `gatsby-plugin-dark-mode` peerdeps to 17.x locally
Maybe we should downgrade react back to 16.x 🤔
The next error is
[code]

[2021-11-05 06:22] nschonni commented on #1996
I got it mostly happy by nuking the local modules + lockfile, and downgrading react + react dom to 16.14.0, then running `npm install` to create a new lockfile

[2021-11-05 06:45] mihaiolteanu commented on #1994
![Screenshot from 2021-11-05 08-44-27](https://user-images.githubusercontent.com/8273519/140469466-b091de70-39a9-4f1b-a225-5b8801581854.png)

[2021-11-05 07:20] benhalverson commented on #1996
I think this is the simplest fix for now.

[2021-11-05 14:42] nschonni commented on #1996
Cloud build is still failing, likely because of the long running `npm ci` time, but can't see the actual build log

[2021-11-05 14:59] nschonni commented on #1996
I'm thinking https://github.com/nodejs/nodejs.dev/pull/1677 needs to be rolled back till this can be resolved

[2021-11-05 23:25] nschonni commented on #1996
Re-opened https://github.com/nodejs/nodejs.dev/issues/413, but closing this one again, since the website is building again

[2021-11-05 23:25] #1996 closed

[2021-11-06 01:14] kettanaito commented on #1040
Hey, @marcustisater. I've noticed this issue hasn't received much attention for almost a year, so I wanted to help out. I've opened #2003, please take a look whenever you have time. Thanks!

[2021-11-06 01:41] mikeesto commented on #1994
@mihaiolteanu Could you please try opening the page in an incognito window (with no extensions)? `ERR_BLOCKED_BY_CLIENT` sometimes means that an extension is blocking it

Although I'm not sure if it's the cause: Chrome v83 is also over a year old now - the current version is 95

[2021-11-08 06:25] mihaiolteanu commented on #1994
Incognito mode below,

![Screenshot from 2021-11-08 08-22-39](https://user-images.githubusercontent.com/8273519/140693832-c371b104-9f32-42c3-a8b4-12eded1494c0.png)

[2021-11-08 06:46] mihaiolteanu commented on #1994
This is the best I can do for Debian regarding the updated to the latest version,
`Version 90.0.4430.212 (Developer Build) built on Debian 10.9, running on Debian 10.5 (64-bit)`
It does not 'solve' the above issue, though.

[2021-11-08 06:52] mihaiolteanu commented on #1994
I've tried the same examples in Chrome `Version 90.0.4430.93 (Official Build) (64-bit)`: they work there.

[2021-11-08 10:54] mihaiolteanu opened #2005 "List of contributors showing the same contributor twice"
## Description

At the end of [The Node.js Event Loop](https://nodejs.dev/learn/the-nodejs-event-loop) article, Flavio Copes appears twice in the list of contributors,

![Screenshot from 2021-11-08 12-48-24](https://user-images.githubusercontent.com/8273519/140729614-b26d370f-b70e-4a5d-bcca-1b1afab0cce3.png)

### Steps to reproduce

Check [The Node.js Event Loop](https://nodejs.dev/learn/the-nodej

[2021-11-08 11:55] mihaiolteanu opened #2006 "Page jumps to the first stackblitz example after it loads"
## Description

When opening a page containing a stackblitz example, even though we're at the top of the page initially, after the stackblitz example loads, the page jumps to the stackblitz example which gains the focus.

### Steps to reproduce

This happens on all the pages, but I will take just one example,

**1**. Go to [understanding JavaScript promises](https://nodejs.dev/learn/understanding-

[2021-11-08 13:06] mhdawson opened #2007 "Node.js Website Redesign Strategic Initiative Meeting 2021-11-10"
## Time

**UTC Wed 10-Nov-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 10-Nov-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 10-Nov-2021 12:00 (12:00 PM) |
| US / Central  | Wed 10-Nov-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 10-Nov-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 10-Nov-2021 19:00 (07:00 PM) |

[2021-11-08 18:41] #1040 closed

[2021-11-08 19:21] #2005 closed

[2021-11-09 03:44] mikeesto commented on #2006
Good point. I noticed this has been brought up on StackBlitz too: https://github.com/stackblitz/core/issues/1653

I found one way to solve this is to add `ctl=1` as a query parameter to the iframe's src URL. But this does mean the reader needs to make an additional click to run the project:

<img width="600" alt="Screen Shot 2021-11-09 at 1 39 12 pm" src="https://user-images.githubusercontent.com/

[2021-11-09 16:11] fvsch commented on #2006
Hi there, StackBlitzer here. This is definitely our bad. We have a fix underway that should correct that.

[2021-11-10 10:09] fvsch commented on #2006
Hi all, this should be fixed as of ~1 hour ago. :)

Please let us know at https://github.com/stackblitz/core if this issue creeps up again. We have a few code paths that do focus management and may call `element.focus()`, and we try to gate them behind logic that checks for “is this page in an iframe”, but sometimes we slip up and our tests don’t pick it up.

[2021-11-10 14:32] #2006 closed

[2021-11-10 18:28] kailash360 commented on #1952
Can I work on this issue?

[2021-11-12 09:33] #2007 closed

[2021-11-12 09:33] #1988 closed

[2021-11-13 04:37] #1976 closed

[2021-11-14 04:24] benhalverson opened #2031 "Keep the nvm link updated with the github repo"
## Summary
It would be great if we were able to keep the nvm version on the macOS panel and Linux Panel updated with the nvm.sh instructions
### Basic example
We are currently doing something similar for the node download links on the homepage and [download page data](https://github.com/nodejs/nodejs.dev/blob/94664c3a570e965f743773fe4e383526e5975604/util-node/getNodeReleasesData.js#L4).

### Motiv

[2021-11-14 06:01] benhalverson commented on #2031
https://api.github.com/repos/nvm-sh/nvm/tags has the info we need under then name property

[2021-11-14 20:17] ljharb commented on #2031
Perhaps a better alternative would be redirecting people to nvm’s readme, so there’s only one source of truth?

[2021-11-15 13:06] mhdawson opened #2037 "Node.js Website Redesign Strategic Initiative Meeting 2021-11-17"
## Time

**UTC Wed 17-Nov-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 17-Nov-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 17-Nov-2021 12:00 (12:00 PM) |
| US / Central  | Wed 17-Nov-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 17-Nov-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 17-Nov-2021 19:00 (07:00 PM) |

[2021-11-17 19:20] jcollum commented on #1849
@rodion-arr doesn't really answer my question regarding run things via npx without installing them. Did npx used to do some sort of temporary install?

[2021-11-17 20:43] rodion-arr commented on #1849
command not found: cowsay

By this I've tried to show that `cow say` command is not available globally after it was executed by npx. However `cowsay` executables were cached and will not be redownloaded again with next npx call.

[2021-11-17 22:16] jcollum commented on #1849
OK I'm going to start over:

The way npx used to work was that it would download an executable and run it with just `npx dothething`. Now it confirms the install. [The docs](https://nodejs.dev/learn/the-npx-nodejs-package-runner) don't mention that you need to confirm the install. Which tells me this is new behavior. If that's the case the docs need to be updated.

Is that clearer?

[2021-11-18 11:07] rodion-arr commented on #1849
So you are complaining about missing confirmation step in the docs? It looks like original post was about installing the command globally, which is not the case as I've tried to show you. If you feel that docs are missing something - you're more that welcome to submit a PR and it will be reviewed by the team.

[2021-11-22 13:05] mhdawson opened #2051 "Node.js Website Redesign Strategic Initiative Meeting 2021-11-24"
## Time

**UTC Wed 24-Nov-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-Nov-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 24-Nov-2021 12:00 (12:00 PM) |
| US / Central  | Wed 24-Nov-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 24-Nov-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 24-Nov-2021 19:00 (07:00 PM) |

[2021-11-23 01:31] SStranded commented on #1849
I think what @jcollum is trying to get at: does npx permanently install packages locally or just sort of temporarily download and run until the command is complete at which point it is removed from the system?

Maybe? I might be off too.

In the past I don't recall npx having the confirmation step about installing anything. But what npx is for is to execute a package without installing it first, m

[2021-11-24 21:32] jcollum commented on #1849
Yes, that's the gist of it, thanks for clarifying.

On Mon, Nov 22, 2021 at 5:31 PM Zach ***@***.***> wrote:

[2021-11-29 13:06] mhdawson opened #2068 "Node.js Website Redesign Strategic Initiative Meeting 2021-12-01"
## Time

**UTC Wed 01-Dec-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 01-Dec-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 01-Dec-2021 12:00 (12:00 PM) |
| US / Central  | Wed 01-Dec-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 01-Dec-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 01-Dec-2021 19:00 (07:00 PM) |

[2021-11-30 02:53] joshkel commented on #1952
@kailash360 , I'm not associated with the project, but based on [CONTRIBUTING.md](https://github.com/nodejs/nodejs.dev/blob/main/CONTRIBUTING.md), it sounds like a PR would be welcome.

[2021-12-01 18:08] junaid52 opened #2071 "node js event loop"
I am on nodejs event loop article and section is es6 job queue, I am facing difficulty to understand this section please help me understanding these lines ECMAScript 2015 introduced the concept of the Job Queue, which is used by Promises (also introduced in ES6/ES2015). It's a way to execute the result of an async function as soon as possible, rather than being put at the end of the call stack. I

[2021-12-05 18:42] SangeetAgarwal commented on #1849
@rodion-arr I had the same issue as @jcollum and opened a [stack overflow question ](https://stackoverflow.com/questions/70235145/npx-on-windows-10-with-nvm-causes-need-to-install-following-packages)

Just as @jcollum, I was completely befuddled as to why all of a sudden I was expected to download the package globally. The whole idea of having `npx` is that the consumer doesn't have to worry about

[2021-12-06 12:42] eugeneoei commented on #2071
hey @junaid52,

I am not 100% certain, but this is my interpretation and how I understand call stack, message queue and job queue in `nodejs` to be.

Essentially, there are 2 types of execution within `nodejs` (or should I say `js`?)- **synchronous** and **asynchronous**. Synchronous code goes into the call stack. Asynchronous code goes into the queue.

There are 2 types of queues - message queue

[2021-12-06 13:05] mhdawson opened #2091 "Node.js Website Redesign Strategic Initiative Meeting 2021-12-08"
## Time

**UTC Wed 08-Dec-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 08-Dec-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 08-Dec-2021 12:00 (12:00 PM) |
| US / Central  | Wed 08-Dec-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 08-Dec-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 08-Dec-2021 19:00 (07:00 PM) |

[2021-12-13 13:06] mhdawson opened #2114 "Node.js Website Redesign Strategic Initiative Meeting 2021-12-15"
## Time

**UTC Wed 15-Dec-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 15-Dec-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 15-Dec-2021 12:00 (12:00 PM) |
| US / Central  | Wed 15-Dec-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 15-Dec-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 15-Dec-2021 19:00 (07:00 PM) |

[2021-12-16 18:27] binyamin opened #2116 "Docs suggest no support for ES modules"
Some of the `/learn` docs assume that the user can only use CommonJS imports/exports. For example:

My understanding is that both platforms supports either format. Additionally, each platform uses CommonJS unless told otherwise. Is this an oversight?

[2021-12-16 19:57] rcowsill opened #2117 "Broken internal links in CONTRIBUTING.md"
## Description

CONTRIBUTING.md has some internal links which don't navigate to the intended section. It looks like the section headers were changed, but the links weren't updated to match.

### Steps to reproduce

1. Open CONTRIBUTING.md
2. In the "Get Started" section, click on the "Commit Guidelines" link

### Expected result

Address bar is updated with the link target and the view scrolls to

[2021-12-16 23:44] #2117 closed

[2021-12-17 15:24] rodion-arr commented on #2116
Hey, @binyamin, this text was created before ESM release which is quite fresh feature in Node.js.
If you would like to update this page with relevant info - PRs are welcome!

[2021-12-20 13:05] mhdawson opened #2130 "Node.js Website Redesign Strategic Initiative Meeting 2021-12-22"
## Time

**UTC Wed 22-Dec-2021 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 22-Dec-2021 11:00 (11:00 AM) |
| US / Mountain | Wed 22-Dec-2021 12:00 (12:00 PM) |
| US / Central  | Wed 22-Dec-2021 13:00 (01:00 PM) |
| US / Eastern  | Wed 22-Dec-2021 14:00 (02:00 PM) |
| EU / Western  | Wed 22-Dec-2021 19:00 (07:00 PM) |

[2021-12-21 12:47] nlukic97 opened #2133 "Documentation on "npm uninstall" flags is inaccurate and confusing"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [x] Confusing
- [ ] Not Sure?

## Please Explain in Detail

In the section of the documentation titled ["Uninstalling npm packages"](https://nodejs.dev/learn/uninstalling-npm-packages), specifically in the file [src/documentation/0025-npm-uninstall-packages/index.md](https://github.com/nodejs/nodejs.dev/blob/main/src/documentation/0025-npm

[2021-12-30 08:19] mwelwankuta opened #2143 "Mac Installer icon background not a perfect circle"
## Description

the mac install icon background on the download page, has a square bottom and right instead of circle.

### Steps to reproduce

navigate to the download route, and scroll unitl the download icons appear

### Expected result

the mac install icon background should be a perfect circle similary to the other 2 download button backgrounds

### Actual result

the mac install icon backgro

[2021-12-30 17:29] nschonni opened #2145 "Google Cloud Builds failing since December 7th"
## Description

It seems like the cloud build has been failing since https://github.com/nodejs/nodejs.dev/pull/2096 was merged. That only dropped support for Node 15, but the build looks like it should be running on 12 https://github.com/nodejs/nodejs.dev/blob/main/cloudbuild-deploy.yaml which is supported.

@MylesBorins I can't see the actual failure due to permissions, but I think you have acces

[2021-12-30 17:31] nschonni commented on #2145
Oh, I think this is likely from React not supporting node-sass 7 right now. Probably need to roll back that PR, but would be good to confirm what the error message is first

[2021-12-30 17:31] MylesBorins commented on #2145
@nschonni looking rn

[2021-12-30 17:39] MylesBorins commented on #2145
@nschonni I think it might be because build is running with node.js 12. Just confirming right now.

[2021-12-30 17:47] nschonni commented on #2145
I think local should be failing as well, but since Node 16 seems to be handling the peerDep issue, I opened https://github.com/nodejs/nodejs.dev/pull/2146

[2021-12-30 17:52] MylesBorins commented on #2145
Watching the console for the latest build and will confirm if switching to npm 8 / Node.js 16 fixed things.

[2021-12-30 17:56] nschonni commented on #2145
Thanks! Is it possible to expose the console as read-only or is locked down because it might spit out secrets?

[2021-12-30 17:59] MylesBorins commented on #2145
@nschonni cloud build does not support public log viewing. We could store logs somewhere else and make it in a publicly accessible bucket.

https://cloud.google.com/build/docs/securing-builds/store-manage-build-logs

Looks like it failed again, but this time during storybook build

https://gist.github.com/MylesBorins/cbe5e603b485598d6643f8fcdc3e3167

[2021-12-30 18:24] nschonni commented on #2145
yup, looks like that is borked, but not caught be CI for some reason

[2021-12-30 20:04] nschonni commented on #2145
Think I bashed it enough so it should pass again in https://github.com/nodejs/nodejs.dev/pull/2147 and added to the CI so it doesn't crap out again

[2021-12-30 21:21] MylesBorins commented on #2145
I've reviewed and landed, fingers crossed CI works now. Thanks for spending the time.

[2021-12-30 22:03] nschonni commented on #2145
lol, looks like something else wents sideways on the hook 😆

[2021-12-31 13:18] rodion-arr commented on #2145
It looks like generating a preview on major bumps does not guarantee it's working... Will double-check such PR locally next time

[2021-12-31 15:34] nschonni commented on #2145
It's OK, we just weren't testing the Storybook stuff in CI. It's affected because of Webpack, but the normal builds doesn't care

[2021-12-31 15:39] #2143 closed

[2022-01-01 19:56] shikhar13012001 commented on #2116
hey @rodion-arr  I would like to work on this issue if it is still open.

[2022-01-02 13:23] binyamin commented on #2116
@shikhar13012001 go ahead.

[2022-01-02 14:41] santimirandarp opened #2149 "Include how to install node types"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

Shouldn't there be some indication as to how to install Node Types for Typescript in this document?

https://github.com/nodejs/nodejs.dev/blob/main/src/documentation/0056-node-with-typescript/index.md

## Your Proposal for Changes

I would just add a section "Installing Node Types

[2022-01-03 13:05] mhdawson opened #2157 "Node.js Website Redesign Strategic Initiative Meeting 2022-01-05"
## Time

**UTC Wed 05-Jan-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 05-Jan-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 05-Jan-2022 12:00 (12:00 PM) |
| US / Central  | Wed 05-Jan-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 05-Jan-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 05-Jan-2022 19:00 (07:00 PM) |

[2022-01-04 09:34] wiedymi opened #2159 "Will it support other languages?"
Hello! I would like to translate it into Belarusian language, will you support translation any time soon?

[2022-01-04 17:15] nschonni commented on #2159
I'd probably suggest requesting a new locale in https://github.com/nodejs/i18n since I don't think there is any translator team right now.

[2022-01-06 02:01] #2037 closed

[2022-01-06 02:01] #2068 closed

[2022-01-06 02:01] #2091 closed

[2022-01-06 02:01] #2114 closed

[2022-01-06 02:01] #2130 closed

[2022-01-06 02:01] #2157 closed

[2022-01-06 02:01] nschonni commented on #2145
@MylesBorins reopening since it looks like it's still failing with the increased timeout

[2022-01-06 16:26] MylesBorins commented on #2145
oops

https://github.com/nodejs/nodejs.dev/pull/2163

[2022-01-06 17:06] nschonni commented on #2145
Looks like it succeeded!

[2022-01-06 17:06] #2145 closed

[2022-01-06 21:56] MylesBorins commented on #2145
WE DID IT yata 🎉

[2022-01-08 13:42] hh-lohmann opened #2166 "On nodejs.dev the January security link goes to "https://nodejs.org/en/https:/nodejs.org/(...)""
Not much to say, must be a typo in HREF, correctly running into a 404:

[code]

[2022-01-08 14:20] MrJithil commented on #2166
Could you please share the url of this issue?

[2022-01-08 14:20] MrJithil commented on #2166
![image](https://user-images.githubusercontent.com/26359740/148647672-f856f911-6bf5-465b-baee-eb48b0ddd004.png)

[2022-01-08 14:21] MrJithil commented on #2166
Working on it.

[2022-01-08 15:09] MrJithil commented on #2166
Pull request created

[2022-01-08 22:03] #2031 closed

[2022-01-09 02:42] benhalverson commented on #2166
Fixed in #2167

[2022-01-09 02:42] #2166 closed

[2022-01-09 05:32] MrJithil opened #2168 "Handle absolute and relative URLs in banner"
## Summary
Currently, we need to supply absolute URLs as banner links. Instead, the banner component should support `absolute` as well as `relative` URLs together.

### Basic example
* An absolute URL could be `https://foo.com/bar` which could be identified using the start `https://`. An even better approach is to create a util function to identify the param is URL or not.
* If the above condition

[2022-01-09 05:32] MrJithil commented on #2168
Working on it.

[2022-01-09 15:45] MrJithil opened #2170 "Installation title for windows should be `nvs`"
Currently, the installation guide for windows showing as "**Windows (Chocolatey)**" and other platforms shows "**macOS (nvm)**" and "**Linux (nvm)**".

The title should be changed to "Windows (nvs)" since `nvs` is showing as one of the recommended way to install node in windows.

## Your Proposal for Changes

`Windows (nvs)` to complain with other platform.

[2022-01-09 16:10] MrJithil opened #2172 "`/preview` not triggering the preview"
## Description
`/preview` comment should generate a preview of the mr

### Steps to reproduce
* Take any open pull request
* Comment `/preview`
* Observe that no preview is being generated even after a couple of hours.

### Expected result
A preview of the MR should be generated

### Actual result
Preview trigger not working

### Environment

- OS Version:
- Browser Version:

[2022-01-09 16:10] MrJithil commented on #2172
CC: @benhalverson

[2022-01-09 16:18] nschonni commented on #2172
https://github.com/nodejs/nodejs.dev/pull/2098

[2022-01-09 16:18] #2172 closed

[2022-01-09 16:29] MrJithil commented on #2172
Understood. We need to seek help from a member to leave a `label`.

[2022-01-09 17:47] MrJithil commented on #1952
[code]

it will output `1` if we run on the NodeJs environment.

[2022-01-10 13:06] mhdawson opened #2187 "Node.js Website Redesign Strategic Initiative Meeting 2022-01-12"
## Time

**UTC Wed 12-Jan-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 12-Jan-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 12-Jan-2022 12:00 (12:00 PM) |
| US / Central  | Wed 12-Jan-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 12-Jan-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 12-Jan-2022 19:00 (07:00 PM) |

[2022-01-10 19:18] ashiishme commented on #1151
@benhalverson I would like to take over if the task are still pending. 🙂

[2022-01-13 02:56] MrJithil commented on #2168
Pull request merged

[2022-01-14 04:46] AnilSeervi opened #2192 "Eerie display of SVG Logo in dark theme due to ID's clash"
## Description
The Node.js SVG Logo doesn't display the paths for `O` in the logo properly for dark mode.

### Steps to reproduce
- Visit https://nodejs.dev
- Switch to dark mode of site
- Look at the logo in the top left corner of the site

### Expected result
![image](https://user-images.githubusercontent.com/61609033/149452606-4b0c9229-6493-4a4f-b8af-e077ce0c7c16.png)

### Actual result
![image

[2022-01-17 13:05] mhdawson opened #2210 "Node.js Website Redesign Strategic Initiative Meeting 2022-01-19"
## Time

**UTC Wed 19-Jan-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 19-Jan-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 19-Jan-2022 12:00 (12:00 PM) |
| US / Central  | Wed 19-Jan-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 19-Jan-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 19-Jan-2022 19:00 (07:00 PM) |

[2022-01-19 17:53] david-learns commented on #1994
the problem was reproduceable on my machine by using incognito mode in chrome and firefox browsers. the problem did not occur when using cognito (standard) mode in either browser. the iframe src url's for stackblitz will load properly in another tab in incognito mode but not from the iframe editor embedded in nodejs.dev. attempted to reduce related security settings, clear browser cache, system te

[2022-01-22 06:22] shikhar13012001 commented on #2149
@santimirandarp Kind sir could you check my PR and suggest me if you need some changes or this is what you needed

[2022-01-24 13:06] mhdawson opened #2231 "Node.js Website Redesign Strategic Initiative Meeting 2022-01-26"
## Time

**UTC Wed 26-Jan-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 26-Jan-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 26-Jan-2022 12:00 (12:00 PM) |
| US / Central  | Wed 26-Jan-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 26-Jan-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 26-Jan-2022 19:00 (07:00 PM) |

[2022-01-26 08:26] ashiishme commented on #1151
Sorry for delays, I have started with the sidebar. 🙂

[2022-01-26 09:36] #2192 closed

[2022-01-27 20:18] ashiishme commented on #1151
Should I add the recent posts similar to this section?

<img width="699" alt="Screen Shot 2022-01-27 at 9 16 19 PM" src="https://user-images.githubusercontent.com/18111862/151436924-8a138cc8-69e2-4f5c-a6d4-4d7913cfe1c9.png">

[2022-01-28 01:59] benhalverson commented on #1151
I think it should be more like https://reactjs.org/blog/2021/12/17/react-conf-2021-recap.html but the sidebar on the left

[2022-01-28 08:49] aushwin opened #2234 "Node Js Learn : Promises Example"
## Summary

It would be better If promise based examples are also provided

### Basic example

[code]

[code]

### Motivation

I was looking for promise based examples in the learn section and couldn't find it ! Felt it would be better if it is added too . If everyone's ready then I would like to contribute in adding it

[2022-01-28 11:43] vasantisuthar opened #2235 "Adding another module for npm"
## Summary
Hey, will it be okay if I add another module for showing the difference between npm and npx. It's a part of nodejs so I would like to add this to the documentation.

[2022-01-28 19:36] vasantisuthar commented on #2235
Ok sorry, it's already in the documentation, I should have searched it before. Any more update I will work on it. Thanks.

[2022-01-28 20:56] nschonni commented on #2235
Sounds good

[2022-01-28 20:56] #2235 closed

[2022-01-31 13:05] mhdawson opened #2252 "Node.js Website Redesign Strategic Initiative Meeting 2022-02-02"
## Time

**UTC Wed 02-Feb-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Feb-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 02-Feb-2022 12:00 (12:00 PM) |
| US / Central  | Wed 02-Feb-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 02-Feb-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 02-Feb-2022 19:00 (07:00 PM) |

[2022-02-03 14:23] ThejasKiranPS opened #2258 "Typo in the output-to-the-command-line-using-nodejs page"
# Documentation Is

- [ ] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [x] Not Sure?

## Please Explain in Detail
There is a typo in the [output-to-the-command-line-using-nodejs](https://nodejs.dev/learn/output-to-the-command-line-using-nodejs) page.
![image](https://user-images.githubusercontent.com/30928792/152360737-8ecbaaa8-bfa0-416e-b3db-fa8775ee1eb7.png)
This code will log My cat has 2 "

[2022-02-03 18:49] #2258 closed

[2022-02-05 00:47] sal-420 opened #2260 "Return with a status code and message is not working"
Using VS Code, WIN10, express@4.17.2 , Node v16.13.1, NPM 8.1.2 and Simple Rest Client

I am learning therefore I do know if this is a Node or Express issue.
 'object object ' is returned in the response instead of the expected status code and message

The error line --> return res.status(404).send({message: 'user does not exist'});

The complete function where the error occurs.

router.get('/acco

[2022-02-07 13:06] mhdawson opened #2269 "Node.js Website Redesign Strategic Initiative Meeting 2022-02-09"
## Time

**UTC Wed 09-Feb-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 09-Feb-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 09-Feb-2022 12:00 (12:00 PM) |
| US / Central  | Wed 09-Feb-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 09-Feb-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 09-Feb-2022 19:00 (07:00 PM) |

[2022-02-10 03:26] benhalverson commented on #2071
This [video ](https://www.youtube.com/watch?v=y3V0ChRs-9Y )should help explain the event loop from @ahmadawais
He also mentions this [video ](https://www.youtube.com/watch?v=PNa9OMajw9w) from [Bert Belder](https://twitter.com/piscisaureus)

[2022-02-14 13:05] mhdawson opened #2279 "Node.js Website Redesign Strategic Initiative Meeting 2022-02-16"
## Time

**UTC Wed 16-Feb-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Feb-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 16-Feb-2022 12:00 (12:00 PM) |
| US / Central  | Wed 16-Feb-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 16-Feb-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 16-Feb-2022 19:00 (07:00 PM) |

[2022-02-15 07:01] ashiishme commented on #1151
It's done. 👍

How can I join the discussion for future features that I can contribute?

[2022-02-18 20:23] alexpiotrowski9658 commented on #1994
I had the same issue from in the standard cognito mode in Chrome Version 98.0.4758.102 (Official Build) (64-bit) Ubuntu 21.10.
My browser was set to block third party cookies.  Allowing the cookie from https://stackblitz.com resovled the issue for me.

[2022-02-21 13:05] mhdawson opened #2290 "Node.js Website Redesign Strategic Initiative Meeting 2022-02-23"
## Time

**UTC Wed 23-Feb-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 23-Feb-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 23-Feb-2022 12:00 (12:00 PM) |
| US / Central  | Wed 23-Feb-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 23-Feb-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 23-Feb-2022 19:00 (07:00 PM) |

[2022-02-28 13:05] mhdawson opened #2297 "Node.js Website Redesign Strategic Initiative Meeting 2022-03-02"
## Time

**UTC Wed 02-Mar-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Mar-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 02-Mar-2022 12:00 (12:00 PM) |
| US / Central  | Wed 02-Mar-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 02-Mar-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 02-Mar-2022 19:00 (07:00 PM) |

[2022-03-01 11:58] #2149 closed

[2022-03-07 13:06] mhdawson opened #2318 "Node.js Website Redesign Strategic Initiative Meeting 2022-03-09"
## Time

**UTC Wed 09-Mar-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 09-Mar-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 09-Mar-2022 12:00 (12:00 PM) |
| US / Central  | Wed 09-Mar-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 09-Mar-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 09-Mar-2022 19:00 (07:00 PM) |

[2022-03-10 05:42] BLooDBRothER opened #2320 "Incorrect link in Introduction to Node.js"
# Documentation Is

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail
In the [Introduction to Node.js](https://nodejs.dev/learn#nodejs-frameworks-and-tools) under the Node.js Frameworks and Tools section, clicking on the **Egg.js** which is the second one redirects to the link https://eggjs.org/en/ from which we cannot come back using the history sta

[2022-03-11 04:39] #2320 closed

[2022-03-14 12:05] mhdawson opened #2329 "Node.js Website Redesign Strategic Initiative Meeting 2022-03-16"
## Time

**UTC Wed 16-Mar-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Mar-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 16-Mar-2022 12:00 (12:00 PM) |
| US / Central  | Wed 16-Mar-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 16-Mar-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 16-Mar-2022 18:00 (06:00 PM) |

[2022-03-16 05:42] #2187 closed

[2022-03-16 05:42] #2210 closed

[2022-03-16 05:42] #2231 closed

[2022-03-16 05:42] #2252 closed

[2022-03-16 05:42] #2269 closed

[2022-03-16 05:42] #2279 closed

[2022-03-16 05:42] #2290 closed

[2022-03-16 05:42] #2297 closed

[2022-03-16 05:42] #2318 closed

[2022-03-21 11:26] lidoravitan commented on #2234
Can I help with it?

[2022-03-21 12:06] mhdawson opened #2335 "Node.js Website Redesign Strategic Initiative Meeting 2022-03-23"
## Time

**UTC Wed 23-Mar-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 23-Mar-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 23-Mar-2022 12:00 (12:00 PM) |
| US / Central  | Wed 23-Mar-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 23-Mar-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 23-Mar-2022 18:00 (06:00 PM) |

[2022-03-21 22:39] jcollum-nutrien commented on #1849
Is anyone gonna fix the docs?

[2022-03-23 13:10] giankotarola commented on #1689
hey, is this still necessary? Just asking in case I could work on it if it is ok for everyone

[2022-03-26 07:52] manishprivet commented on #2234
Sure @lidoravitan

[2022-03-28 12:06] mhdawson opened #2338 "Node.js Website Redesign Strategic Initiative Meeting 2022-03-30"
## Time

**UTC Wed 30-Mar-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 30-Mar-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 30-Mar-2022 12:00 (12:00 PM) |
| US / Central  | Wed 30-Mar-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 30-Mar-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 30-Mar-2022 19:00 (07:00 PM) |

[2022-03-31 14:44] rajeshbabu-oviva opened #2343 "setImmediate and setTimeout(callback, 0) running on the next-iteration of the event-loop ?"
## Summary
On this documentation https://nodejs.dev/learn/understanding-setimmediate, it states that
"A setTimeout() callback with a 0ms delay is very similar to setImmediate(). The execution order will depend on various factors, but they will be both run in the next iteration of the event loop."

[code]

If I execute the code above, I understand that this will be executed in the poll phase, and t

[2022-04-04 12:06] mhdawson opened #2372 "Node.js Website Redesign Strategic Initiative Meeting 2022-04-06"
## Time

**UTC Wed 06-Apr-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 06-Apr-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 06-Apr-2022 12:00 (12:00 PM) |
| US / Central  | Wed 06-Apr-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 06-Apr-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 06-Apr-2022 19:00 (07:00 PM) |

[2022-04-11 12:06] mhdawson opened #2379 "Node.js Website Redesign Strategic Initiative Meeting 2022-04-13"
## Time

**UTC Wed 13-Apr-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Apr-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 13-Apr-2022 12:00 (12:00 PM) |
| US / Central  | Wed 13-Apr-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 13-Apr-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 13-Apr-2022 19:00 (07:00 PM) |

[2022-04-12 12:56] lidoravitan commented on #2234
@manishprivet thanks, I'll start to work on it today :)

[2022-04-12 23:11] thomscoder commented on #2343
Not necessarily. First the event loop starts registering callbacks into their respective queues. Then it executes them..
<img width="1263" alt="Schermata 2022-04-13 alle 01 02 15" src="https://user-images.githubusercontent.com/78874117/163068414-77281b2a-98f1-48a4-b4ec-9001b5f558f4.png">
A great explanation of this process: https://dev.to/lunaticmonk/understanding-the-node-js-event-loop-phases-and

[2022-04-13 10:10] thomscoder commented on #2343
You can simply try it yourself. Look at this:

[code]

By executing this script, the event loop will be blocked by the recursive next tick, because it gets executed on the current iteration leading to a process called I/O starvation.

Output:
![Screenshot 2022-04-13 120206](https://user-images.githubusercontent.com/78874117/163154453-0c82b665-847e-450b-861b-6576011bc66a.png)
The setImmediate and t

[2022-04-14 17:45] rajeshbabu-oviva commented on #2343
I think you do not understand my question completely. I am aware of the event loop phases, but the questions are the following:

1) Does the event loop start after main module execution or during it ?? Some sources say that main-module execution happens in the poll-phase, if that is correct then the **_check_** phase should come right after it meaning setImmediates should get executed right after

[2022-04-18 12:06] mhdawson opened #2385 "Node.js Website Redesign Strategic Initiative Meeting 2022-04-20"
## Time

**UTC Wed 20-Apr-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 20-Apr-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 20-Apr-2022 12:00 (12:00 PM) |
| US / Central  | Wed 20-Apr-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 20-Apr-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 20-Apr-2022 19:00 (07:00 PM) |

[2022-04-25 12:05] mhdawson opened #2388 "Node.js Website Redesign Strategic Initiative Meeting 2022-04-27"
## Time

**UTC Wed 27-Apr-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 27-Apr-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 27-Apr-2022 12:00 (12:00 PM) |
| US / Central  | Wed 27-Apr-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 27-Apr-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 27-Apr-2022 19:00 (07:00 PM) |

[2022-04-26 07:10] clean99 opened #2389 "Chinese language support"
## Summary
Hi, I would like to help translate the site to Chinese, but I don't see Chinese as a target language at crowdin, could you help create one? Thanks.

[2022-04-30 11:22] Canoir commented on #1994
I have the same problem too.
In Chrome Latest Version (98) with Cognito Page and Pop_Os OS.
![image](https://user-images.githubusercontent.com/24988065/166103490-60d56cc7-93c1-40db-a2f2-922a1adeff44.png)
![image](https://user-images.githubusercontent.com/24988065/166103503-e56bc793-da23-4827-8b5a-4129c45b6cfa.png)

[2022-04-30 23:56] mikeesto commented on #1994
Some discussion here, particularly around viewing Stackblitz with incognito mode: https://github.com/stackblitz/core/issues/162

[2022-05-01 10:15] Canoir commented on #1994
Completely helpful.

[2022-05-01 22:22] benhalverson opened #2426 "Current version text and link don't match on homepage"
## Description

From https://github.com/nodejs/nodejs.dev/pull/2425#issuecomment-1114345626
The current version text and the link for the download don't match.

### Expected result
The text and downloadable version should be the same

[2022-05-02 12:06] mhdawson opened #2430 "Node.js Website Redesign Strategic Initiative Meeting 2022-05-04"
## Time

**UTC Wed 04-May-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 04-May-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 04-May-2022 12:00 (12:00 PM) |
| US / Central  | Wed 04-May-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 04-May-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 04-May-2022 19:00 (07:00 PM) |

[2022-05-03 16:28] #2426 closed

[2022-05-04 10:21] clean99 opened #2437 "Git actions linting failed while local linting is success."
## Summary

I use `npm run lint` and there is no error but the git actions CI shows there are format problems, this makes me unable to use `npm run lint --fix` to auto fix the problems.

Also, looks like linting in code examples now requires semicolons but most of the original examples don't use semicolons, would this makes the tutorials inconsistent?

<img width="1280" alt="git actions CI linting

[2022-05-04 11:06] #2389 closed

[2022-05-04 14:39] rodion-arr commented on #2437
Hi @clean99, could you please provide link to repo with failed CI?

[2022-05-04 15:00] clean99 commented on #2437
Hi @rodion-arr, thanks for replying to me, you can check [git actions](https://github.com/nodejs/nodejs.dev/runs/6287635678?check_suite_focus=true) and [commit](https://github.com/nodejs/nodejs.dev/pull/2436/commits/49fbaf3fcc3fbe5e7cd8991a9df8c79948b15ae6) correspondingly.

[2022-05-04 15:09] rodion-arr commented on #2437
I assume it's related to #2092 - linter checks JS code blocks in markdown that was changed in your branch

[2022-05-05 01:17] clean99 commented on #2437
OK, I see~ but would it be better to keep the format in markdown the same? Now if I add new examples in docs, the docs will somewhere use semicolons and some don't.

[2022-05-05 06:32] zingxy commented on #2343
@rajeshbabu-oviva Hello, I'm confused about `tick` ， `phase` and `one/an loop`. Could you explain this three? Thank you.

[2022-05-05 10:55] wirekang opened #2438 "Wrong description about Job Queue"
# Documentation Is
- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

I think the sentence from [https://nodejs.dev/learn/the-nodejs-event-loop#es6-job-queue](https://nodejs.dev/learn/the-nodejs-event-loop#es6-job-queue) is wrong.

```Promises that resolve before the current function ends will be executed right after the current function.```

Resolve

[2022-05-07 10:29] paulober opened #2439 "Duplicated whitespace in linux Install component"
## Description

There is a duplicate whitespace in the linux install component.

### Steps to reproduce

Go to [nodejs.dev/#react-tabs-1](https://nodejs.dev/#react-tabs-1) and switch to linux install. After the $ sign you can see the duplicated in diffrence to the other tabs.

### Expected result

No duplicate whitespace.

### Actual result

Duplicate whitespace.

### Environment

- OS Version: Wi

[2022-05-08 22:03] benhalverson commented on #2234
Closed with #2436

[2022-05-08 22:03] #2234 closed

[2022-05-08 22:06] #2329 closed

[2022-05-08 22:06] #2335 closed

[2022-05-08 22:06] #2338 closed

[2022-05-08 22:06] #2372 closed

[2022-05-08 22:06] #2379 closed

[2022-05-08 22:06] #2385 closed

[2022-05-08 22:06] #2388 closed

[2022-05-08 22:06] #2430 closed

[2022-05-09 12:05] mhdawson opened #2441 "Node.js Website Redesign Strategic Initiative Meeting 2022-05-11"
## Time

**UTC Wed 11-May-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 11-May-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 11-May-2022 12:00 (12:00 PM) |
| US / Central  | Wed 11-May-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 11-May-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 11-May-2022 19:00 (07:00 PM) |

[2022-05-16 12:05] mhdawson opened #2446 "Node.js Website Redesign Strategic Initiative Meeting 2022-05-18"
## Time

**UTC Wed 18-May-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 18-May-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 18-May-2022 12:00 (12:00 PM) |
| US / Central  | Wed 18-May-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 18-May-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 18-May-2022 19:00 (07:00 PM) |

[2022-05-20 04:00] #2439 closed

[2022-05-22 18:34] kwebble opened #2447 "Solution for logging an object does not apply to class instances"
# Documentation Is

- [x] Missing/Needed
- [ ] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

https://nodejs.dev/learn/how-to-log-an-object-in-nodejs

## Your Proposal for Changes

[2022-05-22 18:34] #2447 closed

[2022-05-22 18:35] kwebble commented on #2447
Just pressing Enter immediately submitted the form, I wasn't finished

[2022-05-24 18:08] mhdawson opened #2448 "Node.js Website Redesign Strategic Initiative Meeting 2022-05-25"
## Time

**UTC Wed 25-May-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 25-May-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 25-May-2022 12:00 (12:00 PM) |
| US / Central  | Wed 25-May-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 25-May-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 25-May-2022 19:00 (07:00 PM) |

[2022-05-24 18:32] elandorr commented on #1849
I'm not a JS guy, but when I ocasionally need a node tool and do not want the whole shebang permanently, I use npx. It was time once more. Now I'm just as confused as you all.

1. Why call it 'install', if it's temporary?
2. If temporary, **when** is it removed?
3. Do we need to bother cleaning up so it doesn't stack in the sky?

Can we get a clear answer please?

Should be a fairly straightforwar

[2022-05-28 00:30] benhalverson opened #2451 "Storybook header component fails to load properly"
## Description
The header component for storybook is broken

### Steps to reproduce

browse to https://nodejs.dev/storybook
click on the header component and observe the error.
[code]
When running locally the error is
[code]

### Expected result

The component should load
### Actual result

An error was thrown.

[2022-05-28 00:55] benhalverson opened #2452 "Storybook Footer component fails to load properly"
## Description
The footer component for storybook is broken

### Steps to reproduce

browse to https://nodejs.dev/storybook
click on the footer component and observe the error.
[code]
When running locally the error is
[code]

### Expected result

The component should load
### Actual result

An error was thrown.

[2022-05-30 12:06] mhdawson opened #2454 "Node.js Website Redesign Strategic Initiative Meeting 2022-06-01"
## Time

**UTC Wed 01-Jun-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 01-Jun-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 01-Jun-2022 12:00 (12:00 PM) |
| US / Central  | Wed 01-Jun-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 01-Jun-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 01-Jun-2022 19:00 (07:00 PM) |

[2022-06-05 03:06] mikeesto opened #2472 "Webpack error #98123 when generating development bundle"
## Description

Unable to run project locally

### Steps to reproduce

1. `gatsby clean` or delete cache
2. Delete node_modules
3. `npm install`
4. `npm start`

### Expected result

Project should load on port 8000.

### Actual result

[code]

### Environment

Node v16.13.0

[2022-06-05 15:44] #2451 closed

[2022-06-05 15:44] #2452 closed

[2022-06-06 12:05] mhdawson opened #2474 "Node.js Website Redesign Strategic Initiative Meeting 2022-06-08"
## Time

**UTC Wed 08-Jun-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 08-Jun-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 08-Jun-2022 12:00 (12:00 PM) |
| US / Central  | Wed 08-Jun-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 08-Jun-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 08-Jun-2022 19:00 (07:00 PM) |

[2022-06-12 00:58] tim-kilian opened #2478 "Problem with devDependencies (webpack / babel)"
## Summary
In the docs you say, that devDependencies are dependencies only for development enhancement. But you also mention webpack and babel.

I am wondering, why webpack and babel should be a devDependency. But when you install your dependencies with the production flag (`npm install --production`), you can not build your project for production, because you are missing webpack.

I see this beha

[2022-06-12 17:14] bipin0x01 commented on #2478
Babel and Webpack are just tools used for transpiling the js you write in the application. In the production version of the app, the transpiled or bundled javascripts are using in the build. Webpack simply packs the js codes into a bundle during the build time and it's work is all done.

[2022-06-12 19:52] nschonni commented on #2478
https://webpack.js.org/guides/getting-started/ they also recommend installing is a devDependency. `--production` is what you need to run the application after you've moved it to a server, not about building it https://docs.npmjs.com/specifying-dependencies-and-devdependencies-in-a-package-json-file

[2022-06-12 19:52] #2478 closed

[2022-06-12 21:49] tim-kilian commented on #2478
So with your answer all packages of a frontend project should be devDependencies, because after bundeling them, you do not need them anymore. On production environments I throw away all node_modules, because they take up space and are useless after building.

Still don't get the purpose of splitting devDependencies and dependencies, sorry. But I could imagine, that for a backend node js project it

[2022-06-14 08:52] thomscoder commented on #2343
The event loop is a mechanism that allows Node to perform non blocking I/O operations. Phases are the building blocks that compose the event loop. They are:
- Timers
- Pending callbacks
- Idle
- Poll
- Check
- Close callbacks
How they work is explained nicely [here](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#:~:text=Each%20phase%20has,and%20so%20on.)

Ticks are not part of t

[2022-06-14 09:41] zingxy commented on #2343
@thomscoder Your explanation is informative. Thank you.

[2022-06-15 00:13] mikeesto opened #2481 "CI failing on install dependencies step"
## Description

On recent PRs, the CI job has been failing on the install dependencies step. Error log is as below:

[code]

### Steps to reproduce

Relevant PRs: https://github.com/nodejs/nodejs.dev/pull/2480, https://github.com/nodejs/nodejs.dev/pull/2476, https://github.com/nodejs/nodejs.dev/pull/2479

[2022-06-15 03:31] mhdawson opened #2482 "Node.js Website Redesign Strategic Initiative Meeting 2022-06-15"
## Time

**UTC Wed 15-Jun-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 15-Jun-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 15-Jun-2022 12:00 (12:00 PM) |
| US / Central  | Wed 15-Jun-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 15-Jun-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 15-Jun-2022 19:00 (07:00 PM) |

[2022-06-19 11:21] MrJithil commented on #2482
We don't have this meeting nowadays? @joesepi  @benhalverson please confirm.

[2022-06-20 12:05] mhdawson opened #2489 "Node.js Website Redesign Strategic Initiative Meeting 2022-06-22"
## Time

**UTC Wed 22-Jun-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 22-Jun-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 22-Jun-2022 12:00 (12:00 PM) |
| US / Central  | Wed 22-Jun-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 22-Jun-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 22-Jun-2022 19:00 (07:00 PM) |

[2022-06-20 22:36] benhalverson commented on #2481
Fixed by https://github.com/nodejs/nodejs.dev/pull/2493

[2022-06-20 22:36] #2481 closed

[2022-06-20 22:36] benhalverson commented on #2472
Fixed by https://github.com/nodejs/nodejs.dev/pull/2493

[2022-06-20 22:36] #2472 closed

[2022-06-21 18:39] erikphansen opened #2499 "Documentation error on `Update all the Node.js dependencies to their latest version`"
# Documentation error on `Update all the Node.js dependencies to their latest version`

- [ ] Missing/Needed
- [x] Incorrect
- [ ] Confusing
- [ ] Not Sure?

## Please Explain in Detail

On https://nodejs.dev/learn/update-all-the-nodejs-dependencies-to-their-latest-version, this line is no longer accurate:

When using npm v7+, running `npm update` _does not_ make changes to `package.json`. [See gi

[2022-06-22 08:50] ovflowd commented on #169
Hey, @LaRuaNa is this Issue still something that you folks are interested in researching 👀

I actually second the YAML implementation. YAML parsers became way better in handling extraneous formatting ways. Not to mention both Prettier and Eslint support YAML linting and prettifying now, which is also cool 😄

So definitely making a Navigation structure in YAML is possible. I'd def love to make a ni

[2022-06-23 03:25] benhalverson commented on #2499
Thanks for the feedback @erikphansen
You can see the versioned docs for Node.js [here](https://nodejs.org/dist/latest-v16.x/docs/api/).
The learn section of this site is more of a living guide that has changed over time.
Can you submit some [PR's ](https://github.com/nodejs/nodejs.dev/blob/main/CONTRIBUTING.md)for the issues you've pointed out?

[2022-06-23 09:58] ovflowd commented on #1151
This issue seems to be done? Can't it be closed? 🤔

[2022-06-23 11:35] tahseenio opened #2508 "Gatsby CI/CD spelling error on PRs"
## Description

There appears to be a spelling error of the word 'Gatsby' during the checking stage of any PR.

### Steps to reproduce

Create any pull request such as my most recent PR #2507

### Expected result

The CI/CD for the Gatsby check should be spelled as:
<br>
```Gatsby build / test-ci (pull_request) ```
<br>
but is spelled as
<br>
```Gastby build / test-ci (pull_request) ```

### Actua

[2022-06-23 20:03] nschonni commented on #2508
That would be coming from https://github.com/nodejs/nodejs.dev/blob/0b3901550fdece75d7d573f6776b66788d0261de/.github/workflows/gatsby.yml#L1

[2022-06-24 01:54] tahseenio commented on #2508
Hi @nschonni I have created a PR for the fix.

[2022-06-24 04:27] #2508 closed

[2022-06-26 10:17] ovflowd opened #2513 "Possibly only show RandomContributor on the Home Page"
## Description

Currently, the `Footer` component includes the `<RandomContributor />` which displays the Random Contributor on every page. In multiple pages such as blog posts, learn or documentation this doesn't make much sense, as it doesn't add apparent value to the page and it creates layout shift during the rendering of the page.

#### Example of Doc page with RandomContributor

![image](htt

[2022-06-26 14:40] ovflowd commented on #1153
Hey @benhalverson I worked into making this possible 👀 https://github.com/nodejs/nodejs.dev/pull/2514

Of course, on staging there will be nothing showing as there are no posts published. Maybe worth to create some mocks.

[2022-06-27 08:42] ovflowd commented on #2513
@benhalverson not sure `bug` is the appropriate label here. But still worth for discussion 👀

[2022-06-27 08:48] ovflowd commented on #985
So the only requirement right now for this section is the copy-text? Which are the people usually responsible for the copy on the old website?

[2022-06-27 12:06] mhdawson opened #2516 "Node.js Website Redesign Strategic Initiative Meeting 2022-06-29"
## Time

**UTC Wed 29-Jun-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 29-Jun-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 29-Jun-2022 12:00 (12:00 PM) |
| US / Central  | Wed 29-Jun-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 29-Jun-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 29-Jun-2022 19:00 (07:00 PM) |