[2022-06-28 04:21] #413 closed

[2022-06-28 04:30] benhalverson commented on #2513
I'm ok with either one.

[2022-06-28 15:26] ovflowd commented on #413
🎉

[2022-07-01 10:58] ovflowd opened #2531 "Introduce Pagination on the Blog Page"
## Summary

Currently, our `/blog` page doesn't support pagination, hence every single posted post from every category will be shown there.

Since we separate blog posts per category within `/blog` we could take the approach to show the last 3-4 entries of each category and add a "Show more" button.

**We have two opportunities with this button:**

1. Querying GraphQL through a Hook and dynamicall

[2022-07-01 11:15] ovflowd commented on #2513
Going to make a quick PR then 😄

[2022-07-02 18:08] megalyne opened #2537 "Yarn package.json"
## Summary
Hello am new in rear native please I need help on  yarn init  my project can’t upload after running yarn iOS  using window 12  even when I tried everything that could be the problem output of the issue it keep showing me the error message . Please thanks for any one that could help me out of this bug

package.json does not exist .
error command failed with exit code 1 .
Infor visit http

[2022-07-02 18:51] ovflowd commented on #2537
This is not the right place for asking your questions. The best place for raising your question would be on https://stackoverflow.com

[2022-07-02 19:31] #2537 closed

[2022-07-02 19:49] #2441 closed

[2022-07-02 19:49] #2446 closed

[2022-07-02 19:49] #2448 closed

[2022-07-02 19:49] #2454 closed

[2022-07-02 19:49] #2474 closed

[2022-07-02 19:49] #2482 closed

[2022-07-02 19:49] #2489 closed

[2022-07-04 03:45] tahseenio opened #2538 "warning error: cleanup staging deploy CI/CD"
## Description

Everytime a PR is created the cleanup staging deploy yml file produces a warning
```"service_account_key" has been deprecated. Please switch to using google-github-actions/auth which supports both Workload Identity Federation and Service Account Key JSON authentication. For more details, see https://github.com/google-github-actions/setup-gcloud#authorization```

### Steps to reprod

[2022-07-04 03:46] tahseenio commented on #2538
I will try and create a PR that will fix this, by today.

[2022-07-04 04:01] tahseenio commented on #2538
File that needs to be changed is here:

https://github.com/nodejs/nodejs.dev/blob/0b3901550fdece75d7d573f6776b66788d0261de/.github/workflows/cleanup-staging.yml

[2022-07-04 05:01] nschonni commented on #2538
@MylesBorins looks like this might be the one that would be supported for the current setup https://github.com/google-github-actions/setup-gcloud#service-account-key-json. I guess it would be combining the two existing keys into a JSON file, but it's pretty light on details

[2022-07-04 12:05] mhdawson opened #2540 "Node.js Website Redesign Strategic Initiative Meeting 2022-07-06"
## Time

**UTC Wed 06-Jul-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 06-Jul-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 06-Jul-2022 12:00 (12:00 PM) |
| US / Central  | Wed 06-Jul-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 06-Jul-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 06-Jul-2022 19:00 (07:00 PM) |

[2022-07-11 12:05] mhdawson opened #2546 "Node.js Website Redesign Strategic Initiative Meeting 2022-07-13"
## Time

**UTC Wed 13-Jul-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Jul-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 13-Jul-2022 12:00 (12:00 PM) |
| US / Central  | Wed 13-Jul-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 13-Jul-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 13-Jul-2022 19:00 (07:00 PM) |

[2022-07-18 12:05] mhdawson opened #2551 "Node.js Website Redesign Strategic Initiative Meeting 2022-07-20"
## Time

**UTC Wed 20-Jul-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 20-Jul-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 20-Jul-2022 12:00 (12:00 PM) |
| US / Central  | Wed 20-Jul-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 20-Jul-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 20-Jul-2022 19:00 (07:00 PM) |

[2022-07-22 08:54] rodion-arr commented on #1742
Closed by #2217

[2022-07-22 08:54] #1742 closed

[2022-07-25 12:05] mhdawson opened #2565 "Node.js Website Redesign Strategic Initiative Meeting 2022-07-27"
## Time

**UTC Wed 27-Jul-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 27-Jul-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 27-Jul-2022 12:00 (12:00 PM) |
| US / Central  | Wed 27-Jul-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 27-Jul-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 27-Jul-2022 19:00 (07:00 PM) |

[2022-07-26 09:47] rodion-arr commented on #2133
I assume the -S flag mentioning was removed from that page so it can be closed

[2022-07-26 09:47] #2133 closed

[2022-07-26 11:03] rodion-arr commented on #1689
Closed by #2503 2503

[2022-07-26 11:03] #1689 closed

[2022-07-26 11:21] #2551 closed

[2022-07-26 11:21] #2540 closed

[2022-07-26 11:21] #2516 closed

[2022-07-26 11:24] rodion-arr commented on #2170
Closing due to https://github.com/nodejs/nodejs.dev/pull/2171#issuecomment-1012794427

[2022-07-26 11:24] #2170 closed

[2022-07-26 11:35] rodion-arr commented on #1994
The issue seems not reproducing for me (macOS, Chrome/Firefox, normal/incognito modes)
I've also checked these pages on Windows Firefox (via Browserstack) and did not see loading issues

@mihaiolteanu, @Canoir, could you please check once again from your side and we will close it if everything is OK?

![image](https://user-images.githubusercontent.com/5843270/180996319-3774149e-0998-4d82-9596-df1b

[2022-07-26 11:40] mihaiolteanu commented on #1994
On my current system it now works as expected (i.e. the code block is shown after the page is loaded)

**os**: Arch Linux, 5.17.6-arch1-1
**browser**: Chromium, Version 101.0.4951.64 (Official Build) Arch Linux (64-bit)

[2022-07-26 11:59] rodion-arr commented on #1994
Thank you, I think we can close it

[2022-07-26 11:59] #1994 closed

[2022-07-27 14:46] #1153 closed

[2022-07-27 14:47] ovflowd commented on #169
Okay, after talking with @benhalverson we decided an approach of how to work on this issue. The idea here is to create a simple `navigation.yml` file that basically tells the order of the pages based on their IDs.

[2022-07-27 14:55] ovflowd commented on #1151
Closing as it is done!

[2022-07-27 14:55] #1151 closed

[2022-07-27 14:55] ovflowd commented on #1151
Feel free to join the OpenJSF slack channel and then go to #nodejs-website-redesign 😄

[2022-07-27 15:09] ovflowd opened #2566 "Remaining Blog features to be implemented"
Currently, our `/blog` endpoint has a raw listing of all the existing blog entries. As mentioned [here](https://github.com/nodejs/nodejs.dev/issues/2531), we want to introduce pagination support. But besides pagination support, it would make sense to rearrange the layout of the `/blog` page.

A current personal inspiration for structure is the [ESLint blog](https://eslint.org/blog/). This means we

[2022-07-27 15:10] ovflowd commented on #985
Closing this as we're not going to proceed with this feature.

[2022-07-27 15:10] #985 closed

[2022-07-27 15:16] ovflowd commented on #1670
@manishprivet @joesepi I believe now that this script was added, would this fix our current issues? Does this mean this issue can be closed? (Do we currently satisfy all requirements?)

[2022-07-27 15:21] ovflowd commented on #1975
Closing as it is not relevant anymore.

[2022-07-27 15:21] #1975 closed

[2022-07-27 15:23] ovflowd commented on #1978
The command is still correct. I would recommend you for creating an Issue on the [ncu repository](https://github.com/raineorshine/npm-check-updates).

[2022-07-27 15:23] #1978 closed

[2022-07-27 15:37] ovflowd commented on #256
@benhalverson do you know if the `i18n` module is functional/maintained. Should we rely on it? Or should we proceed with the YAML approach we were talking about?

[2022-07-27 15:41] ovflowd commented on #1385
@manishprivet WDYT, does it make sense to add it to the Package Manager section of the website?

[2022-07-27 15:46] ovflowd opened #2567 "Add redirect to the Package Manager section on "Downloads""
The current "Downloads" page doesn't mention the alternative ways of installing Node.js, as shown below.

![Image](https://user-images.githubusercontent.com/12037269/181290612-a1b0b4f4-919b-4be5-86e4-80a216f83e66.png)

A simple solution to be implemented is by simply adding a link on the highlighted words to redirect to https://nodejs.dev/download/package-manager

[2022-07-27 15:49] ovflowd opened #2568 "Implement a Feature Toggle manager"
Currently, we're developing a few features, such as `i18n`, which we wouldn't want to publish to the public as we're still working on them. For this, there's an idea of creating a simple feature toggle manager in React that gets feature flags from the `localStorage`.

The feature-toggle system would allow us, for example, to put the `i18n` menu behind a feature toggle. So that only contributors wo

[2022-07-27 15:56] ovflowd opened #2569 "Support to localised Markdown files"
Our pages under the `/content` folder are not localised.

As we finished installing our `i18n` feature toggle, which supports in-code (React) localised translation bags, we also want to support localised Markdown pages. As they're the content of the page.

In simplicity, we only need to create the `lang` folders (e.g.: `/en`) and put all the content inside the `/content` folder. As with the `i18n`

[2022-07-27 16:00] ovflowd opened #2570 "Recent Posts doesn't actually show a list of recent posts"
As the title describes, the "Recent Posts" on the Blog page are broken. Sometimes shows duplicated results and shows different results every time. It should always show the absolute last X posts published on our Blog based on the timestamp, independently of their category.

**The image below showcases the Issue.**

![Image](https://user-images.githubusercontent.com/12037269/181294426-58185378-a230

[2022-07-27 16:02] ashiishme commented on #2570
I would like to work on this issue.

[2022-07-27 16:29] ovflowd commented on #2567
Sure thing!

[2022-07-27 16:32] ovflowd commented on #1555
So the PR is ready, but we'll make a few changes before merging it. Such as:

- [ ] First, getting the [feature toggle issue done](https://github.com/nodejs/nodejs.dev/issues/2568)
- [ ] Then add the `disabled` option for Languages that are not translated yet.
- [ ] Remove all the `json` files for the disabled languages
- [ ] Update the i18n manager to only include languages that are not disabled

[2022-07-27 16:38] ovflowd commented on #274
Going to check regarding the `Accept Language` header and see if we can do something about this on React level. But not 100% sure about it.

[2022-07-27 16:39] ovflowd commented on #783
I believe this issue is done as the blog components are done and implemented. Now we're in the phase of improving the current experience.

[2022-07-27 16:39] #783 closed

[2022-07-27 16:42] ovflowd commented on #854
Okay, this hasn't received some love for a while. The current Figmas don't include a scrollbar. I can try to do some CSS stuff here and there based on the current theme used and make it universal, as discussed in previous messages above.

I'll try to make something that looks matching to the overall design guidelines for this website.

[2022-07-27 16:46] ovflowd commented on #254
Going to take this over and merge altogether with the i18n PR. The i18n theme seems to do exactly what we need for the localised markdown files!.

[2022-07-27 16:46] ovflowd commented on #2569
I've realised this https://github.com/nodejs/nodejs.dev/issues/254 supersedes this current Issue I've just opened. So closing this Issue.

[2022-07-27 16:46] #2569 closed

[2022-07-27 16:48] ovflowd commented on #1828
Closing as this is a stale issue.

[2022-07-27 16:48] #1828 closed

[2022-07-27 16:49] ovflowd commented on #1468
@manishprivet do you think you could work on this Issue?

[2022-07-27 19:06] ashiishme commented on #2570
The recent post is working currently. Some posts ( I guess auto generated for example this [post](https://nodejs.dev/blog/vulnerabilities/2022/05/05/openssl-fixes-in-regular-releases-may2022) ) has same title although the content & date of post is different which kind of makes look like duplicate post but it is not.

My proposed solution is to rather add the Month and year on title as the slug alr

[2022-07-27 19:09] ovflowd commented on #2570
Adding month and year to the titles doesn't make sense, sorry 😅

I reiterate my previous point. The recent posts should always show the last X posts. You can see that it is showing different posts based on the blog post you have open.

For example:

- https://nodejs.dev/blog/announcements/2022/02/14/nodejs-trademarks-transferred-to-openjs-foundation
- https://nodejs.dev/blog/vulnerabilities/2022/0

[2022-07-27 19:24] ovflowd commented on #1321
Hey, @yuesong-feng, we're getting very close to having our i18n features up and running. Would you like to contribute to Chinese localisation?

I'm going to close this issue as it is a stale one, but feel free to comment here if you're on the board of contributing 👀 aaaaand, I'll also comment here once we have the feature ready!

You can also join the OpenJSF slack channel and join us on #nodejs-w

[2022-07-27 19:24] #1321 closed

[2022-07-27 19:34] ovflowd commented on #608
Closing this issue as it is a stale one, even tho the PR is open, it might have been abandoned.

[2022-07-27 19:34] #608 closed

[2022-07-27 19:40] ovflowd commented on #1952
@kailash360, if you're still interested in working on this issue, feel free.

[2022-07-27 21:20] malitherl commented on #2568
Hi there! Could I be assigned this issue?

[2022-07-27 21:24] ovflowd commented on #2568
Hey, @malitherl, sure thing!

[2022-07-27 23:51] benhalverson commented on #1468
What do you mean by scss modules? Is it the newer `@use` syntax https://css-tricks.com/introducing-sass-modules/

[2022-07-28 12:11] Sheharyar566 commented on #2538
I guess you'd have to first use the auth action, then the setup-gcloud after that

[2022-07-28 12:14] Sheharyar566 commented on #2531
From a user's standpoint, I think it'd be better to implement both, i.e. show a list of posts from all categories on the '/blog' page and then if user needs to view category specific posts, then inside the '/blog/{respective-category}', we'd have to add pagination to show X number of posts.

[2022-07-28 15:21] DIY0R opened #2575 "There is no description of function overloading in the documentation `net.createServer`"
# Documentation Is

- [X] Missing/Needed
- [ ] Incorrect
- [X] Confusing
- [ ] Not Sure?

## Please Explain in Detail
**Function overload description missing**   --> [net.createServer([options][, connectionListener])](https://nodejs.org/dist/latest-v18.x/docs/api/net.html#netcreateserveroptions-connectionlistener)

## Your Proposal for Changes
**Add a description of function overloading to the doc

[2022-07-28 22:40] rodion-arr commented on #1468
@benhalverson It's about technic for scoping styles to components. This allows to use more generic class names without fear of affecting other components' styles that used same classes

[2022-07-29 09:58] pix-benh commented on #1670
This issue can be closed.

[2022-07-29 16:41] nschonni commented on #2575
This actually needs to be raised in https://github.com/nodejs/node, as that is where that documentation lives.

[2022-07-29 17:02] DIY0R commented on #2575
@nschonni  yes thanks!

[2022-07-29 22:21] #1670 closed

[2022-07-31 11:20] ovflowd commented on #2575
Closing this Issue then 🙂

[2022-07-31 11:20] #2575 closed

[2022-08-01 12:05] mhdawson opened #2605 "Node.js Website Redesign Strategic Initiative Meeting 2022-08-03"
## Time

**UTC Wed 03-Aug-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 03-Aug-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 03-Aug-2022 12:00 (12:00 PM) |
| US / Central  | Wed 03-Aug-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 03-Aug-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 03-Aug-2022 19:00 (07:00 PM) |

[2022-08-01 12:20] ovflowd commented on #2605
@benhalverson are you attending?

[2022-08-01 12:22] ovflowd commented on #169
FYI @benhalverson

[2022-08-02 10:37] benhalverson commented on #2567
closed by https://github.com/nodejs/nodejs.dev/pull/2572

[2022-08-02 10:37] #2567 closed

[2022-08-02 16:43] ovflowd commented on #256
Hey @zeke @JohnTitor is there any chance the `nodejs/i18n` package could also provide the data in JSON besides just Markdown?

[2022-08-02 16:54] ovflowd opened #2607 "Transform the Docs Landing page into Frontmatter"
### Enter your suggestions in details:

Right now, the `src/pages/docs.tsx` is the only page with manual content written all over it. We want to move this page to `contents/docs/index.md` which would allow it to be also translated with the [Language Selector Toggle](https://github.com/nodejs/nodejs.dev/pull/2500).

There would be a new category `docs`, and the Page's contents would use GraphQL (MD

[2022-08-02 16:54] ovflowd commented on #2568
I'm reassigning this to myself as there was no progress here.

[2022-08-02 20:44] ovflowd commented on #1849
Hey, @elandorr thank you for the comment. Indeed the Learn docs are outdated as they require manual intervention from contributors to keep them updated.

You're more than welcome to make a contribution, updating them.

[2022-08-02 21:09] ovflowd commented on #2343
@rajeshbabu-oviva think as `setImmediate(callback)` as the equivalent of `setTimeout(callback, 0)` on EcmaScript.

Do you still believe documentation changes are required?

[2022-08-02 21:11] ovflowd commented on #2437
Yup, but I believe this was addressed already. By running `eslint . --fix` it would apply the same ESLint configuration across the charter. Or do you still have examples of inconsistencies?

[2022-08-02 21:14] ovflowd commented on #2071
The docs were updated. Closing this issue as it is stale.

[2022-08-02 21:14] #2071 closed

[2022-08-02 21:17] ovflowd commented on #1584
Hey, @RomainLanz or @lancemccluskey are you folks still interested in contributing?

[2022-08-02 21:19] ovflowd commented on #950
The Navigation Section Proposal is about to be completed. So we can start working on this.

[2022-08-02 21:19] ovflowd opened #2609 "Pinned: Help us by contributing to Learn updates 📖🚀"
Hello y'all 👋 this pinned issue contains a list of all the current Documentation Issues that are open and that require contributions.

Differently from the [main Node.js website](https://nodejs.org) the [Node.js Dev website] contains a new section called the "Learn section". Those are meant to be "living" documentation pages that are designed to match the latest API/Guidelines for Node.js.

Knowin

[2022-08-03 07:17] ovflowd commented on #2609
**Note.:** This issue is marked as "locked" to avoid off-topic here. As the discussions shall happen on the issues pointed out above.

[2022-08-03 11:52] ovflowd opened #2611 "Gather Node.js API docs during build-time"
### Enter your suggestions in details:

Currently, we're fetching data from Node.js API docs on a React Hook during the application's runtime. This creates several issues, such as:

- No individual links for each page
- Hard time to get SEO and for the pages to get indexed
- Broken internal links

The idea is to create a utility that goes over the data during build-time (Written in Node.js) and cr

[2022-08-03 12:34] ovflowd opened #2612 "Pinned: Current Priorities for the Node.js Website Redesign"
Hey, y'all 👋 on this pinned Issue, we're briefly explaining the current Priorities and Roadmap for the **Node.js Website Redesign**.

These features still need to be done and would welcome outside collaboration. This means anybody can join the discussion, give ideas and suggestions, and propose changes. At the Node.js project, we value an open community and your feedback.

## Features to be Worked

[2022-08-03 18:58] #169 closed

[2022-08-03 21:05] ashiishme commented on #2570
@ovflowd

As per my inspection the recents posts are fine. It seems you introduce one change through #2514  after my previous PR #2276 where the current active post is being filtered out from the recent posts list.

In the React site example, it has active state but in our case the whole item is filtered out.

https://github.com/nodejs/nodejs.dev/blob/1b08e0587372f931631306229df4c49c82e7851c/src/t

[2022-08-03 21:14] ovflowd commented on #2570
I still don't agree with your statement. I gave you examples in my previous comment; as you can see, the "Recent Posts" list differed for each page.

I believe we have different definitions of "how a recent posts list" should work, hence why I gave you the example of React.s blog 😅

The change is simple, there's no reason to show the current post on the list of Recent Posts (At least how I see it)

[2022-08-03 21:51] ashiishme commented on #2570
Exactly, that's what we have 😅. The current lists are sorted in descending orders by the date field. I also compared the query on React's blog just to double check and it seems we are doing the same thing.

Each of the recent section list on below image is only missing the current post item they are in, rest are even.

<img width="1180" alt="Screenshot 2022-08-03 at 10 52 25 PM" src="https://user-

[2022-08-03 22:06] ovflowd commented on #2570
Oh, then that's what was happening all this time. It clicked in my head! (Feeling embarrassed for not realising this 🙈)

Yes, please do revert the change of filtering the current post!

[2022-08-04 20:54] ashiishme commented on #2499
If this issue still require contributor, I would like to take this 🤸‍♂️

[2022-08-05 00:34] ovflowd commented on #2499
Yup, we need a contribution here :)

[2022-08-05 03:33] #2570 closed

[2022-08-05 18:17] manishprivet commented on #1385
@ovflowd , I think a package manager section will be helpful.

As of right now, we're using *choco* right on top alongside windows, which shows that we prefer that over `winget`, which is the first-party tool. If we stand on that ground, then I guess that's fine.

Another fact supporting replacement of choco to `winget` on the site is that even `nvs` now has `winget` as the preferred choice for in

[2022-08-06 10:27] ovflowd commented on #1385
@manishprivet I discovered we already have a package manager section ;D

But we can definitely add winget to the section 👀

[2022-08-08 12:06] mhdawson opened #2616 "Node.js Website Redesign Strategic Initiative Meeting 2022-08-10"
## Time

**UTC Wed 10-Aug-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 10-Aug-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 10-Aug-2022 12:00 (12:00 PM) |
| US / Central  | Wed 10-Aug-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 10-Aug-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 10-Aug-2022 19:00 (07:00 PM) |

[2022-08-09 06:37] benhalverson opened #2617 "Dev server error: Cannot query field "text" on type "BannersIndex"."
### URL:

localhost:8000

### Browser Name:

Chrome

### Browser Version:

 104.0.5112.80

### Operating System:

windows 10

### How to reproduce the issue:

clone the repo
npm i
npm start
observe the error
![error](https://user-images.githubusercontent.com/7907232/183581089-a74307bf-c027-4cde-b372-cfbb78dba891.png)

[2022-08-09 07:32] nschonni commented on #2617
Related to the new banner structure in https://github.com/nodejs/nodejs.org/pull/4759

[2022-08-09 07:37] mikeesto commented on #2617
Can we link to the .org banner image (https://nodejs.org/static/images/ghc-banner.png), or do we have to automate copying the file into this repo?

[2022-08-09 11:03] ovflowd commented on #2617
Let me investigate this 🤔

[2022-08-10 09:51] #2617 closed

[2022-08-10 13:07] #2568 closed

[2022-08-10 21:33] ovflowd opened #2619 "Update `src/i18n/configs.json` with relevant I18n data"
### Enter your issue on localizations here:

Currently, our I18n configuration file has a set of languages and their relative display names in their local language and English. But there's still data missing from all these languages, such as their date formats, if those languages are RTL (Right-to-left) or LTR (Left-to-right) and their [`hreflangs`](https://developers.google.com/search/docs/advanc

[2022-08-10 21:38] #254 closed

[2022-08-10 21:38] #274 closed

[2022-08-10 21:38] #1555 closed

[2022-08-11 20:40] ashiishme commented on #2499
Is this copy okay?

[code]

[2022-08-12 09:28] ovflowd commented on #2499
Looks good, feel free to PR it!

[2022-08-14 00:37] benhalverson opened #2629 "Team update for nodejs.dev"
## Summary
If you want to remain in the nodejs.dev team, please speak up here.
@nodejs/nodejs-dev

Clean-up is happening in the  nodejs/admin repo https://github.com/nodejs/admin/issues/714

[2022-08-14 00:52] benhalverson opened #2630 "Add support to read the contents of nodejs/node doc markdown files"
From the meeting notes on 2022/08/10 https://docs.google.com/document/d/190jReindugyN1iQYJMqKtcnVmKbR8GuUXPvAF0S6ouo/edit
Add support for reading the current nodejs.org docs markdown / YAML text
This can be an MDX plugin, a Gatsby plugin, or a nodejs script like we have for blog posts. https://github.com/nodejs/nodejs.dev/blob/main/transformNodeBlogPosts.js

The current docs and tooling for the no

[2022-08-14 01:31] benhalverson opened #2632 "Remove storybook stories and nodejs.dev/storybook"
## Summary
@nodejs/nodejs-dev
Any thoughts on getting rid of storybook? In my opinion, it has become a pain to maintain it.
For example, right now it is broken again. See https://nodejs.dev/storybook/?path=/story/header--root

[2022-08-14 03:13] guest271314 opened #2633 "Document -e, --eval=... evaluate script"
### Enter your suggestions in details:

1. Expected to observe `-e, --eval=... evaluate script` option documented.
2. I had to ask about this option elsewhere when I didn't find it documented here https://nodejs.dev/learn/output-to-the-command-line-using-nodejs
3. I am willing to file a PR

[2022-08-14 10:17] Kunal0007 commented on #2619
Can I work on this issue?
Can you provide any doc or link where I can find the missing data for all these languages?

[2022-08-14 12:48] ovflowd commented on #2619
Sure thing. The documentation should be available on [the translation guidelines](TRANSLATING.md).

[2022-08-14 12:55] ovflowd commented on #2633
Sure thing! Feel free to contribute 😄

[2022-08-14 15:28] #2513 closed

[2022-08-14 21:59] ovflowd commented on #2437
I discovered that in some OSs the lack of `"`(quotes) around some lining commands would result in unexpected behaviours.

For example, the glob command was not recognised equally on Windows and macOS for the stylelint and eslint commands. I fixed this.

Closing this issue as it seems fixed, but Author is free to reopen it if necessary.

[2022-08-14 21:59] #2437 closed

[2022-08-15 12:05] mhdawson opened #2640 "Node.js Website Redesign Strategic Initiative Meeting 2022-08-17"
## Time

**UTC Wed 17-Aug-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 17-Aug-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 17-Aug-2022 12:00 (12:00 PM) |
| US / Central  | Wed 17-Aug-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 17-Aug-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 17-Aug-2022 19:00 (07:00 PM) |

[2022-08-16 08:32] ashiishme commented on #2630
I am happy to work on this. ✅

[2022-08-16 10:14] AugustinMauroy opened #2643 "White screen open https://nodejs.dev with safari"
### URL:

https://nodejs.dev

### Browser Name:

Safari

### Browser Version:

Version 15.6 (17613.3.9.1.5)

### Operating System:

 macOS 12.5 (Montery)

### How to reproduce the issue:

1. start safari
2. enter https://nodejs.dev in safari
3. an see the withe screen4.
An this is the console
<img width="1440" alt="Capture d’écran 2022-08-16 à 12 13 10" src="https://user-images.githubusercontent

[2022-08-16 10:15] AugustinMauroy commented on #2643
there are the same React errors with chrome. Except that it just makes it lose fluidity of the web page.

[2022-08-16 10:21] #2633 closed

[2022-08-16 10:22] ovflowd commented on #2643
Not reproducible on my side. I just opened Safari, and it's working fine. I'm also using Monterey...

Did you open the website before on Safari?

[2022-08-16 10:26] AugustinMauroy commented on #2643
Of course it is since last night that I have this problem.
Did you see the log? Is it normal?

[2022-08-16 10:28] ovflowd commented on #2630
Hey, @ashiishme, just for context, I believe the following needs to be done here:

- Add a git submodule that imports the `docs` from https://github.com/nodejs/node/doc
- Add that folder to Gatsby's file system (gatsby-config.js)
- Create a utility to correctly parse them and mark them as `docs` (Basically, we need to check their absolutUrlPath to `content/docs` and then mark them as `category: do

[2022-08-16 10:31] ovflowd commented on #2643
I don't even know what React is trying to import with `undefined.json`. And yes, I looked in the logs. As I mentioned, I cannot reproduce this, this is odd. What is the URL in the browser?

[2022-08-16 10:34] ovflowd commented on #2643
If you could try to expand the logs, it would be helpful to see what exactly is happening within `wrap-page-element.js`

[2022-08-16 10:37] AugustinMauroy commented on #2643
https://user-images.githubusercontent.com/97875033/184859771-d6468c2d-bf85-4255-a758-05084c58f4b6.mov

[2022-08-16 10:40] AugustinMauroy commented on #2643
I fond an solution x'D
Disable javascript!

[2022-08-16 10:41] ovflowd commented on #2643
Could you show me what's on 🤔

![image](https://user-images.githubusercontent.com/12037269/184860545-374a4aee-12ef-48ee-b120-61fdf90ef65a.png)

What happens if you clear your cache?

[2022-08-16 10:43] AugustinMauroy commented on #2643
i re enable javascript and its work -_-

[2022-08-16 10:44] AugustinMauroy commented on #2643
I will close this issue thanks

[2022-08-16 10:44] ovflowd commented on #2643
O.o

[2022-08-16 10:45] AugustinMauroy commented on #2643
???

[2022-08-16 10:45] ovflowd commented on #2643
Nothing. I'm just mesmerized by the solution. 😅

[2022-08-16 11:55] ashiishme commented on #2630
If this issue needs a special attention from a regular active contributor, it's fine for me I can pick other issues but I do have experience on Gatsby & building Gatsby theme and have worked with Gatsby API.

Or I can help with the investigation if there is something. ✅

[2022-08-16 11:58] ovflowd commented on #2630
Feel free to tackle this issue then, but it would be nice if you could share a draft branch so we could work closely on this :)

I can, at least, set up the git submodule and prepare the contents folder. This work can be done together. If you want, you can handle creating the Gatsby Plugin (or MDX) plugin to handle the metadata we were talking about the last meeting. We can also sync this at the n

[2022-08-16 18:12] ovflowd commented on #2643
I was able to reproduce this issue. And identified the root cause. Working on a fix!

[2022-08-17 00:01] #2643 closed

[2022-08-17 04:14] tannerdolby opened #2647 "Some broken links exist in list at the end of article"
### URL:

https://nodejs.dev/en/learn/how-much-javascript-do-you-need-to-know-to-use-nodejs

### Browser Name:

Chrome

### Browser Version:

103.0.5060.53 (Official Build) (x86_64)

### Operating System:

macOS High Sierra v10.13.6

### How to reproduce the issue:

1. Browse to 'https://nodejs.dev/en/learn/how-much-javascript-do-you-need-to-know-to-use-nodejs'
2. Navigate to the end of the articl

[2022-08-17 14:55] rodion-arr commented on #2632
Closed by https://github.com/nodejs/nodejs.dev/pull/2636

[2022-08-17 14:55] #2632 closed

[2022-08-17 16:07] rodion-arr commented on #2647
Reproduced from my side, probably it is related to new i18n URL structure and there are probably more pages like that

[2022-08-18 00:12] Trott opened #2649 "Accessibility Issues"
The site has some accessibility issues that should be addressed. Color contrast is insufficient in some places per WCAG AA standards, some ARIA references are broken, etc. These sorts of things can be found with common accessibility tools. I'm using WAVE browser extension, but there are many other options.

[2022-08-18 02:15] #1048 closed

[2022-08-18 07:17] ovflowd commented on #2649
Hey, @Trott [this](https://github.com/nodejs/nodejs.dev/pull/2638), PR handles some of the accessibility issues. But there are indeed still a few more to be worked on!

[2022-08-18 09:38] #2619 closed

[2022-08-18 11:59] ovflowd commented on #2630
Here is some context and guidelines on how to accomplish this. https://openjs-foundation.slack.com/archives/CVAMEJ4UV/p1660745642987059

[2022-08-18 12:00] ovflowd commented on #2647
Not sure about this, as the i18n system would just redirect to the same page with the locale code. It might be that the actual links of these pages changes and we need to update the ` <Link>` fragments.

[2022-08-18 18:03] Miffili commented on #2647
I've been investigating the issue today. I am not sure where it arises, but from what I have found, the pages are not being created. (At least checking the data the pages aren't created/shown.)

Found a fix for the first page/link. Will see, if it'll fix it all & open a PR if it does. :)

[2022-08-18 19:40] ovflowd commented on #2647
Oh my, they're not being created? It could be that my `learn.yml` file didn't include them, or I wrote their filenames incorrectly there.

[2022-08-18 19:52] Miffili commented on #2647
I am checking that. 🙂 (Been a while I've worked with Gatsby.) Don't want to push something half-ass.
Will ping you, when I have a possible solution.

[2022-08-18 20:18] ovflowd commented on #2647
Than you, @Miffili I appreciate the contribution 💖

[2022-08-18 20:23] Miffili commented on #2647
I appreciate the opportunity to contribute for the first time to Open Source! 🤓

[2022-08-18 20:43] ovflowd commented on #2647
Oh that's so nice, excited for your first open source contribution 🎉

[2022-08-19 07:10] ovflowd commented on #275
**Reopening this issue, as there was progress:**

- Metrics page is live already but could have some UX adjustments (like padding): https://nodejs.dev/en/sites/metrics/
- The Calendar Pull Request is still open, and I'm going to rebase it soon (https://github.com/nodejs/nodejs.dev/pull/2428)
- Benchmark seems to be retired officially

The other pages, I don't think they need a page within nodejs.d

[2022-08-19 08:09] ovflowd commented on #2647
Hey @Miffili just as a heads-up I think I already found the root cause of this issue, but I just wanted to check if your solution was inline with mine 👀

If they are the same, I would super appreciate it if you could give an eye to other open issues/tasks in the repo, and I would love contributions! 💖

[2022-08-19 08:58] richardlau commented on #275
FYI most of the links on that page are broken. The page is also out of date -- see the note at the beginning of https://nodejs.org/metrics/.

[2022-08-19 13:48] Miffili commented on #2647
Hi @ovflowd!

In part your changes do fix the issue. :) Since I have a bit of a hard time scanning through your PR, I hope it's okay that I've opened a PR with the changes I've done for reference. (You also caught the method bug & the learn.yaml was in fact faulty. 🙈)

I can also adjust my PR & remove the last two commits in order to take care of the broken pages due to typos in `learn.yaml`. Let

[2022-08-19 13:49] ovflowd commented on #2647
That's fine! My PR is massive 😅

Let's keep your PR as is and get it 🚢 (shipped) git might be smart enough to just drop my changes from my PR :)

[2022-08-19 13:51] Miffili commented on #2647
Cool. 🤓 This was a fun challenge!
Thanks for the prompt responses & guidance. 💙

[2022-08-19 16:42] Miffili commented on #2566
👀

Just from scanning the issues/tasks.. would you like to have help here?
Not sure, what you're working on currently, @ovflowd?
These issues seem pretty straight forward & good to get more familiar with the code base. 😊

[2022-08-19 16:46] ovflowd commented on #2566
Hey there 👋 there's a current open PR for the Sidebar, which leaves pagination and thumbnails.

The thing about thumbnails is that we would need to get some designs. Maybe the Figma's have enough stuff within, but to be honest, I'm not sure 😅

As the whole blog part of the Website wasn't really part of the Figmas 😞

So creativity is the key here 😅

[2022-08-19 17:03] Miffili commented on #2566
Oh, I see in the massive PR. 😅 (My brain has a hard time comprehending such a mass of information. 🙈)

Okay, will check out the remaining tasks on this list & figma. And look through the remaining issues & stuff.

🤓
I'm new to actively contributing & navigating the Github interface in such detail.
Will ask more questions 'til I have a grasp on things. 😇

Thanks for the patience!

[2022-08-19 21:49] ashiishme commented on #2630
I have created a draft PR with branch `ashiishme:issue-2630-read-nodejs-docs`. I will be working on the parser part. Also, I am on vacation till next week so I will continue the work once I am back on coming Saturday. 🙂

[2022-08-19 21:59] ovflowd commented on #2630
Coolio! Thank you so much ❤️

[2022-08-20 13:15] ovflowd commented on #2566
Will ask more questions 'til I have a grasp on things. 😇

No worries at all! There's nothing wrong with asking questions :)

[2022-08-21 10:35] #2647 closed

[2022-08-21 23:55] ovflowd opened #2661 "ToC component redirect to the homepage"
### URL:

https://staging.nodejs.dev/2654/en/community/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.82

### Operating System:

Windows 11 Pro, 22H2, 22622.575

### How to reproduce the issue:

The ToC component generates links that start with `/`, resulting in any link redirecting to the main page. The idea is to fix the ToC component by not redirecting to the main page.

[2022-08-21 23:57] ovflowd commented on #2629
@benhalverson I believe you can proceed with the change and remove the stale members.

[2022-08-22 00:01] ovflowd opened #2662 "Text doesn't break on mobile on blog posts and "Recent Posts" should be after the blog post"
### URL:

https://staging.nodejs.dev/2654/en/blog/vulnerabilities/2022/06/21/openssl-fixes-in-regular-releases-jun2022

### Browser Name:

Chrome

### Browser Version:

104.0.5112.82

### Operating System:

Windows 11 Pro, 22H2, 22622.575

### How to reproduce the issue:

- On mobile phones, the text on blog posts can break the maximum width of the page, as attached within the screenshot.
  ![imag

[2022-08-22 00:04] benhalverson commented on #2661
kind of annoying but this doesn't happen on nodejs.dev 🤔
The specific link I saw this happen with was the introduction link

[2022-08-22 00:06] ovflowd opened #2663 "Add testing for a11y"
### Enter your suggestions in details:

With [this](https://github.com/nodejs/nodejs.dev/pull/2650) Pull Request, we're adding the possibility to do Accessibility Tests within the Nodejs.dev repository. This allows us to assess and tests accessibility issues within the Website.

We want to introduce those testing to all remaining existing Unit Tests that test Pages to ensure that each page is comp

[2022-08-22 00:07] ovflowd commented on #2661
The specific link I saw this happen with was the introduction link

Regression on https://github.com/nodejs/nodejs.dev/pull/2654. Seems that by using the `LocalizedLink` on ToC it introduces this. Reverting it to use normal Gatsby's Link. (Kinda annoying this)

[2022-08-22 00:09] ovflowd commented on #2611
Relates to https://github.com/nodejs/nodejs.dev/issues/2630

[2022-08-22 00:12] ovflowd commented on #1468
Yes, using CSS modules would prevent the styles that are created within file A from affecting other styles or global styles.

The styles defined within `layout.scss` and `mobile.scss` should be kept if they're global styles.

Any other style (eg.: component or page-specific style) should move to a new SCSS file, and they should be imported with named imports (`import * as styles`) so that they're

[2022-08-22 00:14] ovflowd commented on #834
The old workflow seems to have been removed. So closing this issue.

[2022-08-22 00:14] #834 closed

[2022-08-22 12:06] mhdawson opened #2664 "Node.js Website Redesign Strategic Initiative Meeting 2022-08-24"
## Time

**UTC Wed 24-Aug-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-Aug-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 24-Aug-2022 12:00 (12:00 PM) |
| US / Central  | Wed 24-Aug-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 24-Aug-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 24-Aug-2022 19:00 (07:00 PM) |

[2022-08-22 13:21] #854 closed

[2022-08-22 13:21] #2661 closed

[2022-08-22 15:26] ovflowd commented on #2566
Would it make sense to talk about blog design as well?

Maybe yes, but we don't have a designer right now, so taking a design issue by a standpoint of Software Developers, could lead to pathways we want to consider before.

Honestly speaking, the blog feature is cherry on the top, as it is not one of the biggest priorities for the completion of this project 👀

But it definitely could be a topic fo

[2022-08-22 15:29] Miffili commented on #2566
Got it. :) Will whip something up for the thumbnails then.

[2022-08-22 19:37] ovflowd commented on #2649
@Trott we got the PR merged, and now we're going to add more tests by doing #2663 this should solve all the a11y issues that the library covers, and hopefully then we're inline with current standards 🙏

[2022-08-22 19:43] Kunal0007 commented on #2662
I did some research and I got this https://stackoverflow.com/questions/14477156/text-not-wrapping-in-paragraph-element
Can I work on this issue?

[2022-08-22 19:52] ovflowd opened #2667 "SSR (or cached) versions of the page are not getting translated"
### URL:

https://nodejs.dev/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.101

### Operating System:

macOS 12.5.1

### How to reproduce the issue:

Somehow the `react-intl` part of the website is not working within SSR. (The cached `page-data` is returning the data correctly) but the Context somehow is missing. Not sure if this is an SSR issue or an issue because of the `gatsby-p

[2022-08-22 19:54] ovflowd opened #2668 "Table of Contents are not rendering"
### URL:

https://nodejs.dev

### Browser Name:

Chrome

### Browser Version:

104.0.5112.101

### Operating System:

macOS 12.5.1

### How to reproduce the issue:

The Table of Contents Component is not rendering somehow. This might be because of the `!blog` logic or something differently missing.

Investigation needs to be done 👀

[2022-08-22 23:14] ovflowd commented on #2662
Can I work on this issue?

You don't need to ask to work on issues, just do the PRs :)

[2022-08-24 03:46] #2649 closed

[2022-08-24 07:36] iSatVeerSingh commented on #2668
Hey folks, I am new to this project and I want to contribute to this project. Currently I am just try to understand the code base. But when I open my text editor do some changes in code, I see that tests are automatically running. Can anyone please tell me, how can I stop automatic tests running? I want to do it manually, whenever I need.
Somebody, please help me regarding this.

[2022-08-24 08:16] ovflowd commented on #2668
Somebody, please help me regarding this.

Could you please open a new Issue instead of commenting here? Your support request has no correlation to this Issue 😅, would love to help once you open a new issue. And please attach screenshots of your editor and which commands you're running...

[2022-08-24 08:17] ovflowd opened #2673 "Automatic running tests when doing some changes(editing) or open the text editor"
### Discussed in https://github.com/nodejs/nodejs.dev/discussions/2671

<div type='discussions-op-text'>

<sup>Originally posted by **iSatVeerSingh** August 23, 2022</sup>
Hey folks, I am new to this project and I want to contribute to this project. Currently I am just try to understand the code base. But when I open my text editor do some changes in code, I see that tests are automatically runnin

[2022-08-24 08:18] ovflowd commented on #2673
Hey @iSatVeerSingh could you please attach screenshots and the commands you're running that cause this behaviour? For example, I'm using VSCode, and by running the correct commands (`npm run start`), everything works fine.

[2022-08-24 09:55] ovflowd opened #2674 "Refactor usage of Browser specific APIs within a Hook"
As rule-of-hooks (from React) and general best practices, React Components should not be aware of contexts outside of the Component. (Eg.: global variables). This also includes `window, document, navigator, et cetera).

The reasoning is that within some environments (Unit Testing without Jest DOM, Server-Side Rendering, Node.js) those variables will not be available, and their results/expectancies

[2022-08-24 09:55] ovflowd commented on #2630
@ashiishme just checking in if you have any progress within the draft PR?

[2022-08-24 15:30] iSatVeerSingh commented on #2673
@ovflowd I am not running any commands. I just opened my editor in nodejs.dev clone directory and Jest Tests are started running automatically.
See the arrow pointing to the tests in screenshots below. I am raising this issue because It slows down my vs code and laptop.
![Screenshot 01](https://user-images.githubusercontent.com/85070570/186459165-44ca9d33-98df-4534-af2a-5a79584c68c1.jpg)

![Screen

[2022-08-24 15:51] zedifen commented on #2673
I think this might be an automation of some VS Code extension. As for me I may check the "Output" tab to find out which extension are running these tests. After finding the extension, I think this automation can be configured by checking the corresponding page of the extension or just Googling it.

[2022-08-24 15:57] iSatVeerSingh commented on #2673
Fixed. I just disabled VS Code Jest Extension. The Jest Extension was not configured so It was running on default configuration and running auto tests. For me it fixed by disabling the extension.

Thanks to all for help.

[2022-08-24 16:01] iSatVeerSingh commented on #2673
@ovflowd This is not a bug. I was my vs code problem, now fixed. You can close this issue.

[2022-08-24 16:10] ovflowd commented on #2673
Thanks, glad to hear you fixed the issue :)

[2022-08-24 16:10] #2673 closed

[2022-08-25 08:25] #2668 closed

[2022-08-26 08:29] #2662 closed

[2022-08-26 08:29] ovflowd commented on #2667
This issue is gone (not more reproducible).

[2022-08-26 08:29] #2667 closed

[2022-08-27 03:53] iSatVeerSingh commented on #2611
Is anyone working on it??
If not then I would love to work on this.
Please let me know as soon as possible.

[2022-08-27 14:20] ovflowd commented on #2611
If not then I would love to work on this.
Please let me know as soon as possible.

Yes, we're already working on this one. Sorry @iSatVeerSingh, but this specific task requires deep knowledge regarding our Docs system and the overall structure of the project, and other things. I would recommend giving an eye to another task 🙂

[2022-08-27 17:58] elandorr commented on #1849
No offense, but let me make this clear to dispel the 'community' myth:

- Microsoft owns npm, nodejs is owned by the 'openjs foundation' which is run by the 'linux foundation'.
- The 'openjs foundation' lists the entirety of the tech corpocracy's trillionaires as backers (MS, G, etc.). Money? Check. 'Trillions' is not a typo. Especially with Microsoft directly having vested interest, there is guar

[2022-08-28 01:13] iSatVeerSingh commented on #2611
@ovflowd if you need any help or somebody work with you. Please consider me.

[2022-08-28 01:37] iSatVeerSingh commented on #2611
can I still submit a PR?

[2022-08-28 06:48] manishprivet opened #2678 "Next button missing on the last page of each section on /learn"
### URL:

https://nodejs.dev/en/learn/nodejs-the-difference-between-development-and-production/

### Browser Name:

Microsoft Edge

### Browser Version:

104.0.1293.70

### Operating System:

MacOS 12.3

### How to reproduce the issue:

1. Go to the last page of any section on the /learn page, e.g., https://nodejs.dev/en/learn/nodejs-the-difference-between-development-and-production/
2. Next butto

[2022-08-28 08:03] ovflowd commented on #2611
Sure, you’re always free to submit a PR. I’m just trying to be honest here that this Issue requires context you lack of… But do what you please :)

[2022-08-28 12:12] Muneeb-T opened #2679 "Duplicate defenition for 'path' and 'fs' modules documentation"
### Affected URL(s)

https://nodejs.dev/en/learn/the-nodejs-path-module/

### Description of the problem

In your documentation about **'path'** module, there is a mistake in the first sentence, it is the exact defenition from preceeding documentation about **'fs'** module.

There are same defenitions for both modules that is :
The **path** module provides a lot of very useful functionality to acc

[2022-08-28 15:49] nschonni commented on #2611
I'm also not sure if this is really a feature that will land. Today these files aren't in the nodejs.org repo, as you're taking about a lot of files per version, times the number of releases that Node.js has had (major, minor, patch)

[2022-08-28 16:05] ovflowd commented on #2611
I believe what we want to achieve here is to only provide docs for the actively maintained releases. The ones described here: https://nodejs.dev/en/download/ (Upcoming Releases).

The path for the docs would be `/api/`. All the older docs would work the same way nodejs.org does today, redirecting them to the /docs/ folder of the website. (https://nodejs.org/docs/)...

[2022-08-28 16:06] ovflowd commented on #2611
Also, @nschonni, we have a slack thread with all details for how we're going to code the retrieval and parsing of these docs on the related issue and also within a Slack thread. I'm expecting to work on this either starting later today or next week.

[2022-08-29 12:05] mhdawson opened #2682 "Node.js Website Redesign Strategic Initiative Meeting 2022-08-31"
## Time

**UTC Wed 31-Aug-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 31-Aug-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 31-Aug-2022 12:00 (12:00 PM) |
| US / Central  | Wed 31-Aug-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 31-Aug-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 31-Aug-2022 19:00 (07:00 PM) |

[2022-08-29 14:39] Abhiram-Gullapalli commented on #2678
There is a "next" and "prev" option at the bottom of each page . One of them might be missing at times based on the page you are viewing. These options are present at the bottom most section of the page. (Present below "Edit this page on github")

[2022-08-29 16:36] Kunal0007 commented on #2678
It is not present on the last page of each section because the value of the next prop is null which is responsible for the display of Pagination refer `src/components/Pagination/index.tsx`

Components for https://nodejs.dev/en/learn/the-nodejs-event-emitter/

![image](https://user-images.githubusercontent.com/73381050/187250335-e54e5ddb-a343-46e4-8232-6aae30d0b713.png)

[2022-08-29 22:40] Shofiya2003 commented on #2679
I want to work on the issue. I will have to replace the definition of 'path' module to fix the issue

[2022-08-30 18:08] Kunal0007 commented on #2679
You don't need to ask to work on issues, just do the PRs :)

[2022-09-01 04:05] #2629 closed

[2022-09-01 05:30] #1468 closed

[2022-09-01 05:39] benhalverson commented on #441
is this a thing we want to continue? It hasn't been updated in 2+ years @nodejs/nodejs-dev

[2022-09-01 05:41] benhalverson commented on #2682
@mhdawson can you update the zoom link? See https://openjs-foundation.slack.com/archives/CVAMEJ4UV/p1661968927183029?thread_ts=1661937750.279349&cid=CVAMEJ4UV

[2022-09-01 05:45] #2616 closed

[2022-09-01 05:45] #2640 closed

[2022-09-01 05:45] #2664 closed

[2022-09-01 05:57] benhalverson opened #2685 "Add keyboard shortcut / to search docs"
### Enter your suggestions in details:

I'd like to be able to type `/` as a keyboard shortcut to start a search

[2022-09-01 20:07] ovflowd commented on #2685
Right now if you tab all the way to the search bar element it automatically expands (already accessible).

But yeah, typing / would be nice!

[2022-09-02 09:37] #2611 closed

[2022-09-02 09:37] #2630 closed

[2022-09-02 11:30] serpilacar opened #2711 "Every content (including code blocks) is capitalized in website"
## Summary
I'm curious whether it was intentional because all of the content in the website is effected by it, so I don't want to think it's overlooked and that's why I opened this issue with `question` label instead of `bug`. But on the other hand this doesn't feel right. I don't know how this change was introduced initially but at least `text-transform: capitalize;` shouldn't effect code blocks.

[2022-09-02 11:44] VayneValerius opened #2712 "Node JS examples have capitalised JS"
### Enter your suggestions in details:

##  Problem

Node js examples have capitalised example code due to an overriding css rule.

### Possible Solution

If you comment out the text transform in the inspector, all the examples go back to normal.  This also stops all text being capitalised too.

[code]

[2022-09-02 11:58] ovflowd commented on #2711
Oh! That's definitely a bug! It was meant to capitalize the Headings, not everything. Gonna work on a fix here :)

[2022-09-02 11:59] ovflowd commented on #441
Agreed, I think we can just close this.

[2022-09-02 12:54] VayneValerius commented on #2712
Seen this is being addressed will close.

[2022-09-02 12:54] #2712 closed

[2022-09-02 17:50] mhdawson commented on #2682
@benhalverson can you PR that change into -> https://github.com/nodejs/create-node-meeting-artifacts/blob/main/templates/meeting_base_wrsi.

Once that lands all new meeting issues will have the updated link.

[2022-09-02 18:24] rotemdan opened #2714 "Homepage download button has a confusing label"
Hi, sorry if this is insanely obvious, but sometimes the obvious things don't get much attention, for the very fact that they are so obvious! (everyone assumes they are already being taken care of..)

The homepage download button currently looks like this:
![Screenshot_1](https://user-images.githubusercontent.com/8589488/188210282-207d720f-3862-4aab-85b2-3b5e51ef3d24.png)

It says "Download Node (

[2022-09-02 20:10] #441 closed

[2022-09-03 00:06] ovflowd commented on #2714
Indeed a small yet meaningful change. Gonna work on this :)

[2022-09-03 00:09] ovflowd commented on #2607
Done

[2022-09-03 00:09] #2607 closed

[2022-09-03 00:14] ovflowd commented on #903
This is done now :)

[2022-09-03 00:14] #903 closed

[2022-09-04 09:38] neonanal commented on #2711
wow, I thought new nodejs version requires PascalCase now, phew.

[2022-09-04 10:17] ovflowd commented on #2679
As @Kunal0007 mentioned, you don't need to ask to work on the issues. Just make the PRs, and if you have any questions, just ask them :)

[2022-09-04 10:23] #2711 closed

[2022-09-04 10:24] ovflowd commented on #2678
This very likely happens within the `createMarkdownPages.js` utility.

[2022-09-04 10:28] ovflowd opened #2718 "Add API version navigation within the API docs"
Currently, the new API Docs lacks a `<select>` element that allows switching between the different versions of docs hosted within the page.

On top of that, for all other versions not hosted within the page, we should redirect them towards the Node.js API docs archive `https://nodejs.org/docs/latest-v{x}.x`

This would also require changes within the script of `getNodeReleases` as we will need to

[2022-09-04 10:29] ovflowd commented on #256
Closing as this was done, but sadly we're not going to proceed with the i18n package here for now.

[2022-09-04 10:29] #256 closed

[2022-09-04 10:29] ovflowd commented on #950
Sections were added.

[2022-09-04 10:29] #950 closed

[2022-09-04 10:35] ovflowd opened #2719 "Decouple API docs generation from bundling process"
The idea is that instead of building the API docs (fetching them) whenever we're building, the whole script would be outsourced to another script, `build-docs.js`, which would do the necessary imports.

This would mean the `build-api-docs.js` would do the same thing as it does today, except that it will output the content to the file system within `content/api/v{x}/{y}.en.md` where x is the major

[2022-09-05 12:06] mhdawson opened #2720 "Node.js Website Redesign Strategic Initiative Meeting 2022-09-07"
## Time

**UTC Wed 07-Sep-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Sep-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 07-Sep-2022 12:00 (12:00 PM) |
| US / Central  | Wed 07-Sep-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 07-Sep-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 07-Sep-2022 19:00 (07:00 PM) |

[2022-09-05 14:16] uconsta opened #2721 "Learn Node.js has every word with the first letter capitalized"
## Summary

Every word on https://nodejs.dev/en/learn/differences-between-nodejs-and-the-browser/ has the first letter capitalized. I can easily write a script to fix this (in Node.js! Haha!) but maybe it's intentional?

So distracting and odd! Surely a mistake. Let me know if I can submit a PR :)

[2022-09-05 15:17] elisabethirgens commented on #2721
Same with API docs on for example https://nodejs.dev/en/api/v18/documentation/
`text-transform: capitalize` all around 😅

But when I forked and run the repo locally: the text is fine.

[2022-09-05 15:31] manishprivet commented on #2721
Thanks, @uconsta, for pointing it out. Please feel free to submit a PR for this 🙌🏼

[2022-09-05 15:34] JonathanStreet commented on #2721
This is resolved by https://github.com/nodejs/nodejs.dev/pull/2713 ([Commit](https://github.com/nodejs/nodejs.dev/pull/2713/commits/9a820cd82fc2e8ea2ba49e08d583b170ff593452#diff-3a92a57f6db092f6df037f41d646d87fd93389389d7021d6de8de174739a762a))

[2022-09-05 16:20] uconsta commented on #2721
Ah, nevermind then!

[2022-09-05 16:27] ovflowd commented on #2721
@manishprivet this was already solved by #2713 😅

[2022-09-05 16:27] #2721 closed

[2022-09-05 16:28] manishprivet commented on #2721
Weird, I can still see this issue on the site.

![image](https://user-images.githubusercontent.com/54291836/188489208-9607b00c-6f8a-4d95-82d1-f73fda07f285.png)

@ovflowd can you confirm?

I'll put my system specs just in case:
OS: macOS 12.3
Browser: Microsoft Edge Version 105.0.1343.27 / Safari Version 15.6.1 (17613.3.9.1.16)
(tried incognito as well)

[2022-09-05 16:31] rodion-arr commented on #2721
I think that we have some issues with deployment. Reproduces for me also

[2022-09-05 16:33] ovflowd commented on #2721
Yes, the latest version deployment Errored.

[2022-09-05 16:38] manishprivet commented on #2721
Past two builds failed
![image](https://user-images.githubusercontent.com/54291836/188490385-88d44b80-788b-4ff9-8d47-08b8c2dc4bed.png)
![image](https://user-images.githubusercontent.com/54291836/188490407-dd34c44c-dced-4f10-92fd-86b1a8c10bb0.png)

Should we reopen this issue or create a new one?

[2022-09-05 22:48] RileyManda opened #2723 "Responsive issue on Layouts"
There seems to be an issue with the responsiveness of the site.

### URL:

https://nodejs.dev/en/learn/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.101

### Operating System:

MAC OSX

### How to reproduce the issue:
Open url in chrome/safari:
https://nodejs.dev/en/learn/

Chrome view

<img width="1275" alt="Screen Shot 2022-09-06 at 12 41 11 AM" src="https://user-images.githubuse

[2022-09-06 15:26] ovflowd commented on #2723
Hey @RileyManda could you give more details like what's your screen size (width / height) in pixels?

[2022-09-07 02:34] RileyManda commented on #2723
Hi @ovflowd  I am running Mac Pro 13 inch(2560 x 1600) and attempted to view the website on Chrome and Safari.
The website's mobile views seem to be responsive,but the larger screen size --up to 13inch on my end fails to resize and the content seems to be more right aligned than centered

[2022-09-07 08:18] Chudroy opened #2726 "Documentation Overflows off of Page"
### Affected URL(s)

https://nodejs.dev/en/learn/the-npx-nodejs-package-runner/#:~:text=npx%20is%20a%20very%20powerful,published%20through%20the%20npm%20registry.

### Description of the problem

For widths less than ~1480px, the documentation doesn't wrap properly, overflowing off of the page.

![image](https://user-images.githubusercontent.com/73020686/188827519-05a3636a-1283-4652-a065-36429b2cc

[2022-09-07 09:11] ovflowd commented on #2726
Duplicate of https://github.com/nodejs/nodejs.dev/issues/2723

[2022-09-07 09:11] #2726 closed

[2022-09-07 09:11] ovflowd commented on #2723
Gotcha, I believe this happens for windows resizing up to a specific width. Let me check.

[2022-09-07 13:09] ovflowd opened #2729 "Node Releases Generation: Index only last version of each major release"
In order to have a reliable version of all `NodeReleases` within the Website Application, that can also be used by the API Docs Navigation Sidebar we need to update the script that fetches and parsers versions to:

- Not slice the first 50 entries of the Array
- Have a secondary Set which contains only the `latest` version of each release.
  - So if v14 has 10 versions, it will only pick the last

[2022-09-07 15:27] richardlau commented on #2729
If you don't want to reinvent the wheel, https://github.com/pkgjs/nv will get you the latest version of each supported Node.js release line.

[2022-09-07 15:29] ovflowd commented on #2729
Sounds an interesting idea without relying on web requests to nodejs.org! Will check it out 🙃

[2022-09-07 18:25] #2438 closed

[2022-09-08 08:50] #2723 closed

[2022-09-08 08:50] #2714 closed

[2022-09-08 09:18] #2719 closed

[2022-09-09 08:39] #2679 closed

[2022-09-09 09:34] benhalverson opened #2736 "nodejs.dev briefly loading without any styling"
### URL:

nodejs.dev

### Browser Name:

any

### Browser Version:

any

### Operating System:

any

### How to reproduce the issue:

This happens on all my devices windows, osx, ios, chrome safari etc etc

load nodejs.dev
the site will flash white and load briefly without any styles.

This is a new issue, prior to the API docs implementation and other things this wasn't an issue.

[2022-09-09 09:42] AugustinMauroy opened #2737 "ES download button"
### URL:

https://nodejs.dev/es/

### Browser Name:

Safari

### Browser Version:

15.6.1

### Operating System:

macOS 12.5.1

### How to reproduce the issue:

1. open https://nodejs.dev/es/
2. see download button

[2022-09-09 10:12] #2737 closed

[2022-09-09 17:12] #2729 closed

[2022-09-09 17:12] #2718 closed

[2022-09-09 17:14] ovflowd commented on #2736
This is possible happening because of CSS modules. I need to check how to embed the styles with SSR. (This only happens in production builds as w have an SSR version that doesn't come with styles.

[2022-09-10 07:43] #2736 closed

[2022-09-10 20:46] ovflowd opened #2743 "Introduce GitHub Action for Syncing API docs"
### Enter your suggestions in details:

Since we introduced a new script for fetching Nodejs API docs and generating files (`npm run sync-api`), we now need to create a GitHub Action that either runs this script and automatically commits to `main` with the latest data daily or syncs based on if any new commit happens on `nodejs/node` repository.

This is a fairly simple GitHub Action. Some referen

[2022-09-10 20:58] ovflowd opened #2744 "Add missing unit tests for pages and components"
Whilst in these last 3 months we overly focused on adding new features, content and structure to the Nodejs.dev repository, we gave a strong oversight to the unit testing side of it.

Several Components lack Unit Tests and some pages too. This Issue is simple, just add unit tests. With some caveats:

- For Pages, we simply unit test that they're rendering as normal
- For Components, we test that t

[2022-09-10 21:00] #2565 closed

[2022-09-10 21:00] #2605 closed

[2022-09-10 21:01] ovflowd commented on #2682
@benhalverson have you created a PR yet?

[2022-09-10 21:01] #2720 closed

[2022-09-10 21:05] ovflowd opened #2745 "Decide which blog posts should be ported from Nodejs.org"
### Enter your suggestions in details:

Right now we need to decide which blog posts and sections should be ported from the Nodejs.org Blog into our Blog.

cc @nodejs/tsc @nodejs/nodejs-dev

[2022-09-10 21:15] ovflowd opened #2746 "Migrate to MDX v2"
### Enter your suggestions in details:

Gatsby finally released support for MDX v2 and a new release of `gatsby-plugin-mdx` (v4), which introduces MDX v2 support.

This new version is drastically more performative and way less verbose and should improve the page's performance and drastically reduce the build time.

**This requires:**

- Having all API docs pages being on filesystem ✅ (Recently com

[2022-09-10 21:19] ovflowd commented on #2612
cc @nodejs/i18n @nodejs/translators @nodejs-fr @nodejs-de @nodejs-es @nodejs-da @nodejs-cn @nodejs-ar @nodejs-bn @nodejs-el @nodejs-pt @nodejs-ro @nodejs-ko @nodejs-ru @nodejs-uk

This repository is now finally in a state ready for accepting translations. We would be amazed if y'all could contribute with translations. [Guidelines here](https://github.com/nodejs/nodejs.dev/blob/main/TRANSLATING.md)

[2022-09-10 21:21] ovflowd commented on #1406
@bnb suggested us to use Linkinator: https://github.com/JustinBeckwith/linkinator

[2022-09-10 22:03] benhalverson commented on #2682
No I need a new zoom link first https://github.com/nodejs/create-node-meeting-artifacts/issues/116

[2022-09-11 02:30] #2685 closed

[2022-09-11 15:21] ovflowd commented on #2746
I spent today many hours on figuring out and trying to migrate to MDX v2, and the cornerstone (conclusion) is that this might not be possible due to the current "format" of the website:

- Internationalisation (aka, serving different Markdown files to the same page) can be proven to become very difficult as with `gatsby-plugin-mdx`v4 the source of the Markdown files comes directly from the `create

[2022-09-11 15:21] #2746 closed

[2022-09-11 21:15] ovflowd opened #2749 "Build: Create GitHub Action for Building Firebase"
This issue concerns an Infrastructure enhancement to use GitHub Actions to build the Production builds and deploy to Firebase instead of G Cloud.

To also speed up Gatsby builds (whose are being held back due to cache issues), we want to take advantage of Gatsby's incremental build system and use (https://github.com/marketplace/actions/cache) to keep the cache of Gatsby's build `.cache` and (https

[2022-09-12 10:07] #435 closed

[2022-09-12 12:05] mhdawson opened #2753 "Node.js Website Redesign Strategic Initiative Meeting 2022-09-14"
## Time

**UTC Wed 14-Sep-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Sep-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 14-Sep-2022 12:00 (12:00 PM) |
| US / Central  | Wed 14-Sep-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 14-Sep-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 14-Sep-2022 19:00 (07:00 PM) |

[2022-09-12 17:06] AugustinMauroy opened #2755 "Feat:(I18n) translate learn section"
## translate learn section
In the learning section the sidebar is not translatable because the information is stored in learn.yml .

What would be the possibility to translate this?

[2022-09-12 18:07] vinaykakkad opened #2756 "Images not showing on timers page"
### URL:

https://nodejs.dev/en/learn/discover-javascript-timers/

### Browser Name:

Brave

### Browser Version:

Version 1.43.89 (Chromium: 105.0.5195.102)

### Operating System:

Pop!_OS 22.04 LTS

### How to reproduce the issue:

- Some images on the [javascript-timers page](https://nodejs.dev/en/learn/discover-javascript-timers) are not showing
- ![image](https://user-images.githubusercontent

[2022-09-12 18:22] bnb commented on #2749
FWIW worth noting that if this *does* get moved to nodejs.org, we will almost certainly not want to run on Firebase (or GCloud) since we have existing infra.

[2022-09-13 07:53] AugustinMauroy commented on #2756
Same problem whit safari

[2022-09-13 07:56] AugustinMauroy commented on #2756
if I look at this [document](https://github.com/nodejs/nodejs.dev/blob/main/content/learn/javascript-timers/index.en.md) I don't see what could block the image

[2022-09-13 08:56] ovflowd commented on #2756
I believe this is a regression from removing `gatsby-remark-images`

[2022-09-15 21:54] ovflowd commented on #2756
Fixed and shipped on nodejs.dev :)

[2022-09-15 21:54] #2756 closed

[2022-09-15 21:55] ovflowd commented on #2755
Learn can be translated (at least the pages). Only the sidebar "section" titles cannot be translated; you might create a feature request, as I think we should also support translating for the section titles. But all the remaining part of the sidebar gets translated.

[2022-09-16 09:48] AugustinMauroy commented on #2755
@ovflowd It is well of the titles of which I speak. I open the feature proposal when I have time

[2022-09-17 10:46] ovflowd commented on #368
Templates are kind of provided already. I am closing this. (If we need anything better, let us know)

[2022-09-17 10:46] #368 closed

[2022-09-17 10:47] ovflowd commented on #775
I believe this is obsolete,s o I'm just closing this. If people think this still should be addressed, please just reopen the issue.

[2022-09-17 10:47] #775 closed

[2022-09-17 10:53] lyqht commented on #2743
Hello there, would love to take on this issue during Hacktoberfest!

[2022-09-17 12:35] EmmaDawsonDev commented on #2744
As this is a good one for hacktoberfest would it be wise to break it down into smaller issues and explicitly state which components and pages need tests adding and make an issue for each one?

[2022-09-17 13:00] ovflowd commented on #2744
That's a great suggestion. I actually wanted to do this but haven't had time before, going to write up all the affected components and add sub-tasks for each one.

[2022-09-17 13:01] ovflowd commented on #2743
Coolio! Thanks for your interest!

[2022-09-17 13:35] EmmaDawsonDev commented on #2663
I'd like to have a go at this one please.

[2022-09-18 18:47] EmmaDawsonDev opened #2770 "Error when running npm run build"
### URL:

https://nodejs.dev/

### Browser Name:

Chrome

### Browser Version:

105.0.5195.102 (Official Build) (64-bit)

### Operating System:

Windows 11 Home, 21H2, 22000.978

### How to reproduce the issue:

After making my changes and checking that all tests passed, I ran `npm run build`. I got the following errors as shown in the image:

![image](https://user-images.githubusercontent.com/570

[2022-09-18 18:53] nschonni commented on #2770
@ovflowd FYI, we test on Windows and Linux for .org because we did hit some of these developers issues before in that setup https://github.com/nodejs/nodejs.org/blob/4bbf54b85b96dbea526050113404443b97ee2580/.github/workflows/ci.yml#L36-L43

[2022-09-18 20:14] ovflowd commented on #2770
Let's update our runners to also male builds on each PR for Windows

[2022-09-18 23:22] #2663 closed

[2022-09-18 23:30] benhalverson commented on #2770
The error is coming from babel I think we need a custom babelrc to override the 500kb limit on files.
https://github.com/babel/babel/discussions/13676

[2022-09-18 23:31] benhalverson commented on #2770
Oh I've never seen that second part before.

[2022-09-18 23:35] ovflowd commented on #2770
I don't think so. I already spent countless hours on this, and I was only able to "lighten" the issue, but never completely fix.

`compact` mode is already enabled for all Markdown transpiling, just check the patch on the /patches/ folder. I'm not sure if there's anything else that can be done. But we could do more investigation. Anyhow I opened an issue on Gatsby repo.

[2022-09-18 23:35] ovflowd commented on #2770
It could be that maybe you use WSL and they might not?

[2022-09-19 01:30] benhalverson commented on #2770
I see the same issue with powershell.

I'm pretty sure this is the issue.
https://github.com/jprichardson/node-fs-extra/blob/master/lib/mkdirs/utils.js#L13
[code]

[2022-09-19 03:57] nschonni opened #2776 "Replace gatsby-plugin-react-helmet with native Gatsby Head"
### Enter your suggestions in details:

During building, there is a warning now, because the functionaity is now built into Gatsby
[code]

Seems like the SEO section that uses it currently also has some updated guidance on the Gatsby docs

[2022-09-19 04:07] benhalverson commented on #2499
closed by #2641

[2022-09-19 04:07] #2499 closed

[2022-09-19 08:30] ovflowd commented on #2776
@nschonni we actually use the built-in feature from Gatsby. As you can see we don't even import the react-helmet plugin.

The issue here is that one of our plugins has the react-helmet as a dependency on their "package.json", I think that's why Gatsby's build is complaining.

But we're actually not using it.

[2022-09-19 12:05] mhdawson opened #2777 "Node.js Website Redesign Strategic Initiative Meeting 2022-09-21"
## Time

**UTC Wed 21-Sep-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Sep-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 21-Sep-2022 12:00 (12:00 PM) |
| US / Central  | Wed 21-Sep-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 21-Sep-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 21-Sep-2022 19:00 (07:00 PM) |

[2022-09-19 12:52] b4s36t4 commented on #2744
Can I work on this part?!

[2022-09-19 14:41] nschonni commented on #2776
https://github.com/nodejs/nodejs.dev/blob/2cfa1b721d4550a9215caa31148161e1518075ca/src/components/Seo/index.tsx#L2

[2022-09-19 14:47] ovflowd commented on #2776
@nschonni there's nothing wrong with that line. Again, what I was telling you, is that we don't use the `gatsby-react-helmet` plugin, which is correct.

We still, _yes_ need to move to what they introduced on 4.19.0 (which is quite recent).

[2022-09-20 03:18] vickymhs commented on #2744
Hi, I am interested to work on some of the components and sub-tasks of it.

[2022-09-20 03:56] #2770 closed

[2022-09-20 23:11] ovflowd commented on #2744
Hey folks 👋 you can simply work on these issues by just making PRs, no need to ask :)

I still need to update this Issue with the list of components and utilities that need testing, so hold tight, please 🙇

[2022-09-21 19:42] #2753 closed

[2022-09-21 19:49] Trott opened #2784 "Removing/replacing the "learn" section tutorial"
In the Website Redesign meeting today, it was agreed that:

1. The expansive Learn section is not appropriate for the site.
2. The site should have a minimal getting-started page or two which might end with links to the OpenJS Foundation free Node.js training materials and/or a small number of other official/canonical/unimpeachably-reputable links.

We can leave the Learn material in place for peo

[2022-09-21 19:52] Trott opened #2785 "Final underlying technology discussion"
In an effort to get this project over the finish line in the foreseeable future (let's shoot for the end of 2022?) and in a state where we can literally replace nodejs.org, let's get final agreement on technology, based on discussion at today's WG meeting.

Options to consider:

1. Stay with Gatsby
2. Next.js
3. 11ty

[2022-09-21 19:54] Trott opened #2786 "Migrate API docs stuff to core repo somehow"
It's important that people working on docs in the core repository are able to see what their changes will look like there. Right now, we run `make docs` and get a directory of web assets that we can view in a browser without even starting a web server--just use the file: URL--and we get exactly what will be rendered on nodejs.org.

This repository makes modifications. In discussion today at the WG

[2022-09-21 20:02] Trott opened #2787 "The great content removal project"
In an effort to make nodejs.org and nodejs.dev maintainable (and aligned so that they can become one website in my lifetime), here is my list of things that (in my opinion) should be removed from nodejs.org. Presumably, nodejs.dev would do the same.

1. All of the knowledge base articles. Put in redirects to MDN or whatever as appropriate. One or two (particularly around postmortem and debugging)

[2022-09-21 20:03] Trott commented on #2787
For many of these things, redirects might be simple. Like, the About pages can all redirect to the front page if we remove them all, or to the one remaining About page if we remove everything but that.

For Guides, it gets a little harder. I don't believe we have usage stats readily available, but if we have to crunch some logs, that might be worth doing to get an idea of prioritizing.

[2022-09-21 21:29] ovflowd commented on #2784
I don't believe the traffic we have is big enough that it would hurt by removing the learn content altogether. As if we just hide it, we're still building all these files.

They will still be available through git history. So my suggestion is:

- decide which pages should be considered getting started
- remove everything else
- consider moving these getting started pages directly to our "API Docs"

[2022-09-21 21:31] ovflowd commented on #2785
If we stick with Gatsby, we need to ensure that builds are stable.

As I was explaining before, the biggest issue on builds is MDX. The build fails if any non-conforming MDX code is present in any Markdown file. Many of our older API pages have issues and many of our blog posts too.

[2022-09-22 01:17] Trott commented on #2784
And if it's hosted elsewhere (perhaps wherever the original author had it hosted?), we can probably easily include a redirect in nginx rules.

[2022-09-22 01:18] Trott commented on #2784
I would imagine that we would, yes. I also imagine the process for translation probably depends on what repo they end up in. If they are in the repo alongside the API docs, it will probably be Crowdin.

[2022-09-22 01:19] benhalverson commented on #2784
In `A brief history of node` I'd keep the few paragraphs at the top but remove the timeline.

I'd keep the `how much javascript do you need to know` and point all those links to MDN examples for
- async programming
- timers, promises
- async/await
-  closures
-  the event loop.

I would keep https://nodejs.dev/en/learn/nodejs-the-difference-between-development-and-production/

I don't think we nee

[2022-09-22 01:43] benhalverson commented on #2787
Would there be opposition to adding some tracking script for a month or so to see which pages are used the most?

The same could be done for the /learn pages

[2022-09-22 05:00] Trott commented on #2787
I don't know. In the past, there were some folks who were adamant that we should not track any information about users at all ever beyond what is in our web server log files, and that we should especially not transmit that info to a 3rd party (like Google if using Google Analytics). However, more moderate viewpoints might prevail now. Someone (probably me) would likely have to take this up with th

[2022-09-22 07:04] mikeesto commented on #2784
I understand the rationale behind linking to MDN (or similar) in place of the current expansive Learn section. However, FWIW, I would like to advocate for the importance of having an easy to find: _How do I start working with Node.js after I have installed it?_ guide.

For context, I help teach node.js at a university with a cohort of ~500 each semester. We ask the students to go to the nodejs.org

[2022-09-22 08:10] ovflowd commented on #2784
We're not questioning the value of a Learn section. But the maintainability. It needs to be constantly updated, and up-to-date with current Node.js standards. Not to mention always translated to all our supported languages. It is not feasible for a small team to maintain this.

There's a ton of quality content out there to learn Node.js. OpenJS Foundation, for example.

[2022-09-22 08:11] ovflowd commented on #2784
The Rust community has a very well established website team. And Go has full support of Google. I wish we had the resources they have for the website and translation stuff. But our reality right now isn't quite there. It doesn't mean in the future we cannot focus on expanding the learn section, but it is something that requires proper planning, guidelines and standards.

Which the current Learn se

[2022-09-22 08:14] ovflowd commented on #2787
The same could be done for the /learn pages

We don't necessarily need to use any established tracking tools. We could do a simple script that records this data. But anyhow, it's not just about tracking, but cookie banners and stuff. It might be too much of a big effort, for something small. I don't believe we have that much traffic that removing these pages would hurt. Worst scenario, we create r

[2022-09-22 09:28] benhalverson commented on #2784
Are you familiar with node school. Trott mentioned it briefly today. It might help with your teaching. https://nodeschool.io/#workshopper-list they are CLI programs with prompts to do different programming tasks.

I do agree we should keep some of the content. I have also used it for mentoring.

[2022-09-22 09:35] benhalverson commented on #2787
I did a quick search on this and found  a few web analytics apps that don’t  require setting up gdpr banners.

[2022-09-22 15:04] manishprivet commented on #2787
From what I have noticed in the last year, there have been discussions about /learn content on community platforms like Reddit, and we have also had issues that came from the conversation there. The worst part is the learn section is one of the top results when searching something like `learn nodejs`.

IMHO, we need concrete metrics before we can remove the section altogether.

One option is to ad

[2022-09-22 15:09] manishprivet commented on #2784
I would like to tag https://github.com/nodejs/nodejs.dev/issues/2787#issuecomment-1255160121 in this discussion as well.

The SEO rankings of /learn section has already become too high when searching to learn Node. We need to consider that many self-taught beginners might rely on the /learn section for time-to-time referencing.

[2022-09-22 15:10] ovflowd commented on #2784
Doesn't mean we can redirect those links to respective learning material elsewhere.

[2022-09-22 15:11] ovflowd commented on #2784
But yes, we need to find a middle ground here

[2022-09-22 15:15] manishprivet commented on #2784
Agreed, that was my opinion as well. However, to do that, we have to make sure that the sources we're redirecting to offer similar, if not the same, content as the current page. That will require efforts on its own, and we also need to decide on the consensus mechanism for adding these redirects.

[2022-09-22 21:29] Trott commented on #2784
I wouldn't mind having a "Hello World" example right on the front page under the installation/download content. That's not the only option, but just saying, it's one option.

[2022-09-23 22:54] ellieya commented on #2674
Hi, can I try tackling this? I might need some help though

[2022-09-25 14:15] RathoreAbhiii commented on #2566
Hey! I would like to work on this issue but i was unable to find your /blog page anywhere on the [Node](https://nodejs.org/en/) website? Could you please guide me to it?

[2022-09-25 14:23] RathoreAbhiii commented on #2566
Found it! For anyone else wondering here's the link: [Node-dev](https://nodejs.dev/en/blog)

[2022-09-25 18:47] b4s36t4 commented on #2785
why not next.js? Next.js has a good performance and support for MDX as well.

[2022-09-26 12:05] mhdawson opened #2793 "Node.js Website Redesign Strategic Initiative Meeting 2022-09-28"
## Time

**UTC Wed 28-Sep-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Sep-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 28-Sep-2022 12:00 (12:00 PM) |
| US / Central  | Wed 28-Sep-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 28-Sep-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 28-Sep-2022 19:00 (07:00 PM) |

[2022-09-27 05:27] benhalverson commented on #2785
I think we should stick with gatsby.
Rewriting the website is probably the last thing we should do if the goal was to replace nodejs.org by the end of the year.

[2022-09-27 09:17] AugustinMauroy commented on #2784
In my opinion the `learn` section should not be deleted.
Because if you look at many programming languages or other there is always a `getting started`.

Nodejs should not remove `learn`.
We can surely pass on a series of small tutorials. Like "Create a static website"...

And for the tutorials if we refer to a javascript feature we could redirect to `MDN docs`. But for features like `fs` we stay

[2022-09-27 09:28] ovflowd commented on #2785
@benhalverson, keep in mind that if we need to migrate previous API versions to this repo and blog posts, Gatsby will crash, and we will need to fix file per file to conform with MDX manually. It is a time-demanding job. For API, we would need to fix the source of the docs (if we're considering including v16 docs, for example).

I'm concerned with Gatsby's overall stability. It works for now, but

[2022-09-27 09:30] ovflowd commented on #2785
But yes, I do think that doing a rewrite demands a lot of time and we all need to weigh the pros and cons and see what would be best. For example, Gatsby doesn't support basic GraphQL operands such as "OR", and they're deprecating support for MDXv1 soon. Which we rely on and we're technically blocked to update to their MDXv2 plugin (gatsby-plugin-mdx@4).

So Next.js for example it's the best candi

[2022-09-27 15:32] ovflowd commented on #2784
We're not completely removing the section. We're removing all the content that is hard to maintain and that is out of the scope of the website, knowing there are hundreds of better materials out there.

We're going to keep a minimal getting started section for now and redirect existing links to existing material elsewhere.

Who is going to maintain these docs actively? We already have API docs. We

[2022-09-28 09:28] iSatVeerSingh commented on #2744
Is anyone working on it? Is this issue still up?

[2022-09-28 09:29] ovflowd commented on #2744
The issue is still up. As you can see, no PR was done. I'm still in need of making a complete list of Components that need to be tested.

[2022-09-28 11:09] ovflowd opened #2799 "Navigation Sidebar Titles with `dashes`"
### URL:

https://nodejs.dev/en/learn/

### Browser Name:

Chrome

### Browser Version:

105.0.5195.125

### Operating System:

macOS 12.6

### How to reproduce the issue:

1. The Navigation Sidebar Titles for the Learn section contains `dashes`
2. This happens because it uses the `title` field. Instead of `displayTitle`
3. The fix is to update the Navigation Data to properly show the `displayTitl

[2022-09-28 14:59] #2755 closed

[2022-09-28 17:08] ovflowd commented on #2755
The PR will now use the `displayTitle` for the sidebar, which would fix it. Except still for the categories 😅 will try to open a PR soon to allow those to come from a translation file.

[2022-09-28 19:29] #2799 closed

[2022-09-29 11:18] christian-eriksson commented on #2784
My two cents, I agree with removing most tutorials and adding links to external resources. However, I would caution against removing the introductions on how Node.js works, such as: its implementation of the event loop; in what order messages/events are processed and put on the call stack; and other important Node.js concepts and implementations. These are important for understanding why a Node.js

[2022-09-29 13:56] AugustinMauroy opened #2804 "# 404 https://nodejs.dev/fr/about/privacy"
### URL:

https://nodejs.dev/fr/about/privacy

### Browser Name:

safari

### Browser Version:

xxxx

### Operating System:

macOS

### How to reproduce the issue:

1. open https://nodejs.dev/fr/about/privacy
2. look up 404

[2022-09-29 14:02] AugustinMauroy opened #2805 "feat:(I18n) blogs"
### Enter your suggestions in details:

At present it is not possible to operate the blog pages with the I18n system.

[2022-09-29 16:26] ovflowd commented on #2805
I don't think blogs need to be translated. It is a little bit of a stretch.

[2022-09-29 16:26] ovflowd commented on #2804
We don't have the privacy policy anymore on the website.

[2022-09-29 16:41] AugustinMauroy commented on #2804
Oops I forgot an element to access this link there is a link in the footer of nodejs.dev
<img width="1436" alt="Capture d’écran 2022-09-29 à 18 40 16" src="https://user-images.githubusercontent.com/97875033/193089510-b53e6e10-becc-4187-bd9c-63d0d6de26bc.png">

[2022-09-29 16:42] ovflowd commented on #2804
Oh, that link is still outdated? Well, would you mind opening a PR updating the link in the bottom to match the one from the "About" page sidebar?

[2022-09-29 16:42] AugustinMauroy commented on #2805
I propose that `Node.js Releases` be translated. Because it allows more people to "understand" the Releases

[2022-09-29 16:44] AugustinMauroy commented on #2804
I can do tha

[2022-09-29 16:45] ovflowd commented on #2805
Hmmm, there's no much to be translated. Releases are usually a huge digest, and auto translating tools can be used here.

Don't get me wrong, I18n is important, but, blog posts usually are things that need to be posted quick and have a very temporary "effect". Release notes only matter for a short period of time. Translating blog posts make things even more complex 😅

We want to simply our i18n in

[2022-09-29 16:49] ovflowd commented on #2784
Loved your comment, @christian-eriksson!

You can definitely do all the work in this Ticket, and make PRs as you wish. For example, filtering the content, and stuff.

[2022-09-29 17:27] AugustinMauroy commented on #2804
@ovflowd I can't fix it

[2022-09-30 00:44] bnb commented on #2787
I cannot explain how +1 I am to this, it's sorely needed. I've had this on my mind for some time, glad I don't have to be the one to put the issue together anymore.

Expanding on this a bit, I am a huge +1 that `Guides` should be removed. Learn is IMO an objectively better replacement, but even separate from Learn those guides aren't particularly strong as educational content and are more likely t

[2022-09-30 01:31] benhalverson commented on #2343
Closing because this page is going away. https://github.com/nodejs/nodejs.dev/pull/2796

[2022-09-30 01:31] #2343 closed

[2022-09-30 01:32] benhalverson commented on #2678
https://github.com/nodejs/nodejs.dev/pull/2796 makes this a nonissue since only one section exists

[2022-09-30 01:32] #2678 closed

[2022-09-30 01:34] benhalverson commented on #1952
Closing because these pages have gone away. https://github.com/nodejs/nodejs.dev/pull/2796

[2022-09-30 01:34] #1952 closed

[2022-09-30 01:35] benhalverson commented on #1849
Closing because this page is going away. https://github.com/nodejs/nodejs.dev/pull/2796

[2022-09-30 01:35] #1849 closed

[2022-09-30 01:40] #2682 closed

[2022-09-30 01:40] #2777 closed

[2022-09-30 15:27] mik-patient opened #2807 "parse-url parses http URLs incorrectly vulnerable to CVE-2022-3224"
### URL:

https://github.com/nodejs/nodejs.dev/blob/-/package-lock.json

### Browser Name:

Chrome

### Browser Version:

3.23.0

### Operating System:

nodejs.dev

### How to reproduce the issue:

parse-url prior to 8.1.0 is vulnerable to Misinterpretation of Input. parse-url parses certain http or https URLs incorrectly, identifying the URL's protocol as ssh. It may also parse the host name inco

[2022-09-30 16:48] 201B153 commented on #2776
Is this issue open or not?
And please do tell what is to be done?

[2022-09-30 16:49] ovflowd commented on #2776
The issue is open. It's literally on its title. What needs to be done is basically remove the usage of react-helmet.

[2022-09-30 21:21] bjmckenz opened #2808 "content/learn/getting-started/ refers to Sapper. Should be replaced with Sveltekit"
### URL:

https://nodejs.dev/en/learn/introduction-to-nodejs/

### Browser Name:

chrome

### Browser Version:

n/a

### Operating System:

n/a

### How to reproduce the issue:

1. Hit site. See Sapper.
2. Wonder why Sapper is not replaced by Sveltekit (kit.svelte.org)
3. submit issue offering to fix it
4. Profit.

[2022-09-30 22:26] benhalverson commented on #2808
That section is going away. See https://github.com/nodejs/nodejs.dev/pull/2796

[2022-09-30 22:58] bjmckenz commented on #2808
Ty

[2022-09-30 23:11] #2808 closed

[2022-09-30 23:32] benhalverson commented on #2807
This dependency is 3 levels deep. The change needs to happen in [gatsby-telemetry](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-telemetry/package.json) because git-up has already [updated](https://github.com/IonicaBizau/git-up/releases).
[code]

[2022-10-01 04:01] 201B153 commented on #2776
ok

[2022-10-01 09:14] ovflowd commented on #2807
I am closing this as it should be opened on gatsby, not here.

[2022-10-01 09:14] #2807 closed

[2022-10-01 10:15] bnb opened #2842 "Dark mode inline code blocks are the same as light mode"
### URL:

https://nodejs.dev/en/api/v18/fs/#fspromisesutimespath-atime-mtime

### Browser Name:

Arc (Chromium)

### Browser Version:

N/A

### Operating System:

macOS

### How to reproduce the issue:

1. open docs
2. ensure dark mode is on
3. look at an inline code block

[2022-10-01 10:42] bnb opened #2844 "CJS and ESM examples are not unique and toggleable split"
### URL:

https://nodejs.dev/en/api/v18/fs/

### Browser Name:

Arc (Chromium)

### Browser Version:

N/A

### Operating System:

macOS

### How to reproduce the issue:

1. look at a doc with ESM and CJS examples
2. notice that they both say "JS"
3. notice that there's not a toggle between CJS/ESM

[2022-10-01 13:48] ovflowd commented on #2844
This sounds more like a feature request, rather than a bug 🤔

We didn't make an accordion for switching between ESM/CJS.

[2022-10-01 13:49] ovflowd commented on #2776
@nschonni I made some research, and accomplishing this will be rather harder than easy. Removing Hacktoberfest label as this is not a straightforward issue.

[2022-10-01 13:53] mik-patient commented on #2807
**Hi!** Thank you for your respond,  I hope you will be happyness days,
could you mark my reports in hackerone as **resolved** pls, bellow the reference [#1719275](https://hackerone.com/reports/1719275)

[2022-10-01 14:06] bnb commented on #2844
Marked as a bug because it's currently supported on the .org API docs :P

[2022-10-01 15:09] nschonni commented on #2807
Node.js doesn't use HackerOne for reports about the website, and it's not public, so I can't see what project you opened it against. I don't thing generally a nested dependency being outdated would be an accepted issue on HackerOne for a project

[2022-10-01 15:12] nschonni commented on #2807
In the issue window you'll also see about reporting security issues
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/1297909/193415984-69ec42ad-0dc4-43f3-a3a4-483847b44541.png">

https://github.com/nodejs/nodejs.dev/security/policy

[2022-10-01 15:46] forgeRW commented on #2744
I would like to help with this issue so I added more unit tests for the SideNavBar component. This is my first time contributing so here's my pull request https://github.com/nodejs/nodejs.dev/pull/2845 for your review.

[2022-10-02 09:51] #2842 closed

[2022-10-02 22:03] benhalverson opened #2847 "Find the 404's for the learn content and redirect them"
### Enter your suggestions in details:

In this [PR ](https://github.com/nodejs/nodejs.dev/pull/2796)I removed most of the learn content which has created a lot of 404's. we need to redirect those non-existant pages to https://nodejs.dev/en/learn

I started doing this here. https://github.com/nodejs/nodejs.dev/pull/2809

Follow the pattern.

One way to find the broken links is with a google search

[2022-10-02 22:14] brandonmcconnell commented on #2847
@benhalverson So to confirm— would this be doing the same thing you did in that task you mentioned, finding all dead links from Google and adding them to both `firebase.json` and `redirects.js`?

If that's all, I'll take this one!

[2022-10-02 22:22] benhalverson commented on #2847
yes just update the redirects.js file the build step will modify the firebase.json

[2022-10-02 22:25] brandonmcconnell commented on #2847
@benhalverson Great! I'll have this done in a jiffy. Go ahead and assign me! Thanks 🙏🏼

[2022-10-02 22:31] brandonmcconnell commented on #2847
@benhalverson Some clarifying questions—
* Should `fr/learn/...` links also be redirected to `/en/learn` or `/fr/learn`, like this?:
  https://nodejs.dev/fr/learn/the-nodejs-event-emitter/
* Same question, but for pages without `/en` altogether, like this one?:
  https://nodejs.dev/learn/the-nodejs-http-module/
* and what about non-`/learn` pages, like this?:
  https://nodejs.dev/the-package-json-

[2022-10-02 22:37] brandonmcconnell commented on #2847
It may help if there were one universal `/learn` link that autodetected the appropriate language based on the user's settings and redirected them to the correct country based on that?

For example, visiting `/learn` for me might redirect me to `/en/learn`, whereas someone in Quebec or Paris might get redirected to `/fr/learn`.

That would likely need a separate issue and PR, but I think that would

[2022-10-02 22:44] benhalverson commented on #2847
We have a language selector but our internationalization story is behind a feature [flag](https://github.com/nodejs/nodejs.dev/blob/main/TRANSLATING.md) while we are doing translations.

 I'd start with the English ones first.
The package json guide should probably redirect to the homepage or npm docs about that topic 🤷🏻‍♂️

[2022-10-02 23:08] brandonmcconnell commented on #2847
@benhalverson Okay, I'll take a deeper look as I approach non-`/learn` related links. I can have this ready soon.

Could you assign me? 🙂

[2022-10-02 23:13] 0mns opened #2849 "Blog page layout on mobile"
### URL:

https://nodejs.dev/en/blog/vulnerabilities/openssl-fixes-in-regular-releases-jun2022

### Browser Name:

safari

### Browser Version:

@latest

### Operating System:

ios

### How to reproduce the issue:

![E49CE23A-8DDF-4380-BBCA-A65BD77A6636](https://user-images.githubusercontent.com/38424856/193480445-1295cd05-280f-4c58-840e-1db0d7a1c20f.png)
![2DDE1B68-C4B1-409D-AD07-A85E9BEE2A65](ht

[2022-10-02 23:33] forgeRW commented on #2744
I'm interested in adding unit tests for the ApiComponents component so here's my PR #2848 for your review.

[2022-10-02 23:38] brandonmcconnell commented on #2847
@benhalverson Just a heads up— it appears the [Privacy Policy](https://nodejs.dev/en/about/privacy) link on the live site is a 404 as well. Not sure if I should include that one though, since I assume it's probably important to include that.

[2022-10-03 01:12] vickymhs commented on #2744
I would like to contribute to this issue by adding unit tests for DarkModeToggle Component. This is my first time contributing and my PR is https://github.com/nodejs/nodejs.dev/pull/2850.

[2022-10-03 01:39] brandonmcconnell commented on #2847
@benhalverson This is all done (in PR #2851). I did a deeper search on Google to find any matches without the keyword "learn" and accounted for all of them, so this should be comprehensive.

Let me know if you have any changes (probably in the PR). When you have a chance, would you mind assigning me to this issue for issue tracking?

[2022-10-03 02:25] benhalverson commented on #2847
I stopped using the assignee feature in this repo because many times after the assignment the person disappears and the task doesn't get done. This is not the case since you already opened a PR. I thought this was documented somewhere. 🤔

[2022-10-03 02:29] brandonmcconnell commented on #2847
@benhalverson Haha yeah I can see that happening for sure. All good! Let me know if there's anything else you need for this one 👏🏼

[2022-10-03 02:44] #2847 closed

[2022-10-03 05:57] BabyElias opened #2853 "Broken Link"
### URL:

https://nodejs.dev/en/

### Browser Name:

Chrome

### Browser Version:

103.0.5060.134

### Operating System:

Windows 10, 21 H2, 19044.1826

### How to reproduce the issue:

When we click on Learn, it takes us to this Introduction to Node.js webpage
![image](https://user-images.githubusercontent.com/95405559/193509668-62efc268-0ec9-4e87-a9f2-e340d7754b4c.png)

But, when I try to open t

[2022-10-03 08:51] ovflowd commented on #2849
Yup agreed, I saw that on mobile only blog posts have this weird padding. Gonna give an 👀

[2022-10-03 08:54] ovflowd commented on #2853
Very interesting. Not sure why, but it seems like it is double-redirecting this page. I'm going to give an 👀 here.

[2022-10-03 09:01] light-200 commented on #2743
hii I'd like to work on the issue

[2022-10-03 09:06] ovflowd commented on #2853
Actually, let me leave this for Hacktoberfest!

[2022-10-03 09:09] ovflowd commented on #2784
I am closing as completed.

[2022-10-03 09:09] #2793 closed

[2022-10-03 09:10] #2609 closed

[2022-10-03 09:29] junwen-k commented on #2674
Hi, I wonder if this issue is still relevant? Would like to participate as part of hacktoberfest :)

[2022-10-03 09:46] 0mns commented on #2849
@ovflowd fixed
PR [#2855](https://github.com/nodejs/nodejs.dev/pull/2855)

[2022-10-03 12:06] mhdawson opened #2859 "Node.js Website Redesign Strategic Initiative Meeting 2022-10-05"
## Time

**UTC Wed 05-Oct-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 05-Oct-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 05-Oct-2022 12:00 (12:00 PM) |
| US / Central  | Wed 05-Oct-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 05-Oct-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 05-Oct-2022 19:00 (07:00 PM) |

[2022-10-03 13:08] BabyElias commented on #1406
Hey! I would like to take up this issue. From what I can understand, this involves checking all links in the newly built nodejs.dev website & ensure that there are no broken links?

[2022-10-03 13:42] ovflowd commented on #2844
Hey there 👋 so I would instead (maybe) remove this from Hacktoberfest, as it is a little bit complex. A script generates all our API docs.

And here, basically, the "task" is, if there's a CJS code block followed by an ESM code block (or vice-versa), then we should have a sort of "accordion".

**This is complex because:**

- Requires regex manipulation and understanding
- Have a React Component fo

[2022-10-03 13:45] ovflowd commented on #1406
We need to compare that all links within nodejs.org can be accessible here. Opening a page on nodejs.org and replacing the `.org` to `.dev` should either land on a respective page or redirect to somewhere.

Blog posts are the biggest factor, for now, **as** we haven't migrated blog posts to nodejs.dev, so ideally, this should be done after that. But if you ignore all the blog posts for now, you co

[2022-10-03 13:58] BabyElias commented on #2844
Complex indeed. But seems something worth looking up. Thanks for the explanation :)

[2022-10-03 14:02] ish-u commented on #2844
Hello,

I came up with a solution for this Issue but I am not sure about it.
For MJS-EJS Toggle I thought of Creating a Custom Code-Block in markdown file with `MJSCJS`  that  has code  of both types seperated by `~~~` as follows:

![image](https://user-images.githubusercontent.com/51030453/193594608-e139ee4f-6531-42c5-9e9d-0558dcd62d2f.png)

then I split `stringCode` in [src/components/Codebox/in

[2022-10-03 16:10] #2749 closed

[2022-10-03 16:49] ovflowd commented on #2844
Hey @ish-u sadly we cannot adopt this change as the source of the docs (the markdown files) are auto generated.

So the only feasible place to do such change is on the generation script. You can check the scripts/sync-api.js (I think that's the name of it)

Yet this is not a straightforward task 😅

[2022-10-03 16:51] ovflowd commented on #2674
Hey there! It is still relevant! Contributions are definitely appreciated!

[2022-10-03 17:50] EmmaDawsonDev opened #2863 "Can no longer run site from VSCode"
### URL:

https://nodejs.dev

### Browser Name:

chrome

### Browser Version:

105.0.5195.127

### Operating System:

Windows 11

### How to reproduce the issue:

1. I synced my fork
2. I pulled latest changes from main
3. I ran npm ci
4. I ran npm start
5. I got the following output and nothing will run on localhost:

<img width="698" alt="image" src="https://user-images.githubusercontent.com/570

[2022-10-03 18:00] benhalverson commented on #2863
Can you try running `gatsby clean`

[2022-10-03 18:04] EmmaDawsonDev commented on #2863
That worked - thank you! Panic averted :D

[2022-10-03 18:20] #2863 closed

[2022-10-03 20:57] #2849 closed

[2022-10-03 22:17] ovflowd opened #2865 "Cannot scroll on the "About" pages sidebar"
### URL:

https://nodejs.dev/en/about/

### Browser Name:

Safari

### Browser Version:

12

### Operating System:

iOS 16

### How to reproduce the issue:

1. Open the "About page" on a mobile-sized screen
2. Open the "Side navigation" bar by using the "Hamburger" button
3. You'll see you cannot scroll the navigation.

It is expected to be able to scroll, as it works on the `/learn` and `/api` pa

[2022-10-03 22:31] Irjean commented on #2865
Hello ! I'd like to work on this issue, can you assign me ?

[2022-10-04 01:34] junwen-k commented on #2674
@ovflowd Great! I can add more hooks based on `useMediaQuery` as example :) Glad to be part of something big!

[2022-10-04 05:28] BabyElias commented on #1406
Found a Broken Link
![image](https://user-images.githubusercontent.com/95405559/193741075-791d2f91-017d-4fa4-a536-0bc3a747d308.png)
![image](https://user-images.githubusercontent.com/95405559/193741123-5674dafe-bc59-40b2-b1de-3b48ec71e6c8.png)
![image](https://user-images.githubusercontent.com/95405559/193741171-850eb29a-82a5-4071-a0ba-e63777b1b940.png)

The same Blocking vs Non-Blocking hyperlink

[2022-10-04 05:33] BabyElias commented on #1406
Same goes for this link :https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/

[2022-10-04 09:39] ovflowd commented on #1406
@benhalverson should we add back the blocking-vs-non-blocking learn page? Or should we update the text not to include references to blocking vs non-blocking? Or should we update this link to redirect to an external documentation source?

[2022-10-04 09:45] ovflowd commented on #2674
Yup! The TL;DR is, if you find access to `window` or `document` or `navigator` see if you can transform those into React Hooks.

The point here is that Gatsby is a Framework that supports both Client-Side-Rendering (CSR) and Server-Side-Rendering (SSR) (If you're not familiar with these concepts, they're available on Google.

The takeaway is that Window and Browser-specific APIs are only available

[2022-10-04 10:25] #2743 closed

[2022-10-04 10:33] harish-sethuraman commented on #1385
This one can be closed as we already have winget https://nodejs.dev/en/download/package-manager#alternatives-3

[2022-10-04 10:51] #1385 closed

[2022-10-04 13:35] 0mns opened #2870 "OG images"
### Enter your suggestions in details:

can we add og images for all pages.

currently:
![image](https://user-images.githubusercontent.com/38424856/193833059-2ab30d6c-cb56-465e-a4e1-6920e67e4022.png)
see [https://www.opengraph.xyz/url/https%3A%2F%2Fnodejs.dev%2Fen%2F](https://www.opengraph.xyz/url/https%3A%2F%2Fnodejs.dev%2Fen%2F)

[2022-10-04 13:56] junwen-k commented on #2674
@ovflowd Thank you for the explanation and making this a welcoming place. This looks interesting, maybe you can assign this issue to me :)

I will probably separate each hook as one PR and reference them to this issue. 😄

[2022-10-04 13:57] ovflowd commented on #2674
Hey @junwen-k we only assign issues for internal members, but please feel free to work on it 🙇 🙏

And definitely, I appreciate my feedback was useful enough :)

[2022-10-04 15:02] bnb commented on #2784
Huge -1 to this and extremely sad it landed. This content was painstakingly written and donated to us **at our request** - it was extremely high quality and genuinely better than anything else we've ever had.

People have consistently linked this for several years. It's relatively beloved and the first time I've *ever* seen an official property consistently referred to for education.

Please rever

[2022-10-04 15:04] bnb commented on #2784
Some additional context: I just found out about this from someone asking me why all the content got deleted, as they both *built a course* that actively referenced it _and_ also had a workshop in less than 24 hours that they had to remove all the links to + change their content for.

[2022-10-04 15:05] bnb commented on #2784
Reading through the issue comments I'm even more surprised: it's filled with people asking us not to remove content.

I... don't understand why this lannded.

[2022-10-04 15:14] ovflowd commented on #2784
This seems super painstaking. I can only imagine how frustrating it is. I apologise for the disruption caused.

--

My overall opinion here: We had content on the Learn pages that were honestly **super** outdated and with broken links and structural issues. If we can pinpoint which content we want to add back, I'm definitely up and (strong +1) to add all the relevant content that people still want

[2022-10-04 15:20] #2853 closed

[2022-10-04 18:17] miscany opened #2871 "Node.js Learn Course"
## Summary
What happened to your Node.js learn course?
You guys used to have many other great courses under the url [https://nodejs.dev/en/learn/](https://nodejs.dev/en/learn/)

Some I was following were...
[https://nodejs.dev/en/learn/run-nodejs-scripts-from-the-command-line](https://nodejs.dev/en/learn/run-nodejs-scripts-from-the-command-line)
[https://nodejs.dev/en/learn/how-to-read-environment

[2022-10-04 18:19] nschonni commented on #2871
https://github.com/nodejs/nodejs.dev/issues/2784

[2022-10-04 18:19] #2871 closed

[2022-10-04 20:37] xandora commented on #2784
@bnb wrote:

As a maintainer at The Odin Project, we now have several lessons where we need to find new reference material. Obviously that comes as part of the territory when collating online references into a "course". However, it wouldn't be as frustrating if the pages were just removed from the site, but having the content completely removed from the repository makes it tricky for us to even li

[2022-10-04 20:39] ovflowd commented on #2784
@xandora, the content is still available in the git history.

And we’re already evaluating which content to add back. I would honestly not recommend to link course materials to nodejs.dev as this website is still under development and things might change at any given time.

[2022-10-04 20:40] nschonni commented on #2784
https://github.com/nodejs/nodejs.dev/tree/aa4239e87a5adc992fdb709c20aebb5f6da77f86 would be the git tree prior to the removal landing

[2022-10-04 20:55] Trott commented on #2784
"filled with people asking us not to remove content" does not seem accurate. Maybe I'm missing something, but I see two comments that can be characterized that way.

Regardless, the question isn't if the content is beloved or painstakingly written. The question is: Does it belong here and are we capable of maintaining it? I would prefer to see it moved somewhere else that we can redirect to.

I se

[2022-10-05 09:38] shlommo commented on #2744
Hi, I would like to contribute to this issue by adding unit test for Dropdown component (#2881) and SectionTilte (#2867) component. This is my first time contributing. I appreciate your work and waiting for your review.

[2022-10-05 11:06] bnb commented on #2784
Fair enough, my apologies - I count 3, but when re-reading I went bottom to top and back down and that made it seem like more.

IMO it would be better for us to have it and log improvements/maintenance that's needed in issues. Historically improving the website has been a very good path to onboarding new contributors, and correcting any issues via good first issues is a good way to create such a s

[2022-10-05 11:07] bnb commented on #2784
Also: I would prefer this does not go to MDN. It's not ours in the first place, it feels off to try to pass it along to a different home.

[2022-10-05 12:36] ShorunTech commented on #2566
I want to  work on this issue If Assign to me.

[2022-10-05 14:42] #2865 closed

[2022-10-05 14:42] ovflowd commented on #2566
Hey @ShorunTech we don't assign issues, but feel free to work on it :)

[2022-10-06 14:02] Harshsutaria opened #2883 "Content missing in nodejs.dev"
### URL:

https://nodejs.dev/learn/nodejs-buffers

### Browser Name:

Chrome

### Browser Version:

103

### Operating System:

Linux

### How to reproduce the issue:

1. I went to https://nodejs.dev/  for checking out node JS documentation on streams, file etc.
2. Previously, their relative documentation was displayed
3. But now i got 404 for vairous stuff like https://nodejs.dev/learn/nodejs-buf

[2022-10-06 14:28] ovflowd commented on #2883
This is not a bug.

[2022-10-06 14:28] #2883 closed

[2022-10-06 15:15] Trott commented on #2883
Discussion is happening in https://github.com/nodejs/nodejs.dev/issues/2784.

[2022-10-06 15:30] junwen-k commented on #2870
@ovflowd  I just designed an og:image based on existing Figma design as an experiment!

![ogimage](https://user-images.githubusercontent.com/40173716/194354163-9d5623f1-b894-4ddd-a517-cd4cabedc880.png)
---
![image](https://user-images.githubusercontent.com/40173716/194354733-67f5ce98-dd41-4052-b413-cc77e07bc79c.png)
---
![image](https://user-images.githubusercontent.com/40173716/194354836-af2566b1

[2022-10-06 16:27] j0053f commented on #2787
why? (i googled "node dev learn" and see that most of the content isn't there. freaked out )
 the learn page is/was my reference for understanding the node(+ nodejs beyond the basics + digital ocean tutorial). Okay, it confused me sometimes, but I learned so many things from it. some keywords, and sentences which opens the door for further research.

I guess, over the years and based on your knowl

[2022-10-06 16:29] ovflowd commented on #2787
Please, avoid accusations.

the learn page is/was my reference for understanding the node(+ nodejs beyond the basics + digital ocean tutorial). Okay, it confused me sometimes, but I learned so many things from it. some keywords, and sentences which opens the door for further research.

If you're talking about learn content, there's another issue to keep track of things there. I would please ask to

[2022-10-06 18:21] shlommo commented on #2531
Hi, I would like to contribute to this issue. I'm going to use [pagination component](https://www.figma.com/file/lOxAGGg5KXb6nwie7zXkz6/NJ---Design-System?node-id=0%3A1755) from Figma Design. I will implement second approach and this [SEO strategy](https://www.searchenginejournal.com/technical-seo/pagination/). Please assign this issue to me.

[2022-10-06 20:33] ovflowd commented on #2531
Hey @shlommo we do not assign issues here, but feel free to work on the task 😄

[2022-10-06 20:41] #2804 closed

[2022-10-07 08:05] j0053f commented on #2784
the learn section help me understand the abstraction the nodejs system is made of and helped me through reading the API.
learn section is a source of good keywords and sentences to do further research and learn the concepts.
I currently downloaded the repo and using it. :(
please give it back to us.

[2022-10-07 09:34] j0053f commented on #2784
if elders specify outdated information and give references to correct it(implicitly or explicitly related references), I am in to correct the learn section.

[2022-10-07 12:47] Trott commented on #2784
Maybe an appropriate path forward might be:

1. Restore the fuller /learn content.
1. Create a separate home for it in another GitHub repo in the Node.js org. (https://github.com/nodejs/learn perhaps?) Enable GitHub pages so the content is available. (https://nodejs.github.com/learn?)
1. Once that's done, redirect 404 /learn requests to that repo and change the /learn content in this repo back to

[2022-10-07 12:57] ovflowd commented on #2784
Paths 1 and 2 feel to be done just out of the convenience of the people that got used to this material. Whose I honestly don't want to get as granted. It is still a significant effort to setup a new repository, migrate content, create a minimal layout, and on-on. It just moves the issue to somewhere else, but the issue remains.

**IMHO, my path of choice is:**

- Audit which content can be safely

[2022-10-07 13:09] Trott commented on #2784
My concern is that the audit might never be completed. I could very well be wrong and we should try your approach if it's the only proposal with traction among the very small number of people that actively maintain nodejs.dev. I may be overestimating the effort involved in an audit.

Maybe as something quick that we do while the audit is going on, we can do the 404 redirect page that points people

[2022-10-07 13:10] ovflowd commented on #2784
Redirecting them to the issue could create convoluted discussions here 😅

I intend to do it this weekend. Shouldn't take long 🤔

[2022-10-07 13:21] Trott commented on #2784
Ah, OK, if you're already planning to put in the effort, let's go for it and see where we end up!

[2022-10-07 16:25] AnilSeervi opened #2887 "Slack link in the footer has expired"
### URL:

https://nodejs.dev/en/

### Browser Name:

N/A

### Browser Version:

N/A

### Operating System:

N/A

### How to reproduce the issue:

1. Visit https://nodejs.dev/en/
2. Scroll down to the footer
3. click on slack icon

[2022-10-07 17:18] Trott commented on #2887
Works for me. Can you provide more detail about what you're seeing?

[2022-10-08 11:40] #2870 closed

[2022-10-08 16:21] AnilSeervi commented on #2887
<img width="1912" alt="image" src="https://user-images.githubusercontent.com/61609033/194717355-25670664-dc75-45d0-bcc0-9936cc342251.png">

[2022-10-08 18:06] Trott commented on #2887
Ah, I see now. This is an issue for the OpenJS Foundation folks to solve. I've opened https://github.com/openjs-foundation/cross-project-council/issues/945.

[2022-10-08 18:06] #2887 closed

[2022-10-09 15:17] ovflowd opened #2891 "Better colours for the Stability Index Component"
### Enter your suggestions in details:

The stability index (shown in the screenshot below) is a Component that initially came from nodejs.org API docs.

The issue is that those colours are non-matching to the new nodejs.dev website colour palette. The suggestion is to find matching colours from our `tokens.scss` or create new colours and add them there.

![image](https://user-images.githubusercon

[2022-10-09 15:20] Trott commented on #2891
Friendly reminder: Whatever colors are chosen, be sure to test them for sufficient contrast for accessibility purposes.

[2022-10-09 17:29] AugustinMauroy opened #2892 "#404 bug link"
### URL:

https://nodejs.dev/en/trademark

### Browser Name:

XXX

### Browser Version:

XXX

### Operating System:

XXX

### How to reproduce the issue:

go to https://nodejs.dev/en/about/resources/ click to [trademark policy](https://nodejs.dev/en/trademark)
and see 404

[2022-10-09 17:32] ovflowd commented on #2892
We just need a simple PR to fix these links. @bnb didn't you mention a package that automatically checks broken links (404s)?

[2022-10-09 17:32] Trott commented on #2892
Trademark policy should link to https://openjsf.org/wp-content/uploads/sites/84/2021/01/OpenJS-Foundation-Trademark-Policy-2021-01-12.docx.pdf

[2022-10-09 17:32] AugustinMauroy opened #2893 "#404"
### URL:

https://nodejs.dev/en/get-involved/code-learn

### Browser Name:

xxx

### Browser Version:

xxx

### Operating System:

xxx

### How to reproduce the issue:

click [Node Interactive](http://events.linuxfoundation.org/events/node-interactive) on https://nodejs.dev/en/get-involved/code-learn
and see the 404

[2022-10-09 17:33] Trott commented on #2892
It's pretty common to use `linkinator` in a GitHub Action (and/or `npm` script).

[2022-10-09 17:33] ovflowd commented on #2892
All other mentions of trademark I know of already link to. Probably we forgot about this one.

[2022-10-09 17:34] Trott commented on #2893
The Code+Learn material should be removed from both nodejs.dev and nodejs.org IMO.

[2022-10-09 17:34] ovflowd commented on #2893
It was removed from nodejs.org but I bet I forgot to remove it from here.

[2022-10-09 17:34] AugustinMauroy commented on #275
look up this https://www.nodetodo.org

[2022-10-09 17:35] ovflowd commented on #2893
TL;DR

- Remove from Sidebar
- Remove Markdown file
- Check tests

[2022-10-09 17:36] ovflowd commented on #275
What this has to do with this issue?

[2022-10-09 17:36] ovflowd commented on #275
Yup, I removed it from the list.

[2022-10-09 19:53] ovflowd commented on #2784
For all the subscribers here, the content was readded to a certain extent. Content that feels that it doesn't belong there stays removed. I also updated some of the content with minor patches.

Thank you all for raising awareness and allowing us to step back and re-add the content.

Closing this issue 🙇, but if you have any comments please feel free to comment.

[2022-10-09 19:53] #2784 closed

[2022-10-09 19:57] ovflowd opened #2894 "Add JSON view for the current docs pages."
### Enter your suggestions in details:

Currently, our docs don't link to the JSON version of their docs hosted within the main `nodejs.org` infrastructure.

We should add a button to allow users to view the JSON counterpart of each doc page.

[2022-10-09 19:59] ovflowd opened #2895 "Node.js API docs version switcher redirect to current page"
### Enter your suggestions in details:

Currently, the version switcher always redirects to the index of each doc instead of a possible counterpart for the current page.

There are, of course, pros and cons of attempting to redirect to the exact page counterpart of each version. The pro is that fewer clicks and navigation are needed to see the closest of what you're reading. The con being if that

[2022-10-09 22:19] Trott commented on #2893
It still exists on nodejs.org. https://nodejs.org/en/get-involved/code-and-learn/

[2022-10-09 22:19] Trott commented on #275
Maybe it was meant for the code-and-learn page issue?

[2022-10-09 22:19] ovflowd commented on #2893
I thought you made a PR to remove it, no?

[2022-10-09 22:27] Trott commented on #2895
I believe switching to the current page in the other version is how the current version switcher works on nodejs.org. It is indeed a challenge when that page does not exist in another version. Because the docs are built at release time, I believe the version switcher is built then too. IIRC, it means that the v.16x docs for module `foo` may know that there is a v18.x module `foo`, but the v16.x do

[2022-10-09 22:58] komen205 commented on #2893
Can I take this? Also one PR that could be useful that I have found. "[EDIT THIS PAGE ON GITHUB](https://github.com/nodejs/nodejs.dev/edit/main/content/get-involved/code-learn.en.md)" does not work

[2022-10-10 03:11] sethetter commented on #2894
@ovflowd mind if I take this for hacktoberfest?

[2022-10-10 06:06] manishprivet opened #2899 "extra line in the side navigation on about page leading to inconsistent UI"
### URL:

https://nodejs.dev/en/about/

### Browser Name:

Edge

### Browser Version:

106.0.1370.37

### Operating System:

MacOS 12.3

### How to reproduce the issue:

The side navigation on the About page has an extra vertical line at the last link of the first two sections.

<img width="289" alt="image" src="https://user-images.githubusercontent.com/54291836/194806409-be7b9b70-8e22-4989-8f16-5

[2022-10-10 06:20] 2201monesh commented on #2899
Hey @manishprivet I would like to work on this issue. Can you please assign this issue to me.

[2022-10-10 06:28] ovflowd commented on #2899
@2201monesh you can work on it. We usually don’t assign issues for newcomers in the strict sense of “filling the assignee field of the issue”.

But feel free to work on it 🙃

[2022-10-10 06:30] 2201monesh commented on #2899
@ovflowd no problem, I will make my changes shortly.

[2022-10-10 06:35] ovflowd commented on #2894
If you feel like you can do it, sure! To give a little bit of details:

- The JSON files are hosted on nodejs.org/api/
- The button needs to be a link that redirects to the JSON file of the matching API version and file name
- The button possibly should be on the top. Check the Figma for ideas.

[2022-10-10 11:38] Eprince-hub commented on #2784
Hi @ovflowd
Seeing many improvements to the `nodejs learn` is excellent. We linked to some of the `nodejs learn` materials to teach `node.js` in our Bootcamp.
Example:
[Brief Histroy of nodejs](https://nodejs.dev/en/learn/a-brief-history-of-nodejs)
[How to Exit from nodejs program](https://nodejs.dev/en/learn/how-to-exit-from-a-nodejs-program)

I will like to know if there is an official replaceme

[2022-10-10 11:52] ovflowd commented on #2784
Hey @Eprince-hub 👋

We removed the "brief-history of node.js" as it didn't really sound relevant to the "Learn" section. We could add some parts of them on the about page, but there's only one paragraph that sounded relevant. Whose is the [A little bit of history](https://github.com/nodejs/nodejs.dev/blob/aa4239e87a5adc992fdb709c20aebb5f6da77f86/content/learn/getting-started/node-history.en.mdx#a-

[2022-10-10 12:06] mhdawson opened #2904 "Node.js Website Redesign Strategic Initiative Meeting 2022-10-12"
## Time

**UTC Wed 12-Oct-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 12-Oct-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 12-Oct-2022 12:00 (12:00 PM) |
| US / Central  | Wed 12-Oct-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 12-Oct-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 12-Oct-2022 19:00 (07:00 PM) |

[2022-10-10 16:34] #2893 closed

[2022-10-10 17:01] Abhiram-Gullapalli commented on #2891
Would like to take up this issue

[2022-10-10 17:05] ovflowd commented on #2895
Hmm, yes, these points are pretty valid! The current way how our API docs are built within nodejs.dev would instantly already mitigate the issue you're referring to. As instead of being one folder that gets versioned via git, we have one folder per major version of the node API docs.

Of course, they're just a "transformed" (generated) version sourced from `tags` of `nodejs/node` (/doc/api) folder

[2022-10-10 19:21] sethetter commented on #2894
@ovflowd got it! Thanks for the tips, I'll ping when I have something ready for review

[2022-10-10 19:25] sethetter commented on #2894
@ovflowd I'm not seeing anything in Figma for this specifically. The two options I considered were next to the `Edit on GitHub` link at the bottom of the page, or next to the Source Code link at the top. I'm leaning towards next to the source code link because it seems more related to that than edit on GitHub. Thoughts?

[2022-10-10 19:44] slim-codes opened #2909 "docs: Couple of issues with contributing.md"
### Enter your suggestions in details:

I noticed a couple of issues with the [contributing guide](https://github.com/nodejs/nodejs.dev/blob/main/CONTRIBUTING.md) while reading it. Here they're in no particular order:

## Under Get Started Section

- The instructions under the **Get Started** section should be numbered. What we have under that section is a sequence of steps that the reader is expe

[2022-10-11 03:09] sethetter commented on #2894
#2911

I went with the former since it was a bit easier to inject into the article template. Let me know what you think @ovflowd!

[2022-10-11 07:35] AugustinMauroy opened #2912 "Blog in head nav"
### Enter your suggestions in details:

Now the only way to access the blog is to click on the little link in the footer.
I suggest to add a link in the head nav

[2022-10-11 08:21] ovflowd commented on #2894
I think this suits better.

[2022-10-11 08:22] ovflowd commented on #2894
Ty! Will give an eye 👀

[2022-10-12 07:36] #2892 closed

[2022-10-12 08:02] AugustinMauroy opened #2916 "Head nav CSS bug (API docs)"
### URL:

nodejs.dev

### Browser Name:

XXX

### Browser Version:

XXX

### Operating System:

XX

### How to reproduce the issue:

take your blower at this size 1101->1175 X #### or 901->957 X ####
<img width="1184" alt="Capture d’écran 2022-10-12 à 10 02 12" src="https://user-images.githubusercontent.com/97875033/195285490-d11d0be9-42bb-4fb3-961b-5ca204f89ecd.png">

[2022-10-12 08:23] ovflowd commented on #2916
This is not a bug. There are no standard viewports in this size. That's why I mentioned we should not add too many things in the Header.

If you actually check, for all common tablet sizes, desktop sizes and phone sizes in both landscape and portrait view, things look OK.

Manually using the DevTools to go to custom resolutions isn't really something we should be concerned with.

[2022-10-12 08:23] #2916 closed

[2022-10-12 08:44] #2912 closed

[2022-10-12 12:01] ovflowd opened #2918 "Search Bar - multiple API docs version support?"
### Enter your suggestions in details:

Currently, if we add another version of the API docs (e.g.: v16 or upcoming v19) to the repository through `sync-api`, it will cause that the SearchBar will show results for both versions.

(But sadly, the SearchBar can't differ the versions, e.g. it will show two entries for the same page but it will not have something like a label that says "Hey this is fo

[2022-10-12 16:48] #2899 closed

[2022-10-13 04:03] benhalverson commented on #2894
Why do we need a JSON version of the docs?

[2022-10-14 20:07] ovflowd commented on #2531
Note.: Recent PRs implemented the backend part of pagination.

Pagination itself now is working 👀 we just need to make the Frontend components to make it be actually usable now 🌈

[2022-10-14 20:09] ovflowd commented on #2894
It looks like they’re used for a handful of things such, as what TypeScript uses for intellisense of Node.js and the in-IDE previews of the methods and classes of Node.js

But also for now, to keep content parity as even the “about docs” page on our API docs mentions that a JSON view is available, but well, nowhere to be found 👀

Lastly, ideally we should generate the JSON version of the docs here

[2022-10-15 10:13] EmmaDawsonDev opened #2925 "Unclear focus indicator"
## Summary
The focus indicator is currently a small green dotted line around items which in most cases works fine but for some components with the same color or dark backgrounds the focus indicator cannot be seen clearly. Here's a couple of screenshots to show that:

<img width="116" alt="Screenshot 2022-10-15 114547" src="https://user-images.githubusercontent.com/57045550/195980408-d7b68eea-268a-

[2022-10-15 10:27] EmmaDawsonDev opened #2926 "npm start throwing error"
### URL:

https://nodejs.dev

### Browser Name:

n/a

### Browser Version:

n/a

### Operating System:

Windows 11

### How to reproduce the issue:

I synced my fork with the main repo, then did git pull on main. I created a new branch and ran `npm start`.

It gives the following error
[code]

I tried to delete the cache which didn't work. I then deleted my local repo and re-cloned it, ran `npm in

[2022-10-15 10:45] ovflowd commented on #2926
Sadly I don't have a Windows machine, I can't reproduce it. @benhalverson?

[2022-10-15 12:20] EmmaDawsonDev commented on #2926
I just tried cloning the repo onto my work laptop (Mac) and get the following errors after running `npm install` followed by `npm start`

[code]

[2022-10-15 12:23] ovflowd commented on #2926
That is weird. But can you reclone and run `npm ci` instead of `npm install`.

[2022-10-15 12:31] EmmaDawsonDev commented on #2926
I got it running on Mac. I was using an older version of node in another project and forgot to change back to LTS. But on windows I was using node 16 already. I'll try cloning again later.

[2022-10-15 14:16] EmmaDawsonDev commented on #2926
I tried recloning on windows and running `npm ci` but I still get the same error and am unable to get the project up and running.

[2022-10-15 14:24] ovflowd commented on #2926
This is super weird. The error you're getting is the one from the Issue description, right?

[2022-10-15 14:27] EmmaDawsonDev commented on #2926
Yes, the one on windows keeps talking about the stacktrace as in the first message

[2022-10-15 14:38] ovflowd commented on #2926
Do you know in which part of the bootstrap process it crashed? By the error, it just feels like Node.js went out of memory, either due to a memory leak or your device didn't have enough RAM (either available or allowed to be used by Node.js)

[2022-10-15 15:13] EmmaDawsonDev commented on #2926
The entire error looks like this (sorry, I suck at reading errors so I'm not sure which stage went wrong):

[code]

I've always had that error in the middle about deprecated folder mapping but it usually works anyway (up until today)

[2022-10-15 23:28] benhalverson commented on #2926
I wasn't able to reproduce this issue.
I tried on both wsl2 and in power shell with windows 10
I did
`git clone repo`
`cd nodejs.dev`
`npm i`
`npm start`

I also tried
`git clone repo`
`cd nodejs.dev`
`npm ci`
`npm start`

I have a VM with windows 11 so I installed node.js in that and did the same steps as above.
No errors for either one.

This part of the error suggests that it is an out-of-memor

[2022-10-16 13:08] EmmaDawsonDev commented on #2926
Thank you, that seemed to get it working.

[2022-10-16 13:11] ovflowd commented on #2926
Very interesting that on Windows it is giving this... Even more that we're somehow using 8GB of RAM?

[2022-10-16 13:11] ovflowd commented on #2926
I definitely want to debug the node process to see in which part we have memory spikes.

[2022-10-16 13:21] EmmaDawsonDev commented on #2926
Yes, when I was googling the error it suggested there was a memory leak happening somewhere. Possibly a component nested inside of itself was one suggestion.

[2022-10-17 04:16] shlommo commented on #2531
Oh, what a great news. Thank you 🎉  I already work on it

[2022-10-17 09:26] ovflowd commented on #2531
Nice! Let me know once you have a PR open 😄

[2022-10-17 10:40] slim-codes commented on #2909
@ovflowd
Would you like me to implement these changes so that you can review them in the appropriate context?
That is if they are welcome of course.

[2022-10-17 12:06] mhdawson opened #2930 "Node.js Website Redesign Strategic Initiative Meeting 2022-10-19"
## Time

**UTC Wed 19-Oct-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 19-Oct-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 19-Oct-2022 12:00 (12:00 PM) |
| US / Central  | Wed 19-Oct-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 19-Oct-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 19-Oct-2022 19:00 (07:00 PM) |

[2022-10-17 14:52] iSatVeerSingh opened #2931 "Learn Node Button text not showing on focus"
### URL:

https://nodejs.dev/en/

### Browser Name:

Chrome

### Browser Version:

106.0.5249.119 (Official Build) (64-bit)

### Operating System:

Ubuntu/Linux

### How to reproduce the issue:

When I used TAB to focus(using keyboard), the text of Learn Node button not showing.
![Screenshot from 2022-10-17 20-19-13](https://user-images.githubusercontent.com/85070570/196209963-7c045a90-9b17-4236-9

[2022-10-17 15:12] iSatVeerSingh commented on #2926
I am getting same issue on Ubuntu 22.04.

I says that javascript heap out of memory.

[code]

[2022-10-18 08:26] AugustinMauroy commented on #2931
On safari I can't reproduce

[2022-10-18 09:12] ovflowd commented on #2926
Let me try to update gatsby packages, maybe they introduced a bug recently, we didn't really change much lately, but let me check.

[2022-10-18 09:49] AugustinMauroy opened #2932 "Add "Header" to content"
### My suggestions in details:

I saw this *"header"* on Figma and fell in **love** ❤️ with it. So I propose to add it to nodejs.dev
<img width="804" alt="Capture d’écran 2022-10-18 à 11 47 57" src="https://user-images.githubusercontent.com/97875033/196397422-691ec84e-a5df-4751-a1e0-03cb087a19ce.png">

[2022-10-18 09:59] AugustinMauroy commented on #2932
![all](https://user-images.githubusercontent.com/97875033/196399678-a6ad8590-8934-4a8d-9144-699842834046.svg)
**Here is the svg**

[2022-10-18 10:34] ovflowd commented on #2926
After some analysis with `trace_gc` during the bundling of the App, we're peaking 2.5GB of RAM usage, which is **nuts**. This is of course within the node process, so I want to do some more analysis to see from where this could be coming :/

[2022-10-18 12:47] ovflowd commented on #2932
In which pages you think this component would suit?

[2022-10-18 13:25] iSatVeerSingh commented on #2931
It's on chrome

[2022-10-18 13:27] AugustinMauroy commented on #2932
Why not:
- about (section)
- learn (section)

[2022-10-18 13:40] AugustinMauroy opened #2933 "icon in left nav"
### URL:

https://nodejs.dev/en/about/

### Browser Name:

/**/

### Browser Version:

/**/

### Operating System:

/**/

### How to reproduce the issue:

on https://nodejs.dev/en/about/ there is a left nav that had icons in the "title". But at the moment they are not there anymore, either it's a bug or they have been removed.
So I propose the return of the icon.

[2022-10-18 13:45] AugustinMauroy opened #2934 "Date doesn't use date format form I18n config"
### URL:

https://nodejs.dev/fr/download/

### Browser Name:

//

### Browser Version:

//

### Operating System:

//

### How to reproduce the issue:

when we look at the dates for the versions of node they are written in English while in French it should be written days/months/years

[2022-10-18 14:02] anilsahindev commented on #2931
#2937

[2022-10-18 14:04] digambar-t7 commented on #2934
Hey @AugustinMauroy , if you don't intend to be working on this,then can I proceed to address this issue?

[2022-10-18 14:30] digambar-t7 opened #2938 "SearchBar not closing while navigating using `tab` key"
### URL:

https://nodejs.dev/en/learn/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.79 (Official Build) (64-bit)

### Operating System:

Linux

### How to reproduce the issue:

I was using `Tab` key to navigate through the website.In this the `searchbar` opened correctly but when I moved on to the next link the searchbar didn't close.It remains open without enabling the user to ent

[2022-10-18 14:47] digambar-t7 opened #2939 "Arrow direction in dropdowns"
## Summary
Hey there,

I was just thinking about the arrows in these dropdowns being inverted or they are not.I was expecting them to be pointing downwards(in closed position) from conventional point of view.I don't know if it is only me or other's too thinking the same😅.

Comment down if someone thinks the same😉🤞.

![Screenshot from 2022-10-18 20-04-49](https://user-images.githubusercontent.com/9

[2022-10-18 15:21] AugustinMauroy commented on #2934
@digambar-t7  you can do it ⚡

[2022-10-18 16:12] kcprevatt commented on #2891
I'm also working on this issue since it's still open!

[2022-10-18 16:17] iSatVeerSingh commented on #2939
Yeh, same here.

[2022-10-18 16:20] iSatVeerSingh commented on #2938
![Screenshot from 2022-10-18 21-49-18](https://user-images.githubusercontent.com/85070570/196486875-6de4cfaf-6b29-486b-a507-0f74039fc0c8.png)

Yes, the search bar is not closing after moving to next link using TAB.

[2022-10-18 19:35] ovflowd commented on #2939
True thing, this can be worked on :)

[2022-10-18 19:41] ovflowd commented on #2933
The icons were non-conforming to the layout and just an experiment. The more different kind of styles that we need to support the more fragmented the codebase becomes.

That's why we refactored how the Navigation components are to make the codebase more unified.

I'm closing this for now as its not a bug, but feel free to open a thread on "Discussions".

[2022-10-18 19:41] #2933 closed

[2022-10-18 19:42] ovflowd commented on #2932
Again, do you have more concrete examples? What should be the text in those headers?

I don't really see any value in adding those headers, as we don't have any text for them. They look good, yes, but just wouldn't have any use here 😅

[2022-10-18 19:56] m5r commented on #2939
Nice first issue, I'll open a PR with a fix shortly

[2022-10-19 03:46] digambar-t7 commented on #2938
Hey @ovflowd can you assign this to me?

[2022-10-19 06:42] AugustinMauroy commented on #2932
I make a mock-up as soon as I have time with a concert example

[2022-10-19 07:31] digambar-t7 opened #2943 "[Typo] Title of the Download page in French"
### Enter your issue on localizations here:

I think the title for the Download page should be in French.Was this done on purpose?

If not, then assign it to me. I'll be willing to change it.

![Screenshot from 2022-10-19 12-51-02](https://user-images.githubusercontent.com/92970968/196625053-009c883d-f00a-47fb-b77f-4c022f2af446.png)

[2022-10-19 07:35] digambar-t7 opened #2944 "Overlapping navbar keys"
### URL:

https://nodejs.dev/fr/learn/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.79

### Operating System:

Linux

### How to reproduce the issue:

1. Go to any page on the nodejs site.
2. Select French language
3. Click on the search bar
4. Observe the keys of the navbar

# It looks something like this

![Screenshot from 2022-10-19 12-47-48](https://user-images.githubuserconten

[2022-10-19 07:36] digambar-t7 commented on #2944
I'd like to go one step further and fix it

[2022-10-19 07:39] AugustinMauroy commented on #2943
Je suis en train de modifier deux trois truc regarde ça #2936

[2022-10-19 07:44] AugustinMauroy opened #2945 "Center content"
### URL:

https://nodejs.dev/en/

### Browser Name:

Safari

### Browser Version:

16.0

### Operating System:

macOS

### How to reproduce the issue:

https://nodejs.dev/en/

<img width="1439" alt="Capture d’écran 2022-10-19 à 09 43 57" src="https://user-images.githubusercontent.com/97875033/196628194-96d77814-c21c-41f3-8841-0f9d0f6dc1a5.png">

[2022-10-19 07:46] AugustinMauroy commented on #2943
then it can come from the arrival of V19?

[2022-10-19 07:48] AugustinMauroy commented on #2944
look up  #2936

[2022-10-19 07:59] digambar-t7 commented on #2943
Since you have already addressed this issue, I'll close it 🤞

[2022-10-19 07:59] #2943 closed

[2022-10-19 07:59] AugustinMauroy opened #2946 "V19 banner in SVG"
### Enter your suggestions in details:

https://nodejs.dev/en/
if we go on the page we see the banner that is all pixelated
![NodeJS19_Banner](https://user-images.githubusercontent.com/97875033/196631793-06341b56-b583-4e4f-a607-7562c75126c9.png)
so I propose to use an svg to have a cleaner banner

[2022-10-19 08:26] digambar-t7 opened #2948 "Variable appearance of the Windows Installer tab"
### URL:

https://nodejs.dev/en/download/

### Browser Name:

Chrome

### Browser Version:

104.0.5112.79

### Operating System:

Linux

### How to reproduce the issue:

1. Go to [downloads](https://nodejs.dev/en/download/) page
2. Observe the appearance of Windows installer box as shown in first photo
3. Select `Current`
4. You'll see that the box appearance changes (second photo)

This is becaus

[2022-10-19 09:18] ovflowd commented on #2948
I'm actually wondering why is it showing `node-undefined-x86` 🤔

[2022-10-19 09:20] ovflowd commented on #2946
This is not an issue on our side. But https://nodejs.org (aka https://github.com/nodejs/nodejs.org).

Closing.

[2022-10-19 09:20] #2946 closed

[2022-10-19 09:22] ovflowd commented on #2944
Note: I don't think this is an issue, I just wonder how you got such a small screen width. @digambar-t7 what is your screen resolution?

[2022-10-19 09:24] ovflowd commented on #2945
This can be easily fixed by one line of code change `grid-template-columns: repeat(3, 1fr);`. Let me fix it.

[2022-10-19 09:25] #2939 closed

[2022-10-19 09:30] ovflowd commented on #2948
This doesn't fix the root cause. Not really a good approach.

[2022-10-19 09:32] #2945 closed

[2022-10-19 09:32] digambar-t7 commented on #2948
Yes I was thinking the same 😅

[2022-10-19 09:42] digambar-t7 commented on #2944
By the way my screen resolution is `1366*768`

[2022-10-19 10:25] kxrt commented on #2948
Did some digging, this is the result of logging [`nodeReleaseData`](https://github.com/nodejs/nodejs.dev/blob/76057f1e1ce6bf56932ceeeaf5f4cd030f7de8d1/src/pages/download/index.tsx#L24) in [`DownloadPage`](https://github.com/nodejs/nodejs.dev/blob/main/src/pages/download/index.tsx).
![allReleases](https://user-images.githubusercontent.com/73589885/196664588-59639ead-92e2-4384-bbaf-b596fd21850b.png)

[2022-10-19 10:53] ovflowd commented on #2948
This could be a momentary bug *as*, v18 enters LTS on the 25th. But I'm not 100% sure.

[2022-10-19 12:27] kxrt commented on #2948
Just to note further, this renders the download button for LTS versions unusable as it depends on the `fileName` prop too. Clicking it leads to a 404 page.

[2022-10-19 13:30] AugustinMauroy commented on #2944
I thought it came from French but apparently not in English there is this

[2022-10-19 13:42] BethGriggs commented on #2948
That is a correct reflection of our schedule. The schedule was adjusted in the past to ensure the LTS promotion release happens after the new Current based on discussions/requests in https://github.com/nodejs/Release/issues/495.

In future, we could set the `Active LTS` -> `Maintenance` transition date to be the end of October to try and mitigate this and make it more likely that there's always an

[2022-10-19 13:44] ovflowd commented on #2948
That'd be great because otherwise, it could become quite messy for us to "infer" what supposedly is the Active LTS when none are marked as active LTS.

Another way around is to just hide all the Components tailored for LTS when there are no active LTS releases 🤔

[2022-10-19 13:45] ovflowd commented on #2948
Indeed. Those are also likely very short windows (e.g. 5-6 days). I'm wondering what resolution/path here would be the best.

[2022-10-19 13:46] AugustinMauroy commented on #2932
About
all about nodejs
-------
Releases
Latest nodeJS releases
-------
Resources
The nodejs resources
-------

[2022-10-19 14:11] BethGriggs commented on #2948
I'm not sure that'd be ideal - as conceptually, despite being in Maintenance phase, Node.js 16 is still the latest LTS release line and what we'd want to direct users to for production usage (for this short window).

Based on https://github.com/nodejs/nodejs.dev/issues/2948#issuecomment-1283778129, I see that v16.18.0 is not indicated as LTS.  I feel it probably should be indicated as `isLts: true

[2022-10-19 14:30] richardlau commented on #2948
"Current", "Active LTS" and "Maintenance" are all labels describing the status of a particular release line. There can be more than one release line with any of those labels depending on where they are in their lifecycle. For example, at the moment there are two release lines in "current" status (v18.x and v19.x are "current" until v18.x becomes LTS next week). I think it's safe to say there will

[2022-10-19 18:27] kxrt commented on #2948
Perhaps to prevent adding additional complexity in the backend, one could store the most recent LTS version either as a state hook or its own API call that the LTS version could draw from? I'd love to make a PR for it if that route was taken.

[2022-10-19 20:39] ovflowd commented on #2948
@kxrt I don’t think that solves anything.

A fairly simple change we can do is to mark “Maintenance LTS” also as “isLts: true”, so the system gets the first version marked with isLts: true

That would solve the issue fairly simply. Feel free to make a PR for that @kxrt 🙃

[2022-10-19 20:40] ovflowd commented on #2948
And also do, don’t forget to make tests with mock data that ensure that the first LTS version from (newer to older) is picked 👀

We might need to resort the data (just reversing the array)

[2022-10-19 22:36] kxrt commented on #2948
I chose to sort the data internally within the Downloads page itself, such that it did not have any side-effects on other processes.

[2022-10-20 01:23] nschonni commented on #2948
We had the same problem in the date ranges for the Docker images. you can see how we handled it here https://github.com/nodejs/docker-node/blob/631eaa9d141a2226cf969a8db26e9f076fe9a99e/stackbrew.js#L36

[2022-10-20 03:23] mikeesto commented on #2944
Yes, it's not French related. Seems to be caused by the line height of the link in the nav being set to 0. Line height rule could be removed and handled with padding instead if necessary

[2022-10-20 08:34] shlommo commented on #2531
Hey @ovflowd i have a PR for you 👍

[2022-10-20 08:36] ovflowd commented on #2531
Am I smelling a fresh-opened PR? 👀

[2022-10-21 01:42] iSatVeerSingh commented on #2926
Any updates on this. Because my development is stuck.

[2022-10-21 02:16] benhalverson commented on #2926
@iSatVeerSingh

Have you tried `node --max-old-space-size=8192 ./node_modules/gatsby/cli.js develop`

I haven't been able to reproduce this out-of-memory issue. Can you share more details about your computer so I can setup a VM with a similar memory/core count?

[2022-10-21 02:37] iSatVeerSingh commented on #2926
![Screenshot from 2022-10-21 08-04-29](https://user-images.githubusercontent.com/85070570/197098197-849c2d08-9d9e-42df-98fd-7ec5f75df768.png)

[code]

[2022-10-21 03:16] Trott commented on #2926
Any chance someone from @nodejs/diagnostics wants to help @benhalverson @ovflowd et al. get to the bottom of this? (At least, I *think* the diagnostics team would know about how to sort this out! Apologies in advance if I'm wrong, and thanks in advance if you can pull in the right people in that case.)

[2022-10-21 07:01] AugustinMauroy commented on #2934
Where are you in you job? @digambar-t7

[2022-10-21 07:12] digambar-t7 commented on #2934
I'm facing problems in setting up the project. It is something related to the heap space. Can you continue it...

[2022-10-21 08:04] ovflowd commented on #2926
@iSatVeerSingh as @benhalverson mentioned, please run his command...

[2022-10-21 08:06] ovflowd commented on #2926
Hey @Trott that'd be great! After some profiling and inspecting, it feels the memory usage on the node.js process during build skyrockets from 200-300mb to 1.5-2.5 Gb when it reaches the "Building development bundle".

I'm truly curious if that is some Gatsby internal that is very inefficient or something we changed that might have created a memory leak.

[2022-10-21 09:17] AugustinMauroy commented on #2934
Ok I will look into it

[2022-10-21 09:53] ovflowd commented on #2934
@digambar-t7 would it be this? https://github.com/nodejs/nodejs.dev/issues/2926

[2022-10-21 09:53] #2931 closed

[2022-10-21 10:01] ovflowd commented on #2944
Not necessarily. It happens because of the configuration of the flex box. (Of course, the `line-height: 0` enforces that. But the issue is that our flex-box for desktop-sized screens was not configured to "dynamically" break to the following line.

If you see this works on mobile screens. What we could do is update the desktop stylings to do the same. (Or just reuse the mobile stylings).

It is no

[2022-10-21 10:03] ovflowd commented on #2932
Well, again, I'm not really against such change, just wondering where it would really benefit us right now. 😅

The examples above I can't really see how they would fit :/

Any other opinions cc @nodejs/nodejs-dev

[2022-10-21 13:34] aymen94 commented on #2932
Hi @AugustinMauroy,
Thank you for your suggestion, as he said @ovflowd, if you can show us an implementation of you suggestion, we are appreciating :)

[2022-10-21 14:00] digambar-t7 commented on #2934
Yes, it's the same as discussed in the issue

[2022-10-21 16:30] Djunnni commented on #2938
hi! i want try this.

[2022-10-21 21:53] ovflowd commented on #2944
I think a quick solution could be to remove the "Certification" header title from the Navbar and putting it on the footer (for now at least).

@Trott would it be a problem if we left the "Certification" link within the Footer?

[2022-10-21 22:13] ovflowd commented on #2925
I only saw this issue now! 😱 maybe we could add a similar effect from hover styling (with darker colors)? But your suggestion is also completely fine! Just need to see how adding an extra padding to the border would actually affect the overall components they belong.

But feel free to open a PR!

[2022-10-21 22:14] ovflowd commented on #2894
This got merged!

[2022-10-21 22:14] #2894 closed

[2022-10-21 22:14] #2904 closed

[2022-10-21 22:14] #2859 closed

[2022-10-21 22:22] ovflowd commented on #2844
Steps for making this happening would require some complex understanding of our API generation script, whose need to be ironed out a little bit (more documentation blocks) to make it even easier for welcomers to contribute towards it.

But the TL;DR is:

- Our script breaks each paragraph apart.
- Usually CJS code blocks happen exactly after MJS ones
- The trick here is to every time a MJS/CJS cod

[2022-10-21 22:29] #2930 closed

[2022-10-22 11:40] sethetter commented on #2894
Thanks for the support @ovflowd!

[2022-10-23 01:25] Trott commented on #2944
It's possible I'm missing something here, but wouldn't changing `API Docs` to `API&nbsp;Docs` and similar for any other space characters in the navbar fix this?

[2022-10-23 01:30] Trott commented on #2944
(Or maybe a `white-space: nowrap` CSS setting on the navbar? Testing locally, that works for me as well.)

[2022-10-23 08:20] ovflowd commented on #2909
Hey @slim-codes not sure why you closed this Issue, sorry if I didn't say anything, but you're more than welcome to create a PR with these changes :)

[2022-10-23 08:58] #2531 closed

[2022-10-23 09:06] ovflowd commented on #2944
(Or maybe a white-space: nowrap CSS setting on the navbar? Testing locally, that works for me as well.)

Did you try that? Because I tried `white-space` CSS before and it didn't work. Not sure if `API&nbsp;Docs` would work 🤔

[2022-10-23 09:12] ovflowd commented on #2944
What I meant to say, is adding `nowrap` definitely prevents them from breaking but still uses the space 🤔

[2022-10-23 11:30] EmmaDawsonDev commented on #2925
Ok, I’ll go ahead and work on it later in the week 👍🏻

[2022-10-23 14:13] #2944 closed

[2022-10-23 16:55] slim-codes commented on #2909
Alright then!
I'll create one soon.

[2022-10-23 21:11] Olaleye-Blessing opened #2955 "The search-bar doesn't close after clicking close icon"
### URL:

https://nodejs.dev/en/

### Browser Name:

Brave

### Browser Version:

1.44.112

### Operating System:

Windows 10 Pro, 21H2, 19044.2130

### How to reproduce the issue:

- I tried closing the search bar by clicking the close icon.
- I expected it to close the search bar.
- It pretended to close the search bar but reopened it.

![Screenshot (145)](https://user-images.githubusercontent.c

[2022-10-23 22:32] kxrt commented on #2955
Interesting note: If you click and let go, the search bar re-expands. If you press and hold down on the X for a while, the search bar remains collapsed when you let go.

[2022-10-24 12:05] mhdawson opened #2956 "Node.js Website Redesign Strategic Initiative Meeting 2022-10-26"
## Time

**UTC Wed 26-Oct-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 26-Oct-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 26-Oct-2022 12:00 (12:00 PM) |
| US / Central  | Wed 26-Oct-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 26-Oct-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 26-Oct-2022 19:00 (07:00 PM) |

[2022-10-24 15:56] bnb commented on #2844
I would really suggest not investing custom syntax that people's markdown tooling will screech at. The current system on nodejs.org is functional and follows normal markdown structures - if there are two code blocks following each other, one ESM and one CJS, they will be collapsed with a toggle that flips the content.

[2022-10-24 16:46] ovflowd commented on #2844
Note that I was referring this syntax to the auto generated content.

I’m not sure how it is done on nodejs.org but I suppose it would probably be custom JavaScript code or something done during build time

[2022-10-25 01:46] CarlosMarinAquino opened #2957 "The Spanish version of the page still alive?"
### Enter your issue on localizations here:

@nodejs-es
I searched for the Spanish version of the website, but only two languages appear in the translation menu ( En & Fr).
I want to contribute to the translation of the page, but the team responsible for the Spanish version has no more commits after 2016.

Could someone tell me if the Latin community is still active in this project?

[2022-10-25 06:04] nschonni commented on #2957
There are still contributions on the .org site https://github.com/nodejs/nodejs.org/commits/main/locale/es but this repo only recently setup internationalization

[2022-10-25 07:55] ovflowd commented on #2957
There's a difference between nodejs.org and nodejs.dev repositories. This never got any Spanish translation as I18n capabilities became available recently here.

Feel free to contribute to a Spanish localisation. I can co-review it as I also speak Spanish (not fluent).

[2022-10-25 07:58] ovflowd commented on #2955
@Djunnni could this be related to your changes?

[2022-10-25 08:00] Djunnni commented on #2955
I think it's related. I'll try to edit it again later.

[2022-10-26 17:00] AugustinMauroy opened #2962 "Update crowdin ?"
### Enter your issue on localizations here:

Let's update the crowdin. instead of passing pr.

[2022-10-26 22:53] AugustinMauroy commented on #2938
@ovflowd Close issue

[2022-10-26 22:58] AugustinMauroy commented on #2891
For me it is necessary to keep the idea of the colors (red-> not good, yellow->ok, green->good, other color->legacy).
But we can find a tone corresponding to the project.

[2022-10-27 02:19] RafaelGSS opened #2963 "Suggestion: store Node.js contributors in localStorage"
Hey!

I was looking at the website and it's pretty good, well done!

One thing that happened to me and I think eventually, will happen to someone else, is the fact of reaching the Github API Limit. I was refreshing the homepage every time waiting to see my face 😅 and then I realized the box stopped refreshing due to API limitation (see the below image).

<img width="960" alt="Screen Shot 2022-10-2

[2022-10-27 07:36] ovflowd commented on #2962
This is already an open issue on `/admin`. https://github.com/nodejs/admin/issues/711

[2022-10-27 07:36] #2962 closed

[2022-10-27 07:40] ovflowd commented on #2963
@RafaelGSS not sure if the `per_page` and `page` number change the rate limit (Not sure if the rate limit is per amount of accessed resources or amount of requests to their endpoints).

@ruyadorno as you work at GitHub, do you have insights here?

But regardless, good suggestion with the endpoint. Gonna make a PR :) (Or let Hacktober people do it)

[2022-10-27 07:41] ovflowd commented on #2938
Hey, @AugustinMauroy! Thanks for the ping, let me close this issue!

[2022-10-27 07:41] #2938 closed

[2022-10-27 10:32] AugustinMauroy opened #2964 "Feat(nav) I18n working"
DisplayTitle are well displayed in the content but not in the nav.

<img width="1438" alt="Capture d’écran 2022-10-27 à 12 30 49" src="https://user-images.githubusercontent.com/97875033/198262203-d54aa942-94e5-45e3-980b-8e6f5fabd263.png">

[2022-10-27 10:33] AugustinMauroy commented on #2964
@ovflowd  Hadn't it already been corrected?

[2022-10-27 12:39] fdc-viktor-luft opened #2966 "Bundle "dotenv" package"
## Summary

The package ["dotenv"](https://www.npmjs.com/package/dotenv) is downloaded roughly 29 millions time a week. Doesn't it make sense to bundle it together with NodeJS itself?

[2022-10-27 12:40] fdc-viktor-luft commented on #2966
Wrong place to raise this

[2022-10-27 12:40] #2966 closed

[2022-10-27 15:39] ovflowd commented on #2964
Nope, this was not done yet. It's also not a "bug", just not an implemented feature 👀

[2022-10-27 15:42] AugustinMauroy commented on #2964
OK I will try to do this (I promise nothing 🤣 )

[2022-10-28 10:55] AugustinMauroy commented on #2964
I can't do it, can you? 🙇🏻

[2022-10-28 11:59] ovflowd commented on #2964
Sure, the issue is open for anybody, but I'll try to do it.

[2022-10-29 16:18] vaishnav-mk commented on #2926
I have been facing similar issues and it peaks to 2.5-3 GB during the build process and just runs out of memory (i have 16 gb of memory in total)

[2022-10-29 18:32] vaishnav-mk opened #2967 "Inconsistent links"
## Summary
Hey, I went through the new site and I saw plenty of inconsistencies in the links provided. Some of the links redirect you to `nodejs.org` while the others are dynamic and adapt to the base url and redirect you to `nodejs.dev`. Some of the examples include:
- The links under the [example application category](https://nodejs.dev/en/learn/#an-example-nodejs-application)
- The link referen

[2022-10-29 20:23] vaishnav-mk commented on #2967
Some of these links have been updated in https://github.com/nodejs/nodejs.dev/pull/2968

[2022-10-29 22:31] benhalverson commented on #2926
@vaishnav-mk
Try this `node --max-old-space-size=8192 ./node_modules/gatsby/cli.js develop`

[2022-10-30 09:42] vaishnav-mk commented on #2963
@ovflowd, @RafaelGSS,  I'm pretty new to this but I gave it some thought:
How about fetching 5 contributors at once, storing it in local storage and getting one from the set everytime you refresh until there's no unique contributor left so you have to fetch again?

So, basically, it makes the following changes:
- changing the `CONTRIBUTORS_API_URI` to `const CONTRIBUTORS_API_URI =
  'https://api.g

[2022-10-31 12:06] mhdawson opened #2970 "Node.js Website Redesign Strategic Initiative Meeting 2022-11-02"
## Time

**UTC Wed 02-Nov-2022 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Nov-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 02-Nov-2022 12:00 (12:00 PM) |
| US / Central  | Wed 02-Nov-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 02-Nov-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 02-Nov-2022 18:00 (06:00 PM) |

[2022-11-01 10:24] ovflowd commented on #2963
The logic from the previous comment sounds a bit janky, but the idea of fetching an X amount of contributors on your `localStorage` for the first time and then using something like `array.shift` to remove and retrieve elements on every access sound a fine-tuned idea.

Once the array empties, fetching the API again sounds good. But it still doesn't solve the repeated contributor issue. Hence readin

[2022-11-01 10:26] ovflowd commented on #2967
It sounds like something that can easily be fixed. Regarding the API links, you should **not** change them to `/api/:v/:page`. You can quickly just change it to `/api/:page/`.

E.g. (https://nodejs.dev/en/api/fs/) will redirect you to the latest version of the API docs with the FS page in mind.

[2022-11-01 15:03] vaishnav-mk commented on #2967
uuuh I don't think it seems to be working right now as https://nodejs.dev/en/api/fs is a 404 page

[2022-11-01 15:04] ovflowd commented on #2967
It does, just add a trailing slash as I mentioned.

[2022-11-01 15:09] vaishnav-mk commented on #2967
oh, it does, lmao, completely missed the trailing slash

[2022-11-01 15:09] ovflowd commented on #2967
No worries, that was definitely a “oh shit” moment 🙈

[2022-11-01 15:35] vaishnav-mk commented on #2967
lol yeah

[2022-11-02 05:08] vaishnav-mk commented on #2926
yeah, that works

[2022-11-02 11:04] #2909 closed

[2022-11-02 11:11] #2948 closed

[2022-11-02 15:54] #2956 closed

[2022-11-02 15:54] #2970 closed

[2022-11-02 15:57] ovflowd commented on #1406
I believe we finally fixed all the broken links, so I will close this. If we by any chance find another broken link we can reopen this issue.

[2022-11-02 15:57] #1406 closed

[2022-11-03 10:19] kxrt commented on #2566
Are there any more thumbnails required apart from the ones listed in the description? I'd be willing to give a shot at redesigning the blog cards provided I could get the specifics on this.

[2022-11-03 10:25] ovflowd commented on #2566
Hmm, afaik no. @bnb any suggestions? (I know you lurked on Slack on a thread related to this)

[2022-11-04 10:02] ovflowd commented on #2967
Closing as completed [here](https://github.com/nodejs/nodejs.dev/pull/2968)

[2022-11-04 10:02] #2967 closed

[2022-11-04 10:02] ovflowd commented on #2955
It got merged.

[2022-11-04 10:02] #2955 closed

[2022-11-04 10:06] ovflowd commented on #2926
I've already updated the built-in command to add the `max-old-space-size`, but honestly, I'm baffled by how Gatsby poorly manages memories. Spiking 2.5GB during build time? That feels like "the more content we have", the more challenging this will hit our machines.

This reinforces my previous assessment that Gatsby, as a platform, is just a mess. Once I have proper time, I want to dive deep into

[2022-11-04 10:29] #2926 closed

[2022-11-05 04:29] shanpriyan opened #2997 "Suggestion: open searchbar on `⌘ + K` / `Ctrl + K` keypress"
### Enter your suggestions in details:

## Current Behaviour
Searchbar opens on pressing `/` key, and also includes it in the searchbar (possibly a bug)

https://user-images.githubusercontent.com/42532987/200100308-771015cc-40a7-4e99-afa7-bfee42c31ced.mp4

## Suggestion

Can we open the searchbar on pressing the `⌘ + K` / `Ctrl + K` keybindings? which is very common among most docs.

| Examples |

[2022-11-05 11:17] ovflowd commented on #2997
That's indeed a bug. Feel free to open a PR :)

[2022-11-07 13:05] mhdawson opened #3000 "Node.js Website Redesign Strategic Initiative Meeting 2022-11-09"
## Time

**UTC Wed 09-Nov-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 09-Nov-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 09-Nov-2022 12:00 (12:00 PM) |
| US / Central  | Wed 09-Nov-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 09-Nov-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 09-Nov-2022 19:00 (07:00 PM) |

[2022-11-08 00:56] thomasbnt opened #3001 "I18n(FR) : `A propos de` in menu isn't correct"
### Enter your issue on localizations here:

`A propos de` in menu isn't correct. Maybe replaced by `A propos`.
![A propos de in menu on the website](https://user-images.githubusercontent.com/14293805/200447498-9a6773a9-15e4-4c91-808a-f6234b4a874c.png)

[2022-11-08 01:05] thomasbnt opened #3002 "I18n(FR) : Want to contribute to the `learn/asynchronous-work/` folder"
### Enter your suggestions in details:

Hello ! 👋🏼

I can help to translate some files. I already translated some pages on [Astro Doc](https://github.com/withastro/docs) in French language.

If nobody is already on this folder, I can start to create a new draft PR and work on it! 🚀

[2022-11-08 09:30] AugustinMauroy commented on #3002
You are welcome !
👋

[2022-11-08 09:34] AugustinMauroy commented on #3001
Oups it's me I made a mistake 😅

[2022-11-08 13:45] thomasbnt commented on #3001
AAah thanks @AugustinMauroy !

I searched everywhere in the files where this code was in order to modify the right line, but having little knowledge in the organization of React and Gatsby, I got lost. Thanks a lot!

[2022-11-08 16:01] AugustinMauroy commented on #3001
@thomasbnt go to see this [file](https://github.com/nodejs/nodejs.dev/blob/main/TRANSLATING.md) for more information about the [translation](https://github.com/nodejs/nodejs.dev/blob/main/TRANSLATING.md)

[2022-11-08 16:06] thomasbnt commented on #3001
Yeah, I read that, I think I was just too tired to read everything well last night. I'll go over it again, so I don't miss a detail! 😆

[2022-11-08 17:05] AugustinMauroy commented on #3001
this exit can be closed.
Thank you for reporting this problem

[2022-11-08 21:33] AugustinMauroy commented on #2932
**Question**: where do I add the css for this feature?

[2022-11-09 21:17] AugustinMauroy commented on #2934
any news?

[2022-11-10 10:51] AugustinMauroy opened #3014 "banner center ?"
# Description

The banner is not centered while all the other elements are.

So I propose to center the text of the banner

<img width="1440" alt="Capture d’écran 2022-11-10 à 11 49 23" src="https://user-images.githubusercontent.com/97875033/201072398-0192fbf8-844e-4a46-813e-0d3d9f6899ff.png">

[2022-11-10 10:53] Djunnni commented on #2925
@EmmaDawsonDev

if you don't start, can i do that?
if you give me your opinions, it can help me :)

[2022-11-10 13:08] ovflowd commented on #3014
It is. It's just that the "Terminal" (Hero) section has a bigger width, creating the illusion that it is not centered.

![image](https://user-images.githubusercontent.com/12037269/201099742-6a1ccc17-2e7a-4111-92fa-45bd429e8767.png)

[2022-11-10 13:40] AugustinMauroy commented on #3014
but text as aling in center

[2022-11-10 13:41] ovflowd commented on #3014
Text in the banner should not be center aligned 😅 this is not a bug, this is intentional...

[2022-11-10 13:41] ovflowd commented on #3014
If you think it should be different, feel free to open a discussion, but, this is not a bug.

[2022-11-10 13:41] #3014 closed

[2022-11-10 13:42] #3000 closed

[2022-11-10 20:00] AugustinMauroy opened #3015 "No favicon ??? 🤔"
### URL:

https://nodejs.dev/en/learn/

### Browser Name:

Safari

### Browser Version:

16.1

### Operating System:

macOS

### How to reproduce the issue:

<img width="157" alt="Capture d’écran 2022-11-10 à 20 59 05" src="https://user-images.githubusercontent.com/97875033/201193944-41772364-0bf0-44fb-8557-70f0b8710c50.png">

Is it normal that there is no `favicon`?

[2022-11-10 20:02] AugustinMauroy commented on #3015
**info:** On Google Chrome the `favicon` is displayed correctly

[2022-11-10 20:18] AugustinMauroy opened #3017 "feat(I18n): API docs"
After the nodejs-fr team almost finished translating the site, I realized that the translation of the `API docs` was impossible.

Do you have any ideas for a solution?

[2022-11-13 06:30] #2997 closed

[2022-11-14 12:55] atjn opened #3019 "Introduction link is now a 404 page"
### URL:

https://nodejs.dev/learn/introduction-to-nodejs

### Browser Name:

Ladybird

### Browser Version:

0.1

### Operating System:

SteamOS - Build #6C6F6C

### How to reproduce the issue:

My documentation is littered with links to the [`Introduction to NodeJS`](https://nodejs.dev/learn/introduction-to-nodejs) page because I think it is an awesome resource for people who find my stuff onlin

[2022-11-14 13:06] mhdawson opened #3020 "Node.js Website Redesign Strategic Initiative Meeting 2022-11-16"
## Time

**UTC Wed 16-Nov-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Nov-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 16-Nov-2022 12:00 (12:00 PM) |
| US / Central  | Wed 16-Nov-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 16-Nov-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 16-Nov-2022 19:00 (07:00 PM) |

[2022-11-14 15:20] ovflowd commented on #3015
It shows the favicon for me on Safari.

[2022-11-14 15:20] #3015 closed

[2022-11-14 15:20] ovflowd commented on #3017
There's no plan for that as for now the docs are automatically generated. We have plans in the future but this will take months if not years to be accomplished.

Closing as not planned.

[2022-11-14 15:20] #3017 closed

[2022-11-14 15:37] ovflowd commented on #3019
When supporting multiple languages, there's no way the client side can know on pre-flight what is the supported browser language.

We can't simply identify what language the user aims to navigate. We can't offer the same pages without the language prefix as it would break the current internationalisation system.

Yet, on Load Balancers, workers could be set up to redirect to one of the offered lan

[2022-11-14 15:40] ovflowd commented on #3019
For now, I'm closing this as it is not really a bug and I oferred a solution that fulfils your concerns,

If you still have questions feel free to reply here, but if you have ideas feel free to open a discussion.

If you search past issues you will see the discussion behind this issue.

[2022-11-14 15:40] #3019 closed

[2022-11-19 11:03] ttdatt opened #3027 "The site stops working"
### URL:

https://nodejs.dev

### Browser Name:

Chrome

### Browser Version:

107.0.5304.110 (Official Build) (arm64)

### Operating System:

macOS 13.0.1 (22A400)

### How to reproduce the issue:

It crashes immediately, display blank screen
![image](https://user-images.githubusercontent.com/6084022/202847507-1d525758-420b-46a4-ba40-8cdc421de1f0.png)

This may help you to fix it
![image](https:/

[2022-11-20 10:26] ovflowd commented on #3027
Could you please clear your localStorage? (Browser Storage)

I'll also make a patch for this. This bug only affects a particular deployment version of the website that lasted 5-10 minutes.

If you clear your localStorage, the bug is gone. But I'm going to make a patch for the people affected.

[2022-11-20 15:55] #3027 closed

[2022-11-21 13:05] mhdawson opened #3030 "Node.js Website Redesign Strategic Initiative Meeting 2022-11-23"
## Time

**UTC Wed 23-Nov-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 23-Nov-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 23-Nov-2022 12:00 (12:00 PM) |
| US / Central  | Wed 23-Nov-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 23-Nov-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 23-Nov-2022 19:00 (07:00 PM) |

[2022-11-25 13:20] #3030 closed

[2022-11-25 13:34] ovflowd opened #3034 "Change meeting hours: Bi-weekly meeting for the Website + Website Redesign Teams"
## Summary

This issue is to decide on a new meeting for both the Node.js Website and Website Redesign Teams. This meeting aims to be bi-weekly and to discuss current tasks, issues, planned features, and next steps for both teams. It is also used for both teams to get in sync.

Finally, the issue likely would also have someone from TSC to attend, which is being planned by (@joesepi and @Trott)

**

[2022-11-25 17:38] ovflowd commented on #2787
I think we removed all the content that was deemed to be withdrawn. Closing the issue :)

[2022-11-25 17:38] #2787 closed

[2022-11-25 20:20] ovflowd opened #3036 "Add new Stability Index Feature to the Doc Generation"
### Enter your suggestions in details:

The core `node` repository recently introduced a PR to overview the Stability Index (https://github.com/nodejs/node/blob/main/tools/doc/stability.mjs, https://github.com/nodejs/node/blob/main/doc/api/documentation.md) for all modules.

We should port this into the nodejs.dev doc tooling.

cc @Trott

[2022-11-26 15:56] AugustinMauroy commented on #3002
Its can be close!

[2022-11-26 15:57] #3002 closed

[2022-11-26 16:10] AugustinMauroy opened #3037 "404 blog"
### URL:

https://nodejs.dev/fr/blog/release/

### Browser Name:

safari

### Browser Version:

###

### Operating System:

macOS

### How to reproduce the issue:

Go to link and "pop" 404 page.

I guess it comes from the fact that there is no content. But shouldn't we display "No post at this section"?

[2022-11-26 16:26] AugustinMauroy commented on #275
And for those we do what?
[https://iojs.org/download/release/](https://iojs.org/download/release/index.json)
https://nodejs.org/download/

[2022-11-27 15:29] ovflowd commented on #3037
Not a bug. It happens because there's actually no category name "release". Long story, anyhow, not a bug. (Once we import the content from nodejs.org blog) everything should be alright.

[2022-11-27 15:29] #3037 closed

[2022-11-28 13:05] mhdawson opened #3043 "Node.js Website Redesign Strategic Initiative Meeting 2022-11-30"
## Time

**UTC Wed 30-Nov-2022 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 30-Nov-2022 11:00 (11:00 AM) |
| US / Mountain | Wed 30-Nov-2022 12:00 (12:00 PM) |
| US / Central  | Wed 30-Nov-2022 13:00 (01:00 PM) |
| US / Eastern  | Wed 30-Nov-2022 14:00 (02:00 PM) |
| EU / Western  | Wed 30-Nov-2022 19:00 (07:00 PM) |

[2022-11-30 00:56] jongwooo opened #3044 "Banner Image not found in nodejs.dev"
### URL:

https://nodejs.dev/en/

### Browser Name:

Chrome, Safari

### Browser Version:

Chrome 107.0.5304.110 / Safari 18614.2.9.1.12

### Operating System:

macOS 13.0.1 (22A400)

### How to reproduce the issue:

Banner Image([/static/images/nodejs-training.png](https://nodejs.dev/static/images/nodejs-training.png)) not found in [nodejs.dev](https://nodejs.dev/en/).

<img width="1512" alt="스ᄏ

[2022-11-30 01:03] Trott commented on #3044
So, when deploying to nodejs.org, we can't use the FQDN because CI will fail when linkinator checks to see if it exists (because it hasn't been added to the production site yet). But if we use an absolute path without the FQDN, then nodejs.dev breaks as seen here. I'm not sure what the answer is, but my initial reaction is that it's a fix to happen on the nodejs.dev side and not the nodejs.org sid

[2022-11-30 02:37] jongwooo commented on #3044
@Trott, How about using `StaticImage` component of [gatsby-plugin-image](https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/) instead of `dangerouslySetInnerHTML`? It worked on my localhost.

<img width="1512" alt="스크린샷 2022-11-30 오전 11 13 32" src="https://user-images.githubusercontent.com/44025432/204693227-9a2a515b-0ae3-4199-9e2f-55ef6f4978f9.png">

[2022-11-30 03:08] nschonni commented on #3044
The banner component is supposed to handle this case, since it's come up before, but it looks like something isn't working now https://github.com/nodejs/nodejs.dev/blob/2fb7e8a3f06c64d46dbeaec98dc3afc4cf3f17ff/src/components/CommonComponents/Banner/index.tsx#L54

[2022-11-30 09:18] AugustinMauroy commented on #3044
I find it weird, I looked at the code and I don't understand why it worked and this time it didn't...

[2022-11-30 09:59] ovflowd commented on #3044
@nschonni the isAbsoluteUrl utility seems also hacky, I could change that for now.

[2022-11-30 10:03] ovflowd commented on #3044
Also, feel free to make a PR for that

[2022-11-30 10:44] ovflowd commented on #3044
That seems to be used for the link of the banner, not the image. As the Banner data is plain HTML, we could try @jongwooo approach for the image.

[2022-11-30 12:47] AugustinMauroy opened #3046 "I18n but it's not supposed to be translated"
### URL:

https://nodejs.dev/en/learn/writing-files-with-nodejs/

### Browser Name:

Safari

### Browser Version:

16.1

### Operating System:

macOS

### How to reproduce the issue:

I was working on the nav and I saw this when it couldn't be there and then I realized that there was an error on the site
<img width="1440" alt="Capture d’écran 2022-11-30 à 13 47 08" src="https://user-images.githu

[2022-11-30 12:52] #3043 closed

[2022-11-30 12:53] AugustinMauroy commented on #3046
I have test with chrome its same

[2022-11-30 13:19] jongwooo commented on #3044
I was mistaken. This is just a stopgap, not an answer.

To use StaticImage, Banner data should contain src and alt, not well-made plain HTML.

[2022-11-30 13:20] ovflowd commented on #3044
Ah yes, if we had the image "it fixes", honestly speaking I'd prefer upstream to have an absolute URL, @jongwooo do you mind adding a PR to add the image?

[2022-11-30 14:08] ovflowd commented on #3034
cc @richardlau  @MaledongGit @aymen94

[2022-11-30 14:15] #3044 closed